[2019-09-10 21:07] christ1ne commented on #304
closed as we changed the accuracy to 98%

[2019-09-10 21:07] #304 closed

[2019-09-10 21:12] renganxu commented on #383
@guschmue Are we allowed to use multi-GPU in the submission?

[2019-09-10 21:37] tjablin commented on #383
There's no rule against it, as far as I know.

[2019-09-10 22:16] psyhtest commented on #329
@briandersn Do you mean this [TestScenario.Offline.json](https://github.com/mlperf/inference/files/3509151/TestScenario.Offline.json.txt)? Yes, it was recorded by the reference implementation with params:
[code]

[2019-09-10 22:35] briandersn commented on #329
mlperf_log_accuracy.json is the official file to use for accuracy.
The one attached in a comment to this issue has all the samples included. Do you have a version that does not?

TestScenario.Offline.json for accuracy is not supported.

[2019-09-11 04:05] guschmue commented on #329
So TestScenario.Offline.json was some debug thing that I used together with ```tools/coco-analyze.py``` when we had issues with accuracy. It wasn't really meant to be used for something else but it does have the info people would want.
The official command for accuracy is:
[code]
which reports for ```--count 500```
[code]
Basically, looks good (ok, I should fix the +1 error).

```tools/accuracy-co

[2019-09-11 15:27] guschmue commented on #385
fixed with https://github.com/mlperf/inference/pull/382

[2019-09-11 15:29] guschmue commented on #329
Anton, does that makes sense ?

[2019-09-11 15:33] guschmue commented on #324
this is most likely my bad, must be checking ```--count``` wrong. Going to fix it.

[2019-09-11 15:36] psyhtest commented on #329
@guschmue I would not be that concerned about having no detections for some images (some images may have no detectable objects, while some models may fail to detect any objects) if it were not for the higher than expected accuracy figures. For example, for the non-quantized SSD-MobileNet model we have previously measured 23.11% via CK, while we are measuring 23.46% via the official app.

I feel un

[2019-09-11 15:55] me2x commented on #329
So, the issue is that when creating the detection list to use with cocoEval library, only the images that have a detection are inserted in the list of images to evaluate. and the reason is that the empty images ids are not inserted into the ones to evaluate.

[2019-09-11 16:06] guschmue commented on #383
+1

[2019-09-11 16:07] me2x commented on #329
So, the issue is that when creating the detection list to use with cocoEval library, only the images that have a detection are inserted in the list of images to evaluate. and the reason is that the empty images ids are not inserted into the ones to evaluate.

This can be easily find if you add the following two lines at the end of accuracy-coco.py
[code]

the problem is that when creating the coco

[2019-09-11 16:12] guschmue commented on #329
If COCOeval if going to look at empty entries ... it its easy enough to add those. Let me check pycoco if it would handle those.

[2019-09-11 17:09] guschmue commented on #329
Ok, I have a fix for tools/accuracy-coco.py to deal with no results. Still need to deal with the mAP for the reference app. Because I can not reflect the empty images in the json generated by the reference app I was thinking to remove that so people are using the loadgen log.
The diff in mAP is:
[code]
[code]

[2019-09-11 19:22] guschmue commented on #329
Ok, sent a PR, mAP is now slightly lower at 23.173% for all images.

[2019-09-11 20:33] itayhubara commented on #329
Does anybody know how does this change affect SSD-R34?

[2019-09-11 22:44] guschmue commented on #329
not yet.

[2019-09-12 17:54] willc2010 opened #411 "Loadgen compilation issue for CLANG"
With the latest Loadgen code, the compilation is failing for Clang, which is the common compiler used for Android platform.

current loadgen can get compiled with gcc-5.4.0. But the current android-ndk-r17c (Android dev toolset kit) supports only GCC- 4.9.

I am copying the snippet of the error msg.

![image](https://user-images.githubusercontent.com/41215863/64807984-329e2800-d54b-11e9-800a-f6bf8

[2019-09-13 15:24] renganxu commented on #331
I just found that the submitter can change the default setting SingleStream.target_latency=10. I changed it to a smaller value and then my result is VALID now.

[2019-09-13 15:35] guschmue commented on #331
So in theory there is no target latency for single stream but I guess loadgen needs it to prep the queries.
in mlperf.conf this should set it to 10ms:
[code]
but doesn't work for me either. I looked briefly over the code and it looks ok but something fishy here. I'll take a look.

[2019-09-13 15:39] renganxu commented on #331
By the way, the mlperf.config specified MultiStream.target_latency_percentile = 90 for multi-stream, but the rule says tail latency is "99% for image models and 97% for otherwise", so should we change 90 to 99 when running Resnet50?

[2019-09-13 16:00] guschmue commented on #331
let me check.

[2019-09-13 19:52] guschmue commented on #331
For SingleStream.target_latency:
There is only single_stream_expected_latency_ns which we are setting when reading mlperf.conf. I wonder if this PR is releated: https://github.com/mlperf/inference/pull/414

[2019-09-16 14:38] renganxu opened #421 "Resnet50 multi-stream takes very long time"
I tried to evaluate my multi-stream implementation with resnet50 model and found it took very long time. Then I pulled the latest inference code (commit d405e963d2f62af1ee24047ea870b66decf4e6c9) and tried to run the reference implementation. I ran the TensorFlow resnet50 multi-stream on V100 GPU and it has run for more than one day and it still has not finished yet. Is this expected? Has anyone el

[2019-09-16 20:20] guschmue commented on #421
yes, you are right - just tried and it seems to be way to slow.
I see the same on the reference  app and on a c++ implementation.
Fyi @briandersn

[2019-09-16 20:47] briandersn commented on #387
Fixed.

[2019-09-16 20:47] #387 closed

[2019-09-16 20:49] briandersn commented on #411
This should be fixed by #413. Please re-open this hasn't actually been fixed.

[2019-09-16 20:49] #411 closed

[2019-09-16 20:50] briandersn commented on #364
Thanks @nv-rborkar for getting this in. Closing the issue.

[2019-09-16 20:50] #364 closed

[2019-09-16 20:55] christ1ne commented on #329
@guschmue  is there a bug? I see the following 2 code snippts. Is the tf/resnet accuracy almost 0?

--> this looks ok.
with the fix:
mAP=23.173%
found 5000 results
found 5000 images
found 115 images with no results
ignored 0 dupes

--> this does not look OK
with fix mAP=0.021%
without fix mAP=0.021%

found 4952 results
found 4952 images
found 0 images with no results
ignored 0 dupes

[2019-09-16 21:09] guschmue commented on #329
I think I might have copied this down wrong. Can run it again to make sure.

[2019-09-16 22:43] briandersn commented on #421
Can you attach example the log files and traces? I'm running the multi-stream demo, and it looks okay.

Is the problem that the frequency is too low? Or is it that the test runs way longer than the minimum requested duration and sample count?

[2019-09-16 23:00] briandersn commented on #370
Closing.

[2019-09-16 23:00] #370 closed

[2019-09-17 00:54] renganxu commented on #421
Hi @briandersn , I attached the detail log and trace log. I am not sure what frequency you refer to, but the test runs way longer than the minimum duration. The trace file is very large, so I only included the trace up to 24th query. After running for about 1 hour, it reached 4471 query and it is still running. It didn't reach the minimum query count 270336.

So is this speed expected even for the

[2019-09-17 17:38] briandersn commented on #421
The target_qps is 1 in both the "Requested Settings" (as requested by the loadgen client) and "Effective Settings" as used by the loadgen. It should be 20 to be spec-compliant.

The default value in test_settings.h is 10.
So something is external to the loadgen is setting it to 1.

@guschmue : I see that mlperf.conf sets all target_qps to 1:
https://github.com/mlperf/inference/blob/master/v0.5/mlp

[2019-09-17 19:33] guschmue commented on #421
I wasn't sure what to do with target qps since in theory we should not need to pass it (noticed issues if I don't touch it so I set it to 1).

Sure we can change it to whatever is needed.
So you want ```1/target_latency``` ?

[2019-09-17 19:42] briandersn commented on #421
1 / target_latency, yeah.

[2019-09-17 21:20] guschmue commented on #421
ok, I'll send a PR shortly and see if that fixes it.

[2019-09-17 22:11] briandersn opened #428 "Loadgen offline demo has segfault"
Just saw this. Needs more investigation.

[2019-09-17 22:18] briandersn commented on #225
This is done enough for v0.5

[2019-09-17 22:18] #225 closed

[2019-09-17 22:21] briandersn commented on #362
This has landed.

[2019-09-17 22:21] #362 closed

[2019-09-17 22:40] #269 closed

[2019-09-17 22:40] #221 closed

[2019-09-17 22:40] #219 closed

[2019-09-17 23:06] briandersn commented on #428
The demo doesn't crash as recently as 9/5:

b94769ff0467628f0537669e12552cd22e22f3fc : add support for loading mlperf rules parameters from config file (#384)

I don't have time to bisect atm.

[2019-09-17 23:11] briandersn commented on #428
Just kidding.

b073bb78b0b1d6b837321a4ad3edf8d56c67c363 Is the patch that causes the offline demo to segfault. Root cause still not determined.

[2019-09-18 04:56] sheferke opened #429 "uploading images to memory"
- When running the multi-stream scenario the number of queries is 270336, but the number of
  images in the imagenet data set is 50000 so how do the upload to memory should work

1. do i need to upload only 50000 images and loadgen will generate query index with wraparound?
do 2. i need to load 270336 images with replication?

- in the mlperf.conf file the offline scenario don't include min query

[2019-09-18 05:20] kdk3776 opened #430 "!./run_local.sh tf resnet50 cpu --scenario Server - keep getting in valid result"
![image](https://user-images.githubusercontent.com/55476509/65113762-5536b200-da1f-11e9-9d6f-d55249d7f4f5.png)

![image](https://user-images.githubusercontent.com/55476509/65113767-6089dd80-da1f-11e9-8610-0051d6ca5705.png)

I don't know why Scheduled samples per second is -nan and other invalidation

[2019-09-18 10:40] #429 closed

[2019-09-18 10:40] sheferke commented on #429
found the right configuration

[2019-09-18 15:43] nvmbreughe commented on #421
Seems like the checks are failing :(

[2019-09-18 15:56] guschmue commented on #329
For tensorflow/ssd-resnet34 I can get to the desired accuracy with by setting use_label_map to False.
Basically this line seems wrong:
https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/python/main.py#L60
But I'm still looking at it.

[2019-09-18 18:46] kahmed10 opened #433 "[GNMT] Frozen protobuf version"
All other benchmarks include a frozen protobuf of the graph. Is it possible to do the same with GNMT?

[2019-09-18 19:19] guschmue commented on #421
yeah, wrong github user. that is why I opened a new PR and closed the old one.

[2019-09-18 19:23] guschmue commented on #430
If this is the notebook example - it uses a handful of images which is not good enough to pass any checks - just meant to give people an idea. To make any of those checks pass you'd need to use the real dataset.

[2019-09-18 23:00] renganxu commented on #421
Hi @briandersn, thanks for the help! After setting  MultiStream.target_qps = 20.0, I could run the benchmark successfully and the result is valid with the default MultiStream.samples_per_query = 4. Although my system can support higher samples per query, the benchmark stopped after 270,336 queries for samples_per_query=4. But the rule says LoadGen will use a binary search to find a candidate value

[2019-09-19 03:48] kdk3776 commented on #430
Dear gushmue what do you mean about "notebook example"?

[2019-09-19 03:54] kdk3776 opened #434 "I want to interpret/understand mlperf_log_summary"
![image](https://user-images.githubusercontent.com/55476509/65212193-30544480-dadc-11e9-8026-368c5631f6ca.png)

1) I want to understand what each value stands for. Where I can find material explain those result?
or can you guys let me know those result?

2) Is there more detail result since it is summary?

[2019-09-19 07:24] sheferke opened #435 "Setting up parameters for a test run"
- For offline case (when running SSD resnet34) what is the correct why to set parameters
   assuming the following
1. number of images in data set 4952
2. to complete 60 seconds i need to run 15846 images
3. when calling ConstructQSL i send the following parameters:
        1. total_sample_count = 4952
        2. performance_sample_count = 4952
The upload function loads exactly 4952 sample to memo

[2019-09-19 15:05] guschmue commented on #430
I meant GettingStarted.ipynb. The dataset and settings used in there won't get you VALID results. For that you'd need to use the real datasets decriebed in the readme and you'd need to remove the ```--time``` and ```--count``` options.

[2019-09-19 19:20] willc2010 commented on #421
i think there's a --find-peak-performance that you can use. but i am not sure if the result will be consistent enough. Another way to approach it is to manually increase the samples_per_query

[2019-09-19 19:36] renganxu commented on #299
Hi @kstreee-furiosa, is this issue fixed yet? Now I also have invalid result and the error is also "Ending early".

Here is my summary output:
[code]
The error message in the detailed log:
[code]

[2019-09-19 19:59] renganxu commented on #421
@willc2010 thanks for your suggestion. Yes right now I am manually trying different samples_per_query values. I will try the --find-peak-performance option.

[2019-09-19 20:19] renganxu commented on #299
update: after updating LoadGen to commit hash 6fdf78cc61dd7eac6604ce5edc871db32e22b645, the error disappeared and the result is valid now.

[2019-09-20 03:56] kdk3776 opened #438 "What is the meaning of 'query' in MLperf context?"
![image](https://user-images.githubusercontent.com/55476509/65298223-a8d30800-dba5-11e9-9f58-d00488cc9167.png)

There are a lot of queries in [ MLperf Result Summary ].

Max_async_queries, min and max_query_count , sample per query ....

I know query in data base which is asking data.

But I don't know what is query in Deep learning and MLperf context.

Can you guys let me know what it is about ?

[2019-09-20 15:35] riking commented on #434
This is saying it's taking you about 1.6 to 2.1 whole seconds to respond to each inference query - does that seem correct?

If so, the "QPS w/o loadgen overhead" calculation looks significantly bogus.

Note that this is not enough work to get a valid submission (you need 24k queries completed for a valid 90th percentile).

The best resource I'm aware of is the LoadGen source and documentation?

[2019-09-20 16:36] christ1ne commented on #438
It is explained in the rules:
https://github.com/mlperf/inference_policies/blob/master/inference_rules.adoc

[2019-09-20 22:45] christ1ne commented on #421
it seems this issue has been resolved. please re-open if needed.

[2019-09-20 22:45] #421 closed

[2019-09-20 23:01] christ1ne commented on #403
Since we are tight on schedule, I propose we add the following comment and keep the file as it is.
What do you think @guschmue @briandersn although there is one item I'm not sure.

*.SingleStream.target_latency = 10 # user set to ~1000/latency in milli sec
*.SingleStream.target_latency_percentile = 90 # do not change this
*.SingleStream.min_duration = 60000 # do not change this
*.SingleStream.min_

[2019-09-21 03:02] zrg102030 opened #440 "Multi-processes in C++, TlsLogger::~TlsLogger throws exception"
I invoke loadgen in c++ workspace. My main thread invokes the mlperf::c::ConstructSUT, mlperf::c::ConstructQSL, and mlperf::c::StartTest. And another created thread sends mlperf::c::QuerySamplesComplete to loadgen. Then, there are 3 TlsLogger instances. The 1st is for IOThread, the 2nd is for my main thread, and the 3rd  is for my created thread. When one of my TlsLogger instance is destroyed, an

[2019-09-21 05:23] kdk3776 commented on #438
Chris1ne Thank you!

[2019-09-21 07:58] kdk3776 opened #441 "Keep getting invalid Result in MultiStream(tried to change min Sample per queries)"
![image](https://user-images.githubusercontent.com/55476509/65368412-b0fd7700-dc7b-11e9-97a3-e9170847d4d8.png)

![image](https://user-images.githubusercontent.com/55476509/65368417-bb1f7580-dc7b-11e9-940f-2cf9419dcab9.png)

I keep getting invalid result in Multi Stream.

In recommendations, it said reduce sample per query to improve latency.

But samples per query is already 1.

Do you guys have a

[2019-09-21 16:37] guschmue commented on #421
Its not resolved: this https://github.com/mlperf/inference/pull/432 needs to be merged.

[2019-09-23 02:19] kdk3776 opened #442 "Can I know what is the meaning of min,max duration in MLper Result ?"
![image](https://user-images.githubusercontent.com/55476509/65398675-8f270000-ddf3-11e9-8b43-3372b593db8e.png)

1)Can I know what is the meaning of min,max duration in MLper Result ?
2) What is qsl_rng_seed ?
3)Sample_index_rng_seed?

If you know let me know~
If you know the URL to explain this stuff, let me have link please.

Thank you.
Dongkwan

[2019-09-23 03:54] #442 closed

[2019-09-23 05:17] kdk3776 opened #443 "What is the meaning of these terms in MLperf context?"
In MLperf Result Summary,

1) max_async_queries ?
2) min and max duration ?
3) min and max query count ?
4) qsl_rng_seed ?
5) sample_index_rng_seed?
6) schedule_rng_seed?

Guys  can you help me understand those term ~?

Thank you,
Dongkwan

[2019-09-23 05:42] kdk3776 opened #444 "What is the difference between latency and duration?"
![image](https://user-images.githubusercontent.com/55476509/65403723-28640f80-de10-11e9-8cd7-9ad17e36f21c.png)

In mlperf git, latency is explainted like that.

It sounds like time difference between two points.

In result summary, there is duration.

What is the difference btw latency and duration ?

[2019-09-23 05:58] xgu3 opened #445 "Does the gap of QPS between offline and server mode make sense?"
I observed that the offline and server QPS are not at same level, my understanding is that it's due to the poisson distribution by server scenario, is it correct?

And if yes, how much does the gap make sense?  30%? 40%, etc.

@briandersn @tjablin @guschmue @christ1ne @delock

[2019-09-23 06:05] xgu3 opened #446 "Weird server scenario latency increase in SubmissionRun"
We met a weird case today, the server scenario works normally at PerformanceOnly mode, like below in log,
99.00 percentile latency (ns)   : 20000000

But when changing to SubmissionRun mode and keeping all other settings unchanged, the latency is longer as following,
99.00 percentile latency (ns)   : 30000000

And no matter how lower the target qps, e.g. cut it half, the latency is still very high

[2019-09-23 09:14] zrg102030 commented on #440
If I stop the created thread using interrupting (boost thread), TlsLogger::~TlsLogger throws exception. But if I don't stop the created thread, the issue won't happen.

[2019-09-23 16:16] #438 closed

[2019-09-23 18:33] ryarramaneni opened #447 "ERROR:main:/mlperf.conf not found"
with Executing the docker job resulting error, however config file exists in cwd as given in the script run_and_time.sh
Any guidance....  (System OS: ubuntu 18.04, docker is 16.04)

./run_and_time.sh tf resnet50 cpu
STARTING RUN AT 2019-09-23 06:00:00 PM
INFO:main:Namespace(accuracy=False, backend='tensorflow', cache=0, config='../mlperf.conf', count=None, data_format=None, dataset='imagenet', dat

[2019-09-23 20:06] guschmue commented on #447
There is a ```--config mlperf.conf``` missing here:
https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/run_and_time.sh#L18

I'll send a PR.

[2019-09-23 21:22] ryarramaneni commented on #447
Thx Gunther
Modifying to following resolved that:
opts="--profile $profile $common_opt --model $model_path --dataset-path $DATA_DIR \
    --output $OUTPUT_DIR $extra_args $EXTRA_OPS --config mlperf.conf "
________________________________________________________________________________________
However encountering:
Traceback (most recent call last):
  File "python/main.py", line 541, in <module>

[2019-09-23 21:35] ryarramaneni opened #448 "FileExistsError: [Errno 17] File exists: '/output/results.json'"
with Docker test (run_and_time.sh) resulting error
./run_and_time.sh tf resnet50 [cpu/gpu]

Traceback (most recent call last):
  File "python/main.py", line 541, in <module>
    main()
  File "python/main.py", line 450, in main
    os.makedirs(output_dir, exist_ok=True)
  File "/opt/anaconda3/lib/python3.7/os.py", line 221, in makedirs
    mkdir(name, mode)
FileExistsError: [Errno 17] File exists:

[2019-09-23 22:09] guschmue commented on #448
I have not tested the docker images for a little.
I'll take a look and give it a test.

[2019-09-23 22:53] ryarramaneni commented on #448
Thx Guenther.
Appears problem with run_helper.sh line 15
python3 python/main.py $opts --output /output/results.json
may require something like
 python3 python/main.py $opts --output $OUTPUT_DIR/results.json

[2019-09-24 03:48] christ1ne commented on #446
we propose the submitter can choose to use submission run or perf + accuracy run with the same mlperf.conf

[2019-09-24 03:50] christ1ne commented on #428
I think it is only for the demo code so the submitters should not be affected. Is that correct?

[2019-09-24 05:25] briandersn commented on #446
Agree with proposal. There are a number of things to fix in the loadgen to make submission mode usable. Allowing manual runs is a lot more flexible, especially for v0.5 where the submission requirements are still in flux.

[2019-09-24 05:29] briandersn commented on #445
@tejasprabhune had a WIP patch in #437 to make the server scenario's effective QPS equal to the requested QPS, but he hasn't been able to compile and test it. The logic of the patch I think is mostly right though, if someone wants to pick that up.

Not sure if that's what this bug is referring to.

[2019-09-24 05:30] briandersn commented on #428
I suspect submitters might hit this, but I'm not sure. Wasn't able to root cause before I left.

[2019-09-24 05:40] xgu3 commented on #445
Thank you @briandersn for looking at this. The #437 is for scheduled QPS and requested QPS, Mine is about server and offline QPS, e.g.,
With same data set and settings, the offline QPS is 1000, and the server QPS within latency bound is 800, is this 20% gap a reasonable result?

[2019-09-24 05:46] briandersn commented on #445
Ah, I see. I'm not sure what a reasonable discrepancy is, but you are right. Server should be slower since some periods of time will have a burst of queries with a much higher "instantaneous QPS".

[2019-09-24 05:54] briandersn opened #450 "Loadgen trace for offline and server are incomplete."
Server only traces the latency of each sample, without a way to easily correlate which sample that was.
Offline doesn't trace any per-sample information.
SingleStream and MultiStream trace the sequence ids, sample ids, and a bunch of other timestamps and durations.

For submission and auditing purposes, do folks want server and offline to trace everything that SingleStream and MultiStream do?

It

[2019-09-24 05:56] briandersn commented on #299
@renganxu : Does this mean the bug can be closed?

[2019-09-24 05:57] briandersn commented on #443
https://mlperf.github.io/inference/loadgen/structmlperf_1_1TestSettings.html

[2019-09-24 06:03] briandersn commented on #440
There's definitely a race condition in ~TlsLogger that we haven't fixed. The suggested workaround is to avoid "daemon" threads and join threads that interact with the loadgen to the main thread before exiting. Loading the loadgen as a python module throws even more complexity into the destruction order, if you happen to be doing that.

It is surprising that not stopping the thread fixes the crash

[2019-09-24 06:08] briandersn commented on #434
Don't have time to investigate atm. The logic for QPS w/o..." is here:
https://github.com/mlperf/inference/blob/94e7f492ff936e02a626c49918fd8b17d076fe7e/loadgen/loadgen.cc#L1078

There may be a bug.

[2019-09-24 13:23] deeplearningfromscratch opened #451 "way to change channel order of ssd resnet34"
Hi I'm trying to convert ssd resnet 34 pb model to tflite model.
Since tflite only support for channels last data format, channels first ssd resnet 34 should be converted to channels last.
Is there a way to change pb model's channel order?
Also any comments or instructions for converting ssd pb model to tflite will be helpful to me.

[2019-09-24 14:49] renganxu commented on #299
@briandersn Yes I think the bug is fixed and this issue can be closed.

[2019-09-24 16:15] tjablin commented on #444
The duration of a run is difference between the time when LoadGen receives the last inference response and the time when it issues the first query. The latency for a query is the difference between the time time when the LoadGen receives a reply and the time when the query was scheduled.

[2019-09-24 16:50] ryarramaneni commented on #448
Thx Guenther. Verified fixed

[2019-09-24 16:52] ryarramaneni opened #452 "TypeError: 'module' object is not callable"
Both
1.  ./run_local.sh tf resnet50 cpu --scenario MultiStream
2.  ./run_and_time.sh tf resnet50 gpu --scenario MultiStream
resulting in error

./run_local.sh tf resnet50 cpu --scenario MultiStream
INFO:main:Namespace(accuracy=False, backend='tensorflow', cache=0, config='../mlperf.conf', count=None, data_format=None, dataset='imagenet', dataset_list=None, dataset_path='~/CK-TOOLS/dataset-imagenet

[2019-09-24 16:54] ryarramaneni commented on #447
Resolved

[2019-09-24 16:54] #447 closed

[2019-09-24 16:54] #448 closed

[2019-09-24 16:55] ryarramaneni commented on #448
Verified Resolved

[2019-09-24 18:16] christ1ne commented on #403
shall we just use mlperf.conf as proposed above instead of introducing mlperf.conf + user.conf. for v0.5 only?

[2019-09-24 19:11] guschmue commented on #403
It works today to use mlperf.conf and load a user.conf that overrides sections of it. The reference app does not make use of this because it overrides it from the command line.
The overrides would be all none compliant and for testing I think.

[2019-09-24 19:15] guschmue commented on #452
I don't see this. Is this on python3.5 or better ?

[2019-09-24 20:01] ryarramaneni commented on #452
Python 3.6.8

Other than default SingleStream  any other scenario resulting the same error

[2019-09-25 04:57] kdk3776 commented on #443
Thank you! Brian!

[2019-09-25 05:51] #299 closed

[2019-09-25 06:15] kdk3776 opened #455 "What's the difference btw many latency in the result?"
![image](https://user-images.githubusercontent.com/55476509/65573905-e6b99d00-dfa6-11e9-86a7-f15ac29b8157.png)

There are many latencies.
I know latency definition in the context of mlperf.

![image](https://user-images.githubusercontent.com/55476509/65573953-094bb600-dfa7-11e9-829e-4ccb8885bdbd.png)

What is the difference ?

1) Min
2) Max
3) Mean
4) 50,90,95,99, 99.9 percentile?
*) What is  "QPS

[2019-09-25 09:14] psyhtest commented on #451
By "pb", do you mean the TensorFlow model? [We](http://dividiti.com) have [looked into this](https://github.com/mlperf/inference/issues/229) but then it ruled out as infeasible.

[2019-09-25 09:52] xgu3 commented on #403
@guschmue how to use 2 conf files in cpp code? Is below order correct?
[code]

[2019-09-25 14:55] xgu3 commented on #403
@guschmue and shall the one at [here](https://github.com/mlperf/inference/blob/master/v0.5/mlperf.conf) be used for submission?

[2019-09-25 15:18] psyhtest opened #457 "Count in results.json is different in the Offline scenario"
In the Offline scenario, the values of count as given via the `--count` flag in the command line and the `"count"` and `"total_items"` keys reported in `results.json` differ.

Let's start with the accuracy mode e.g. use `export EXTRA_OPS="--count 1000 --scenario Offline --accuracy"`

| `--count` | `"count"` | `"total_items"` |
|-|-|-|
| 1 | 1 | 1 |
| 2 | 1 | 2 |
| 8 | 1 | 8 |
| 64 | 2 | 64 |
| 128

[2019-09-25 15:25] psyhtest commented on #457
It's even more puzzling in the performance mode e.g. with `export EXTRA_OPS="--count 1000 --scenario Offline"`:

| --count | "count" | "total_items" |
|-|-|-|
| 1 | 66 | 66 |
| 2 | 132 | 132 |
| 8 | 132 | 132 |
| 64 | 132 | 132 |
| 128 | 256 | 256 |
| 256 | 512 | 512 |
| 512 | 1024 | 1024 |

Here always `count == total_items`, but `count == --count * 2` for `--count >= 128`, and I can't pretend I

[2019-09-25 15:29] psyhtest commented on #457
I've run the above experiments with the official vision app and LoadGen from `5a4803e3`:
[code]
configuring each run via CK with parameters:
[code]
(See [here](https://github.com/ctuning/ck-mlperf/#mobilenet) for more details.)

[2019-09-25 16:39] guschmue commented on #452
SingleStream doesn't use a queue. I don't know why this fails for you ... we import Queue with
[code]
[here](https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/python/main.py#L18) and since that does not fail I can't explain why Queue would not be available later.

Something is different in your setup. Is there maybe a directory 'queue' in your working directory ?

[2019-09-25 16:47] ryarramaneni commented on #452
That import statement was giving error So I have modified that with the following
#from Queue import Queue
try:
        import queue as Queue
except ImportError:
        import Queue as Queue

There is no directory queue in my working directory

[2019-09-25 16:56] #452 closed

[2019-09-25 16:56] ryarramaneni commented on #452
import queue statement was problem correcting that resolved the issue

[2019-09-25 17:14] renganxu opened #460 "Offline results valid but has error in detailed log"
I updated the loadgen to the latest commit 5a4803e37b and ran the mobilenet in Offline scenario. The result is VALID in the summary log, but there is error in the detailed log.

So is this a valid run? Or is this a bug in LoadGen that needs to be fixed? @briandersn @guschmue

[code]
[code]

The error information in the detailed log:
[code]

[2019-09-25 17:16] guschmue commented on #403
yes, the order is correct, every FromConfig() will just override the field found in the specific config file.
I'd use the unmodified mlperf.conf and a user.conf with your local changes and include both in the submission.

[2019-09-25 21:33] riking commented on #455
Perhaps this will help: https://en.wikipedia.org/wiki/Percentile

[2019-09-25 21:39] riking commented on #460
Increase your target_qps to 2100.

[2019-09-26 01:03] renganxu commented on #460
Thanks @riking. This issue is gone now.

[2019-09-26 01:03] #460 closed

[2019-09-26 01:45] tjablin commented on #444
What happens if you send SIGSTOP to the LoadGen in the Server scenario in QueryScheduler::Wait right before the call to std::this_thread::sleep_until? At least in theory, there can be a gap between when the first query was scheduled to be issued and when the first query was actually issued.

[2019-09-26 02:22] kdk3776 opened #462 "On recommendation, one said reduce target qps and one said increase target qps~ what should I do ?"
![image](https://user-images.githubusercontent.com/55476509/65653316-bbd75380-e04f-11e9-89bd-a129c36b83fd.png)

On recommendation, one said reduce target qps and one said increase target qps~ what should I do ?

![image](https://user-images.githubusercontent.com/55476509/65653355-df020300-e04f-11e9-8ab2-40416df3bb97.png)

[2019-09-26 02:26] kdk3776 commented on #455
Do you have any idea about  "QPS w/ and w/o loadgen overhead"?

[2019-09-26 02:29] kdk3776 commented on #444
@tjablin

Can I understand like this ?

query start --- query end : Latency
query start --- query end ,  .............Every query........ ,query start --- query end : Duration

query start and finishing is latency
begin of entire query and finish last query is Duration

[2019-09-26 02:55] tjablin commented on #444
A query is like an airplane flight. Every flight has a designated departure time. Sometimes flights depart late. The latency of a flight is the time between the scheduled departure and actual arrival. The clock starts when the plane is supposed to leave. The airport is scheduled to open at 6 AM. The first flight is scheduled to depart at 7 AM. The last flight landed at 2 AM. The duration is 20 hou

[2019-09-26 03:18] kdk3776 commented on #444
@tjablin

I can not get
7am to 2am -> 20 hours duration
7AM departure delay to 8am -> 2 hour latency

Um Can I have one more explanation

[2019-09-26 03:25] kdk3776 commented on #444
Scheduled departure (7 am , actual departure )  and actual arriving ( 9am )  : 2 hours latency of plane can be query )

Airport schedule open 6am -->  --> last flight 2am  : 20 hours duration
Not start where first plane depart , start when airport schedule begin ?

[2019-09-26 03:33] kdk3776 commented on #444
The duration of a run is difference between the time when LoadGen receives the last inference response and the time when it issues the first query.

Can I think first plane departure as first query issue?
 ( I am confusing btw first plane departure and airport open

[2019-09-26 04:04] kdk3776 commented on #444
There is max latency and min latency in summary.

Since latency is  "The latency for a query is the difference between the time time when the LoadGen receives a reply and the time when the query was scheduled."

What is the meaning of those term?

Btw every query latency, most high latency is max and low is min latency ?
Can I understand like this ?

[2019-09-26 04:04] kdk3776 commented on #455
There is max latency and min latency in summary.

Since latency is "The latency for a query is the difference between the time time when the LoadGen receives a reply and the time when the query was scheduled."

What is the meaning of those term?

Btw every query latency, most high latency is max and low is min latency ?
Can I understand like this ?

[2019-09-26 04:47] nvpohanh commented on #462
I think the `Min duration satisfied: NO` was caused by a bug which was fixed by #414. Could you try the latest master?

[2019-09-26 04:49] nvpohanh commented on #457
@psyhtest I think the `count == --count * 2` is caused by a bug introduced by #414. Could you try if #461 fixes this issue?

[2019-09-26 05:28] xgu3 opened #463 "Is Ending early ERROR in offline scenario false?"
Below error is just found in offline detail log,
`ERROR : Ending early: Ran out of generated queries to issue before the minimum query count and test duration were reached.
`
But in summary log, it says,
[code]

We actually ran 120 seconds and completed 660000 files, so the error in detail log seems false.

In loadgen.cc, there's a check to disable the error, but the duration here seems the query

[2019-09-26 05:42] nvpohanh commented on #463
Could you check if this can be fixed by #461?

[2019-09-26 07:27] xgu3 commented on #463
@nvpohanh Thanks for the prompt response. Just tried but it doesn't solve it, the error is still reported log.
The 2 queries becomes 1 now as #461 is supposed to do so.

[2019-09-26 07:35] briandersn commented on #463
The error in the detail log definitely appears to be false.

I agree that is the root cause. If you change the condition to "duration > settings.target_duration", I think that should fix it. Target duration corresponds to the minimum issue duration for all scenarios. We may even want to rename it min_issue_duration.

[2019-09-26 09:09] xgu3 opened #464 "Is INVALID server result false after using mlperf.conf?"
After using mlperf.conf, the server log will report invalid like following,
[code]

The problem is that the 99% latency is 13.02ms per log and less than 15ms, which meets mperf model requirements.

I tried set below in user.conf, and it pass.
`*.Server.target_latency = 15`

But seems the correct value source shall be the below line in the mlperf.conf, so that mobilenet can have another line to spe

[2019-09-26 11:19] psyhtest commented on #457
For the accuracy mode, I wondered if https://github.com/mlperf/inference/pull/406 would fix it:
[code]
Alas, `export EXTRA_OPS="--max-batchsize 32 --count 512 --scenario Offline --accuracy"` I still get `count == 17`. With `export EXTRA_OPS="--max-batchsize 1 --count 512 --scenario Offline --accuracy"`, however, `count == total_items == 512` as expected.

[2019-09-26 11:50] psyhtest commented on #457
Thanks @nvpohanh. Good news. If I build LoadGen from your branch:
[code]
and run with:
[code]
I now get:
| --count | "count" | "total_items" |
|-|-|-|
| 1 | 66 | 66 |
| 2 | 66 | 66 |
| 8 | 66 | 66 |
| 64 | 66 | 66 |
| 65 | 66 | 66 |
| 66 | 66 | 66 |
| 67 | 67 | 67 |
| 128 | 128 | 128 |
| 256 | 256 | 256 |
| 512 | 512 | 512 |

[2019-09-26 12:06] psyhtest commented on #457
So the question is why do I get 66 for `--count == 65` and below? I have even tried with `--time 0`, hoping it would unset the minimum duration, and `--max-batchsize 8`, hoping it would increase the performance and change `count`, but to no avail:
[code]

[2019-09-26 15:03] christ1ne commented on #463
@xgu3 can you do a quick verification on if 'duration > settings.target_duration' fix it? If so, please issue an PR. If not, we can make this offline message an exception.

[2019-09-26 15:57] christ1ne commented on #464
If we cannot resolve this issue by Friday (9/27) code freeze, I recommend we just implement the workaround in user.conf

---------------
I tried set below in user.conf, and it pass.
*.Server.target_latency = 15
---------------

[2019-09-26 16:18] flx42 opened #465 "[RFE] Implement LogSettings::enable_trace = false"
Hello,

Apologies for the late notice, but I would like to get feedback on implementing this flag:
https://github.com/mlperf/inference/blob/52699022d32271a00c7ec840acb77180a8c5d061/loadgen/test_settings.h#L333

Some background: with a high number of QPS on the server scenario, we are seeing a significant amount of time spent in the IOThread, especially in string formatting functions. This was meas

[2019-09-26 16:37] nvpohanh commented on #457
What does `count` do here? Shouldn't offline scenario only have 1 query for performance-only mode?

[2019-09-26 17:02] tjablin commented on #465
The LoadGen is scheduled to freeze on Friday. If you can land this before Friday, I am supportive. The default for the flag should probably be false.

[2019-09-26 17:32] guschmue commented on #464
This should be already set here:
https://github.com/mlperf/inference/blob/master/v0.5/mlperf.conf#L25

[2019-09-26 17:33] guschmue commented on #457
the results.json is a thing that pre-dates loadgen. In theory we should not be looking it and use mlperf_log_summary.txt instead but I'll take a look.

[2019-09-26 20:07] riking commented on #435
yes, this is allowed

the loadgen will always send you exactly 18 every time

[2019-09-26 20:15] flx42 commented on #465
PR here: https://github.com/mlperf/inference/pull/466

[2019-09-27 00:49] xgu3 commented on #464
@guschmue Different model has different latency bound, so I think below line is designed to be used for resnet50 to check whether the result is valid or not.
`resnet50.Server.target_latency = 15`

Another line is needed for mobilenet,
`mobilenet.Server.target_latency = 10`

Below line is used for loadgen to generate queries.
`*.Server.target_latency = 15`

Or is there other usage of resnet50.Serve

[2019-09-27 02:37] guschmue commented on #464
The '*' matches all models but a more qualified path takes precedence.
Kind of reads as:
what ever is not in this list
[code]
will take this setting:
[code]

[2019-09-27 02:40] xgu3 commented on #464
@guschmue the problem is that resnet50.Server.target_latency = 15 doesn't take effect. As described in the very beginning.

[2019-09-27 02:50] guschmue commented on #464
Hm, that would be bad. Let me check.

[2019-09-27 03:05] xgu3 opened #468 "CAS assertion error in loadgen"
Sometimes loadgen will assert like below,
mlperf::logging::TlsLogger::Log(mlperf::logging::AsyncLogEntry&&): Assertion `cas_fail_count < 3' failed.

And sometimes it reports 2 CAS errors in log.

We tried comment out the assert and it can continue.

So there're 2 problems,
1. How to avoid the assertion?
2. Is the CAS error in loadgen log needed to be cleaned for submission?

@briandersn @tjablin @

[2019-09-27 03:06] guschmue commented on #464
thanks for finding - its a pretty bad one since it doesn't only apply to the target_latency.

[2019-09-27 03:57] christ1ne opened #469 "resnetv1.5 onnx model equivalence"
In the [Zenodo link](https://zenodo.org/record/2592612#.XY2Es5NKj4M), we have multiple versions

Version 0.1 10.5281/zenodo.2592612 --> latest
Version 0.1 10.5281/zenodo.2541184 --> same model but without softmax. we will submit with this model since softmax is not needed according to the rules

Just want to make this explicit before the deadline. @guschmue already confirmed the model compliance f

[2019-09-27 04:00] christ1ne commented on #464
@xgu3 please verify and let me know if we can close this issue.

[2019-09-27 04:00] #464 closed

[2019-09-27 08:13] psyhtest commented on #457
Thanks @guschmue. I'm just worried that 2 weeks until the submissions deadline, I still encounter behaviour that I can't explain, which may indicate bugs in the official app (only critical for those who are going to use it) or LoadGen (may be critical for all the submitters).

[2019-09-27 15:26] guschmue commented on #457
Are you ok with removing results.json ? That would make it clear that one need to look at the loadgen logs.
The loadgen logs are not very handy to to keep some history of the runs so I use  [this](https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/tools/lglog2csv.py) script on top of loadgen.

[2019-09-27 16:25] psyhtest commented on #457
I don't mind having `results.json`. The problem appears to be in LoadGen:
[code]
I've just seen the same `samples_per_query == 66` from our own C++ code with a low `count` (`performance_sample_count`).

[2019-09-27 18:18] BrianPharris commented on #465
@tjablin @guschmue -- Could one of you please review and merge this PR?

[2019-09-27 18:24] settle opened #470 "Which version of COCO for calibration?"
Just to clarify, from which version of COCO are these calibration images?
https://github.com/mlperf/inference/blob/master/calibration/COCO/coco_cal_images_list.txt

I could not find them in val2017, but val2017 is what is referenced here:
https://github.com/mlperf/inference/tree/master/others/cloud/single_stage_detector/pytorch

[2019-09-27 19:08] guschmue commented on #470
We use val2017. The calibration might come from train2017.

[2019-09-27 19:10] #465 closed

[2019-09-27 19:19] settle commented on #470
I've found similar image filenames in val2014 and val2017, and so far they are the same files (example hash match below for the last image in the list).  It would be nice to add clarity here though.

$ md5sum val2014/COCO_val2014_000000511117.jpg
cd81784d6252c106a8857e595b4b409b  val2014/COCO_val2014_000000511117.jpg
$ md5sum train2017/000000511117.jpg
cd81784d6252c106a8857e595b4b409b  train2017/0

[2019-09-27 19:53] guschmue commented on #470
In general we use coco 2017 for everything.

[2019-09-27 22:46] briandersn commented on #468
How often does this show up?

1) I wonder if you change this [memory_order_relaxed](https://github.com/mlperf/inference/blob/d31c18fbd9854a4f1c489ca1bc4cd818e48f2bc5/loadgen/logging.cc#L817) to memory_order_seq_cst, whether that will avoid hitting the assert. That is the memory order used in the CAS failure branch and is the only thing I can think of that would result in an inconsistent view of th

[2019-09-27 23:09] briandersn commented on #465
@flx42 : I used to have a NanoToMicroString function that was 5x faster than the iostream formatting for timestamps. Would be curious if that allows tracing to be always on. If you have time to profile it, you could bring NanoToMicroString back by reverting https://github.com/mlperf/inference/commit/aa01f7c4fdc0b2730372a271fee036ab6f1393c1

The extra IO bandwidth of tracing could also be slowing t

[2019-09-27 23:14] georgelyuan commented on #465
Yes, that's fine with me, but I don't think that parameter can be set with the loadgen config file as it's meant for TestSettings.
I believe the self-run audit proposal as @petermattson had outlined it stipulates that loadgen patches can be used, so potentially we could re-enable tracing that way..

[2019-09-27 23:19] settle commented on #470
I can confirm that all the images from coco_cal_images_list.txt are in both val2014 and train1027.

The confusion mainly came from COCO's calibration images are then from its training set while ImageNet calibration images are from its validation set.  Maybe calibration images should always come from the training set?

[2019-09-27 23:44] flx42 commented on #465
That's my concern also. Even when writing to a `tmpfs`, the Chrome trace event format is essentially a very inefficient format in terms of space (JSON and no dedup) and speed (string formatting). But it's great to be able to visualize your execution profile in your web browser :)

I'll try to apply your patch next week.

[2019-09-28 00:06] guschmue commented on #465
I actually tried with enable_trace = false before on my dev box (lame, maybe ~ 220qps) and I did not see a change. Maybe at higher qps it matters.

[2019-09-28 00:12] guschmue commented on #470
Its a perfectly valid issue. For some reason we have been specific with imagenet (like imagenet2012) everywhere but not with coco ... we should update the README's to say coco 2017

[2019-09-28 07:38] psyhtest commented on #470
IIRC, the WG decided that downloading the whole ImageNet training set just for a hundred  calibration images would be impractical hence using the validation set. For COCO, however, this was fine.

[2019-09-30 07:38] xgu3 opened #471 "user.conf cannot set SingleStream.target_latency < 1"
The smallest *.SingleStream.target_latency in user.conf is 1. It means the smallest QPS is 1000, sometimes it makes loadgen cannot generate sufficient queries to meet 60s duration.

I tried to set below 50000 ns of loadgen directly, then loadgen will generate more queries. But setting 0.5 ms in user.conf seems doesn't take effect.

`      --single_stream_expected_latency_ns 500000 `

Is there a wa

[2019-09-30 15:25] darkrsw opened #472 "coco.py, out of array bound."
When running an `accuracy` mode of `ssd-resnet34` with this command `./run_local.sh tf ssd-resnet34 gpu --scenario SingleStream --accuracy`, loadgen throws an exception as follows:

[code]

[2019-09-30 15:26] psyhtest commented on #457
We have noticed a correlation between `*.Offline.min_duration = 20000` in `v0.5/mlperf.conf` and `samples_per_query`:

| 60000 | 66 |
| 30000 | 33 |
| 20000 | 22 |
| 10000 | 11 |
|  5000 | 5 |
|  1900 | 2 |
|  1850 | 2 |
|  1820 | 2 |
|  1819 | 2 |
|  1818 | 1 |
|  1800 | 1 |
|  1000 | 1 |

Anything special and MLPerf-related happened in [1819](https://en.wikipedia.org/wiki/1819) and [1818](https:

[2019-09-30 15:31] darkrsw commented on #472
It seems that `len(self.results) > len(self.content_ids)` as this line throws the exception: `image_indices.append(self.content_ids[batch])`.

[2019-09-30 15:55] darkrsw commented on #472
I have printed out the size of the two arrays:

[code]

It seems that the following lines (L:148~150) are never executed:
[code]

[2019-09-30 16:10] christ1ne commented on #471
I recommend modifying the loadgen with example like --single_stream_expected_latency_ns 500000 to be allowed for v0.5 given the tight timeline.

[2019-09-30 16:21] riking commented on #471
That command line flag is interpreted by the loadgen integration, not LoadGen itself, correct? You just need your loadgen integration to apply a more precise latency after loading the standard config.

i.e. This should be a reference code only change

[2019-09-30 16:30] riking commented on #463
From another bug, make sure your target_qps is at or above your achievable qps

[2019-09-30 16:39] nvpohanh commented on #457
@psyhtest What is your target_qps?

[2019-09-30 16:49] xgu3 commented on #471
Yes, it's interpreted by the loadgen integration and pass the value to lodagen. So do you mean this is allowed for submission?

[2019-09-30 16:57] psyhtest commented on #457
@nvpohanh We use the Offline default of 1.

[2019-09-30 17:01] nvpohanh commented on #457
so that makes sense. samples_per_query is calculated by `1.1 * min_duration * target_qps`. The idea is to ensure that samples_per_query is large enough so that the query will take just over min_duration to complete.

[2019-09-30 17:23] guschmue commented on #471
I think it would be soo much better to teach loadgen to re-use the buffer if it runs out of it.
For the reference app we could do a thing like this (we did not set the latency because we just did not expect that it needs to be set):
[code]

[2019-09-30 17:53] briandersn commented on #468
@xgu3  : Were you able to see if using memory_order_seq_cst helps?

[2019-09-30 17:57] briandersn commented on #462
@kdk3776 : Does this bug still exist in the latest master?

[2019-09-30 18:06] briandersn commented on #455
w/  = samples / duration
w/o = 1 / (average latency)

Where:
* Duration includes time spent in the loadgen.
* Average latency does not include time spent in the loadgen.

scheduled = just before loadgen calls SystemUnderTest::IssueQuery
receives a reply = just after SUT calls QuerySamplesComplete

 I think that's correct.

[2019-09-30 18:07] briandersn commented on #450
Thanks @georgelyuan. Closing this one.

[2019-09-30 18:07] #450 closed

[2019-09-30 18:08] briandersn commented on #446
If we aren't going to rely on the loadgen's submission mode, shall we close this?

[2019-09-30 18:09] briandersn commented on #440
@zrg102030 : Is this blocking a submission for v0.5?

@christ1ne : Tentatively proposing the "WG future version" tag for this bug.

[2019-09-30 18:12] briandersn commented on #443
@kdk3776 : Closing this one. Let us know if any other clarifications are needed.

[2019-09-30 18:12] #443 closed

[2019-09-30 18:15] briandersn commented on #445
Unless there's a specific complaint that the discrepancy between server and offline doesn't make sense, I propose closing this for now.

[2019-09-30 18:15] #445 closed

[2019-09-30 18:19] briandersn commented on #435
Be careful. The loadgen is not aware of the SUT's native batch size, only multi_stream_samples_per_query which may or may not correspond to what you want.

[2019-09-30 18:23] briandersn commented on #434
After another look, the log says it's taking .16 to 2.1 sesconds (not 1.6). So the QPS w/o loadgen overhead isn't necessarily bogus.

Documentation and source is the best place to understand each of the values:
Link to loadgen guide: https://mlperf.github.io/inference/loadgen/index.html

[2019-09-30 18:23] #434 closed

[2019-09-30 18:37] christ1ne commented on #446
OK. I'd like to let others know at the WG. We can close at the WG.

[2019-09-30 18:54] riking commented on #434
Whoops, I noticed that x10 difference and then failed in at counting..

[2019-09-30 20:37] christ1ne commented on #435
a related question:

Is the QSL size to be the minimum of total_sample_count? or minimum of performance_sample_count? @briandersn @tjablin

@rachithayp

[2019-09-30 22:05] psyhtest commented on #457
@nvpohanh Thanks for pointing that out. I was at my wits end with this puzzling behaviour.

Not sure I agree with the logic of it though. As I said, I didn't set `target_qps` myself. Hence, it's not not indicative of my SUT. I'd rather prefer LoadGen issue a single query and to wait until either `min_duration` is passed or `count` samples are processed.

[2019-09-30 22:13] nvpohanh commented on #457
But the idea of offline scenario is that SUT receives a huge query with many samples so that it becomes a throughput measurement. If LoadGen issues a single query at a time, we can no longer rely on a lot of assumptions of throughput measurement (like data contiguity, etc.).

[2019-10-01 05:34] flx42 commented on #465
Reverting this commit did help: CPU utilization from the IO thread went from 100% to 78% and overall performance was much better, not as good as `enable_trace = false` but close.

I realized that even if tracing is disabled, trace events seem to still be issued to the TLS logger. Ideally, we would get rid of these too. Individually each event submission is fast, but when they are millions of them,

[2019-10-01 06:33] mdfaijulamin opened #474 "[GNMT] Difference in Beam Search Algorithm between PyTorch and TensorFlow"
TensorFlow GNMT implements beam search algorithm according to the paper (https://arxiv.org/abs/1609.08144); in particular, length and coverage penalty has been taken into consideration before applying TopK, while some of PyTorch implementations does not do that, e.g.

- https://github.com/NVIDIA/DeepLearningExamples/blob/master/PyTorch/Translation/GNMT/seq2seq/models/seq2seq_base.py#L61-L64
- http

[2019-10-01 06:51] tjablin commented on #474
For MLPerf Inference 0.5 both the TF and the PyTorch reference implementations are equally valid. If either of the reference implementations applies the length and convergence penalty before applying TopK, then it is valid. Otherwise, it seems like these calculations would yield very different results and consequently could not be considered mathematically equivalent or an approximation.

[2019-10-01 08:01] darkrsw opened #475 "`--samples-per-query` does not increase "samples per query" in Offline mode."
To run an Offline mode, I have executed the following command:
[code]

However, the result shows that this execution used only 66 samples per query regardless the number after `--samples-per-query`.

`--qps 2000` option actually can increase the number of samples per query.

[2019-10-01 08:23] psyhtest commented on #457
Indeed, I'm thinking of a single huge query with contiguous data. At the moment, for `count < 66` I get 66 queries, and then [as many queries as there are samples](https://github.com/mlperf/inference/issues/457#issuecomment-535467916).

[2019-10-01 08:27] psyhtest commented on #457
I get as many queries as there are samples for `count >= 1` if I set `*.Offline.target_qps = 0.0` in `mlperf.conf`, but it again not what we want.

[2019-10-01 08:33] psyhtest commented on #457
Setting `*.Offline.min_query_count = 24576` didn't help either.

[2019-10-01 08:35] psyhtest commented on #457
Neither did not setting `--count` explicitly:
[code]
with:
[code]
giving me one query with one sample:
[code]

[2019-10-01 08:37] psyhtest commented on #475
@darkrsw You are right. Check out https://github.com/mlperf/inference/issues/457 please. At the moment I am unable to run the performance mode with the required minimum duration and the minimum number of samples.

[2019-10-01 09:28] xgu3 commented on #463
It's not the root cause, the error happens even setting target_qps as double achievable qps. I think Brian's root cause analysis is correct.

[2019-10-01 16:02] christ1ne commented on #474
@tjablin Only the TF version is the reference as the PyTorch SW has not been vetted for equivalence. That's why the PyTorch version is not under v0.5 directory but in others/cloud/translation/gnmt/pytorch. Let's clarify this point again in the meeting today.

[2019-10-01 16:14] tjablin commented on #474
@christ1ne Thanks for the correction. I had totally forgotten that NMT did not have a PyTorch reference. Sorry for spreading misinformation.

[2019-10-01 16:41] jveejay opened #476 "Audit test"
Hello Submitters,

A sample audit test has been uploaded to the MLPerf Community shared drive under the Inference folder.

Here is a link:
https://drive.google.com/open?id=1KU4ZtZBcy4fMLrsasDHyB817Q4zqjZRT

The tarball follows the directory structure as outlined in the Audit Test Infrastructure doc:
https://docs.google.com/document/d/1JsA1_iqzGZFtFLwIM45IfMLstYtE5tflvfD7oiqAiBo/edit?usp=sharing

P

[2019-10-01 17:25] tjablin commented on #474
@DilipSequeira To be clear, the rules are:

So taking:

Isn't invalid, but it seems like a radical enough change that it would require weight supplements. Weight supplements aren't valid.

If you have a submission that applies length and coverage penalties before applying TopK and does not use weight then this would be a valid submission, in my opinion.

Sorry again for the confusion.

[2019-10-01 20:31] aaronzhongii commented on #463
any ETA to fix this issue as xgu3 proposed and Brian approved?

[2019-10-01 20:39] tjablin commented on #474
To be clear, you should do your own experiments to determine if you can reach the required level of accuracy with your proposed change without weight supplements.

[2019-10-01 20:44] christ1ne commented on #474
@tjablin there is no weight in beam search. Am I missing something?

[2019-10-01 20:51] rachithayp commented on #468
@briandersn : I am seeing the same issue and using memory_order_seq_cst in the line you pointed out did not seem to help. I have disabled the assert for now to move forward. The assert happens quite frequently.

[2019-10-01 20:52] tjablin commented on #474
If changing the beam search algorithm in the proposed manner reduces accuracy for the overall model then it might require retraining or weight supplements to meet the required accuracy.

[2019-10-01 20:54] briandersn commented on #468
Huh. What if you change 3 to 4 or 5? @rachithayp @xgu3

[2019-10-01 20:57] christ1ne commented on #474
I thought the criteria is whether the proposed change is mathematically equivalent to the reference.  @tjablin

[2019-10-01 20:59] tjablin commented on #474
The rules say:

[2019-10-01 21:02] christ1ne commented on #474
Let's clarify this during the meeting later. There is no weights in the beam search.

[2019-10-01 21:05] riking commented on #457
A submitter is supposed to set their own value for *.Offline.target_qps - why are you insisting on sticking with the default?

[2019-10-01 21:10] riking opened #477 "Tag a LoadGen release for v0.5"
The [inference_rules.adoc](https://github.com/mlperf/inference_policies/blob/master/inference_rules.adoc) states:

Tag a release in this repository, now that we've announced code freeze. I suggest naming it v0.5.0 just in case any critical issues are found that the WG deems worth patching.

[2019-10-01 22:23] riking commented on #477
proposal:

tag 55c0ea4e772634107f3e67a6d0da61e6a2ca390d as v0.5.0
tag 61220457dec221ed1984c62bd9d382698bd71bc6 as v0.5.1

[2019-10-01 22:28] christ1ne commented on #428
WG not going address it now.

[2019-10-01 22:28] riking commented on #403
Close w/ recommendation to load a second config file in your SUT-LoadGen integration

[2019-10-01 22:29] #403 closed

[2019-10-01 22:30] psyhtest commented on #457
@riking I'm not insisting :). I'm really struggling to make the Offline work. My QPS is roughly 240. If I try to set it explicitly (`mlperf.conf` is not modified):
[code]
I get 15840 queries - but no indication that 24576 has been reached.

Doesn't appear to have any effect.

[2019-10-01 22:32] nvpohanh commented on #457
I agree that the actual samples_per_query should be `max(1.1 * min_duration * target_qps, min_query_count)` probably to follow the rules

[2019-10-01 22:35] nvpohanh commented on #457
But wait, looking at the rules, does Offline scenario has requirements on min_query_count? I thought that was the requirements for SingleStream, MultiStream, and Server only

[2019-10-01 22:37] christ1ne commented on #435
WG: multi-stream always adds padding to make the the multiple of multi_stream_samples_per_query. It also pads differently in performance and the accuracy mode.

total_sample_count: entire validation dataset count (GNMT:  performance mode ~3M, accuracy mode 3003)
performance_sample_count: min QSL size specified in the rules.

@guschmue will update the mlperf.conf

[2019-10-01 22:41] psyhtest commented on #457
You need at least one query, that's for sure :). So `*.Offline.min_query_count = 1` looks good to me.

One huge query would be ideal, but I'm not getting it no matter what I do :(.

[2019-10-01 22:42] christ1ne commented on #218
What's percentage of dataset used? @nvmbreughe

[2019-10-01 22:48] christ1ne commented on #329
@guschmue  all fixed. Please re-open if needed.

[2019-10-01 22:48] #329 closed

[2019-10-01 22:49] christ1ne commented on #446
ok to close as submissionrun is not used in v0.5

[2019-10-01 22:49] #446 closed

[2019-10-01 22:50] psyhtest opened #478 "The default config file should set the minimum QSL size for each benchmark"
What's the syntax for that? I tried:
[code]
but this didn't seem to work.

In fact, we probably need something scenario-agnostic e.g.:
[code]
but would the current parser understand this?

[2019-10-01 22:50] christ1ne commented on #463
WG: This error is allowed for v0.5 submission Offline scenario. We will try to fix the error for v0.6.

[2019-10-01 22:50] #463 closed

[2019-10-01 22:57] christ1ne commented on #469
WG: this is compliant.

[2019-10-01 22:59] christ1ne commented on #471
WG: you can use '--single_stream_expected_latency_ns 500000' in the code you submit to make it v0.5 complaint. Please re-open the issue if needed.

[2019-10-01 23:01] psyhtest commented on #476
Known issues (also communicated by email):
1. The `verify_*` scripts are not Python 3 compliant.
[code]

2. The `verify_performance` script tries to match "Samples per second" in `mlperf_log_summary.txt`, but there's no such line from the SingleStream scenario.
[code]
3. The values in `audit.config` should be specified in percentages, as we use the same unit
for e.g. percentiles. (I'd actually sug

[2019-10-01 23:09] christ1ne commented on #474
WG: @mdfaijulamin this proposal is allowed as long as you can hit the accuracy threshold.

but you cannot do the following:
https://github.com/mlperf/inference_policies/blob/master/inference_rules.adoc#82-model-equivalence

Treating beams in a beam search differently. For example, employing different precision for different beams.
Changing the number of beams per beam search relative to the refere

[2019-10-01 23:09] #474 closed

[2019-10-01 23:16] briandersn commented on #463
A PR to fix this is here, if we want to pull it in to an allowed hash: #479

[2019-10-01 23:19] psyhtest commented on #476
For `TEST01`, the directory structure is:
[code]
but all the scripts and config files appear to be the same for all the benchmarks. Is this correct? If so, can we avoid duplication?

[2019-10-01 23:36] psyhtest commented on #476
`TEST02` (custom weights) does not sound to be easy!

[2019-10-01 23:38] psyhtest commented on #476
`TEST05` (RNG seeds) - is this applicable to every scenario?

[2019-10-01 23:55] psyhtest commented on #475
I've tried `--qps 2000` which increased the number of queries according to the output:
[code]
but `samples_per_query` according to `mlperf_log_summary.txt`:
[code]

[2019-10-01 23:59] psyhtest commented on #457
I've tried `--qps 300` which increased the number of queries according to the output:
[code]
but `samples_per_query` according to `mlperf_log_summary.txt`:
[code]

[2019-10-02 00:02] psyhtest commented on #435
I've created https://github.com/mlperf/inference/issues/478 about updating `mlperf.conf`.

[2019-10-02 00:09] darkrsw commented on #475
@psyhtest Agreed.
By defintion, we can adjust only `--samples-per-query` for the submission rather than `--qps`.

[2019-10-02 00:14] psyhtest commented on #457
So I get a valid number of `samples_per_query` (i.e. over 24,576) if I **lie** about the actual QPS of my SUT:
[code]
but lying doesn't seem right to me.

[2019-10-02 04:19] sheferke opened #480 "StartTest input parameters"
Hi,
**the c_api (under the binfing direcrory) files StartTest has the following signature:**
void StartTest(void* sut, void* qsl, const TestSettings& settings)

**while the loadgen.cc**

void StartTest(SystemUnderTest* sut, QuerySampleLibrary* qsl,
               const TestSettings& requested_settings,
               const LogSettings& log_settings);

it would be better to use the same signature a

[2019-10-02 07:44] briandersn commented on #480
Hi @sheferke. Feel free to update the bindings and upstream. The bindings aren't officially part of the loadgen and can be modified however you wish. They also aren't subject to the freeze restrictions.

[2019-10-02 10:46] psyhtest commented on #475
The output is misleading:
[code]
It appears that `queries` should be `samples`, `qps` - `samples per second` (only the same thing when samples per query is 1)?

@guschmue

[2019-10-02 15:10] guschmue commented on #478
When we did do the config parser we have been debating to allow that 2nd wildcard and did not have a use for it and we did not add those 2 lines - I should have known better :(

[2019-10-02 21:24] christ1ne commented on #468
recommend this to be one of the accepted error in v0.5 submission.

[2019-10-02 21:29] #469 closed

[2019-10-02 21:29] #471 closed

[2019-10-02 21:44] DilipSequeira opened #483 "Recipe for server mode submission"
@guschmue @christ1ne

To ensure that we generate the correct logs in the right places, what is the expected recipe for server mode submission?

- output of five submission runs?
- output of one submission run and four additional perf runs?
- output of one accuracy run and five perf runs?
- any combination of runs that generates files with appropriate name and content?

[2019-10-02 21:51] tjablin commented on #483
My understanding from Brian is that the submission run functionality in LoadGen is incomplete. Therefore, you should submit the output of one accuracy run and five performance runs.

@briandersn Can you confirm?

[2019-10-02 21:52] christ1ne commented on #483
one accuracy run and five perf runs

[2019-10-02 21:56] briandersn commented on #483
Confirming.

TestSettings::mode == SubmissionRun is incomplete and not tested. Folks should run manually with AccuracyOnly (1x) and PerformanceOnly (5x).

"SubmissionRun" is documented with a TODO still, and I've seen reports of issues when using "SubmissionRun". In hindsight, it would have been better to remove SubmissionRun or make it fail without doing anything.

[2019-10-02 22:03] nvpohanh commented on #483
We should probably fix the submission rules, then.
Current:
[code]
Should be:
[code]
Does this make sense?

[2019-10-02 22:04] christ1ne commented on #483
ok will open a PR on this and review it in the next WG meeting

[2019-10-04 11:21] psyhtest commented on #478
That's a shame. I suppose everybody can set it without using a config file. We can check how it was set from the logs:
[code]
(It wasn't in this case.)

[2019-10-04 11:45] psyhtest commented on #478
It was in this case:
[code]

[2019-10-04 11:52] psyhtest commented on #478
As I understand, this is set in the official app [here](https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/python/main.py#L510):
[code]

However, if I run with:
[code]
I still get 500:
[code]

[2019-10-04 11:59] psyhtest commented on #478
With the following patch, however:
[code]
I can see the change:
[code]

[2019-10-04 12:08] psyhtest commented on #478
The question is whether we really need two different variables for the config file, `performance_sample_count` (which currently doesn't seem to work) and `performance_sample_count_override` (which works)?

[2019-10-04 12:14] psyhtest commented on #478
@guschmue So is the following patch the best we can currently do?
[code]

[2019-10-04 12:21] psyhtest commented on #478
By the make, if I make the above change, should I rename the file as `user.conf` and run e.g. as follows:
[code]

[2019-10-04 13:34] Mamtesh11 opened #485 "can we use diffrenr precision(fp16 or fp32) for mlperf inference."
Can we use different precision for mlperf inference. What precision is used in reference implementations. Does it uses any calibration to convert from default precision (fp32)  to desired precision.

[2019-10-04 13:47] psyhtest commented on #485
See https://github.com/mlperf/inference_policies/blob/master/inference_rules.adoc#81-weight-definition-and-quantization

[2019-10-04 16:00] guschmue commented on #478
yes. I can make a change to look model.*.key in the parser but its maybe a little late.
Maybe send a PR for mlperf.conf ?
For user.conf ... we could just make change to first load mlperf.conf and than user.conf where mlperf.conf should never be changed by the user.

[2019-10-04 18:28] psyhtest commented on #478
I can make a PR now so not to forget. When you implement the parser, we can reduce the number of lines in `mlperf.conf` to the minimum.

[2019-10-05 04:16] Mamtesh11 commented on #485
Thanks for your quick response.

[2019-10-05 04:16] #485 closed

[2019-10-05 09:13] psyhtest commented on #478
My next question is how to set the QSL size for the Open division, where the models may be custom.

[2019-10-05 09:18] psyhtest commented on #478
I like the idea of never modifying the standard `mlperf.conf` (`default.conf` would be a more appropriate name), only overriding and appending via `user.conf`.

[2019-10-05 17:42] renganxu opened #487 "What is the file compliance_checker_log.txt used for?"
In the submission rules, there is a mandatory file called compliance_checker_log.txt. What should be included in this file? Whether the result is valid or invalid is already in mlperf_log_*. So I don't know what logs should be in compliance_checker_log.txt.

[2019-10-06 13:51] itayhubara commented on #487
Do we have an official compliance checker?

[2019-10-06 15:02] jveejay commented on #487
Yes, +Guenther Schmuelling <guschmue@microsoft.com> is almost done with it.

On Sun, Oct 6, 2019 at 9:51 AM itay hubara <notifications@github.com> wrote:

--
Vijay Janapa Reddi, Ph. D. | Associate Professor
33 Oxford St. | Maxwell Dworkin 147 | Cambridge, MA 02138
John A. Paulson School of Engineering and Applied Sciences | Harvard
University
Email: vj@eecs.harvard.edu | Web:
http://scholar.harvar

[2019-10-06 15:54] itayhubara commented on #487
O.K - we don't have a lot of time and there are still issues with this file. Including unneeded JSON files that it checks that they exist - for instance, mlperf_log_summary.json in accuracy folder and also another file that I am not sure how generates 'accuracy.txt'? Anyway, several members raised issues with this checker and since I have another 1-2 working days before the submission it is almost

[2019-10-07 16:32] guschmue commented on #487
The PR for the checker is here and sitting there for a few days:
https://github.com/mlperf/inference/pull/473

[2019-10-07 16:33] guschmue commented on #478
on my list ...

[2019-10-07 17:02] psyhtest opened #488 "LoadGen may mishandle RNG seeds on 32-bit system"
I've run our LoadGen integration on a 32-bit Raspberry Pi 4 (`armv7l`):
[code]
with the [RNG seeds required for v0.5](https://github.com/mlperf/inference/pull/486).

Unfortunately, the logs suggest that all the modified seeds were set to `2^32-1`:
[code]
I don't yet know if it's simply an issue with printing, or it runs deeper.

On a 64-bit system I get the seeds printed as expected:
[code]

[2019-10-07 17:42] psyhtest commented on #488
Here's the first 5 and last 5 queries from the 32-bit Raspberry Pi:
[code]
And here's the first five and last 5 queries from two different 64-bit machines:
[code]

[2019-10-07 17:52] psyhtest commented on #488
Trying with smaller seeds:
[code]

[2019-10-07 18:02] guschmue commented on #488
running this with a debugger on windows ... I see issues too.
I see that we have the correct string in hand but strtoul() is returning the wrong value.
Looking.

[2019-10-07 18:03] tjablin commented on #488
std::mt19937 ought to be the same everywhere, but potentially std::uniform_distribution is different? If people end up with slightly different random numbers, I'm basically okay with it.

[2019-10-07 18:06] psyhtest commented on #488
@tjablin Care to specify 32-bit seeds?

[2019-10-07 18:08] guschmue commented on #488
strtoul() should be strtoull() - at least that fixes it for me.

[2019-10-07 18:10] tjablin commented on #488
Specifying 32-bit seeds won't resolve the issue. std::mt19937 requires 64-bit seeds. Even if the inital seed is less than 2^32, the seed will be 64-bits after the first round through the pseudo-rng.

[2019-10-07 18:14] guschmue commented on #488
I have a PR here https://github.com/mlperf/inference/pull/489 ... I know, its a little late for v0.5.

[2019-10-07 18:15] psyhtest commented on #488
OK, maybe I got lucky with the example above.

[2019-10-07 18:28] riking commented on #488
The issue is in the initial parsing of text -> number - if a `long` is only 32 bits on a given platform, `strtoul` will only output a 32-bit result

[2019-10-07 21:45] georgelyuan commented on #476
I believe so. Performance should not be RNG seed-dependent.

[2019-10-07 21:46] georgelyuan commented on #476
Good point. I had created benchmark subdirectories to handle benchmark-specific custom weights, but this would not apply to any of the tests for v0.5. I can move duplicate files to the parent directory.

[2019-10-07 22:07] aaronzhongii opened #490 "about code directory in the submission"
In v0.5/tools/submission/submission-checker.py

        impl = system_file[len(system_desc) + 1:-5]
        code_dir = os.path.join(parts[0], parts[1], "code", model, impl)

are used to get the code directory for conformance validation.
system_file are an array of filenames as
<system_desc_id>_<implementation_id>_{scenario}.json

so impl will be assigned as <implementation_id>_{scenario}

thus res

[2019-10-08 02:39] guschmue commented on #490
you are correct, I'll fix it.

[2019-10-08 02:40] aaronzhongii commented on #490
Thanks

------------------------------------------------------------------
From:Guenther Schmuelling <notifications@github.com>
Sent At:2019 Oct. 7 (Mon.) 19:39
To:mlperf/inference <inference@noreply.github.com>
Cc:Aaron <aaron.zhong@alibaba-inc.com>; Author <author@noreply.github.com>
Subject:Re: [mlperf/inference] about code directory in the submission (#490)

you are correct, I'll fix it.
—
You

[2019-10-08 03:34] christ1ne commented on #476
For TEST03, we'd like to see the plan for distribution to label category, distribution to box aspect ratio & size, etc. to ensure the test is not prefer one implementation over another.

Thanks!

[2019-10-08 04:25] guschmue commented on #488
Yes,  after some debugging we found the same and #489 uses now strtoull().

[2019-10-08 14:21] xgu3 opened #491 "Add data type support in audit test 01 verify_accuracy.py"
I got the test01 from here `https://drive.google.com/file/d/1oAOb_I1RfGei3wr-t5mTNLmMkagbiugR/view`

The data type support shall be added, just like mlperf accuracy check script at here `https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/tools/accuracy-imagenet.py`.
So that user can have freedom to utilize data space after the end of label field.

The modification is

[2019-10-08 15:28] itayhubara opened #492 "submission checker - checking for unneeded (according to the submission rules) files"
One issue, when I make a submission run that supposes to be both accuracy and performance run I get 3 logs. we submit both files summary and details log under the performance folder and accuracy log under the accuracy folder. So the checker can check all files. What the checker asks is to copy the same files twice, ones under the performance and ones under accuracy. This is against the rules and s

[2019-10-08 15:30] nvpohanh opened #493 "LoadGen conf file improvements for v0.7"
This is a tracker for LoadGen conf file improvements for next version.

### LoadGen conf files use different benchmark naming convention
In [mlperf.conf](https://github.com/mlperf/inference/blob/master/v0.5/mlperf.conf), it uses `ssd-resnet34` and `resnet50` instead of the official naming convention, namely `ssd-large` and `resnet`. We should unify the naming convention.

### LoadGen conf files us

[2019-10-08 15:48] nvpohanh commented on #491
See #395 for example

[2019-10-08 16:15] nvpohanh opened #494 "MultiStream runtime is >100x longer than other scenarios"
This is a suggestion for next version.

Under the rules for v0.5, we require that the MultiStream scenario runs for at least 270366 queries for image benchmarks. At 20fps (and 15fps for ssd-large), this means MultiStream will take 270366/20/60 = **225mins** to run (**300mins** for ssd-large), regardless of how many samples per query or how fast the system runs. This results in runtime which is **m

[2019-10-08 16:56] nvpohanh opened #495 "LoadGen does not check if samples_per_query >= 24576 in Offline scenario"
This is a friendly reminder to all of us, and is related to #457 and #475.

Currently, it seems that LoadGen does not check if samples_per_query is not less than 24576, as required by [the rules](https://github.com/mlperf/inference_policies/blob/master/inference_rules.adoc#scenarios). It does [checks against `min_sample_count`](https://github.com/mlperf/inference/blob/master/loadgen/loadgen.cc#L94

[2019-10-08 18:10] christ1ne opened #497 "Friday submission deadline move to 1pm PST?"
Filed per request of Peter & Tom

[2019-10-08 18:46] rachithayp commented on #468
@briandersn @christ1ne Changing value to 6 seems to work better for now. Else we will have to retry a number of times to get a Valid run. I can create a PR with ">=6" value for assert. Let me know if this is acceptable

[2019-10-08 20:54] rachithayp commented on #435
so the performance_sample_count is now being set in the mlperf.conf with https://github.com/mlperf/inference/pull/489. But total_sample_count still needs to be passed from the application through QSL constructor right?

[2019-10-08 21:03] riking commented on #495
This may be best fixed by a rules update saying that the total number of samples needs to be at least 24576. That text was written when it was assumed that putting 24k samples in a single query was viable on all systems...

[2019-10-08 23:37] tjablin commented on #468
WG agrees with change.

[2019-10-08 23:46] aaronzhongii opened #498 "multistream target latency is not loaded by loadgen from conf file"
// keys that apply to MultiStream
  lookupkv(model, "MultiStream", "target_latency_percentile", nullptr,
           &multi_stream_target_latency_percentile, 0.01);
  lookupkv(model, "MultiStream", "target_qps", nullptr,
           &multi_stream_target_qps);
  if (lookupkv(model, "MultiStream", "samples_per_query", &val, nullptr))
    multi_stream_samples_per_query = static_cast<int>(val);
  if (lo

[2019-10-08 23:53] #490 closed

[2019-10-09 00:05] christ1ne commented on #491
@georgelyuan will fix this in the next release per discussion

[2019-10-09 00:13] nvpohanh commented on #498
@guschmue this looks urgent to me. thanks

[2019-10-09 00:22] aaronzhongii commented on #498
so I thought our backup plan work, but it turns out the target latency is calculated in loadgen as

      double target_latency_seconds =
          max_async_queries / requested.multi_stream_target_qps;
don't know why it's set this way, i will look into it.

[2019-10-09 00:29] aaronzhongii commented on #498
so we change the max async query to 1 and everything works. So I will cease to track this issue. But there are several target latency config settings in mlperf.conf, people might just rely on that. So keep this issue open in case people need to address it.

[2019-10-09 01:10] nvpohanh commented on #498
@aaronzhongii You're right. I don't see this `multi_stream_target_latency_ns` being used in MultiStream scenario, so maybe not that urgent now. Thanks

[2019-10-09 10:26] xgu3 opened #499 "TEST04 doesn't generate sufficient queries to make result valid"
After apply TEST04A audit.config, the loadgen will only generate limited number of queries,
Before
"pid": 51578, "tid": 51578, "ts": 141398ns : Effective Settings:
"pid": 51578, "tid": 51578, "ts": 141398ns : Scenario : Offline
"pid": 51578, "tid": 51578, "ts": 141398ns : Test mode : Performance
"pid": 51578, "tid": 51578, "ts": 141398ns : samples_per_query : **1980000**

After
"pid": 53865, "tid"

[2019-10-09 10:32] xgu3 opened #500 "TEST05 script doesn't get score from summary log"
In below code of TEST05 verify_performance.py,
        if ref_mode == "Offline":
            if re.match("Samples per second ", line):
                ref_score = line.split(": ",1)[1].strip()

The space after **Samples per second** will cause the script cannot find score, so it always fail. Because in loadgen offline log, there’s no space between ‘d’ and colon, like below.

SUT name : CSUT
Scenar

[2019-10-09 15:05] aaronzhongii opened #501 "submission checker needs to be more smart to detect ERROR in detail log"
it will report warning when it sees this line

ab19825ca48a9f6f2faa208cf1d5135598f1d8c6 check for ERROR in detailed logs

[2019-10-09 15:54] georgelyuan commented on #500
Thanks. Thought I fixed this on my end but there may have been some merge issues.
Feel free to update it on your end to see if there are further issues, while I prepare the next release.

[2019-10-09 17:34] georgelyuan commented on #500
Alex, I doublechecked the release and I see that line has already been fixed in both TEST01 and TEST05. Can you doublecheck on your end?

[2019-10-09 20:32] ritzborkar commented on #499
Thanks for bringing this up. Since Test04 runs through the performance-sample only once, it will end early. I will remove the check for INVALID results.

[2019-10-10 01:25] xgu3 commented on #500
Just pulled again and it works. I think this issue can be closed.

[2019-10-10 06:10] aaronzhongii opened #503 "TEST04-B break offline contiguous mode"
have you tried your test on your own implementation? commit c36d1f3a0404c351de45217a9d8f33925ac99caa, is contributed by NVidia nvmbreughe to fix the non-contiguous indexes sent from loadgen in offline mode. But your test04-b will break the contiguous mode, as loadgen will repeatedly send down same index, instead of contiguous indexes as before.

To fix this:
1) loadgen need to call LoadSamplesToRa

[2019-10-10 06:18] aaronzhongii commented on #499
short time also means the performance result might not be as stable as longer runs. Thus using threshold to validate pass or fail is not a valid way.

[2019-10-10 09:32] xgu3 opened #504 "2 false errors from submission-checker.py"
Just tried latest repo checker, and there’re 2 potential false errors.

1.**ERROR:main:XXX/mobilenet/Offline/accuracy has no accuracy.txt.** Generate it with accuracy-imagenet.py or accuracy-coco.py or process_accuracy.py
The rule spec doesn’t requires this accuracy.txt (only a json file is listed). The spec is here `https://github.com/mlperf/policies/blob/master/submission_rules.adoc#inference`

[2019-10-10 09:43] dshirron opened #505 "gnmt process_accuracy script"
In process accuracy script it seems that the mlperf_log_accuracy.json output should contain bpe32000 decoded sentences as the reference sentences are decoded in line 52:
ref = [e_utils._clean(s, "bpe").split(" ") for s in ref_sentences].
My understanding is that the model itself outputs bpe32000 coded sentences.
If thats the case, should benchmark's code  post processing include this BPE32000 deco

[2019-10-10 13:37] aaronzhongii commented on #504
I raised the same question before as in https://github.com/mlperf/inference/pull/473#commitcomment-35373935

But I think these are minor file adjustment issues. And Vijay has asked Peter to change the rule accordingly in last meeting.

[2019-10-10 14:14] ohadhailo opened #506 "CLA issue when submitting pull request"
Hi all,

The pull request checker claims that I need to sign the google, CLA, while I'v already done so (using ohada@hailo.ai, and hailo-mlperf@googlegroups.com).
Need your urgent help, so we could submit tomorrow.

Thanks,
Ohad

[2019-10-10 16:43] schmuell commented on #504
Yes, I know. Bunch of files that we'd want are not in the doc. I field a
issue for it here:
https://github.com/mlperf/policies/issues/6

There is no other record of the accuracy so it would be helpful for the
reviewers to have accuracy.txt,

Its not the end of the world if it is not in the submission ... I could
bulk process this after the submission is closed.

On Thu, Oct 10, 2019 at 6:37 AM AAR

[2019-10-10 18:18] ohadhailo opened #507 "TEST01 not sure what to run in verify_performance"
Hi,

**I run this line:**
$ python verify_performance.py -r mobilenet_v1/accuracy/mlperf_log_detail.txt -t mobilenet_v1/performance/mlperf_log_detail.txt

**And get this response:**
Verifying performance.
reference score = 0
test score = 0
TEST FAIL: Test score invalid

I am not sure if I'm giving the right files to the test. If I'm wrong, what files should I use?

Thanks.

[2019-10-10 18:25] aaronzhongii opened #508 "Big mlperf_log_accuracy.json is generated when running TEST01 with MultiStream mode"
WG need to decide how to push this big file to github. What we got here is 5GB of data for a single file. And similar sized file will also be generated for other test if MultiStream scenario needs to be run.

[2019-10-10 18:31] tjablin commented on #508
@bitfort Didn't you figure out how to push big files to GitHub for MLPerf Training? What did you do?

[2019-10-10 18:32] tjablin commented on #508
If it comes down to the deadline, commit the md5sum of the file and we'll fix it in post.

[2019-10-10 18:34] aaronzhongii commented on #508
This log is for auditing, so we still have one week to figure it out.

[2019-10-10 18:35] DilipSequeira commented on #508
It shouldn't be necessary to push huge log files for audit. George is working on how to manage this.

[2019-10-10 19:00] georgelyuan commented on #508
Hi Aaron,

We're aware of this issue. You can either reduce accuracy_log_probability or I have a script that I will package with the next release that can be used to truncate the file. The inference results should be mostly duplicates given the limited performance sample count so most of it would be redundant.

[2019-10-10 20:02] guschmue commented on #508
Should be maybe gzip them ?

[2019-10-10 20:03] georgelyuan commented on #508
I'm fine with that as well

[2019-10-10 20:25] DilipSequeira commented on #508
I recommend we suggest everyone do it the same way - and that way be to truncate the file to fixed length. Even zipped, it's going to be hundreds of megabytes.

[2019-10-10 20:26] guschmue commented on #506
The commit seems to be ok.
@petermattson might be able to check on the CLA.

[2019-10-10 20:39] guschmue commented on #508
got it. I think normal github repo has a 100GB limit. There is git lfs but we'd need to set this up and eventually pay.
Maybe a combination ? As long its in the script ...

[2019-10-10 22:54] briandersn commented on #498
Sorry this is a little confusing. multi_stream_target_latency_ns is only used by the unofficial MultiStreamFree scenario. MultiStream QPS and target latency are tightly coupled.

@guschmue : We should make sure multi_stream_max_async_queries is 1 for all submitters.

[2019-10-10 23:48] georgelyuan commented on #507
The summary file is mlperf_log_summary.txt
I'll update the documentation. Thanks!

[2019-10-10 23:59] nv-rborkar commented on #503
@aaronzhongii we have tried the tests internally and have not seen problems.

The test does not break the contiguous mode for Multi-stream. In case of Multi-stream, when samples_per_query < perf_sample_count, same query is repeatedly issued - samples within the query are from contiguous memory locations. As the readme points out, if samples_per_query >perf_sample_count, Test04 is not required for

[2019-10-11 00:05] nv-rborkar commented on #499
The threshold has been increased to +-20% for Single stream tests which have very short duration - 0.2ms and is +-10% for other scenarios. The check is in both directions (+ and - ) to accommodate the noise that can be seen for runs of very short times.
Is there a bigger % drift being noticed on the systems?

[2019-10-11 00:10] aaronzhongii commented on #503
We actually don't have issue with MultiStream mode, as contiguous index is somewhat maintained.
But we have problem in Offline scenario, so can you explain a little bit in detail how contiguous index mode is maintained in Offline mode?
As for the performance drop, it's about 40% from A to B because we have to call tensorflow session run for each sample instead of sending down the whole batch as pe

[2019-10-11 00:10] aaronzhongii commented on #503
We actually don't have issue with MultiStream mode, as contiguous index is somewhat maintained.
But we have problem in Offline scenario, so can you explain a little bit in detail how contiguous index mode is maintained in Offline mode?
As for the performance drop, it's about 40% from A to B because we have to call tensorflow session run for each sample instead of sending down the whole batch as pe

[2019-10-11 00:17] aaronzhongii commented on #503
I read test-04 readme carefully again, here i quote

"(TEST04-B) Issue same sample P times: In Offline scenario, the same sample is repeated P times to fill the query."

which will break contiguous index mode for Offline. And I do open this issue for Offline mode, as in the title of the issue.

[2019-10-11 00:19] nv-rborkar commented on #503
Contiguous mode is NOT maintained in Offline scenario as I said earlier and it is understood that since this is an audit test to stress SUT, it is allowed to notice performance degradation that can occur due to reading samples from non-contiguous locations.

[2019-10-11 00:21] aaronzhongii commented on #503
ok, nice to know about that. then there is no point to validate the percentage of the performance degradation, right?

[2019-10-11 00:36] nv-rborkar commented on #503
Test4-B also forms a whole batch as performance count of QSL using the same sample repeatedly in GenerateQueries  as implemented [here](https://github.com/mlperf/inference/blob/master/loadgen/loadgen.cc#L392).

[2019-10-11 00:51] nv-rborkar commented on #503
I will edit the validation check to waive Test04-B being slower than test04-A as pass. I think that should resolve this concern.

[2019-10-11 00:52] aaronzhongii commented on #503
The query from mlperf is a collection of indices. And LoadSamplesToRam load all image data to memory with a specific sequence. When query comes, if implementation is using tensorflow as framework, it needs to convert the indices into tensor, as tensorflow only takes tensor instead of indices. So the primitive way to solve that is, as in reference implementation, to copy data from loaded memory to

[2019-10-11 00:53] aaronzhongii commented on #503
thanks. much appreciated.

[2019-10-11 16:35] guschmue commented on #498
isn't 1 the default ? Don't think we change it anywhere?

[2019-10-12 03:12] guizili0 opened #509 "ssd-resnet34 cannot run on tensorflow"
tensorflow cpu version did not support NCHW version pb.

get error like bellow:
InvalidArgumentError (see above for traceback): Default MaxPoolingOp only supports NHWC on device type CPU
         [[node ssd1200/pool1/MaxPool (defined at launch_benchmark.py:105) ]]

[2019-10-12 05:28] aaronzhongii opened #510 "Syntax error when running TEST04-A/verify_test4_performance.py"
File "nvidia/TEST04-A/verify_test4_performance.py", line 124
    elif (float(test_score) > float(ref_score) and test_mode == "Single Stream":
                                                                               ^
SyntaxError: invalid syntax

it seems a '(' is forget to delete

[2019-10-12 15:32] jveejay commented on #510
@DilipSequeira can you please assign this to George, oddly I can't find him in  the list of assignees. Peter said he added him, maybe you know his id?

[2019-10-12 22:50] guschmue commented on #509
This is a duplicate of https://github.com/mlperf/inference/issues/219

[2019-10-15 01:26] guizili0 commented on #509
@guschmue Thanks. Do you have the tool to convert the NCHW version model to NHWC?

[2019-10-15 05:33] guschmue commented on #509
Not that I know of.  In theory you can just use transpose() around ops that are nchw but than you take a performance hit. We have some code in tf2onnx that deals with the reverse here https://github.com/onnx/tensorflow-onnx/blob/master/tf2onnx/optimizer/transpose_optimizer.py but it is a bit more complicated that you'd expect.
Maybe take a look at https://github.com/onnx/onnx-tensorflow ... it mig

[2019-10-15 08:18] darkrsw opened #512 "Audit test --- TEST01, unreachable code."
In TEST01/verify_accuracy.py,

(At Line 79~81)
[code]

The increment is basically unreachable. The second if statement should be "if data_perf.size != data.size:"

[2019-10-15 16:27] vilmara commented on #507
Hi @georgelyuan, does the flag -r refers to the mlperf_log_summary.txt file generated in accuracy mode and -t to the file generated in performance mode?, if so, should we include both files mlperf_log_summary.txt in the audit directory structure?, I see it is required only for performance at
 the submission_rules.adoc https://github.com/mlperf/policies/pull/16/commits/7107b86f0e9ca1026217cfdb6df47

[2019-10-15 21:34] vilmara commented on #508
Hi @guschmue / @DilipSequeira, for the TEST01 Part IV "Truncate logs to reduce accuracy log file size in preparation for uploading  bash ./truncate_log.sh <accuracy_log_file> <number of samples>" what should the number of samples to use?

[2019-10-15 21:35] DilipSequeira commented on #508
@georgelyuan?

[2019-10-15 21:42] mthmsn commented on #503
I think we are hitting this same bug. It's not 100% clear yet if it's the same bug that affects us, but it seems reasonable to assume it is related. We're looking into it further to see if it's the same.

For us, this bug isn't a question of different performance for the audit. Rather, TEST04-B makes our Offline tests never complete. Our code (also tensorflow) assumes batched indices in contiguous

[2019-10-15 21:46] georgelyuan commented on #508
Assuming one line per sample, I think 10000 samples would be reasonable.
For SSD-Large, 1000 is fine given the size of the returned results.

[2019-10-16 02:05] darkrsw opened #514 "Audit test, TEST01 needs a bit different command in `truncate_log.sh` when running on Mac."
At Line 9,
[code]
should be replaced by
[code]
when running on Mac.

Regards,
Dongsun.

[2019-10-17 16:53] georgelyuan commented on #508
Hi Itay,

Accuracy logs should be the same size as for submission. Is that not the case?

[2019-10-17 17:57] itayhubara commented on #508
I get much bigger files. This email thread is about big accuracy logs and
you also have a script to reduce the size  truncate_log.sh
Am I missing something?

On Thu, Oct 17, 2019 at 9:53 AM georgelyuan <notifications@github.com>
wrote:

[2019-10-17 18:38] itayhubara commented on #508
I know, for Test03 they are the same size. Still seems unnecessary to me
but as you wish I can push them. Note that the audits multiply the size of
the total git by more than 2 - is that what we want?

On Thu, Oct 17, 2019 at 11:32 AM AARON ZHONG <notifications@github.com>
wrote:

[2019-10-17 19:00] georgelyuan commented on #508
@guschmue Would this be an issue for our repo?

[2019-10-17 19:01] georgelyuan commented on #508
Truncating for TEST01 is fine, but I didn't think it would be necessary for TEST03.

[2019-10-18 16:38] guoheng opened #519 "loadgen build failed: test_settings_internal.h is missing"
cloned the latest repo and trying to build loadgen. But get the error below:

➜  loadgen git:(master) CFLAGS="-std=c++14 -O3" python setup.py bdist_wheel
running bdist_wheel
running build
running build_ext
building 'mlperf_loadgen' extension
gcc -pthread -B /home/guoheng/anaconda3/compiler_compat -Wl,--sysroot=/ -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -std=c++14 -O3 -fPIC -DMAJOR_VERSION

[2019-10-18 17:41] nv-rborkar opened #520 "TEST04-B WAR in main for Offline mode to provide queries which are not from contiguous memory locations"
I think we are hitting this same bug. It's not 100% clear yet if it's the same bug that affects us, but it seems reasonable to assume it is related. We're looking into it further to see if it's the same.

For us, this bug isn't a question of different performance for the audit. Rather, TEST04-B makes our Offline tests never complete. Our code (also tensorflow) assumes batched indices in contiguous

[2019-10-18 17:43] nv-rborkar commented on #520
Approved WAR from @mthmsn. Should include this fix in reference implementation for next round of MLPerf Inference.

[2019-10-18 17:44] nv-rborkar commented on #520
Quoting the WAR proposed by @mthmsn

It calls self.model.predict() once, but then tries to iterate though multiple results in the loop for idx, query_id in enumerate(qitem.query_id), which would normally cause an exception when trying to grab processed_results[idx] for any idx above 0, but it continues running the code since the exception occurred in the finally block of the previous code's except

[2019-10-20 13:50] aditvas opened #522 "To Run on Windows OS"
I want to run MLPerf - Inference Benchmark on a hardware with Windows OS. Can anyone please suggest on building a Windows binary for this?
If there already is one, Please direct me
Thank you

[2019-10-21 08:38] psyhtest commented on #522
The reference code is in Python. You should be able to run it easily.

[2019-10-21 16:56] guschmue commented on #522
For windows build loadgen with
[code]
The only difference is that there is no equivalent of (this script)[https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/run_local.sh]
so you need call main.py with its command line arguments.

[2019-10-22 12:10] sheferke opened #525 "MLPerf build problem"
It seems that when cloning the latest MLPerf version the GN is not cloned from GN git DB and those fails the mlperf build.

[2019-10-30 21:35] rachithayp commented on #509
Is there a Graph definition file available for the published TF model that can be shared? (".pbtxt" or ".pb"). Or anyone knows of an easy way to generate it?

[2019-10-31 19:01] Shama022 commented on #219
@aaronzhongii - Any success on writing a tool for transposing the model?

[2019-10-31 19:35] aaronzhongii commented on #219
We tried and failed. We are looking at other options right now.

Aaron

come from dingtalk mailbox------------------------------------------------------------------
Sender:Shama Yazdani<notifications@github.com>
Date:2019/11/01 03:01:31
Recipient:mlperf/inference<inference@noreply.github.com>
Cc:Rong, Zhong<aaron.zhong@alibaba-inc.com>; Mention<mention@noreply.github.com>
Theme:Re: [mlperf/inferen

[2019-11-04 17:27] riking commented on #510
Fixed by #516

[2019-11-04 18:31] Shama022 opened #528 "SSD-Resnet34 Inference- training script in the model source directory is broken"
SSD-Resnet34 Inference
Model source directory- https://github.com/lji72/inference/tree/tf_ssd_resent34_align_onnx/others/cloud/single_stage_detector/tensorflow/train

Problem statement- I need a NHWC model for SSD-Resnet34. The model at provided by MLPerf is in NCHW format, which is not supported by TF backend for CPU.  Since there is no good tool to do that, training the model in NHWC seems like

[2019-11-06 00:38] christ1ne commented on #528
@lji72

[2019-11-07 08:54] suntao2012 commented on #60
i found the same issue, cuda9.0+torch0.4.0, RuntimeError: CUDNN_STATUS_MAPPING_ERROR,
but when i using cu9 pytorch from this link(http://download.pytorch.org/whl/cu90/torch-0.4.0-cp27-cp27mu-linux_x86_64.whl), i got new error "**RuntimeError: CUDNN_STATUS_EXECUTION_FAILED**" like this,

`Traceback (most recent call last):
  File "inference.py", line 160, in <module>
    main(args)
  File "inferenc

[2019-11-07 08:57] suntao2012 commented on #60
@vilmara @avinashchakravarthi1

[2019-11-07 22:37] nvpohanh commented on #493
Some other thoughts:

### We should mark clearly which fields are supposed to be overridden by user.conf

### We should make [main.py](https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/python/main.py) able to load both mlperf.conf and user.conf

[2019-11-08 08:58] suntao2012 commented on #60
I found out it works fine on V100 & P40 when I used this pytorch version (http://download.pytorch.org/whl/cu90/torch-0.4.0-cp27-cp27mu-linux_x86_64.whl), but when I set CUDA_VISIBLE_DEVICES on T4, I got this error RuntimeError: CUDNN_STATUS_EXECUTION_FAILED, just like I wrote above, why is that?

[2019-11-08 14:51] vilmara commented on #60
Hi @suntao2012, for now the only inferences integrated to the LoadGen are image classification, object detection, and language translation. DeepSpeech v2 is a model candidate for coming releases

[2019-11-11 15:51] guschmue commented on #493
yes, can do.

[2019-11-12 10:02] JammyZhou commented on #525
I ran into the same problem. And I cloned GN manually to third_party folder, but there was still build failure below with 'make mlperf_loadgen'.

ERROR at //loadgen/demos/BUILD.gn:6:15: Only source, header, and object files belong in the sources of a source_set. //loadgen/demos/py_demo_single_stream.py is not one of the valid types.
              "py_demo_single_stream.py" ]
              ^-------

[2019-11-13 11:27] lsyang1111 opened #529 "Can not run inference benchmark as Docker container"
While using Docker method to run inference benchmark using the following command

`./run_and_time.sh tf resnet50 cpu`

The error message shows up.

I have tried
(1) uninstall tensorflow 1.14.0 or install tensorflow 1.14.0 again.
(2) rebuild docker image
After these steps, still stick to the same error.

[2019-11-15 07:49] #529 closed

[2019-11-15 16:15] guschmue commented on #529
I will send a PR for with the change.

[2019-11-19 16:18] guilo0 opened #535 "Object detection: postprocessing issue"
Hi,
I'm trying to run the object detection on a Linux18.04 using the following command:
[code]

Everything is running in a correct way until the post processing where i get the following error:

[code]

[2019-11-19 23:04] briandersn opened #536 "LoadGen Issues to address after v0.5"
Tracking things in a document for now so everyone can add and edit issues.
https://docs.google.com/document/d/1QdRgS-fdAK1UIiyYa1FaJ5Xn9yHR-pX7YpeukjAit7w/edit?usp=sharing

[2019-11-20 12:24] psyhtest commented on #535
Hi @guilo0, thank you for your interest in MLPerf Inference and (unofficial) [Collective Knowledge](http://cknowledge.org) workflows! Now, we haven't paid much attention to this [TensorFlow-Python workflow](https://github.com/mlperf/inference/tree/master/v0.5/classification_and_detection/optional_harness_ck/detection/tf-py) since @guschmue created the [official reference Python application](https:

[2019-11-20 12:35] psyhtest commented on #535
Some undocumented things I had to do on TX1 with Jetpack 4.2.2:
[code]

[2019-11-20 12:36] psyhtest commented on #535
By the way, did you know you could build or download a [Docker image](https://github.com/ctuning/ck-object-detection/tree/master/docker/object-detection-tf-py.tensorrt.ubuntu-18.04) with all the system dependencies unambiguously resolved?

[2019-11-20 12:42] psyhtest commented on #535
@guilo0 Please try to reinstall the COCO Python API with Cython installed:
[code]

[2019-11-20 13:06] guilo0 commented on #535
Thank you I follow all your steps and i'm coming out with such error:

`
$ ck install package --tags=tool,coco,api
# install pycocotools locally
/usr/bin/python3.7 setup.py build_ext --inplace
running build_ext
cythoning pycocotools/_mask.pyx to pycocotools/_mask.c
/usr/local/lib/python3.7/dist-packages/Cython/Compiler/Main.py:369: FutureWarning: Cython directive 'language_level' not set, using 2

[2019-11-20 13:34] guilo0 commented on #535
Forget my previous message, Error was due to a bad installation of python3-dev and multiple python version setted on my computer.

Thank you for your fast help :

[code]

[2019-11-20 13:34] #535 closed

[2019-11-20 15:06] psyhtest commented on #535
You are very welcome @guilo0!

Yes,`python3-dev` is one of the dependencies. In general, I would recommend to take a look at the [Dockerfile](https://github.com/ctuning/ck-object-detection/blob/master/docker/object-detection-tf-py.tensorrt.ubuntu-18.04/Dockerfile) for any further dependencies (as Dockerfiles don't lie!)

[2019-11-20 16:26] guilo0 commented on #535
It's just because i have a lot of different python version leaving together: python 3.7.3; python 3.6.8 and others older version of python3. So, python3-dev was not installed for version of python used to run the installation.
I am currently working with @gfursin on reproducibility, so I try not to use  dockerfile!

Thank you for your fast help @psyhtest

[2019-11-20 17:25] nvpohanh commented on #536
Related issues: #495 #493

[2019-11-21 10:54] milakov commented on #536
#318  as well?

[2019-11-26 21:17] Shama022 opened #537 "Backbone file for SSD-Resnet34 training"
The training script for SSD-Resnet34 train_ssd_large.py (line 97) at
https://github.com/lji72/inference/tree/tf_ssd_resent34_align_onnx/others/cloud/single_stage_detector/tensorflow/train
asks for path to checkpoint to fine-tune from. @lji72 could you please confirm which checkpoint file is being used for that and a link to that will be helpful.

Thanks

[2019-11-26 21:20] mneilly opened #538 "Broken link to resnet50-to-onnx.sh"
The resnet50 entry in the [supported-models](https://github.com/mlperf/inference/tree/master/v0.5/classification_and_detection#supported-models) table has a link to [resnet50-to-onnx.sh](https://github.com/mlperf/inference/blob/master/cloud/image_classification/tools/resnet50-to-onnx.sh) which appears to be broken...

[2019-11-26 21:22] ahsabali opened #539 "[classification_and_detection] How to access label values predicted during the inference benchmark run"
How to access label values predicted during the inference benchmark run? I am currently running the benchmark for resnet50v1.5 onnx model on gpu for fake imagenet data.

[2019-11-26 21:24] ahsabali opened #540 "[classification_and_detection] How is accuracy evaluated in the inference benchmark?"
How is accuracy evaluated in the inference benchmark? I am currently running the benchmark for resnet50v1.5 onnx model on gpu for fake imagenet data.

[2019-11-26 21:29] ahsabali opened #541 "[classification_and_detection] Where can we find details on data pre-processing for inference for imagenet data with resnet50v1.5 model?"
Where can we find code and details on data pre-processing for inference for imagenet data with resnet50v1.5 model?

[2019-11-27 09:19] mengdong commented on #219
can you check if you install cudnn?
[code]
note that cudnn should match your cuda version, download them here: https://developer.nvidia.com/rdp/cudnn-download

[2019-11-27 12:35] psyhtest commented on #541
Hi @ahsabali, the official script for ImageNet is [here](https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/python/imagenet.py). The preprocessed dataset takes about 29 GB in floats.

However, I'd strongly recommend to use [Collective Knowledge](http://cknowledge.org) for preprocessing. Here's how it works on a small dataset:
[code]

Unfortunately, the link for downl

[2019-11-27 12:38] psyhtest opened #542 "ImageNet 2012 validation set is no longer available"
Originally reported [here](https://groups.google.com/forum/m/#!topic/mlperf/3I0bh20uCNA).

[2019-11-29 16:40] ahsabali opened #543 "[classification_and_detection] Where can we find details on post-processing for inference for imagenet data with resnet50v1.5 model?"
Where can we find code and details on post-processing for inference for imagenet data with resnet50v1.5 model?

[2019-11-30 07:55] psyhtest commented on #543
@ahsabali what's wrong with my answer [here](https://github.com/mlperf/inference/issues/541#issuecomment-559069670)? :))

[2019-11-30 08:00] psyhtest commented on #540
We use scripts to calculate accuracy from LoadGen output. The official reference code already includes such calculation. How are you running the model?

[2019-11-30 17:30] ahsabali commented on #543
@psyhtest thank you for answering the PRE-processing question, this new question is for POST-processing.

[2019-11-30 17:34] ahsabali commented on #540
It will be very helpful if I am pointed to the code that evaluates the accuracy, so I can understand how predicted labels and scores are being evaluated.

I am running the benchmark for resnet50-v1.5 onnx model, using fake_imagenet data, with the dockerized workflow:

$ ./run_and_time.sh onnxruntime resnet50 gpu --accuracy

[2019-12-01 20:03] SuperKogito commented on #538
I think broken links are a common issue and a radical solution to this problem is automatically checking and reporting them. Luckily the new GitHub actions and  workflows help with that. I recently wrote an action that just does that. [URLs-checker](https://github.com/marketplace/actions/urls-checker) will check and report broken links, which is useful to spot similar issues to this one.

[2019-12-02 09:08] psyhtest commented on #540
[accuracy-imagenet.py](https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/tools/accuracy-imagenet.py) and [accuracy-coco.py](https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/tools/accuracy-coco.py) are for parsing LoadGen output for image classification and object detection, respectively.

[2019-12-02 09:10] psyhtest commented on #543
My bad, shouldn't have rushed answering from a phone. How about [accuracy-imagenet](https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/tools/accuracy-imagenet.py)? It's a standalone piece of code but I think an equivalent piece of code is somewhere inside the reference app too.

[2019-12-02 17:41] guschmue commented on #543
To find the post processing for resnet look at the profile for resnet:
https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/python/main.py#L78
It says it uses a dataset 'imagenet'  which is defined here:
https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/python/main.py#L38
And that definition says we use PostProcessCommon which is defined

[2019-12-02 19:41] ahsabali commented on #541
@psyhtest Thanks for the answers, this is helpful. Any ideas how much is the difference in accuracy if we skip pre-processing for validation?

[2019-12-02 20:23] psyhtest commented on #541
Do you mean, how much the accuracy can drop if you run prediction on raw JPEG? It can easily be a couple percent, if not a dozen.

[2019-12-02 21:38] ahsabali commented on #541
Yes. Any ballpark number for the minimum accuracy on raw data without pre-processing?

[2019-12-02 21:57] psyhtest commented on #541
Well, I'm debugging a case right now where the ResNet accuracy drops to
under 50%, and the lack of preprocessing is the main suspect...

On Mon, 2 Dec 2019, 21:38 ahsabali, <notifications@github.com> wrote:

[2019-12-03 15:20] ahsabali commented on #541
@psyhtest Thanks for sharing the info. Can it drop to zero? E.g., for the fake imagenet data set in the example workflow, with pre-processing the accuracy for this data is 85%.

[2019-12-03 15:44] psyhtest commented on #541
Everything is possible. In once instance, a model required normalized data, and the accuracy dropped to under 30% when we forgot to normalize the inputs.

[2019-12-04 17:16] ahsabali opened #544 "PDB python debugger not working with the dockerized workflow"
I am running the mlperf inference using dockerized workflow. When I try to use pdb to debug mlperf python code, the pdb command prompt appears, however, the pdb commands when entered get stuck. Any suggestions?

[2019-12-04 20:23] vilmara commented on #541
Hi Anton, what are the instructions to download the complete  imagenet2012 validation dataset for all models that use it?

[2019-12-05 07:14] LINYOUWEI0804 opened #545 "[classification_and_detection] ./run_local.sh: command not found"
I use [sudo ./run_local.sh tflite mobilenet gpu] will show [sudo: ./run_local.sh: command not found]

use model: mobilenet_v1_1.0_224_quant_edgetpu.tflite
use dataframe: dataset-imagenet-ilsvrc2012-val-min (500 photos)
Use hardware: coral Dev Board

How to run[Run local]

[2019-12-05 14:11] psyhtest commented on #542
Resorting to [academic torrents](http://academictorrents.com/browse.php?search=imagenet) to download this dataset would be akin to sourcing rare goods from a black market (similar to this ["Looking for Transistors"](https://www.youtube.com/watch?v=c4pCeEBNiUA) scene from a popular Soviet movie).

[2019-12-05 14:23] psyhtest commented on #545
@LINYOUWEI0804 I seriously doubt it will be possible to run the official reference code on Coral. I believe it has it's own runtime, which is not integrated into the reference code.

Having said that, I assume you are trying to run `run_local.sh` from in the same directory where it is located?

[2019-12-05 14:33] psyhtest commented on #541
Hi Vilmara,

The instructions are still exactly the same as you and other submitters used for v0.5:
[code]

Unfortunately, the underlying link is now [broken](#542), so this command does not work any more. It's not a CK issue. It's not even an MLPerf issue, if you ask me. But we are somewhat stuck. Resorting to torrents to download ImageNet would be akin to sourcing rare goods from a black market

[2019-12-08 15:23] ahsabali commented on #543
I need some help in understanding this code.

Could you explain:

1. What exactly is this [PostProcessCommon](https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/python/dataset.py#L81) code doing?

2. What exactly is this [accuracy-imagent.py](https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/tools/accuracy-imagenet.py) code doing?

[2019-12-09 02:30] LINYOUWEI0804 commented on #545
Hello, I am executing in the classification_and_detection directory

[2019-12-09 04:24] kdk3776 commented on #462
@briandersn  I am not sure about your meaning of latest master~ you mean fork and pull latest version from git ?

[2019-12-09 06:50] psyhtest commented on #545
Try to specify the full absolute path.

[2019-12-10 16:46] ahsabali opened #548 "[classification_and_detection] Predicted labels have a constant offset of 2 compared to actual labels"
When I run the inference benchmark for onnnx resnet50_v1.5 using fake imagenet data set, via dockerized workflow, I get 75% accuracy, i.e., 6 out of 8 images are predicted correctly. However, when I write a python script to predict labels for each of the image, using the pre-processing code used in mlperf inference code and the onnx resnet50_v1.5, in my code the predicted labels of 6 out of 8 imag

[2019-12-10 19:48] yihuaeyang opened #549 "Improve accuracy of documentation on TestSettings.offline_expected_qps"
https://github.com/mlperf/inference/blob/876c6e2e390b188d69675a59a71360ab39007bde/loadgen/test_settings.h#L219

Perhaps a minor issue, but it confuses me: Doesn't loadgen generates 10% more _samples_ , not _queries_ (which doesn't seem to make sense in the offline mode), than it thinks it needs to meet the minimum test duration?

[2019-12-10 20:07] yihuaeyang commented on #549
On that thought, perhaps the `offline_expected_qps` should be renamed as `offline_expected_throughput`, since it's really specify expected no. _samples_ per second, not _queries_ per second?

[2019-12-10 20:35] ahsabali opened #550 "[classification_and_detection] Why is there an offset of '-1' in post processing for imagenet dataset?"
Why is there an offset of '-1' in post processing for imagenet dataset here:
[https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/python/main.py#L38](https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/python/main.py#L38)

[2019-12-10 21:52] yihuaeyang commented on #549
Another similar "typo" seems also on the following line:
https://github.com/mlperf/inference/blob/876c6e2e390b188d69675a59a71360ab39007bde/loadgen/test_settings.h#L274

Am I understanding it correctly that specifying `performance_issue_unique = true` shall cause QSL to load unique _samples_ , not just unique _queries_ ? In principle, 2 queries with overlapping but not the same sets of samples are

[2019-12-10 22:25] guschmue commented on #550
that is how the models are trained - class 1 is item 0 in the label list.

[2019-12-10 23:54] yihuaeyang commented on #549
Also here:
https://github.com/mlperf/inference/blob/876c6e2e390b188d69675a59a71360ab39007bde/loadgen/test_settings.h#L278

the "same _query_" should really be "same _sample_" in this sentence?

[2019-12-11 00:18] yihuaeyang opened #551 "Unnecessary and confusing type alias used for sampe offset"
https://github.com/mlperf/inference/blob/876c6e2e390b188d69675a59a71360ab39007bde/loadgen/loadgen.cc#L366

https://github.com/mlperf/inference/blob/876c6e2e390b188d69675a59a71360ab39007bde/loadgen/loadgen.cc#L370

In both lines above, the type of `same_sample` and `sample_i` should both be simply `uint64_t` (same as `TestSettings.performance_issue_same_index`), instead of the user-defined alias `Q

[2019-12-11 16:33] ahsabali commented on #550
The prediction output by the model is the index of max score, e.g., 188, according to your explanation, the offset should be +1 and class label should be 188+1=189, however, this is not the case, the offset is -1 and the class label is evaluated as 188-1=187. Any ideas why this is the case?

[2019-12-16 08:53] Charleshzhang opened #552 "Will there be a C++/C version of this?"
Seems the MLPerf app is using C++, so if you already have a C++ version of MLPerf inference, Will it go open source? Not an issue, just a question, Many thanks.

[2019-12-17 02:41] Charleshzhang commented on #552
sorry guys, I just saw the cc files, will check it out.

[2019-12-17 02:41] #552 closed

[2019-12-17 07:57] aditvas commented on #522
Thanks

[2019-12-17 11:26] psyhtest commented on #552
@Charleshzhang You could also study the [TFLite program](https://github.com/ctuning/ck-mlperf/tree/master/program/image-classification-tflite-loadgen) [we](http://dividiti.com) used to get over a hundred results for our v0.5 submission.

[2019-12-17 17:39] #522 closed

[2019-12-17 18:07] guschmue commented on #550
For example:
```ILSVRC2012_val_00000001.JPEG```

In val_map.txt is has
```val/ILSVRC2012_val_00000001.JPEG  65```

65 is a sea snake:
https://gist.github.com/yrevar/942d3a0ac09ec9e5eb3a#file-imagenet1000_clsidx_to_labels-txt-L66
Note that the labels start at 0.

If you run this against the mlperf resnet50 reference model the prediction is 66 because resnet50 is trained with 0 being reserved.

[2019-12-17 18:08] #550 closed

[2019-12-18 08:37] kdk3776 opened #554 "I want to know 'Test Parameters Used' in MLPerf Results Summary"
![image](https://user-images.githubusercontent.com/55476509/71069743-a7bd7100-21bc-11ea-980b-c115061d6fbc.png)

1)max_async_queries
2)min_query_count
max_q00uery_count
3)qsl_rng_seed
4)sample_index_rng_seed
5)schedule_rng_seed
6)Min duration
Max duration

I want to know what those parameters  stand for?

[2019-12-19 15:56] ahsabali opened #555 "[classification_and_detection] Why AREA interpolation is used for resizing during preprocessing for imagenet data for inference?"
Why AREA interpolation is used for resizing during preprocessing for imagenet data for inference, in [this code](https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/python/dataset.py#L172).

Whereas, BILINEAR interpolation is used during training, in [this code](https://github.com/mlperf/training/blob/master/image_classification/tensorflow/official/resnet/imagenet_pre

[2019-12-19 16:49] guschmue commented on #555
There is some discussion about this here:
https://github.com/mlperf/inference/issues/201

If I remember this correctly the tensorflow implementation is different that bilinear in pil or opencv which showed in us not meeting the published accuracy. With the current reference implementation accuracy is exactly what it is suppose to be.

[2019-12-19 18:12] psyhtest commented on #555
AREA is only used for ResNet. You can use BILINEAR for ResNet too with a small loss of accuracy.

[2020-01-28 10:47] psyhtest commented on #542
A related [PyTorch issue](https://github.com/pytorch/vision/issues/1453).

[2020-01-31 13:14] gfursin commented on #542
For now I added an error message in our CK-related packages (https://github.com/ctuning/ck-mlperf/issues/43#issuecomment-580726772) . If someone finds a solution to get a public access to ImageNet, I will update our CK packages ...

[2020-02-03 02:34] guizili0 opened #557 "Can update the TF ssd-mobilenet PB file"
Hi,

The TF ssd-mobilenet PB file in MLPerf used the PB file in tensorflow/models, but this file this too old, the postprocessing part use a large number of operation to do the multi-batch multi-class NMS. Recently Google had release a new core operator named CombinedNonMaxSuppression and tensorflow/model has add this implement in
https://github.com/tensorflow/models/blob/master/research/object_de

[2020-02-07 01:33] ggeor84 opened #559 "Something wrong with ds.last_loaded"
If my understanding is correct, ds.last_loaded is supposed to capture the timestamp of when the dataset is last loaded. However, I think it's used incorrectly in the main.py script:
v0.5/classification_and_detection/python/main.py

    add_results(final_results, "{}".format(scenario),
                result_dict, last_timeing, time.time() - ds.last_loaded, args.accuracy)

The difference time.time(

[2020-02-07 20:49] guschmue commented on #559
The result tracking in the reference app pre-dates loadgen - we’ll remove it going forward.
Only the loadgen output (aka mlperf_log_summary.txt ) is the truth for the submission.

From: ggeor84 <notifications@github.com>
Sent: Thursday, February 6, 2020 5:33 PM
To: mlperf/inference <inference@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [mlperf/inference] Something w

[2020-02-07 21:05] ggeor84 commented on #559
mlperf_log_summary.txt does not contain any information:

No warnings encountered during test.

1 ERROR encountered. See detailed log.

Here is mlperf_log_detail.txt

"pid": 23352, "tid": 23352, "ts": 3493ns : LoadgenVersionInfo:
"pid": 23352, "tid": 23352, "ts": 3493ns : version : .5a1 @ 16a5661eea
"pid": 23352, "tid": 23352, "ts": 3493ns : build_date_local : 2020-02-05T15:21:45.159247
"pid": 233

[2020-02-10 17:15] vilmara opened #560 "WARNING : Logging allocation detected: "tid" : 4149"

[2020-02-10 17:15] #560 closed

[2020-02-11 03:25] dumaaan opened #561 "main.py: error: unrecognized arguments: --queries-offline 20"
I was trying to run _GettingStarted.ipynb_ in _v0.5/classification_and_detection_ directory, but when running the cell at step 4:
`!./run_local.sh onnxruntime mobilenet cpu --accuracy`
I get the following error message: `main.py: error: unrecognized arguments: --queries-offline 20`

I have defined the directories as follows in step 3:
[code]

I have downloaded the models and run the create fake im

[2020-02-11 03:34] dumaaan commented on #561
Also I have found that removing `os.environ['EXTRA_OPS'] ="--queries-offline 20 --time 10 --max-latency 0.2"` gives the following error message:

[code]

[2020-02-11 04:48] guschmue commented on #561
Hm, I ran this many times but not recently. Are there more messages from onnx runtime ?
This is the model from zenodo and onnxruntime-1.1 ?

[2020-02-11 04:52] dumaaan commented on #561
Yes, the model if from zenodo, onnxruntime is version 1.1.1

[2020-02-11 05:24] dumaaan commented on #561
Could this be an error related to onnxruntime?

[2020-02-11 06:51] dumaaan commented on #561
I've also found that removing `--queries-offline` makes it work, albeit resulting in an accuracy of 62.5%

[2020-02-11 20:56] guschmue commented on #561
```--queries-offline``` is no longer an valid argument (guess we forgot to update the tutorial. we'll update it for v0.7).
The accuracy is not really meaningful since the tutorial uses a fake dataset with just a couple of images.

[2020-02-12 00:14] christ1ne commented on #557
@guschmue  any feedback?

[2020-02-12 01:47] dumaaan commented on #561
ok, thank you!

[2020-02-12 01:47] #561 closed

[2020-02-12 20:49] guschmue commented on #557
I do not think we want to change the reference model.

[2020-02-13 09:57] guilo0 opened #562 "Error installing Loadgen: "command 'x86_64-linux-gnu-gcc' failed with exit status 1""
Hi all,

I'm trying to install MLPerf Inference Benchmarks locally without docker and I get some issue while trying to install Loadgen:

I'm currently running this on:
- Ubuntu 18.04 ( with all latest upgraded installed )
- Python 3.7.5

And I get the following output when running the command `CFLAGS="-std=c++14" python setup.py develop --user` :

[code]

Do you have any ideas for me ?
Herve

[2020-02-13 11:40] psyhtest commented on #562
Hi @guilo0, you probably need to install `pybind` first:
[code]
and try again.

But do you know you can build LoadGen C++ with CK as follows:
[code]

[2020-02-13 11:41] psyhtest commented on #562
See this thread: https://github.com/mlperf/inference/issues/230

The conclusion was that pybind is not needed if you install with CMake (which is the way CK uses).

[2020-02-13 12:00] guilo0 commented on #562
I tried both solution but unfortunatly both failed :

after pybind reinstallation
[code]
using CK:

[code]

[2020-02-13 12:47] psyhtest commented on #562
We have followed up the CK issue offline (via the CodeReef Slack), and it turned out to be the case of CK detecting a previously cloning repository. Without it, everything works as expected.

[2020-02-13 12:49] #562 closed

[2020-02-13 12:53] guilo0 commented on #562
Thank you @psyhtest for your support!

[2020-02-13 12:54] psyhtest commented on #562
You are welcome!

[2020-02-13 12:56] psyhtest commented on #557
I agree. It would be nice to get better accuracy, but the whole reason for keeping this model for v0.7 seems to allow comparisons between v0.5 and v0.7 data.

[2020-02-13 13:54] psyhtest commented on #557
It's an intriguing idea the Open division...

[2020-02-13 23:26] samhithaaaa opened #563 "MultiStream TestScenario is always INVALID"
![Screen Shot 2020-02-13 at 3 10 16 PM](https://user-images.githubusercontent.com/36496141/74487018-4855a780-4e73-11ea-9f02-bddcf8ceb26c.png)
![Screen Shot 2020-02-13 at 3 10 16 PM](https://user-images.githubusercontent.com/36496141/74487745-28bf7e80-4e75-11ea-8fb1-64e459f9fdb8.png)
![Screen Shot 2020-02-13 at 3 10 36 PM](https://user-images.githubusercontent.com/36496141/74487751-2eb55f80-4e75-11

[2020-02-14 01:23] psyhtest commented on #563
Hi @samhithaaaa, your SUT (system-under-test) takes 76.8 ms per query with 4 samples per query, which is why the result gets marked as INVALID. Can you try to reduce the number of samples per query please? (Are you using the v0.5 reference code? With which model?)

[2020-02-14 01:24] psyhtest commented on #563
For example, for ResNet, each query should be returned within 50 ms.

[2020-02-14 04:52] samhithaaaa commented on #563
Hi,I tried reducing the samples per query to 1,2,3 respectively but doesn't help.

[2020-02-14 04:53] samhithaaaa commented on #563
Yes,I am using v0.5 model and resnet model.

[2020-02-14 14:09] psyhtest commented on #563
@samhithaaaa Can you share the sequence of instructions you used to run please? How did you reduce the samples per query?

[2020-02-14 18:19] samhithaaaa commented on #563
./run_local.sh tf resnet50 cpu --count 100 --samples-per-query 1 --scenario MultiStream

[2020-02-14 18:20] samhithaaaa commented on #563
This is the command I had given.

[2020-02-14 18:23] samhithaaaa commented on #563
I have also tried by giving samples per query upto 4 in interval of 1 like exaple:--samples-per-query 1,--samples-per-query 2,--samples-per-query 2,saples-per-query 3 ,--samples-per-query 4

[2020-02-14 18:30] psyhtest commented on #563
With those commands, did you see any changes in the log files please?

[2020-02-14 18:41] samhithaaaa commented on #563
No,its the same.I am attaching the screen shot for your
![Screen Shot 2020-02-14 at 10 39 32 AM](https://user-images.githubusercontent.com/36496141/74558107-76d88e80-4f16-11ea-828f-2106a7d4f092.png)
![Screen Shot 2020-02-14 at 10 39 44 AM](https://user-images.githubusercontent.com/36496141/74558120-7cce6f80-4f16-11ea-8caf-b7c19f142119.png)

 reference

[2020-02-14 19:10] psyhtest commented on #563
I've had another look, and I miscounted the number of digits: your original result was 768 ms, not 76.8 ms. Reducing the number of samples per query works, but gives you 350 ms with 1 sample per query. This is 7 times greater than the required latency constraint for ResNet of 50 ms. Unless you optimise your SUT, the result will be INVALID with any number of samples per query.

[2020-02-14 19:12] samhithaaaa commented on #563
Yes,it was 768ms.and how do I optimize the SUT?could you please help me on how to process on that?

[2020-02-14 19:14] samhithaaaa commented on #563
I have also tried on x_86 architecture that does not work either

[2020-02-14 19:14] psyhtest commented on #563
Also, with the 350 ms latency you need around 175 queries to satisfy the minimum duration of 60 s.

[2020-02-14 19:17] psyhtest commented on #563
What's your SUT, if I may ask? My Raspberry Pi 4 is slightly faster with the properly configured TFLite v.1.15 software (which unfortunately wasn't the case for my v0.5 submission.)

[2020-02-14 19:19] psyhtest commented on #563
Oh, I know many optimisation techniques from my compiler background: parallelization, vectorization, locality improvement, software pipelining, instruction scheduling...

[2020-02-14 19:21] samhithaaaa commented on #563
I am currently using arm architecture using Loadgen

[2020-02-14 19:22] samhithaaaa commented on #563
with tensorflow 1.14 version

[2020-02-14 19:25] psyhtest commented on #563
Yes, but with what kind of Arm device?

You may want to take a look at our Collective Knowledge workflows for ArmNN which we used extensively for hundreds of MLPerf Inference v0.5 submissions: https://github.com/ARM-software/armnn-mlperf

[2020-02-14 19:29] psyhtest commented on #563
The best ResNet result was on the Mali GPU in HiKey960 - just over 200 ms. Still 4 times higher than the MutiStream latency constraint.

[2020-02-14 19:34] samhithaaaa commented on #563
It is ARMV8 architecture customized for our own company purpose

[2020-02-14 19:42] psyhtest commented on #563
Some processors are just not cut out to meet this constraint. The single-threaded code of ArmNN should be pretty well optimized. Maybe with 16+ Cortex-A-class cores the constraint can be met.

[2020-02-17 19:53] attafosu opened #564 "Random loadgen logging issues on windows: Empty mlperf_log_summary.txt after run"
In majority of runs on windows the logs are not completely written.
The "mlperf_log_summary.txt" is mostly empty, and in those cases, the "mlperf_log_detail.txt" appears incomplete: The performance time usually found at the end do not get logged.

Another related issue is that in Offline scenario, even after completion, the "mlperf_log_summar.txt" reports the wrong 'Samples per second' (Inf). I pr

[2020-02-19 14:50] psyhtest commented on #563
I think [Ampere Computing](https://amperecomputing.com)'s server-class [products](https://amperecomputing.com/product/) with customized 32 and 64 cores running at up to 3.3 GHz would appear to be sufficiently equipped.

[2020-02-19 16:50] #563 closed

[2020-02-25 19:58] psyhtest commented on #229
Not sure about that if the model stays the same.

[2020-02-26 04:17] kdk3776 opened #565 "I want to know metric of single stream in v0.5 results"
![image](https://user-images.githubusercontent.com/55476509/75311373-e432da80-5899-11ea-94ee-db6fdb1d10ee.png)
In log summary, I can see that it is nano second of 90 percentile latency.

![image](https://user-images.githubusercontent.com/55476509/75311435-147a7900-589a-11ea-9fee-07b2da5257ba.png)

Screen shot is closed Division performance report.

Intel(R) Xeon(R) CPU E5-2630 v4 @ 2.20GHz

single

[2020-02-26 09:31] psyhtest commented on #565
Hi Kwan, LoadGen measures **nano**seconds. The table converts this to **milli**seconds for readibility.

You are actually referring here to SSD-ResNet on Habana's Goya. Here is the LoadGen log:
https://github.com/mlperf/inference_results_v0.5/blob/master/closed/Habana/results/Goya_1/ssd-large/SingleStream/performance/run_1/mlperf_log_summary.txt#L7

It's actually 3.86 ms, not 3.85 ms - it's an art

[2020-02-27 10:15] kdk3776 commented on #565
Oh! Thank you!

[2020-02-27 10:15] kdk3776 commented on #565
Thank you! Anton!

[2020-03-04 03:07] ShenTonyM opened #566 "Inconsistence between .ckpt and .pb in ssd-resnet34 1200x1200 tensorflow."
Hi all,

I found that the .pb and .ckpt provided by mlperf in ssd-resnet34 1200x1200 tensorflow may be inconsistent.

I utilized [eval_ssd_large.py](https://github.com/mlperf/inference/blob/master/others/cloud/single_stage_detector/tensorflow/train/eval_ssd_large.py) to test the performance of .ckpt, but average precision (AP) was just 0.

Then, I used [export_graph.py](https://github.com/mlperf/i

[2020-03-04 06:24] kdk3776 opened #567 "I got Imagenet Dataset from my friends ~ I want to use~"
![image](https://user-images.githubusercontent.com/55476509/75850820-7d7a6780-5e2b-11ea-8630-6bd7d7d6ad3e.png)

It said  No such file or directory: 'imagenet_data/annotations/instances_val2017.json'

![image](https://user-images.githubusercontent.com/55476509/75850986-e82ba300-5e2b-11ea-87f9-9fef814e479c.png)

Here is the directory of imagenet_data which is DATA_DIR

I guess this is because I don'

[2020-03-04 06:34] kdk3776 opened #568 "I tried to run MLperf on my lab server gpu"
I tried to run MLperf on my lab server gpu

I access to server by ssh

I cloned MLperf and tried to run ~
![image](https://user-images.githubusercontent.com/55476509/75851455-0e057780-5e2d-11ea-98e5-fe8facccae61.png)

It keep saying that No module named queue.

I didn't have this problem when I using my desktop.

I guess I need to download queue module.

pip install queuelib

I did this.
![image](

[2020-03-04 07:55] psyhtest commented on #567
Kwan, you must use ImageNet with ResNet or MobileNet, not with SSD-MobileNet or SSD-ResNet. It appears you are trying SSD-MobileNet with ImageNet now.

[2020-03-04 09:42] kdk3776 commented on #567
@psyhtest

Oh right!

I tried ~

Now it wants val_map.txt

Do you know how I can make it?
I tried to find it with "find" program but it wasn't there

![image](https://user-images.githubusercontent.com/55476509/75866109-e8d23280-5e47-11ea-9ada-993a1d733b1e.png)

[2020-03-04 09:43] kdk3776 commented on #567
![image](https://user-images.githubusercontent.com/55476509/75866143-fa1b3f00-5e47-11ea-96a2-81ecab2a4bb9.png)

[2020-03-04 09:54] psyhtest commented on #567
Kwan, referring you to the CK instructions [here](https://github.com/mlperf/inference/tree/master/v0.5/classification_and_detection/#using-collective-knowledge-ck):
[code]
Copy this file to `imagenet_data/val_map.txt` (note you need to rename it).

[2020-03-04 09:55] psyhtest commented on #568
Maybe you need to repeat this with python3?
[code]

[2020-03-04 10:57] kdk3776 commented on #568
![image](https://user-images.githubusercontent.com/55476509/75872858-44a1b900-5e52-11ea-9aab-61a95b6213aa.png)

Still not working...

It said Requirement already satisfied~

Um~ do you have any other idea~?

[2020-03-13 07:26] lji72 commented on #451
@psyhtest @deeplearningfromscratch , I update channel_last pb model on  https://zenodo.org/record/3708755#.XmszXqgzY2w. At the same time, I share pb2tflite tools at: https://github.com/lji72/inference/tree/master/others/cloud/single_stage_detector/tensorflow and have given pull request.

[2020-03-13 09:29] lji72 commented on #229
@psyhtest  I update channel_last pb model on https://zenodo.org/record/3708755#.XmszXqgzY2w. At the same time, I share pb2tflite tools at: https://github.com/lji72/inference/tree/master/others/cloud/single_stage_detector/tensorflow and have given pull request. pb2tflite process has sucessed using tf.1.12 and NHWC format pb model

[2020-03-13 09:36] lji72 commented on #219
@vilmara  Cpu only supports channel_last format model , I update channel_last pb model on https://zenodo.org/record/3708755#.XmszXqgzY2w.

[2020-03-16 01:54] ShenTonyM commented on #451
@lji72
Thanks for your help in providing the latest the nhwc.pb
I have a little doubt that the structure of the [latest pb](https://zenodo.org/record/3345892/files/tf_ssd_resnet34_22.1.zip?download=1) and the [former pb](https://zenodo.org/record/3708755#.XmszXqgzY2w) is a bit difference, specifically in the anchor part. I wonder whether the .ckpt and the corresponding frozen .pb tools have been m

[2020-03-17 07:20] lji72 commented on #451
@ShenTonyM  update latest ckpt at: https://zenodo.org/record/3712664#.XnB1D8eP63A

[2020-03-17 07:22] lji72 commented on #451
@ShenTonyM  I used lji72 export_graph.py to export pb model

[2020-03-17 07:24] lji72 commented on #566
@ShenTonyM  you can try lateset ckpt and pb model at:https://zenodo.org/record/3712664#.XnB1D8eP63A

[2020-03-17 14:53] guschmue commented on #568
if you call ```python3 setup.py develop``` in v0.5/classification_and_detection it should install everything you'd need. Never seen an issue with queue.Queue but I only use anaconda.

[2020-03-17 23:28] aaronzhongii commented on #219
accuracy validated mAP=22.761% on both cpu and gpu. Thanks for the help.

[2020-03-18 06:40] milakov opened #574 "How to build loadgen with gprof support"
Hi,

I am building mlperf loadgen C++ lib with `make mlperf_loadgen`
I would like to profile my harness with gprof, for that I need to pass `-pg` command line option both to compiler and linker. I am new to `gn` and `ninja`, I honestly spent few hours trying to figure out how to pass `-pg` with this build system and utterly failed. I am probably missing something obvious, any hints on where should

[2020-03-18 12:23] kdk3776 commented on #568
@guschmue

When I type python --verstion

It said python 2

So I changed it
![image](https://user-images.githubusercontent.com/55476509/76960323-8ce6ce00-695e-11ea-9715-4ef46ce31b87.png)

![image](https://user-images.githubusercontent.com/55476509/76960341-940ddc00-695e-11ea-9469-496a2a2e4a41.png)

Now it said this one

Python 3 this one too
![image](https://user-images.githubusercontent.com/55476

[2020-03-18 12:25] kdk3776 commented on #567
@psyhtest

Thank you !

When I download this

$ ck install package --tags=image-classification,dataset,imagenet,aux

There was val_map with different name ~

I just brought it and change name to val_map and it works!

Thank you!

[2020-03-18 14:57] guschmue commented on #568
ah, don't change /usr/bin ... if might break some apps that depend on python2. Maybe do something like ```alias python=/usr/bin/python3```.
But to fix the original issue:
[code]

[2020-03-18 15:08] guschmue commented on #574
cmake works as well if that helps:
[code]
If you want to pass in extra flags:
[code]
should work.

[2020-03-18 19:47] psyhtest commented on #574
@guschmue is right. We [added](https://github.com/mlperf/inference/pull/239) CMake support a while back.

@milakov You can also build LoadGen from scratch using Collective Knowledge:

[code]

This automatically downloads the MLPerf Inference repo (this one), detects your compiler, CMake, Python, etc.

[2020-03-19 06:56] psyhtest commented on #567
@kdk3776 Always happy to help.

[2020-03-19 07:44] milakov commented on #574
@guschmue and @psyhtest cmake works like a charm for me! `-DCMAKE_CXX_FLAGS=-pg -DCMAKE_EXE_LINKER_FLAGS=-pg -DCMAKE_SHARED_LINKER_FLAGS=-pg` command line arguments for the cmake invocation do the job. Thanks a lot!

[2020-03-19 07:44] #574 closed

[2020-03-23 01:59] ShenTonyM commented on #566
Hi @lji72 , many thanks for your help. Your latest .ckpt solves my problem.

[2020-03-23 01:59] #566 closed

[2020-03-23 02:00] ShenTonyM commented on #451
Hi @lji72 , many thanks for your help. My problem is solved.

[2020-03-30 09:04] lji72 commented on #537
@Shama022  https://zenodo.org/record/3712664#.XoGvkogzY2x

[2020-03-30 09:05] lji72 commented on #528
@ christ1ne  @Shama022
I have fixed it at:
https://github.com/lji72/inference/tree/tf_ssd_resent34_align_onnx/others/cloud/single_stage_detector/tensorflow/train

[2020-03-30 09:06] lji72 commented on #509
Cpu only supports channel_last format model , I update channel_last pb model on https://zenodo.org/record/3708755#.XmszXqgzY2w.

[2020-04-01 01:22] leejaymin commented on #567
@psyhtest Thanks

[2020-04-07 07:41] kdk3776 opened #576 "MultiStream Target Latency~"
<img width="200" alt="스크린샷 2020-04-07 오후 4 29 12" src="https://user-images.githubusercontent.com/55476509/78642336-85776c80-78ed-11ea-91de-cf2ec1f683cd.png">

Now I tried to run cpu pytorch resnet50 in MultiStream scenario.
Even though I tried to change Samples_per_query as 1.
I still got invalid because my cpu doesn't  meet target latency.
I got valid result  when I run mobilenet. So I th

[2020-04-07 07:52] psyhtest commented on #576
ResNet has ~7x more GOPS than MobileNet (7.8 vs. 1.1), so yes, it is slower.

The values in `LoadGen.cc` are defaults. They can be overridden by a config file.

[2020-04-07 08:07] kdk3776 opened #577 "About latency in MultiStream."
What I know is that MultiStream send multi samples per query.
Ex) 3 samples per one query.

1) When they return,  three samples return together or 1 samples each?
1-2) If they return together, they will have same latency?
1-3) If they return separately, they will have different latency?

2)When we see in parameters used, there is min_query_count(=24576).
I tried with different Samples_per_query. I

[2020-04-08 04:38] kdk3776 commented on #576
@psyhtest Anton~

Can you let me know the detail about config file~?
Where I can find it and how can I change with it?

Thank you!

[2020-04-08 07:22] kdk3776 opened #578 "Is mlperf inference able to run on Windows?"
I want to run mlperf on windows.
I have been running mlperf on linux.
I am wondering it is possible to run mlperf on window.

Thank you always!

[2020-04-08 07:24] kdk3776 commented on #578
I want to know mac too!

[2020-04-08 13:58] guschmue commented on #578
yes, loadgen and the python scripts work on windows. The shell scripts like run_local.sh don't so you need to make up the command line to the python script manually.

[2020-04-08 14:02] guschmue commented on #576
the config file is here https://github.com/mlperf/inference/blob/master/v0.5/mlperf.conf
The values in there are the once you'd need for a valid submission.

[2020-04-09 01:26] kdk3776 commented on #578
@guschmue

Thank you so much!
I bet mac work too right?

[2020-04-09 01:30] kdk3776 commented on #576
@guschmue

I clone git hub about last year august.
In my clone directory, there is no mlperf.conf. I mean in v0.5
Should I clone again? or I can just download conf file.

[2020-04-09 13:55] guschmue commented on #578
I remember there was some PR to fix loadgen on osx so I assume somebody used this.

[2020-04-09 13:59] guschmue commented on #576
This file came in 9/5/2019, so yes, you need to do a 'git pull'.

[2020-04-10 17:46] sindhujapr opened #579 "Using MobileNetV2 with TensorFlow Lite Benchmarking."
Goal: Compare performance of MATLAB Coder with TFLite on CPU.

I have used instructions in the "Getting Started" guide (https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/GettingStarted.ipynb) to run the TFLite benchmark using the MobileNetV1 model (from here: https://github.com/mlperf/inference/tree/master/v0.5/classification_and_detection#supported-models):

./run_

[2020-04-13 03:53] LJ-lijian opened #580 "Offline and Server scenario problems"
I use C++ api, but there is something wrong wthin mlperf::c::StartTest() function when finish all test:
pthread_cond_wait@* L185 PC: 0x7fffe897636
in mlperf::loggingLLAsyncLog::GetLatenciesBlocking(unsigned long)（）
in mlperf::logging::Logger:GetLatenciesBlocking(unsigned long)

can help me what's wrong with my test?

[2020-04-13 03:56] LJ-lijian opened #581 "MultiStream scenario problem:ERROR:Attempted to complete a sample twice"
when finished test of MultiStream scenario, there ara errors in mlperf_log_detail.txt： ERROR:Attempted to complete a sample twice，what's wrong in the test?

[2020-04-13 10:47] psyhtest commented on #581
First of all, what is your test?

[2020-04-13 10:49] psyhtest commented on #578
Yes, @ens-lg4 used LoadGen on Mac (but may be not the official app, only CK implementations).

[2020-04-14 23:18] psyhtest commented on #579
Hi @sindhujapr, I'm not sure why you want to use the MLPerf workflow for this purpose. I doubt you need any particular LoadGen scenarios (SingleStream, MultiStream, Server, Offline), as your "MATLAB Coder" most likely doesn't. Also, the official workflow specifically assumes a handful of models. You can extend it for sure, but you may be better off using one of the customizable and extensible [CK

[2020-04-15 04:07] LJ-lijian commented on #581
do you mean what's the mode i test? i test performance mode.
I found the error is coused by two times call mlperf::QuerySamplesComplete() function.
thank you anyway.

[2020-04-15 08:09] psyhtest commented on #581
It sounds that the issue was with your implementation. Glad to hear you've solved it. Please resolve the issue then.

[2020-04-15 09:53] kdk3776 opened #583 "About Server scenario"
Hi guys! Thank you always!

I tried to run server scenario while I was running it. I had some question about the scenario.

1) About Server metric.

What I know that the metric is queries per second.
![스크린샷_2020-04-15_18-52-16](https://user-images.githubusercontent.com/55476509/79323300-fbf91780-7f48-11ea-8f2c-273c43b915e7.png)

I know that usually metric is on the top of the log_summary.

1-1) On

[2020-04-16 03:21] kdk3776 opened #584 "Running MultiStream with tflite on mobilenet"
![1](https://user-images.githubusercontent.com/55476509/79407851-ef220580-7fd4-11ea-9dc7-faa7ab571d90.jpg)

I tried to run MultiStream with tflite on mobilenet.

When I set samples per query as 1, there is no error sign.
But if I set samples per query more than 1, I can see message on screen.

"Got 2(3,4 depend on samples per query) but expected 1 for dimension 0 of input 88.

Q) I get valid resul

[2020-04-16 03:36] kdk3776 opened #585 "Running Offline with tflite on mobilenet"
![2](https://user-images.githubusercontent.com/55476509/79411592-2517b780-7fde-11ea-8293-709bf4fe1a01.png)

I tried to run Offline with tflite on mobilenet.

I got message "Got 32 but expected 1 for dimension 0 of input 88"

I got similar message when I run Multi Stream scenario when I changed samples per query.

I guess 32 stands for number of query.

Q) I wonder if I let it be like that, it will

[2020-04-16 04:46] guschmue commented on #585
32 is the batch size. Maybe after conversion the tflite model takes as input only batchsize 1?

[2020-04-17 01:44] kdk3776 commented on #585
@guschmue
What do you mean after conversion~?
Maybe in this context tflite can not handle Offline and Multi Stream scenario?

[2020-04-17 16:45] guschmue commented on #585
when you convert to tflite you'd normally specify the shape, like here:
https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/tools/resnet50-to-tflite.sh#L22
If the first dim (aka the batchsize) is not None, you can pass only that specific batchsize, else you get the error you see. You can pass in ```--batchsize 1``` into the mlperf app but that is basically the same as

[2020-04-22 13:01] kdk3776 commented on #568
[1]+  Terminated              python3
dongkwan@srp:/usr/bin$ python
Python 2.7.12 (default, Oct  8 2019, 14:14:10)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

KeyboardInterr

[2020-04-23 07:42] kdk3776 commented on #585
@guschmue
./run_local.sh mobilenet cpu tflite --max-batchsize 32

I got valid result on tflite offline

[2020-04-23 07:53] kdk3776 commented on #585
I used --max-batchsize. It seems working with --maxbatchsize 1 as you said.

dongkwan@tux ~/바탕화면/inference-master/tmp/inference/v0.5/classification_and_detection $ ./run_local.sh mobilenet cpu tflite --max-batchsize 64 --scenario Offline
model//mobilenet_v1_1.0_224.tflite
test from main
INFO:main:Namespace(accuracy=False, backend='tflite', cache=0, count=None, data_format=None, dataset='imagenet_m

[2020-04-23 08:05] kdk3776 commented on #585
@guschmue
When I run tflite on other backend it said samples per query is 24576 and query was 1. I thought that was batchsize. Isn't it?

[2020-04-23 08:13] kdk3776 opened #589 "Can I think it as valid result"

[2020-04-23 08:14] #589 closed

[2020-04-23 14:52] guschmue commented on #585
For Offline scenario all samples come in 1 query. By default we use a batchsize of 32 to send this to the runtime but if the model has a input shape [1,...] it supports only batchsize 1 and --max-batchsize will make us send that. Of course that won't do much good for your performance - one would need to check if that model can be converted with a None for batchsize.

[2020-04-28 12:40] sindhujapr commented on #579
Thank you for getting back to me @psyhtest . We should be able to mimic LoadGen scenarios through the code generated by MATLAB Coder. I was wondering if you had any suggestions on extending the MLPerf workflow with MobileNet2. I was thinking about extending it with this MobileNetV2 model: https://www.tensorflow.org/lite/guide/hosted_models.

I agree that comparing against MKL-optimized TensorFlow

[2020-04-30 00:43] ahsabali opened #591 "Measuring time on gpu vs cpu"
Is there a difference in measuring time on cpu and gpu, e.g., waiting for gpu to complete computation before we stop measuring the execution time? Could you point to the code snippets in mlperf where inference on GPU is measured for Tensorflow and PyTorch demonstrating how this is done in mlperf?

[2020-04-30 11:02] psyhtest opened #592 "BERT: failed to create cublas handle: CUBLAS_STATUS_NOT_INITIALIZED"
[NVIDIA's new BERT contribution](https://github.com/mlperf/inference/tree/master/v0.7/language/bert) is very neat!

Unfortunately it failed to run with TensorFlow in the Offline scenario on an HP workstation with a GTX1080 GPU:

[code]

[Full log](https://pastebin.com/Yu4gCNXK).

/cc @nvpohanh

[2020-04-30 11:12] psyhtest commented on #592
It appears to be running with ONNX:
[code]
but not using the GPU:
[code]

[2020-04-30 12:09] psyhtest commented on #592
Here's the output with ONNX:
[code]

[2020-04-30 12:16] psyhtest commented on #592
With PyTorch:
[code]
the GPU is used properly:
[code]

[2020-04-30 17:09] nvpohanh commented on #592
Thanks for trying the codes!

**TF:**
I am not very sure what's going on, but after some research, it seems that TF always have issues with cuBLAS init. Could you try some fixes suggested by online resources? Like this one: https://stackoverflow.com/questions/38303974/tensorflow-running-error-with-cublas or this one: https://github.com/tensorflow/tensorflow/issues/9489

**onnx-runtime:**
GPU versi

[2020-05-01 13:00] psyhtest commented on #592
Thanks Po-Han! I'll try nudging TF to do the right thing.

The quantized version definitely runs on the CPU, and, boy, it does slowly:
[code]
(It took almost 7 hours on an admittedly old but 20 virtual-core CPU.)

The resulting score is only `f1=90.067` (99.1% of the reference):
[code]
while the [table](https://github.com/mlperf/inference/tree/master/v0.7/language/bert#supported-models) states `f1

[2020-05-01 15:49] nvpohanh commented on #592
Hmmm I will look into the accuracy discrepancy.... @guschmue Would you be the right person to ask if I have question about onnxruntime?

[2020-05-01 15:51] nvpohanh commented on #592
@psyhtest Could you do me a favor? The master of onnxruntime seems to support GPU-accelerated Quantize/Dequantize now: https://github.com/microsoft/onnxruntime/blob/master/onnxruntime/contrib_ops/cuda/quantize_ops.cc

Could you try the master build of onnxruntime and try running it on GPU? Thanks

[2020-05-01 15:58] psyhtest opened #594 "BERT: accuracy of quantized ONNX model?"
Running the quantized BERT model in the accuracy mode:
[code]
[returned](https://github.com/mlperf/inference/issues/592#issuecomment-622378484):  `f1=90.067` (99.11% of the reference), whereas the [table](https://github.com/mlperf/inference/tree/master/v0.7/language/bert#supported-models) states `f1_score=90.482%` (99.57% of the reference).

[2020-05-01 16:00] psyhtest commented on #592
Thanks @nvpohanh. I've opened a new issue https://github.com/mlperf/inference/issues/594 to track the accuracy.

I'm not sure how to enable the GPU. @guschmue?

[2020-05-01 16:13] nvpohanh commented on #594
Can't assign to myself, but I will look into this issue.

[2020-05-01 16:15] guschmue commented on #594
Its all yours :)

[2020-05-01 16:29] guschmue commented on #592
```pip install onnxrunime-gpu``` gets you cuda support.

If you need the master you could build from source
or try a nightly build from pypi (last was 4/25):
[code]

[2020-05-01 16:31] nvpohanh commented on #592
4/25 nightly should be worth a try. I saw that that file was added two weeks ago.

[2020-05-01 16:36] guschmue commented on #592
ok. If that doesn't work, let me know - I can create a wheel with the latest.

[2020-05-01 16:51] guschmue commented on #591
No difference.
Both cpu and gpu call the runtime with something like:
[code]
and since we want to see the results all computation has to be completed before returning.

[2020-05-01 18:55] psyhtest commented on #592
Thanks! This has enabled the GPU:
[code]
although seemed slower than the non-quantized model (14 QPS vs 18 QPS)...

How big is the dataset by the way?

[2020-05-01 20:58] nvpohanh commented on #592
quantized version has Quant/Dequant ops, so it's normal that it is slower.

SQuAD v1.1 test set has 10~11k sequences, if I remember it correctly.

[2020-05-01 22:18] psyhtest commented on #592
A-ha, it's probably the same as:
[code]
Should take 10-13 minutes on the GTX1080 with ONNX runtime then.

Apologies for converting this thread into a Q&A session :)

[2020-05-01 22:18] #592 closed

[2020-05-01 22:55] ahsabali commented on #591
Thanks for your reply. My concern is, GPU evaluations are asynchronous and GPU execution might not be completed when time is measured. Pytorch has something called torch.cuda.synchronize() to use before stopping the time measurement. Anything thing similar used for pytorch and tensorflow in mlperf while measuring time on gpu?

[2020-05-02 00:02] psyhtest opened #595 "BERT: tf_SUT runs SingleStream forever?"
Running BERT with TensorFlow in the SingleStream scenario:
[code]
seems to take forever. (With `bert.SingleStream.target_latency = 55` (ms), the ONNX runtime finishes in just over 1 minute.)

Weirdly, it prints:
[code]
again and again (and again).

I thought this could be related to my PR https://github.com/mlperf/inference/pull/593. I tried, however, [moving the new code into `__init__`](https://

[2020-05-02 00:21] psyhtest commented on #595
When `bert.SingleStream.target_latency = 55555` (ms), ONNX finishes very quickly, but TF keeps going and going...

[2020-05-02 00:24] nvpohanh commented on #595
@psyhtest This is because we are creating a new TF session every time IssueQuery() is called. Maybe I should have somehow keep the session "open", but I need help from TF experts for how to do that.

[2020-05-02 00:45] psyhtest commented on #594
With the [GPU-accelerated ONNX runtime](https://github.com/mlperf/inference/issues/592#issuecomment-622516250), the accuracy is slightly better (99.16% of the reference):
[code]

[2020-05-02 01:10] nvpohanh commented on #594
That still doesn't look right. Will have to look into what happened

[2020-05-02 11:43] psyhtest opened #596 "BERT: can converting examples to features be done offline?"
It appears that converting examples to features happens on every run (even if it's a trivial test run with one sample) and takes around a minute on my workstation:
[code]

I'm wondering if this part (or some part of this part) can be done offline:
[code]

[2020-05-02 16:17] guschmue commented on #595
Hm, tf_SUT.py looks ok to me, don't see yet why it would close the session.

[2020-05-06 05:24] kdk3776 commented on #585
@guschmue  Thank you always!

[2020-05-06 05:25] kdk3776 commented on #585
@guschmue I wonder the relationship maxbatchsize and samples per query

[2020-05-06 05:27] kdk3776 opened #598 "I tried to run ./run_local.sh cpu tf ssd-mobilenet"
I tried to run ./run_local.sh cpu tf ssd-mobilenet

dongkwan@tux ~/바탕화면/inference-master/tmp/inference/v0.5/classification_and_detection $ ./run_local.sh cpu tf ssd-mobilenet

![image](https://user-images.githubusercontent.com/55476509/81140813-b8248b80-8fa5-11ea-96c8-bee36ce8c0d0.png)

I got this kind of error. Do you know how can I solve this error~?

[2020-05-06 14:27] guschmue commented on #585
they are independent from each other.

[2020-05-06 14:29] guschmue commented on #598
reads as 'the .pb is not a valid pb'.

[2020-05-06 20:57] snnn opened #599 "Crash in loadgen"
https://github.com/mlperf/inference/blob/master/loadgen/logging.cc#L363

/usr/include/c++/10/bits/atomic_base.h:423: std::__atomic_base<_IntTp>::__int_type std::__atomic_base<_IntTp>::load(std::memory_order) const [with _ITp = long int; std::__atomic_base<_IntTp>::__int_type = long int; std::memory_order = std::memory_order]: Assertion '__b != memory_order_release' failed.

The C++ spec says:

ord

[2020-05-08 04:29] kdk3776 commented on #568
@guschmue @psyhtest

git clone --recurse-submodules URL

I solved by this.

After I clone again, I did python3 setup.py develop and it works!

Thank you so much!

[2020-05-13 15:28] psyhtest commented on #595
I've managed to run only two queries by placing:
[code]
into `user.conf`. (Interestingly, no matter how much I increase `target_latency` beyond 120 seconds, LoadGen still issues 2 queries.)

Unlike ONNX and PyTorch, TF does run abysmally slow because of repeated init:
[code]

[2020-05-14 18:06] #596 closed

[2020-05-20 12:23] sbillus opened #603 "ValueError: no images in image list found"
Trying to run inferencing benchmark using ResNet34 model for COCO dataset.
Have successfully set up the environment, downloaded COCO dataset (both ways, manually and through ck tool), transformed the data into 1200x1200 images using the tool given, downloaded model implementation and set path for data and model directories.
When I finally run the docker container, it is build up successfully but i

[2020-05-20 12:25] sbillus commented on #603
I have in the past successfully run training benchmarks, so all the prerequisites are successfully installed, like docker and drivers.
I have tried with pytorch and tensorflow versions, both, but both of them are failing with the same error. So the issue is with the data somehow and not the model and the setup environment.

[2020-05-20 23:38] psyhtest opened #604 "DLRM: save downloaded and generated files outside of Docker containers"
The [CPU](https://github.com/mlperf/inference/blob/master/v0.5/recommendation/Dockerfile.cpu) and [GPU](https://github.com/mlperf/inference/blob/master/v0.5/recommendation/Dockerfile.gpu) Docker images are pretty bare bones. One needs to launch a container, and then run the corresponding `kickstart.sh` to clone repos, download a model, generate fake data, etc. If the container gets killed, one nee

[2020-05-20 23:59] psyhtest commented on #604
Suppose I want to experiment under `WORKSPACE=/datasets/mlperf-inference-v0.7` by repeating commands from either `kickstart.sh` script.

### Clone the training and inference repos
[code]

### Download the ~10GB model
[code]

### Generate fake data
[code]
It's worth noting several things:
- `make_fake_criteo.sh` calls `quickgen.py` which is also in the `tools/` directory; hence, the need to descend

[2020-05-21 00:11] psyhtest commented on #604
Now, I can build the CPU and GPU Docker images:
[code]
and launch either of them mapping the inference and training repos as follows:
[code]
Finally, do a bunch of straightforward `export`s as above:
[code]

[2020-05-21 00:21] psyhtest commented on #604
Apologies if I've got at this at the wrong end. Maybe I was only supposed to do:
[code]

[2020-05-21 00:37] psyhtest commented on #604
Even when I create `$WORKSPACE/inference/v0.5/recommendation/output/pytorch-gpu/dlrm/` by hand, I get:
[code]

[2020-05-22 09:21] psyhtest opened #605 "DLRM: provide hashes and sizes for the Criteo dataset"
The [Criteo dataset](https://labs.criteo.com/2013/12/download-terabyte-click-logs/) consists of 24 files, each of up to 16 GB in total (over 350 GB in total?)

I've downloaded most of them with a simple bash script:
[code]
Then, the log would show potential problems:
[code]
Even for the ones that are shown as 100.0% completed, I can't be 100.0% sure that they are not corrupted. I suggest to provid

[2020-05-22 09:24] psyhtest commented on #605
Here's what I've got:

File | Size (`du *`) | MD5 (`md5sum *`)
-|-|-
day_0.gz  | 15927304 | 1
day_10.gz | 15201768 | 1
day_11.gz | 12698432 | 1
day_12.gz | 14029428 | 1
day_13.gz | 15953380 | 1
day_14.gz | 15882872 | 1
day_15.gz | 15382724 | 1
day_16.gz | 14606256 | 1
day_17.gz | 13483480 | 1
day_18.gz | 11796984 | 1
day_19.gz | 13059032 | 1
day_1.gz  | 16292832 | 1
day_20.gz | 16022492 | 1
day_21

[2020-05-22 10:08] psyhtest opened #606 "DLRM: provide a single script for generating a fake dataset"
To generate a fake dataset, I've used the following command sequence:
[code]

Here, [`make_fake_criteo.sh`](https://github.com/mlperf/inference/blob/master/v0.5/recommendation/tools/make_fake_criteo.sh) calls [`quickgen.py`](https://github.com/mlperf/inference/blob/master/v0.5/recommendation/tools/quickgen.py) which is also in the `tools/` directory. Hence, the need to descend there first.

Howeve

[2020-05-22 10:15] psyhtest commented on #605
@mnaumovfb I can do a PR?

[2020-05-22 10:23] psyhtest opened #607 "DLRM: is it possible to run on a single day's data only?"
Given the size of the Criteo dataset (343 GB), it's a bit scary to launch a full accuracy run on the real data.

I was hoping that it would be possible to run it on a single day's data only. However, when I generated a fake dataset with only two day's worth of data (see below), the reference implementation failed to run:

[code]

So I suspect the same thing will happen if I put one real file into

[2020-05-22 11:47] psyhtest opened #608 "DLRM: any hints for graph analysis?"
Given the size of the DLRM models (~10 GB, ~100 GB), it's challenging to apply tried and tested analysis tools to graph analysis.

For example, trying to load the ~10 GB model into [Netron](https://github.com/lutzroeder/netron) failed on a machine with 32 GB RAM:
- from the browser: `File read error '0'.`
- from the command line: `Error loading model. Unsupported file content for extension '.pt' i

[2020-05-22 11:50] psyhtest commented on #608
In particular, I'm interested how to separate out the bottom MLP subgraph (and feed to it representative dense features) and the top MLP subgraph (and feed to it representative feature interactions).

![dlrm](https://user-images.githubusercontent.com/6597818/82664866-9294b480-9c2a-11ea-9a7e-00d05d09efda.gif)

[2020-05-22 11:52] psyhtest commented on #608
(Or am I wrong in thinking that the bottom MLP requires only dense features? The diagram does not make it particularly clear.)

[2020-05-22 11:59] psyhtest opened #609 "DLRM: move code from v0.5/recommendation to v0.7/recommendation/dlrm"
Paths such as `$HOME/mlperf/inference/v0.5/recommendation` should be updated too.

[2020-05-22 12:57] psyhtest commented on #607
Just a note that generating a fake dataset with only two day's worth of data required a bit of effort. Despite `num_days` being [a command line parameter](https://github.com/mlperf/inference/blob/db0b7eb368f009adf703d073765aa212d1f3a026/v0.5/recommendation/tools/quickgen.py#L39) to `quickgen.py`, it is actually hardcoded for [kaggle](https://github.com/mlperf/inference/blob/db0b7eb368f009adf703d07

[2020-05-22 12:58] psyhtest commented on #606
Here's a [good spot](https://github.com/mlperf/inference/blob/db0b7eb368f009adf703d073765aa212d1f3a026/v0.5/recommendation/tools/quickgen.py#L65) to error if the profile argument is not one of the `kaggle|terabyte0875|terabyte` (including the default value).

[2020-05-23 10:32] psyhtest commented on #605
For the extracted files:

File | Size (`du *`) | MD5 (`md5sum *`)
-|-|-
day_0  |  48603344  |  331703bf14b9a699324d589efd676962
day_1  |  49518248  |  1df068493bb19edce48c09a1ce1a7fca
day_2  |  48820460  |  a5dec1724865504895e03508d6308046
day_3  |  44863556  |  c6de260d9eb835a2a1866b9931f4c474
day_4  |  37583076  |  9a41d00282b6b87db890518a86ab001f
day_5  |  42691840  |  170cba5a53f2b7cea8b75e19f

[2020-05-23 12:25] psyhtest commented on #565
@guschmue Please close this one.

[2020-05-23 14:51] #565 closed

[2020-05-25 00:53] mnaumovfb commented on #605
I would suggest making a PR to add this information in point 2. in section "More information about the datasets" in [DLRM README in MLPerf inference](https://github.com/mlperf/inference/blob/master/v0.5/recommendation/README.md).

[2020-05-25 01:02] mnaumovfb commented on #608
I would suggest trying with a smaller model. You can always create (train and save) a smaller model from a subset of the data. Also, you can use --max-ind-size during training to limit the number of vectors in the embedding tables (you must pre-process the dataset with this parameter as well).

The bottom MLP does require only dense features. I don't see how separating the MLPs from the rest of th

[2020-05-27 09:12] G4V opened #611 "DLRM: Unable to export to ONNX"
I'm trying to export using `--save-onnx` and hitting problems.

In dlrm_s_pytorch.py, the training data isn't in the right size and shape to be fed into the onnx exporter.

`            (X, lS_o, lS_i, _) = train_data[0]  # get first batch of elements`

I couldn't figure out how to massage that data into the correct format so I've worked around this by caching one of the instances of X, lS_o, lS_i

[2020-06-01 10:39] psyhtest commented on #608
Thanks Maxim, this is very helpful.

[2020-06-03 16:52] psyhtest commented on #594
That's OK. It would be good for someone else to rerun the accuracy calculation, so at least we know if we have a majority!

[2020-06-05 16:11] #605 closed

[2020-06-09 16:42] G4V opened #616 "RNNT: Running inference on CUDA fails."
When CUDA is enabled, inference fails.

The lambda function set up to call `cuda()` on each of the objects passed into the `audio_processor` fails as one of the objects is of type `list`. (the list containing the translations for the batch)

`eval_transforms.append(lambda xs: [x.cuda() for x in xs])`

I tried addressing this by making the call to `cuda()` conditional on the object type as I don't

[2020-06-10 11:19] psyhtest commented on #616
@nvpohanh I think you have successfully run RNN-T on T4? Any hints?

[2020-06-10 12:30] G4V opened #617 "RNNT: Conversion to ONNX"
Hi Daniel,

I've grabbed your PR branch to have a play with.

In the `inference.py` script there's commented out code that exports the model to ONNX. I tried uncommneting to see if I can export, but it falls over. (Running with the comments in place, all is well)

Is this something that you've had working or is this still a work in progress?

I'm using PyTorch 1.5.

Thanks.

[2020-06-11 00:03] galv commented on #617
Well, I don't see why you couldn't manually write a model using the onnx
opset, but it may be error prone. Were I to do this, I would tackle this by
improving the pytorch optimization and lowering passes, so that other
models could benefit.

On Wed, Jun 10, 2020 at 3:25 PM Anton Lokhmotov <notifications@github.com>
wrote:

--
Daniel Galvez
http://danielgalvez.me
https://github.com/galv

[2020-06-11 08:30] psyhtest commented on #617
@galv I'm a compiler guy, so I'd do the same :).

[2020-06-11 10:18] G4V commented on #617
@galv is it the PyTorch passes that are the problem or is it something specific to TorchScript? If it's the latter then the PyTorch rather than TorchScriptified model may be exportable to ONNX?

[2020-06-11 19:03] galv commented on #617
Torchscript can represent the RNN-T model just fine. I rewrote the original RNN-T code such that this would be possible, in fact. You can see that the reference model actually uses torchscript here for the featurization as well as the RNN-T model here: https://github.com/mlperf/inference/pull/610/files#diff-3f1217a1a54110ac31a4dd0f6d778730R62
The ScriptGreedyDecoder can also be converted to Torchs

[2020-06-12 00:06] kdk3776 opened #619 "I try to run mlperf on GPU"
./run_local.sh gpu backend model

It does run but I saw the result and I saw nvidia-smi.
Result is same as CPU.
On nvidia-smi, there is no utilization of GPU.

I think even thought I put GPU in command line. It doesn't run with GPU.

Can you guys know why?

[2020-06-12 01:39] nvpohanh commented on #619
Which benchmark is this referring to?

[2020-06-12 10:01] G4V commented on #617
I've had some success. The model exports to ONNX by reverting back to using the RNNTGreedyDecoder and removing all the calls to jit. Running on CPU, performance seems to be unaffected with this config.

[2020-06-16 06:04] galv commented on #617
To be clear, are you sure you are not just exporting the encoder?

In RNN-T, there are four components:

encoder network
prediction network
joint network
the greedy decoder

The greedy decoder has the logic to decide when to execute which subnetwork (it should be small enough for you to read yourself and understand, even if you are new to this). I tried to export the greedy decoder (ScriptGreedyDe

[2020-06-16 06:48] chiungliang opened #621 "DLRM: Can't run recommendation by real data"
Hi,

I tried to run inference model of recommendation.
https://github.com/mlperf/inference/tree/master/v0.5/recommendation

I ran the model by fake data successfully, but failed when running terabyte 0.875 by real data.
The root cause is that some of the sparse inputs are larger than the index of embedding table.

For example, the dimension of the first embedding table is 9980333*64, but input dat

[2020-06-16 06:59] G4V commented on #617
Yes, you're right. I had just exported the encoder.

I switched back to using ScriptGreedyDecoder and can export the entirety to an ONNX model if I massage the outputs, but when viewed in Netron the graph that's exported is very incorrect. Guessing I'm hitting the issue with the tuple-lowering pass.

I've taken the route you suggest and exported each of the three networks individually to ONNX. The

[2020-06-16 15:15] sindhujapr opened #622 "Running into "FileNotFoundError: [Errno 2] No such file or directory: 'tmp-ck-timer.json'" error on running "benchmarking accuracy" command."
Hi!

As a part of benchmarking TFLite performance in MathWorks' products, I am attempting to get the TFLite MLPerfbenchmarks running on a Raspberry Pi 4. I am following instructions from this [page](https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/optional_harness_ck/classification/tflite/README.md):

When I reach the "benchmarking accuracy" section and run this co

[2020-06-16 17:19] psyhtest commented on #622
Hi @sindhujapr, sorry you've encountered this issue. I suspect a couple of things here can be wrong.

First, the full ImageNet is [not available](https://github.com/mlperf/inference/issues/542) for download. But if you have a copy, you could have registered it yourself if you followed [this advice](https://github.com/mlperf/inference/tree/master/v0.5/classification_and_detection/optional_harness_c

[2020-06-18 11:27] psyhtest commented on #622
A bit of advice. When building TFLite for RPi4, please [use](https://github.com/ctuning/ck-tensorflow/tree/master/package/lib-tflite-1.15.0-src-static):
[code]

With these flags, we see a 3x execution time improvement with ResNet50 e.g.
[code]

[2020-06-18 19:33] aaronzhongii commented on #219
Finally I was able to generate the script to convert the nhwc ssd model to nhwc by inserting transpose at designated locations. check

[2020-06-18 23:10] kdk3776 commented on #619
@nvpohanh What do you mean which benchmark?

I did tf with tensorflow backend~

[2020-06-19 00:44] nvpohanh commented on #619
There are two `run_local.sh` files...
https://github.com/mlperf/inference/blob/master/v0.5/recommendation/run_local.sh
https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/run_local.sh

[2020-06-21 18:47] Wheest opened #626 "Building classification_and_detection, fatal error: 'pybind11/functional.h' file not found"
In `v0.5/classification_and_detection`, running the initial install:

`cd ../../loadgen; CFLAGS="-std=c++14" python setup.py develop; cd ../v0.5/classification_and_detection`

However, it fails with `fatal error: 'pybind11/functional.h' file not found`.

I have ensure that PyBind11 is installed in my environment using `pip install pybind11`

[code]

Running `tree` in that include directory confirm

[2020-06-21 20:39] psyhtest commented on #626
Is https://github.com/mlperf/inference/issues/230 any good?

On Sun, 21 Jun 2020, 19:47 Wheest, <notifications@github.com> wrote:

[2020-06-21 20:52] Wheest commented on #626
Thanks, hadn't found those issues.

Purged pip PyBind11, and ensured submodules were pulled.

Rerunning produced correct build.  Thanks

[2020-06-21 20:52] #626 closed

[2020-06-25 07:38] nvpohanh opened #628 "[v0.8 logging] Single log file for each run"
Currently, LoadGen generates 4 files for each run: summary, detail, trace, and accuracy.json. Following the Training convention, each run should only generate one single log file, which contains all the information needed for result showing and validation.

We can think about how to maintain the nice human-readability while doing this. For example, we can still print summary at the end of the log

[2020-06-25 07:44] nvpohanh opened #629 "[v0.8 logging] Change logging format to match Training"
Log in unified format. See:

- Training logging spec: https://docs.google.com/document/d/1u15ouRbvd2xZkMEHNtmtg-yGzw0Zs6KVxQG_5WjTz7o/edit
- (WIP) Inference logging spec: https://docs.google.com/document/d/1o2qp_wMHZ1KkmfA7h9nhrqx1kA901UOQvF_-G34tfl8/edit#

The format looks something like:
[code]

[2020-06-25 07:45] nvpohanh opened #630 "[v0.8 logging] Add/Modify file-level utility checker"
Add/Modify file-level utility checker which does the following:

- P0 - Prints individual errors found
- P0 - Indicates if the individual file is correct or not
- P1 - Extract out the loadgen settings
- P0 - Verifier looks at loadgen settings compared against valid configuration
- P1 - Verifier looks at system description and verifies (using D. Aronchick tools)

[2020-06-25 07:47] nvpohanh opened #631 "[v0.8 logging] Add/Modify package-level utility checker"
Add/Modify package-level utility checker which does:

- P0 - Prints individual verification errors found
- P0 - Indicates of the entire package is correct or not
- P0 - prints out the results (as appears in the final results table)
- P1 - summarizes the contents of the package, including hyperparameters and results
- P1 - Given a package of logs, summarizes the contents including average scores, e

[2020-06-30 16:18] nvpohanh opened #634 "DLRM: Indicate which model is the reference in README"
DLRM: Indicate which model is the reference in README

Make it clear that the other two models are not the reference models for MLPerf Inference v0.7

@mnaumovfb Could you help to fix this? Thanks!

[2020-06-30 16:21] christ1ne commented on #595
@guschmue  please help!

[2020-06-30 16:24] christ1ne commented on #594
@guschmue please verify the accuracy is indeed 99.16%. Thank you!

[2020-06-30 16:24] #494 closed

[2020-06-30 16:34] psyhtest commented on #622
Hi @sindhujapr, has your issue been resolved? We now have an even easier way to build for RPi4 (with 32-bit Debian):
[code]

[2020-06-30 17:41] #226 closed

[2020-06-30 17:44] christ1ne commented on #178
I assume this is done @DilipSequeira ?

[2020-06-30 17:45] christ1ne commented on #567
please re-open if needed

[2020-06-30 17:45] #567 closed

[2020-06-30 17:54] DilipSequeira commented on #178
Yes.

[2020-06-30 17:54] #178 closed

[2020-06-30 19:32] sindhujapr commented on #622
Hi @psyhtest, sorry about the delay, I have been preoccupied with some other work tasks. No, the issue has not been solved. I tried to use the mini-imagenet dataset with only 500 images (env.CK_BATCH_COUNT=50000 ), and changed the command to do so, and the error still occurred.

I will try the other two steps today and get back to you by tomorrow:
1. Build TFLite using the new command.
2. Process

[2020-06-30 20:25] christ1ne opened #636 "BERT calibration dataset"
Discuss if and who's going to contribute to a BERT calibration dataset.  Will you be able to do it? @itayhubara

Keeping the following folks in the loop
@nvpohanh @DilipSequeira

[2020-06-30 20:37] christ1ne opened #637 "Tracking RNN-T ONNX work"
@nvpohanh @psyhtest @galv

[2020-06-30 20:39] christ1ne opened #638 "Tracking 3D UNET calibration work"
@nvpohanh ETA July 2

[2020-06-30 20:42] christ1ne opened #639 "Tracking 3D UNET onnxruntime dev work"
@nvpohanh need to integrate with onnxruntime nightly and try the ONNX model again.

[2020-06-30 20:53] christ1ne opened #640 "tracking 3D UNET TF dev work"
Khalique is waiting for a working ONNX model with onnxruntime @nvpohanh @guschmue

[2020-06-30 21:10] christ1ne opened #641 "DLRM remaining development tasks"
1. Need to update Readme on the calibration dataset specifics.
   --use first 128k pairs in the second half of day 23. Test set is first half of day 23.
2. Need a standalone script to calculate accuracy from the loadgen output.
    -- example: https://github.com/mlperf/inference/tree/master/v0.5/classification_and_detection#validate-accuracy-for-resnet50-and-mobilenet-benchmarks
@mnaumovfb

Keepin

[2020-06-30 21:11] christ1ne commented on #607
@mnaumovfb please share your thoughts on this. Taking a day to run accuracy checking seems extreme.

[2020-06-30 21:12] christ1ne commented on #634
we are talking about the table with 3 models in the readme here. @mnaumovfb

[2020-06-30 21:13] christ1ne opened #642 "Tracking DLRM TF development work"
ETA before July 20 for completion.

[2020-06-30 21:31] #476 closed

[2020-06-30 21:32] christ1ne commented on #491
@georgelyuan is this issue still relavant?

[2020-06-30 21:33] christ1ne commented on #492
@georgelyuan do we need this for v0.7?

[2020-06-30 21:33] #497 closed

[2020-06-30 21:35] christ1ne commented on #499
@georgelyuan what's the latest on this? Is this fixed?

[2020-06-30 21:55] christ1ne commented on #599
@snnn  do you have a proposed resolution?

[2020-06-30 22:00] snnn commented on #599
Change the line 363 to something like:

[code]

std::memory_order_release is not ok.

[2020-06-30 22:05] christ1ne commented on #599
@nvpohanh @tjablin any thoughts on this?

[2020-06-30 22:11] galv commented on #637
@guschmue you mentioned that you would like to take a look. Do you need a unit test or something to get you started at looking?

For anyone interested in this, I will summarize the ONNX implementation:

RNN-T has four components:
1. Encoder network
1. Prediction network
1. Joint network
1. Decoder (This is not a neural network)

The first three can be exported to ONNX successfully, as far as I kno

[2020-07-01 01:47] lambozhang commented on #519
Hi，What is your version of GCC，I use version 4.5.0 of GCC，Prompt me when I run this command
c++: error: unrecognized command line option ‘-std=c++14’

[2020-07-01 01:59] vilmara opened #643 "BERT - Link to download Wikipedia and BookCorpus datasets"
Are there alternative links to download Wikipedia and BookCorpus datasets?. It seems to be a known issue for other teams:

https://github.com/mlperf/training/issues/377

https://github.com/NVIDIA/DeepLearningExamples/issues/536

[2020-07-01 07:11] #621 closed

[2020-07-01 07:12] chiungliang commented on #621
I found that pre-processed data is different under different configuration. Delete all pre-processed data and run again, it works.

[2020-07-01 23:52] mnaumovfb commented on #634
The readme already states right under the table "The official model is the largest model on the order of 100GB, while interface to other models is only provided to facilitate debugging."

What else would you add?

[2020-07-02 00:04] mnaumovfb commented on #641
I can update the README with instructions about calibration.

Why can't we just get the accuracy from the [run](https://github.com/mlperf/inference/blob/master/v0.5/recommendation/python/criteo.py#L339) and need to reconstruct it from the logfile?

[2020-07-02 00:08] christ1ne commented on #634
Hi @mnaumovfb,
How about for the 3 models in the name column, instead of having 'dlrm' for all of them, can we name them something like dlrm-S, dlrm-M, dlrm-L(MLPerf official model)? The table always gets people's attention first :)

[2020-07-02 00:11] christ1ne commented on #641
I think the reason is that people prefer to have separate performance runs and accuracy runs. During the performance runs, the logging is turned off so that we can get the maximum throughput etc. Adding @nvpohanh if I miss out any other reason.

[2020-07-02 03:05] mnaumovfb commented on #607
Even though the Criteo Terabyte dataset has ~400GB, the inference run is done only on the 1st half of the last day ~8GB = 400GB/ (24*2) days. The 2nd half of the last day is used for quantization calibration (I will add the instructions for it shortly).

Having said that, the code does need access to the full dataset, so that it can pre-process it (including the last day). Therefore, the quickgen

[2020-07-02 06:05] nvpohanh commented on #641
The main reason is that some submitters are not running in these frameworks. It would be great to have a script which takes in the LoadGen accuracy JSON log (which is common across all submitters) and compute the accuracy from that.

[2020-07-02 06:07] nvpohanh commented on #641
Here are some of the examples for other benchmarks:
https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/tools/accuracy-coco.py
https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/tools/accuracy-imagenet.py
https://github.com/mlperf/inference/blob/master/v0.7/medical_imaging/3d-unet/brats_eval.py
https://github.com/mlperf/inference/blob/ma

[2020-07-02 06:08] nvpohanh commented on #641
Specifically, we need a script which computes accuracy from `mlperf_log_accuracy.json` generated by LoadGen in AccuracyOnly mode

[2020-07-02 14:19] sindhujapr commented on #622
HI @psyhtest,
The accuracy script ran through without any errors.

As recommended by you, I preprocessed the images on an x86 machine and copied over the files to the RPi. I limited it to 20 images to test out the accuracy script. I will continue working with the 500 imagenet dataset and then the 50,000 imagenet dataset. But it is clear that the error stemmed from ARM not directly supporting OpenC

[2020-07-02 20:07] christ1ne opened #644 "Tracking repo re-structure, submission checker, accuracy update in readmes"
@guschmue 's proposal has been approved by the WG.

[2020-07-02 20:51] christ1ne opened #645 "DLRM ONNX support for the reference code"
Background below:
---
From: Spandan Tiwari <sptiwari@microsoft.com>
Date: Thursday, July 2, 2020 at 10:18 AM
To: "Rong, Zhong" <aaron.zhong@alibaba-inc.com>, "Gattupalli, Srujana" <srujana.gattupalli@intel.com>, Guenther Schmuelling <guschmue@microsoft.com>, Ashwini Khade <askhade@microsoft.com>
Cc: "Chukka, Ramesh N" <ramesh.n.chukka@intel.com>, "Cheng, Christine" <christine.cheng@intel.com>
Subj

[2020-07-02 23:42] christ1ne commented on #643
@vilmara Can you clarify why do you need this? The inference code only requires the Squad dataset per my understanding.

[2020-07-03 00:06] vilmara commented on #643
Hi @christ1ne, you are right these datasets are required only for training code. The link to download is broken and wanted to know if somebody in this group has a working link,  MLPerf train group is also looking for it https://github.com/mlperf/training/issues/377

[2020-07-03 17:01] guschmue commented on #599
definitely an issue. I think windows debug builds have been complaining about this as well.

[2020-07-06 20:19] guschmue commented on #595
this is because tf.estimator.predict() will always create the model, than takes the batch and yields the results. Since we call this on issue_query() this will happen for each issue_query() and is going to be extra slow.
The fix would be to export an inference interface into a saved_model, than use this one with a regular tf.Session().

[2020-07-06 21:57] nvpohanh commented on #640
TF is supported in #627. Should we close this?

[2020-07-06 21:58] nvpohanh commented on #639
#627 added onnxruntime path using onnxruntime nightly build, but got zero accuracy. @guschmue could you give it a try to see if there is any obvious issue? Thanks

[2020-07-06 21:59] nvpohanh commented on #638
Calibration set is added together with #627 . Should we close this?

[2020-07-06 22:00] christ1ne commented on #640
let's close during tomorrow's meeting so that people are aware of the updates!

[2020-07-07 02:33] nvpohanh commented on #595
@guschmue Could you give me some pointers or docs about that? Thanks

[2020-07-07 02:34] nvpohanh commented on #599
I am not familiar with this part of the code. @tjablin would be the right person to ask

[2020-07-07 04:23] guschmue commented on #595
The doc is here
https://www.tensorflow.org/api_docs/python/tf/estimator/Estimator
but the real truth is here:
https://github.com/tensorflow/estimator/blob/master/tensorflow_estimator/python/estimator/estimator.py#L612

Creating a new interface for inference should be straight forward but we'd need to upload the new saved-model.
Switching over use a good old session should not be too much work.

[2020-07-07 04:47] mnaumovfb commented on #641
I have been thinking of how to implement an equivalent to [accuracy-imagenet.py](https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/tools/accuracy-imagenet.py) script for DLRM.

This script relies on the log file `mlperf_log_accuracy.json`, which stores the indices of samples issued by loadgen and some hexadecimal data associated with them. I have a few questions abo

[2020-07-07 04:57] guschmue commented on #641
This is based on array.array: https://docs.python.org/3/library/array.html, basically give it an array of type T and it will give you a byte buffer. You pass that byte buffer back to loadgen which will serialize it into the hex format.
The validation script does the reverse - use numpy to decode the hex format and you get the array of T back.
Kind of a contract with youself.
The code that writes t

[2020-07-07 04:59] mnaumovfb commented on #634
I have added a debugging or official qualification for each model in parenthesis https://github.com/mlperf/inference/pull/649

[2020-07-07 05:08] mnaumovfb commented on #641
Thank you @guschmue, this is very helpful.

So, my understanding that in principle I could write both the labels and the targets into this hexadecimal string, and then compare between them, without having to touch the data set again. Is that correct?

[2020-07-07 07:07] mnaumovfb commented on #641
I have implemented the script in the following PR https://github.com/mlperf/inference/pull/649

Please take a look and merge when you have a chance.

[2020-07-07 13:21] psyhtest commented on #622
Hi @sindhujapr, Glad to hear it's all working for you without a glitch! (as it should be with CK) I'm going to re-haul the instructions and put everything together soon.

[2020-07-07 13:45] guschmue commented on #594
On cpu:
python3 run.py --backend=onnxruntime --scenario=Offline --accuracy --quantized
{"exact_match": 82.44087038789026, "f1": 90.12056578204738}

[2020-07-07 13:49] guschmue commented on #641
yeap, looks good to me.

[2020-07-07 15:23] sindhujapr commented on #622
That's great! I look forward to the revised documentation, thank you.

[2020-07-07 15:23] #579 closed

[2020-07-07 15:46] christ1ne commented on #636
There is an INT8 quantized model shared with the reference. There is no plan for this. Please volunteer before 7/20

[2020-07-07 15:52] christ1ne commented on #595
@guschmue  will share with @nvpohanh on a script to covert to a new saved-model. Loadgen does not work with the estimator interface. The decision is to update the reference model to the new format.

[2020-07-07 15:55] #594 closed

[2020-07-07 15:57] christ1ne commented on #637
@guschmue  @galv still working on this.

[2020-07-07 16:00] christ1ne commented on #640
done

[2020-07-07 16:00] #640 closed

[2020-07-07 16:00] christ1ne commented on #638
done

[2020-07-07 16:00] #638 closed

[2020-07-07 16:01] christ1ne commented on #639
@guschmue  will find help in identifying the onnxruntime issue

[2020-07-07 16:15] christ1ne commented on #607
The processing step needs to process all 24 days, which will take a long time to generate the .bin files. Every time the inference is run, you just need to run on day 23 for inference testing and accuracy. Inference target accuracy is test accuracy/AUC, not for validation accuracy.

[2020-07-07 16:31] christ1ne commented on #645
Two workarounds:
1) sub embedding bag with embedding
2) work with the pytorch exporter process to ensure embedding bag is supported. (right solution) Break embedding bag into 2 operators.

The Aten op should disappear with these solutions, which will mapped to existing ONNX operators.

@guschmue

solution 3: wait for TF model.
solution 4: hack the ONNX model to replace the ops as a one time hack.

[2020-07-07 16:41] nvpohanh opened #650 "Add option to accuracy-dlrm.py to parse targets (labels) from dataset directly"
Add option to `accuracy-dlrm.py` to parse targets (labels) from dataset directly

Currently, `accuracy-dlrm.py` assumes that the targets (i.e. labels, 0 or 1) are part of the loadgen accuracy logs. However, in some submissions, the harness wouldn't know the labels. Proposal is to add a flag `--day_23_txt_file` and when it's present, the accuracy script gets the labels from `day_23.txt` and assume

[2020-07-07 17:28] christ1ne commented on #641
@nvpohanh still need readme update:
Need to update Readme on the calibration dataset specifics.
--use first 128k pairs in the second half of day 23. Test set is first half of day 23.

[2020-07-07 19:28] G4V commented on #637
I've been playing with this, and as @galv says, the first three components do export, but I've not been in a position to see whether they work as expected.

I've also been attempting to get the model to export as a whole. Doing this, I end up with either a model that has the prediction and joint networks missing, or they are unrolled. I.e. one lstm per logit. This makes for quite a sizeable (and i

[2020-07-08 09:19] G4V commented on #637
Forgot to add, I took the 'naive' route of converting all python variables to tensors which was sufficient to allow the model to export , but several  warnings still remain about use of python variables even though i've converted all to tensors. Doing this the output from the pytorch model remains correct but on export the model produced is incorrect. I'm sure my approach is not very efficient eit

[2020-07-08 16:36] galv commented on #637
First thing:

I missed something. RNN-T actually has five components:

1. Encoder network
1. Prediction network
1. Joint network
1. Decoder (This is not a neural network)
1. An audio preprocessor (It transforms the waveform into a stream of feature vectors, basically)

Anyway, @G4V I would like to take a more active role in looking at this. Can I ask you to create a unit-test to reproduce your wor

[2020-07-08 22:28] galv commented on #637
FYI @G4V if you can make unit tests like I did here: https://github.com/mlperf/inference/pull/651, that would make it a lot easier to help out.

[2020-07-09 00:02] galv commented on #637
Okay, the audio preprocessor requires a short-time-fourier transform.

While aten supports this with the aten::stft op, that is not a supported op for export at this time: https://pytorch.org/docs/stable/onnx.html#supported-operators

I looked at the onnx repo, and there is some discussion about FFT functions, which has culminated in this issue: https://github.com/onnx/onnx/pull/2625 This presumab

[2020-07-09 08:46] G4V commented on #637
Sounds like the audio preprocessor might be a show stopper, but instead can it be removed from the timed benchmark? For image classification, preprocessing isn't timed, so there's precedent.

To test my concerns re the LSTM I exported just the pre LSTM and set the sequence length variable and what came out looks good, so the only limitation is with the batch size, I think. And if I understand corr

[2020-07-09 16:10] galv commented on #637
The batch size is not necessarily one in this benchmark. For example, in
the offline scenario, a way to get about a 2x speedup is to sort your data
by length, and then run with minibatches. However, I did not upload the
code to do this, because I was concerned about maintenance.

However, it's conceivable that a submission could be locked into using only
a single sample, if that's what you wanted.

[2020-07-09 16:20] DilipSequeira commented on #637
I'm all for having an ONNX model for RNN-T.

But the goal of the model selection is to make submissions reflective of production inference. We don't want to make decisions about models and submissions based on constraints of an interchange format or its framework exporter (especially given that ONNX is a nice-to-have under the current rules.)

Running at large batch in datacenter will be common, a

[2020-07-09 16:43] guschmue commented on #595
@nvpohanh, I think we can export to a saved_model with
```run_squad.py --export_triton```

https://github.com/NVIDIA/DeepLearningExamples/blob/master/TensorFlow/LanguageModeling/BERT/run_squad.py#L1098

[2020-07-09 17:01] nvpohanh commented on #595
@guschmue Ah, that's great! I am OOTO on 7/9-10, but I will try this next Monday.

[2020-07-10 11:04] G4V commented on #637
@galv - apologies, my comment wasn't meant to come across as uncooperative. As I say, happy to help, and further, respectful of your time.

Would it be useful for me to share a branch of the benchmark where I've done enough to export the DNN part of the model as a whole (even if what's produced is incorrect)? Viewing in Netron, the LSTMs look fine, it's in the decoder block, something goes awry.

[2020-07-13 11:59] nvpohanh commented on #639
@christ1ne Could we change the issue title to "ONNXRuntime" to emphasize that this is an onnxruntime issue, NOT an ONNX issue? Thanks

[2020-07-13 13:12] nvpohanh commented on #641
See #654 for calibration set specification

[2020-07-13 16:25] galv commented on #637
@G4V Sure, I would be happy to take a look at that.

[2020-07-13 17:59] guschmue commented on #639
I tried to look at it but how does one get the dataset? If I want to register to download I end up here:
https://www.med.upenn.edu/cbica/affiliated-faculty.html

[2020-07-13 18:13] christ1ne commented on #639
@tonyreina can you help @guschmue  here? Thanks!

[2020-07-13 19:53] tonyreina commented on #639
Looks like the wrong link on the webpage. I've notified Spyros to see if he can correct the link for the registration.

[2020-07-13 22:54] mnaumovfb commented on #641
I have checked the PR. It looks good to me.

[2020-07-14 14:22] parvizp opened #657 "v0.5/v0.7 SSD-ResNet34 PyTorch Accuracy"
I'm trying to validate the reference `fp32` accuracy of the SSD-ResNet34 model using the PyTorch backend.
The quoted accuracy is `mAP 0.20`.
However with PyTorch (v1.5.1) I'm seeing:
[code]
Result in `0.196 mAP`:
[code]

This is using the upsampled validation COCO dataset per https://github.com/mlperf/inference/tree/master/v0.5/classification_and_detection#prepare-the-coco-dataset except we are us

[2020-07-14 15:40] guschmue commented on #645
PR for supporting embedding_bag support in onnx exporter:
https://github.com/pytorch/pytorch/pull/41234

[2020-07-14 15:42] christ1ne commented on #595
TF model is frozen with batch size 1.  The submitter is free to other batch sizes with the provided script.

[2020-07-14 15:42] #595 closed

[2020-07-14 15:54] christ1ne commented on #645
Waiting for PR to merge to PyTorch. The next step is to test the converted model. @mnaumovfb  please help with the PT merge request.

[2020-07-14 15:56] christ1ne commented on #607
@mnaumovfb  please check if this CPU command line is correct:
./run_local.sh pytorch dlrm terabyte cpu --accuracy --scenario Offline  --max-ind-range=40000000

[2020-07-14 16:21] christ1ne commented on #657
@itayhubara  can you do a quick check on this issue?
otherwise we set the new accuracy threshold to 99% of 0.196 for SSD-Resnet34 for v0.7.

[2020-07-14 16:28] christ1ne commented on #542
will try to resolve in v0.8. Please email the mailing list if you are blocked by this issue.

[2020-07-14 16:28] #542 closed

[2020-07-14 16:28] vilmara commented on #643
closing since English Wikipedia is still available

[2020-07-14 16:28] #643 closed

[2020-07-14 17:38] christ1ne commented on #650
done

[2020-07-14 17:38] #650 closed

[2020-07-14 17:40] christ1ne commented on #641
done

[2020-07-14 17:40] #641 closed

[2020-07-14 17:49] christ1ne commented on #634
done

[2020-07-14 17:49] #634 closed

[2020-07-15 16:44] parvizp commented on #657
If I update the model's post-processing, to use the post-processing from the branch used to create the MLPerf ONNX version for this model (https://github.com/BowenBao/inference/tree/master/cloud/single_stage_detector/pytorch)
I get `0.200`:
[code]

My changes can be found in:
https://github.com/parvizp/inference/blob/ssd_r34_update_post_processing/v0.5/classification_and_detection/python/models/ss

[2020-07-15 18:35] guschmue commented on #657
I think the onnx exporter has improved a lot since - possible that this converts out of the box these days.
We also can convert from the tensorflow model - I can send some instructions if desired.

[2020-07-16 23:33] gsrujana89 commented on #645
I build pytorch latest master with pytorch/pytorch#41234 and tried converting DLRM 10GB model from Pytorch to onnx,

I get Using CPU...
Reading pre-processed data=/home/ubuntu//drive/dlrm_data/day
Sparse features= 26, Dense features= 13
Reading pre-processed data=/home/ubuntu//drive/dlrm_data/day
Sparse features= 26, Dense features= 13
Loading saved model tb0875_10M.pt
Saved at: epoch = 0/1, batch

[2020-07-16 23:49] gsrujana89 commented on #645
Following up on above - Pytorch version 1.7.0a0+ef59f58

[2020-07-17 06:28] mnaumovfb commented on #645
We are almost there, but I don't think the PR is merged https://github.com/pytorch/pytorch/pull/41234

We need to wait for the merged to be finished and pickup the next nightly build of PyTorch.