[2020-07-17 16:07] gsrujana89 commented on #645
I added the PR to master before build using git pull origin pull/41234/head and got above error while using that build to convert the model.

[2020-07-17 16:19] mnaumovfb commented on #645
I see, then we need to ask @guschmue about it.

[2020-07-17 16:27] guschmue commented on #645
hm, something must be wrong since it still complains about a missing embedding_bag op. After 41234 it should be no longer there.

[2020-07-17 17:53] christ1ne commented on #639
https://www.med.upenn.edu/cbica/brats2019/registration.html

[2020-07-18 21:24] mnaumovfb commented on #645
The PR https://github.com/pytorch/pytorch/pull/41234 has been merged. Please give it another try.

[2020-07-20 08:13] G4V commented on #637
Apologies again @galv, it's taken me a while to get the branch together that allows the model to at least export, and looking at it, there are very few changes so not sure it will give you any great insights.

https://github.com/G4V/inference/tree/onnxexport

To get the model to export I made changes to return a format the exporter is happy with, which was changing the use of ints to tensors, and

[2020-07-20 21:38] parvizp commented on #657
Thanks for the offer @guschmue -- in this case we would actually prefer to submit using PyTorch native without exporting to ONNX.

[2020-07-21 15:36] aaronzhongii commented on #607
Here is the full output of the run, i add time print before lg.ConstructSUT and after lg.DestroySUT(sut), you can see it tooks almost 11 days to finish an accuracy run

(py3) xxxxx@xxxxx:/mnt/ssd/aaronzhong/dlrm/inference/v0.5/recommendation$ ./run_local.sh pytorch dlrm terabyte cpu --accuracy --scenario Offline  --max-ind-range=40000000
+ python python/main.py --profile dlrm-terabyte-pytorch --co

[2020-07-21 15:39] christ1ne commented on #637
will continue for v0.8

[2020-07-21 15:41] christ1ne commented on #639
let's see if we can conclude on this in the next few days. @guschmue

[2020-07-21 15:51] christ1ne commented on #607
@mnaumovfb will continue to investigate with larger batch sizes.
@aaronzhongii observed the accuracy script is using only 1 core of all the available cores. Last comment showed 11 days to complete.

[2020-07-21 15:52] christ1ne commented on #645
@gsrujana89 will try again.

[2020-07-21 16:50] gsrujana89 commented on #645
@guschmue @mnaumovfb I have pulled latest master and run
[code]
**Is there a build flag to ensure this feature is on?**

Also, tried nightly build:
**python -c "import torch; print(torch.__version__)"
1.7.0.dev20200720**

Still get the below error with both. Is there a way to confirm the feature is enabled in the pytorch before trying the conversion again? I do see the changes in the pytorch repo

[2020-07-21 23:19] christ1ne commented on #636
no calibration dataset for BERT in v0.7 per WG decision on 7/21

[2020-07-21 23:37] mnaumovfb commented on #645
When exactly does this error happen? Did you save the model again or are you loading the model saved earlier?

[2020-07-21 23:54] gsrujana89 commented on #645
During saving the model again, used the same script as used before for saving 10GB model
`python dlrm_s_pytorch.py --arch-sparse-feature-size=64 --arch-mlp-bot="13-512-256-64" --arch-mlp-top="512-512-256-1" --max-ind-range=10000000 --data-generation=dataset --data-set=terabyte --raw-data-file=/home/ubuntu//drive/dlrm_data/day  --processed-data-file=/home/ubuntu//drive/dlrm_data/day  --loss-functio

[2020-07-21 23:56] mnaumovfb commented on #645
This step used to work fine before, right?

[2020-07-22 00:09] gsrujana89 commented on #645
Yes, this is the same command that generated https://dlrm.s3-us-west-1.amazonaws.com/models/tb0875_10M.onnx.tar. Thanks

[2020-07-22 00:16] mnaumovfb commented on #645
@guschmue Can you please double check why embedding_bag is flagged as unsupported?

@gsrujana89 I'm wondering if you have to re-install/update ONNX besides PyTorch. Can you try using the nightly version of ONNX?

[2020-07-22 01:22] guschmue commented on #645
hm, should not need a newer onnx version, opset-10 is sufficient (at least the ut in the pr said so).
In the pr there was one ut with:
[code]
I wonder if we hit this.

[2020-07-22 06:15] nvpohanh opened #661 "Add MD5 hash of the official DLRM models"
@mnaumovfb Could we add MD5 has of the official DLRM models (PyT and ONNX) to README? That will be super useful for us to verify if our downloaded model is sane. Thanks!

@psyhtest @christ1ne FYI

[2020-07-22 17:05] gsrujana89 commented on #645
@guschmue thanks, could you elaborate on how to use/ run this ut? I can try and run the test.

[2020-07-23 16:48] guschmue commented on #645
maybe add ```TestONNXRuntime.test_embedding_bag``` to the command line to just run this specific test.

[2020-07-23 18:25] gsrujana89 commented on #645
@guschmue tried that

`python test_pytorch_onnx_onnxruntime.py TestONNXRuntime.test_embedding_bag`
Fail to import hypothesis in common_utils, tests are not derandomized
s
----------------------------------------------------------------------
Ran 1 test in 0.001s

OK (skipped=1)

[2020-07-23 23:17] gsrujana89 commented on #645
On commenting out @unittest.skip get the following
python test_pytorch_onnx_onnxruntime.py test_embedding_bag
Fail to import hypothesis in common_utils, tests are not derandomized
E
======================================================================
**ERROR: test_embedding_bag (unittest.loader._FailedTest)
----------------------------------------------------------------------
AttributeError: mo

[2020-07-24 04:02] SIATHICAS opened #663 "Does Loadgen Support Distributed Inference?"
We tested our system with reference code and found that the final log is generated from this function: `lg.StartTest(sut, qsl, settings)`.

The linked is given by: https://github.com/mlperf/inference/blob/55bfef23f63edbe2d9450fa24fd897c03cea3cab/v0.5/classification_and_detection/python/main.py#L515

So, the question is how to modify the code if we are going to use distrubuted system for inference?

[2020-07-24 07:39] mnaumovfb commented on #645
I have created a small repro to this bug. Please give it a try and let us know if it fails. If so, can we have somebody from @guschmue team to take a look at it?

[code]

[2020-07-24 15:42] guschmue commented on #645
above fails on 1.7.0.dev20200724.
fyi @BowenBao,  @spandantiwari

  File "/opt/anaconda3/lib/python3.7/site-packages/torch/onnx/__init__.py", line 263, in _run_symbolic_function
    return utils._run_symbolic_function(*args, **kwargs)
  File "/opt/anaconda3/lib/python3.7/site-packages/torch/onnx/utils.py", line 801, in _run_symbolic_function
    return symbolic_fn(g, *inputs, **attrs)
  File "/opt

[2020-07-24 15:44] guschmue commented on #645
add ```opset_version=10``` and it should work.

[2020-07-24 16:14] gsrujana89 commented on #645
Yes, it works with opset_version=10 on Pytorch 1.7.0.dev20200720. I will add this to dlrm model conversion script and try.

[2020-07-24 17:01] guschmue commented on #663
right now loadgen does not support distributed inference.

[2020-07-24 17:19] mnaumovfb commented on #607
@aaronzhongii Can you please try the following and let me know if it works faster for you?

1. On [line 39 In the main.py](https://github.com/mnaumovfb/inference/blob/master/v0.5/recommendation/python/main.py#L39) set `QUERY_LEN_CAP = 1`.

2. Run the command
`./run_local.sh pytorch dlrm terabyte cpu --accuracy --scenario Offline --max-ind-range=40000000 --samples-to-aggregate-fix=4096 --max-batchs

[2020-07-24 17:54] mnaumovfb commented on #661
Sure, we can do that. Give me a little bit of time to generate and add it.

[2020-07-24 18:11] nvpohanh commented on #661
FWIW, this is the MD5 for the PyTorch model we downloaded `2d49a5288cddb37c3c64860a06d79bb9`

[2020-07-24 18:29] mnaumovfb commented on #661
Ok, we can use it. This for the largest model, right?

Since you already generated it for one of the models. How hard would it be to provide the MD5 for other two models as well?

[2020-07-24 18:32] nvpohanh commented on #661
I only downloaded this one... Do you happen to have models somewhere in your scratch space? Or do you know someone has?

@psyhtest Do you have the DLRM ONNX model that you can provide MD5 for?

Downloading a 100GB file is quite painful...

[2020-07-24 19:37] mnaumovfb commented on #661
Sorry, when you say this one, which one is it? The README has a link to 2 pyTorch and 2 ONNX models https://github.com/mlperf/inference/tree/master/v0.5/recommendation

Let's not worry about ONNX models right now, because they are being re generated with ONNX support for EmbeddingBag.

[2020-07-24 19:42] nvpohanh commented on #661
Ah, mine is official PyT (100GB one). Thanks

[2020-07-24 19:57] mnaumovfb commented on #661
So, if you could provide the MD5 for the other PyTorch debugging model, roughly ~10GB in size, that would help.

[2020-07-24 20:21] gsrujana89 commented on #645
@guschmue @mnaumovfb Edited this in dlrm_s_pytorch.py for conversion

[code]
Got this on run,
testing state: loss = 0.421776, accuracy = 81.071 %
time/loss/accuracy (if enabled):
Finished inference it 315310/315310 of epoch 0, 8.09 ms/it, loss 0.414235, accuracy 81.583 %
Traceback (most recent call last):
  File "dlrm_s_pytorch.py", line 1191, in <module>
    dlrm, (X_onnx, lS_o_onnx, lS_i_onnx),

[2020-07-24 22:29] mnaumovfb commented on #645
This does not seem to be related to ONNX.

Please make sure [this line](https://github.com/facebookresearch/dlrm/blob/master/dlrm_s_pytorch.py#L924) is called to set `X_onnx, lS_o_onnx, lS_i_onnx`, then print and let us know the dimensions of these tensors.

[2020-07-24 23:58] aaronzhongii commented on #607
by using "top" to check the cpu usage of the python script,

I followed the instruction and the test script is running now. The cpu usage of the python is at 600% right now, comparing to 100% previously, so it would be 6 times faster, so I expect the test will finish in two days instead of 11.

[2020-07-27 08:13] mnaumovfb commented on #607
I have noticed that using 2048 (rather than 4096) could further speedup the run. Maybe something to try in the future.
`--samples-to-aggregate-fix=2048 --max-batchsize=2048`

[2020-07-27 15:21] aaronzhongii commented on #607
./run_local.sh pytorch dlrm terabyte cpu --accuracy --scenario Offline --max-ind-range=40000000 --samples-to-aggregate-fix=4096 --max-batchsize=4096
+ python python/main.py --profile dlrm-terabyte-pytorch --config ../mlperf.conf --model dlrm --model-path /mnt/ssd/aaronzhong/dlrm/inference/v0.5/recommendation/model/dlrm_terabyte.pytorch --dataset terabyte --dataset-path /mnt/ssd/aaronzhong/dataset/

[2020-07-27 16:20] mnaumovfb commented on #607
I guess this is resolved then. Please let me know if anything is still missing.

[2020-07-27 17:01] gsrujana89 commented on #645
Seems like ls_o_onnx is not defined at call point.

Saved at: epoch = 0/1, batch = 307200/315310, ntbatch = 840
Training state: loss = 0.416358, accuracy = 81.459 %
Testing state: loss = 0.421776, accuracy = 81.071 %
time/loss/accuracy (if enabled):
**X_onnx, lS_o_onnx, lS_i_onnx = X, lS_o, lS_i set**  --- print from [this line.](https://github.com/facebookresearch/dlrm/blob/master/dlrm_s_pytorch.

[2020-07-27 23:17] christ1ne commented on #639
@guschmue  any updates?

[2020-07-28 01:09] MandySuperTT opened #667 "Why LoadGen use C++"
I'm curious why using C++ within Loadgen not other language. What's the advantage of using C++ instead of python and C?

[2020-07-28 08:44] SIATHICAS commented on #663
We noticed the results in inference V0.5. submitted by Google with a system with a maximum of 32xCloud TPU v3. How did they summarise the logs generated by loadgen on different nodes? Thanks!

[2020-07-28 15:42] christ1ne commented on #639
currently blocked by the dataset licensing problem.

[2020-07-28 15:44] christ1ne commented on #642
https://github.com/mlperf/inference/tree/master/v0.7/recommendation/dlrm/tf
model + code in but with no loadgen yet.

[2020-07-28 15:46] christ1ne commented on #607
fix verified. @mnaumovfb will update a small change in the accuracy mode only to speed up the writing logs.

[2020-07-28 15:47] christ1ne commented on #645
@mnaumovfb will try to investigate the issue. Now the onnx support seems to be there.

[2020-07-28 16:10] tjablin commented on #663
There was only one node. In Google Cloud, TPUs are connected to hosts over a network. You can connect an arbitrary number of TPUs to a single host. You can see the source code for the Google submission in the https://github.com/mlperf/inference_results_v0.5 repository.

[2020-07-28 16:15] tjablin commented on #667
The LoadGen needs to be very low overhead in order to measure the maximum throughput of large systems and to avoid overburdening the CPU in small systems. Python's overheads are too high. Choosing between C and C++, there are more programmers comfortable writing well-modularized code in C++ than C.

[2020-07-29 23:13] gsrujana89 commented on #645
@mnaumovfb  to add to my previous comment: ls_o_onnx is available at [this line](https://github.com/facebookresearch/dlrm/blob/master/dlrm_s_pytorch.py#L924) and have printed it. It becomes null on call point.

Saved at: epoch = 0/1, batch = 307200/315310, ntbatch = 840
Training state: loss = 0.416358, accuracy = 81.459 %
Testing state: loss = 0.421776, accuracy = 81.071 %
time/loss/accuracy (if e

[2020-07-30 03:04] Drizshko opened #670 "nnUnet-3D benchmark improvements"
Hi!

While working on OpenVino SUT I found what existing approach not let to achieve best performance. In current implementation SUT code do sample request, runs inference, applying Softmax, converting data to fp16 and report back to framework. I measured time of inference and total time for single sample for all steps mentioned above and found what inference time on my system is just 40% of total

[2020-07-30 18:39] DilipSequeira opened #671 "Accuracy Log storage"
3D UNet accuracy logs are 8GB in fp16, twice that in fp32.  We should think about how to manage these.

Would one of the CSPs be able to contribute some storage?

[2020-07-31 12:48] dengwxn opened #672 "Does v0.7/language/bert/ support non-one batch size?"
In v0.7/language/bert/, you provide `tf_freeze_bert.py`. But it seems it only accepts 1 input at a time. I try to change `shape=(1, 384)` to `shape=(None, 1, 384)`, but I met some errors. So can I store a frozen model.pb to support non-one batch size? Thanks!

[2020-08-01 04:48] dengwxn commented on #672
I'm sorry, it seems I can set `shape=(None, 384)` and then the frozen model.pb can support non-one batch size.

[2020-08-01 09:59] mnaumovfb commented on #645
First of all with respect to prints. You are printing the wrong variable name, it should be "lS_o_onnx" not "ls_o_onnx". That's why you see the not defined error. Please print these variables right after they are set on [line 953](https://github.com/facebookresearch/dlrm/blob/master/dlrm_s_pytorch.py#L953) and let us know the dimensions of these tensors.

Second, the embeddingBag operator seems to

[2020-08-01 16:54] mnaumovfb commented on #645
Here is a small repro for ONNX team (@guschmue to advise)
[code]

[2020-08-01 18:11] mnaumovfb commented on #661
I have created MD5 hash for both models. I'll add it to the README.
[code]

[2020-08-01 20:21] mnaumovfb commented on #661
The following PR https://github.com/mlperf/inference/pull/674 adds the MD5 hash for models.

[2020-08-01 20:23] mnaumovfb commented on #607
The following PR https://github.com/mlperf/inference/pull/674 adds a flexible way of sizing the offline query.

Now rather than changing the code "QUERY_LEN_CAP = 1", you just need to pass the argument `--samples-per-query-offline=1`. The README file has been adjusted accordingly.

[2020-08-02 07:20] nvpohanh commented on #661
Thanks! This is super useful

[2020-08-04 21:19] mnaumovfb commented on #645
I was finally able to reproduce @gsrujana89 crash https://github.com/mlperf/inference/issues/645#issuecomment-663718038

Here is a workaround for it, insert the following code prior to call to `torch.onnx.export`
[code]

[2020-08-05 14:47] guschmue commented on #645
The onnx-exporter fix is not in pytorch-1.6. You need to use pytorch-nightly.
If I do this (1.7.0.dev20200805) the sample script above works fine.

[2020-08-05 19:20] mnaumovfb commented on #645
@guschmue Can you please share the log of your run? IN my run I see the following error

graph(%input : Long(8:1, requires_grad=0, device=cpu),
      %offsets : Long(3:1, requires_grad=0, device=cpu),
      %emb.weight : Float(10:3, 3:1, requires_grad=1, device=cpu)):
  %3 : Tensor = onnx::Constant[value={9223372036854775807}]()
  %4 : Tensor = onnx::Concat[axis=0](%offsets, %3)
  %5 : Tensor = on

[2020-08-05 20:54] guschmue commented on #671
yeah, a normal github account will not like it. And we hope to receive many of them.
Even if you gzip it still might be too much for github.

[2020-08-05 21:00] DilipSequeira commented on #671
It's about 340MB per file zipped (it will compress better if we change the model along the lines of https://github.com/mlperf/inference/issues/670 to output the class per pixel rather than the entire softmax.)

Since Nvidia is planning to submit multiple configs, we expect it to add up significantly. And we have a lot more submitters this time around.

[2020-08-05 21:18] guschmue commented on #645
graph(%input : Long(8:1, requires_grad=0, device=cpu),
      %offsets : Long(3:1, requires_grad=0, device=cpu),
      %emb.weight : Float(10:3, 3:1, requires_grad=1, device=cpu),
      %54 : Long(1:1, requires_grad=0, device=cpu)):
  %3 : Tensor = onnx::Constant[value={9223372036854775807}]()
  %4 : Tensor = onnx::Concat[axis=0](%offsets, %3)
  %5 : Tensor = onnx::Constant[value={0}]()
  %6 : Tens

[2020-08-05 22:22] mnaumovfb commented on #645
Thank you @guschmue. This trace looks good.

@gsrujana89 please try to reproduce this trace with https://github.com/mlperf/inference/issues/645#issuecomment-667559049.

Then, try the small model as shown here https://github.com/mlperf/inference/issues/645#issuecomment-667506387

Finally, add a workaround https://github.com/mlperf/inference/issues/645#issuecomment-668830932 and try converting the f

[2020-08-06 14:16] guschmue commented on #671
If I remember correctly, the repo size in free github was 1GB and 100MB per file, so this will become a pretty big issue.

[2020-08-10 18:18] christ1ne commented on #672
can I close this issue? @dengwxn ?

[2020-08-11 01:05] #672 closed

[2020-08-11 01:57] lambozhang commented on #603
Have you solved it? I got the same problem

[2020-08-11 16:46] christ1ne commented on #671
@alexkarargyris please follow up. the backup is to use Google cloud storage somewhere.

[2020-08-11 16:48] christ1ne opened #681 "DLRM accuracy log is too big"
It is ~1GB. Let's discuss offline

[2020-08-11 16:53] georgelyuan commented on #681
730MB raw, 370MB gzipped

[2020-08-11 18:35] #670 closed

[2020-08-11 20:51] gsrujana89 commented on #645
@guschmue @mnaumovfb The new model inputs are inconsistent with previously generated model

Below is the difference in the 10GB properties for old (with Aten) vs new (without Aten ops)

On printing out layers with below python script:
  import onnx
  model = onnx.load("/home/ubuntu/dlrm/dlrm/dlrm_onnx10gb/dlrm_s_pytorch_10GB.onnx")
  output =[node.name for node in model.graph.output
  input_all =

[2020-08-11 21:03] mnaumovfb commented on #645
The workaround https://github.com/mlperf/inference/issues/645#issuecomment-668830932 switches the use of a single tensor to a list of indices. This is likely why you are seeing the list of inputs.

In general both a single tensor a list should work as an input, but right now the tensor is causing a crash https://github.com/mlperf/inference/issues/645#issuecomment-663718038, that's why I suggested

[2020-08-12 17:27] gsrujana89 commented on #645
Main issue on using this model is how to set correct ls_i index to onnx inputs,
Based on these inputs, would this be the correct mapping?
Inputs: ['input.11', 'input.7', 'input.23', 'input.15', 'lS_o', 'input.22', 'input.1', 'input.16', 'input.32', 'input.8', 'input.21', 'input.24', 'input.9', 'input.17', 'input.19', 'input.10', 'input.26', 'input.12', 'input.25', 'input.13', 'input.18', 'input.27

[2020-08-12 18:28] georgelyuan opened #683 "submission checker: bert-99 == bert != bert-99.9"
https://github.com/mlperf/inference/blob/master/tools/submission/submission-checker.py#L61Are we allowing people to submit the low accuracy variants using the benchmark name without the '-99' suffix?
That might cause some confusion.

[2020-08-12 22:10] guschmue commented on #683
I kept bert==bert-99 expecting most would use 'bert' but maybe better to force bert-99 or bert-99.9.

[2020-08-12 22:35] guschmue commented on #683
I force -99 and -99.9 now when applicable.

[2020-08-13 06:57] dengwxn opened #687 "Tensorflow DLRM Inference"
Currently, I see `0.7/recommendation/dlrm/tf` is using some `tensorflow.python.tpu` dependencies like `tpu_embedding`. Can I run DLRM in a normal GPU? @davidmochen

[2020-08-13 16:23] davidmochen commented on #687
We only tried to run the code checked in here on TPU. We did not try running on GPU.

[2020-08-13 18:31] aaronzhongii opened #688 "audit checker TEST01 verify_accuracy fast mode error"
The following error message shown when trying to run TEST01 verify_accuracy script with fast mode on resnet result

python $LG_PATH/../v0.7/compliance/nvidia/TEST01/verify_accuracy.py -r ~/mlperf_log_accuracy.json -
t mlperf_log_accuracy.json --dtype byte --fastmode

Verifying accuracy. This might take a while...
Reading accuracy mode results...
Reading performance mode results...
Traceback (most

[2020-08-13 18:37] nvpohanh commented on #688
@georgelyuan ^^^

[2020-08-13 18:53] G4V opened #689 "[RNN-T] Quantization"
Hello,

I’ve been looking into quantizing the various component parts of the RNN-T model and hitting a problem with the LSTMs which would hinder creating a quantized version of the benchmark.

For the first LSTM, when processing the logits within a sample, I’m seeing a steadily growing cell state. For a 15s sample (500 logits), the cell state begins at zero and grows to > +/-200.0.

[code]

When q

[2020-08-13 20:20] georgelyuan commented on #688
Thanks, Aaron! Will fix this soon.
Have you been able to check if the script works without --fastmode ?

[2020-08-13 20:22] georgelyuan commented on #688
https://github.com/mlperf/inference/pull/690

[2020-08-13 21:34] aaronzhongii commented on #688
please fix it, the normal mode is really really really really really really really really slow, though it's working.

[2020-08-13 21:42] georgelyuan commented on #688
Right, it was the only way I could think of to deal with UNet3D's log size. Maybe I should make --fastmode the default.

[2020-08-14 00:46] dengwxn commented on #687
Are you going to support normal GPUs in the future?

[2020-08-14 02:28] lambozhang opened #691 "When I use the GPU run/inference/recommendation, the program USES the CPU"
I ran this code：
./run_local.sh pytorch dlrm terabyte gpu --max-in-range=10000000
I got this：

python3 python/main.py --profile dlrm-terabyte-pytorch --config ../mlperf.conf --model dlrm --model-path /root/mlperf/.5/recommendation/model/dlrm_terabyte.pytorch --dataset terabyte --dataset-path /root/mlperf/mlperf_inference/v0.5/recomeo --output /root/mlperf/mlperf_inference/v0.5/recommendation/outpu

[2020-08-14 02:30] lambozhang commented on #619
Hi~ I got the same problem
I want to run inference/recommendation
I ran this code：
./run_local.sh pytorch dlrm terabyte gpu --max-in-range=10000000
and I got this:
python3 python/main.py --profile dlrm-terabyte-pytorch --config ../mlperf.conf --model dlrm --model-path /root/mlperf/.5/recommendation/model/dlrm_terabyte.pytorch --dataset terabyte --dataset-path /root/mlperf/mlperf_inference/v0.5/rec

[2020-08-14 05:05] nvpohanh commented on #687
The TF reference for DLRM will not support GPU until next round, as far as I know. @dengwxn Are you planning to submit results to v0.7 using GPUs? PyTorch implementation is one alternative.

[2020-08-14 06:11] dengwxn commented on #687
Do you know when is the next round? An approximate time will he helpful. @nvpohanh  Yes, I am planning to run inference on our system, but our system is currently focusing on tensorflow models.

[2020-08-14 09:35] nvpohanh commented on #687
I think next round is Q1 2021. Just curious, what's the reason you decided to go with TF instead of other inference frameworks, such as PyT, onnxruntime, TensorRT, etc.?

[2020-08-14 11:19] dengwxn commented on #687
Thanks! Because our system only supports tensorflow now, and we are considering adding other frameworks.

[2020-08-14 13:25] sbillus commented on #603
It was a long time back, so I dont remember exactly what worked.
Did you check if you have the data in the exact format thats expected? like inside coco folder you have:

1. val2017 subfolder containing all the images
2. annotations subfolder containing annotations

Also, check if you have preprocessed the images right, in 1200x1200 format or 300x300 format, according to the model you are trying t

[2020-08-14 13:37] lambozhang commented on #603
I solved it by change DATA_DIR, but I don't know why
At first ,my DATA_DIR=/data/coco-300
but I got that error.
and
DATA_DIR=/data/coco is right

[2020-08-14 14:10] sbillus commented on #603
Oh yes, now I remember!
The issue is that all the models made available through links preprocess the data intrinsically and we dont have to provide preprocessed data!
The scripts are given only if someone tries there own implementation of the models!
So silly of me to not remember that. I moved onto submitted results by others for benchmark so didnt remember "vanilla" mlperf issue.

[2020-08-14 14:11] #603 closed

[2020-08-14 16:13] davidmochen commented on #687
We may look into providing GPU support for TF1 or TF2 implementation of this model by Q1 2021.

[2020-08-14 17:44] raz-bn opened #692 "Using LoadGen library as a stand alone performance benchmark"
Hey!
I want to use the LoadGen library to benchmark my model performance on my current infrastructure.
Is there any way to run the LoadGen library with a custom model and dataset while my model is deployed on a remote server?
If not, I will be glad if someone could give me a reference to a similar tool that can 😃.

[2020-08-15 14:01] psyhtest commented on #689
As @galv points out in the [README](https://github.com/dividiti/inference/blob/dvdt-rnnt/v0.7/speech_recognition/rnnt/README.md), no quantization is done. It sounds that we need quantization-aware training, even though the [original paper](https://arxiv.org/pdf/1811.06621.pdf) suggests that symmetric post-training quantization using TF tools works fine. Maybe there utterances were shorter and the

[2020-08-18 05:40] guschmue commented on #692
https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/ was intended to have plugable datasets and backends. You could implement a backend that makes the network request by creating something like backend_grpc.py that implements a simple [backend interface](https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/python/backend.py)

[2020-08-18 12:55] psyhtest commented on #692
Hi @raz-bn,

Let me add to @guschmue's answer. You can indeed extend the reference code to Classification and Detection benchmarks, or other tasks. However, it's typically framework-based (i.e. uses TensorFlow, PyTorch or ONNX), so may not be optimal.

Instead, you may wish to use vendor-specific inference engines e.g. TensorRT from NVIDIA, OpenVINO from Intel and ArmNN from Arm. For this, I'd rec

[2020-08-18 16:48] christ1ne commented on #671
WG decided to update a script. To be done by @guschmue

[2020-08-18 16:49] #683 closed

[2020-08-19 01:18] dkorchevgithub commented on #645
Hello,

I am working on DLRM ONNX interface and I have some issues running the predict.

The model (Critio Kaggle, 7 days of data) is converted with the following code from dlrm_s_pytorch.py
if args.save_onnx:
        dlrm_pytorch_onnx_file = "dlrm_kaggle.onnxruntime"
        print(X_onnx, lS_o_onnx, lS_i_onnx)
        torch.onnx.export(
            dlrm, (X_onnx, lS_o_onnx, lS_i_onnx), dlrm_pytor

[2020-08-24 15:53] aaronzhongii opened #697 "submission checker: CAS error is an accepted error"
check https://github.com/mlperf/inference/issues/468

currently submission checker still report it as an error.

[2020-08-24 16:02] aaronzhongii commented on #697
seems the code does include the CAS error to the ignore list. Probably the code checking whether the error is CAS or not is not working.

[2020-08-24 18:44] christ1ne opened #698 "BERT calibration dataset proposal"
We'd like to propose a calibration dataset since there is none in the reference.

Here is the 100 randomly selected samples from dev-1.1.json file, which contains 10570 samples in total.

4547  9556  2033  2181 10376  6995  5480  2096  4211   458  8812  4365
  6025  9277  6287  5469  3426  7483  8462  6584  8969  4659  5045  2875
  6314  4506  6466 10086  9957  3453  7249  3947  3855  1500   491

[2020-08-24 23:36] christ1ne commented on #642
will target for v0.8

[2020-08-24 23:36] #642 closed

[2020-08-24 23:36] #639 closed

[2020-08-25 02:48] nv-rborkar opened #699 "submission checker: Feature request for more checks"
Thanks for the great submission-checker!

It would be nice to further add the following checks to the submission checker:

1. Verification of latency constraints for Server & Multi-Stream Scenarios
2. Verification of test duration (minimum query count + 60s or minimum samples/query in the case of Offfline mode)
3. Verification of allowed Loadgen commit hash

I have a PR in works to add (1) and (2)

[2020-08-25 15:38] nvpohanh commented on #699
Should we also check the min_query_count and min sample count requirements?

[2020-08-25 15:38] nvpohanh commented on #699
Ah, it's probably included in (2)?

[2020-08-25 15:44] guschmue commented on #697
There is some code that skips over this error but I deactivated that code for v0.7 assuming it was fixed for v0.7.
Guess I was to optimistic and will re-enable this code.

[2020-08-25 15:45] guschmue commented on #699
Yes, please - more checks are very welcome !

[2020-08-25 17:09] christ1ne commented on #698
WG: approved

[2020-08-25 17:27] nv-rborkar commented on #699
Right, (2) covers that.

[2020-08-27 05:32] nvpohanh opened #705 ""Invalid model for closed division" error by submission checker"
@guschmue  We are hitting these invalid model names. Could you take a look why these model (benchmark) names are not allowed? Thanks

[code]

[2020-08-27 17:03] guschmue commented on #705
real silly error - forgot a "," between model names.
added a fix to https://github.com/mlperf/inference/pull/702

[2020-08-27 17:05] nvpohanh commented on #705
@guschmue What about `ssd-mobilenet` `ssd-resnet34` `resnet50` vs `ssd-small` `ssd-large` `resnet`? The mlperf.conf uses the former set...

[2020-08-27 17:09] guschmue commented on #705
the official names have been resnet, ssd-small and ssd-large but we have mapping from the unofficial names to the official ones so either way is fine:
https://github.com/mlperf/inference/blob/master/tools/submission/submission-checker.py#L123

[2020-08-27 17:31] nvpohanh commented on #705
but even with that mapping, it still does not allow `closed/NVIDIA/results/our_system/ssd-resnet34`, for example.

[2020-08-28 14:49] guschmue commented on #705
You need the fix for #702, I called the mapping func after the initial check.

[2020-08-28 14:50] nvpohanh commented on #705
Ah, got it! I will try that. Thanks

[2020-08-28 17:37] nv-rborkar commented on #699
For (3), do we have a list of loadgen commit ids allowed for MLperfv0.7?

[2020-08-28 19:24] nvpohanh commented on #699
I don't think we have that yet.

[2020-08-28 21:28] guschmue commented on #699
I was thinking to take a r0.7 release branch once https://github.com/mlperf/inference/pull/702 is merged.
After that we'd expect very few changes.

[2020-09-01 14:29] christ1ne opened #714 "mlperf.conf has both fixed and tunable fields"
The file should at least show which ones are fixed, which ones are tunable, with some comments. E.g. server target QPS should be tunable.

@nvpohanh has kindly agree to propose a PR on this.

[2020-09-01 14:41] nvpohanh commented on #714
Addressed by #712

[2020-09-01 20:16] ashwin opened #716 "submission checker: Can it write to submission_checker_log.txt instead of compliance_checker_log.txt?"
Can the submission checker script write to submission_checker_log.txt instead of compliance_checker_log.txt? The latter file name is confusing because it refers to compliance checking, which is different.

CC: @guschmue

[2020-09-02 23:21] guschmue commented on #716
submission-checker does not write to a log file.

[2020-09-03 05:35] nvpohanh commented on #716
I think this is more of a submission rule issue: https://github.com/mlperf/policies/blob/master/submission_rules.adoc#inference-1

Should we name it "compliance_checker_log.txt" or "submission_checker_log.txt"?

[2020-09-03 14:40] guschmue commented on #716
oh, I see. Yes, submission_checker_log.txt would be correct. Who is doing to PR?

[2020-09-03 15:23] nvpohanh commented on #716
working on that now...

[2020-09-03 15:26] nvpohanh commented on #716
PR: https://github.com/mlperf/policies/pull/55

[2020-09-03 20:54] guschmue commented on #716
super!

[2020-09-08 16:42] TheKanter commented on #671
We have a resolution, closing in WG.

[2020-09-08 16:42] #671 closed

[2020-09-08 16:42] TheKanter commented on #714
Po-Han has fixed code to address.

[2020-09-08 16:42] #714 closed

[2020-09-08 16:48] TheKanter commented on #492
Po-Han claims this is fixed. If he's bluffing, he will find a solution :)

[2020-09-08 16:48] #492 closed

[2020-09-08 16:48] TheKanter commented on #491
Already fixed per WG discussion today.

[2020-09-08 16:48] #491 closed

[2020-09-08 16:50] TheKanter commented on #499
This is not a problem, it is expected behavior. This audit run does not have a minimum run time requirement.

[2020-09-08 16:50] #499 closed

[2020-09-08 16:51] TheKanter commented on #607
WG: Believe this is resolved already.

[2020-09-08 16:51] #607 closed

[2020-09-08 16:53] TheKanter commented on #645
There is a bug in ONNX run time or exporter to allow for variable batch size. Once ONNX is fixed, we can get it working.

[2020-09-08 16:54] TheKanter commented on #644
This has been done, thanks team!

[2020-09-08 16:54] #644 closed

[2020-09-09 17:13] wilderfield opened #721 "submission checker: min_query_count for SingleStream scenario bug"
There is a bug here in the submission checker.

The function `check_performance_dir` is responsible for parsing `mlperf_log_summary.txt`.

When it parses for the scenario, it uses: `rt[m.group(1).strip()] = m.group(2).strip()` which converts the string `Single Stream` to `Single`.

`Single` is not a valid scenario, and this key is invalid. However, there are portions of the code that make use of i

[2020-09-09 19:24] nvpohanh commented on #721
We hit the same issue and checked in a fix (#720) into `r0.7` branch for this. Could you try with `r0.7` branch? Thanks

[2020-09-09 20:13] wilderfield commented on #721
@nvpohanh the `r0.7` branch works for me. Should I exclusively be using the `r0.7` branch for the upcoming submission?

[2020-09-09 20:22] nvpohanh commented on #721
Yes, submitters should use `r0.7` branch for submission. @guschmue FYI

[2020-09-09 21:32] wilderfield commented on #721
Thanks for your help @nvpohanh

[2020-09-10 10:40] psyhtest opened #725 "[DLRM] v0.5/recommendation/python still present in the tree"
Most importantly, has the bug [this commit](https://github.com/mlperf/inference/commit/cf0d0b3e71d0889bf24e3e75c8d22c9895e808f0) was intended to fix made its way to `recommendation/dlrm`?

@mnaumovfb

[2020-09-10 11:02] psyhtest commented on #716
Unfortunately, we didn't get over this PR at the last meeting but we (dv/dt) will use the new name.

[2020-09-10 12:06] nvpohanh commented on #716
how come we didn't cover this in last WG meeting... 🤦

[2020-09-10 15:29] mnaumovfb commented on #725
I think the backend_onnxruntime.py did not move to the new location.

I'll have a PR to fix it today.

[2020-09-10 19:45] mnaumovfb commented on #725
https://github.com/mlperf/inference/pull/728

[2020-09-10 20:45] mnaumovfb commented on #645
Here is the PR https://github.com/mlperf/inference/pull/728 that addresses this issue as well as the issue  https://github.com/mlperf/inference/issues/725

Please merge when you have a chance.

[2020-09-11 02:38] mthmsn commented on #520
This issue does not appear to have been resolved yet, even though we are now getting ready to submit for v0.7. I will assume my workaround from v0.5 is still sufficient to use for v0.7 unless anyone suggests otherwise.

[2020-09-11 02:41] mthmsn opened #729 "Compliance TEST04-B bug & workaround from v0.5 present in v0.7"
Issue https://github.com/mlperf/inference/issues/520 from v0.5 does not appear to have been resolved yet, even though we are now getting ready to submit for v0.7. I will assume my workaround from v0.5 (described and approved in #520) is still sufficient to use for v0.7 unless anyone suggests otherwise.

[2020-09-11 05:56] nvpohanh commented on #729
@nv-rborkar @georgelyuan ^^^

[2020-09-11 14:04] mthmsn commented on #729
A good change for the next version of TEST04-B (in MLPerf v1.0) would be to avoid using one query filled with the same repeating index like this (which is not representative of any of the MLPerf benchmarks):
[1, 1, 1, 1, ...]

and instead change it to use a query with unique indices, but then repeat that same query many times, like this:
[1, 821, 14, 2482, ...]
[1, 821, 14, 2482, ...]
[1, 821, 14,

[2020-09-11 18:59] christ1ne opened #731 "exact text for closed division server latency not met"
Let's finalize on the text in the result table for entries with server result not met:

options:
1. N/A
2. latency not met

Let's add to the rules once finalized. Please propose additional text options before the next meeting 9/15.

Best,
Christine

[2020-09-15 18:51] nv-rborkar commented on #729
@mthmsn does this bug affect reference implementation of classification & object detection benchmarks alone or did you observe similar behavior with reference implementations of other benchmarks as well?

Yes the WAR used in v0.5 is sufficient to use. Do you have a patch for the WAR - wonder if we can share it with others who might be facing this issue.

Above is an interesting idea. We do similar

[2020-09-15 18:52] sefibk opened #736 "Problem with Loadgen installation for v0.7"
When running `cd loadgen CFLAGS="-std=c++14" python setup.py develop` from the **inference** repo, **r0.7** branch.
I get:
[code]
Is this OK or must I get verification messages for 0.7 loadgen?

[2020-09-15 19:04] mthmsn commented on #729
@nv-rborkar I have only tried this with the classification & object detection benchmarks.

Thank you, we will continue to use the same workaround.

If other people have this same problem, they can refer to the changed 3 lines of code from our submission last year (we included the modified version of `main.py` with only those three lines being different from the regular `main.py`). The 3 lines that

[2020-09-15 19:15] guschmue commented on #736
It is not going to break anything, but yes - we should have changed the version number.

[2020-09-15 19:16] #736 closed

[2020-09-15 21:40] sefibk opened #738 "Help with submission checker"
When running `submission-checker.py` I get several errors. Any assistance to any of them will be much appreciated:
[code]
1+2. any workaround? these are files created in the official main.py
3+4. I don't understand these messages since the accuracy is sufficient for Resnet
5. is the message wrong? o.w. - found 1024, needs to be > 500. AFAIK this is defined in the main.py therefore I should not cha

[2020-09-15 21:57] mthmsn commented on #738
The submission checker looks for logs that have already been truncated with the script:
`https://github.com/mlperf/inference/blob/master/tools/submission/truncate_accuracy_log.py`

Regarding line 5: you need to change `main.py` to have 1024 instead of 500.

It is okay to change contents of `main.py` as long as you're following the rules. In fact it is required to modify `main.py` in some cases (e.

[2020-09-16 06:13] nvpohanh commented on #738
Also, are you using r0.7 branch? Master branch is a little out-dated at this point

[2020-09-16 06:16] nvpohanh commented on #738
Please use the truncation script to truncate the accuracy results: https://github.com/mlperf/inference/blob/master/tools/submission/truncate_accuracy_log.py

This is fine for Open division.

You need to set the performance sample count (or a.k.a. QSL size) to be at least 1024.

Does the directory `open/deci/results/openvino-cpu/resnet/SingleStream` exist?

Finally, please use the checker on r0.7 b

[2020-09-16 10:09] sefibk commented on #738
**Thank you for your help! this saved a lot of time.**
I am down to these messages:
[code]
The directory `open/deci/results/openvino-cpu/resnet/SingleStream` exists and I am running on the most recent r0.7 branch.
Any other ideas?
thanks again

[2020-09-16 15:12] nvpohanh commented on #738
It seems to ignore SingleStream... could you share the full log? Or maybe just anything that has "open/deci/results/openvino-cpu/resnet/SingleStream" in the line.

[2020-09-16 15:20] guschmue commented on #738
Yes, there is a PR for this here https://github.com/mlperf/inference/pull/732.
@christ1ne, we'd badly need to merge this one.

[2020-09-16 20:19] guschmue commented on #738
Try the r0.7 branch ... it should be merged now.

[2020-09-16 22:40] jaydevshelat opened #739 "ERROR : Loadgen built with uncommitted changes!"
In version 0.5,  this error was included in the "ignore_error" list  inside tools/submission/submission-checker.py .  However; in ver0.7;  this error is *not* part of "ignore_error" list.  We get this error when running the compliance tests.

I wanted to ask was the omission  from  "ignore_error"  list by design?

I can off course get around the error by doing a "git commit"  and  then building lo

[2020-09-17 04:47] nvpohanh commented on #739
@jaydevshelat Did you modify any codes after you `git clone ...` the repo? The LoadGen checks if you modifies anything, which is to ensure that everyone uses the same LoadGen for fairness. Doing `git commit` is not good since you will be in the incorrect commit hash.

Could you try re-cloning the repo and build LoadGen **without** modifying anything in the repo? Or if you have to modify non-LoadGe

[2020-09-17 19:07] jaydevshelat commented on #739
Hi,  there is no modification to the loadgen.  However, there is modification made to shell and python files (and couple extra shell scripts added) in classification_and_detection folder.  Should loadgen complaint even when that directory is touched?

please elaborate on "please clone a specifically repo specifically for building LoadGen"  ..... do you mean clone the repo twice -- one for just bui

[2020-09-17 19:24] guschmue commented on #739
loadgen takes that info during its own build.
It would not care about things in the app/python directory.

[2020-09-17 19:28] nvpohanh commented on #739
@guschmue IIRC, the LoadGen builder script did check `git status` and make sure there is no uncommitted change in the repo, not just the `loadgen/` directory. https://github.com/mlperf/inference/blob/master/loadgen/version_generator.py#L45 Or did I misunderstand this line?

[2020-09-17 19:41] guschmue commented on #739
yeah, I think you are correct. I never hit this - guess I build loadgen once directly after clone.

[2020-09-17 21:27] #622 closed

[2020-09-21 22:14] mneilly-et opened #748 "Link for pytorch/onnx 8 bit mobilenet ssd model points to tensorflow model"
The link in the table entry for the pytorch/onnx 8 bit version of ssd-mobilnet:

![image](https://user-images.githubusercontent.com/55827703/93826548-51360500-fc1c-11ea-8831-d434bf89bf45.png)

on this page:

https://github.com/mlperf/inference/tree/master/vision/classification_and_detection

appears to point to the same tarball as the tensorflow link and contains no ONNX nor PyTorch models:

https

[2020-09-25 17:52] Nitinmlp opened #749 "DLRM inference Pytorch python scripts are broken"
I am tryin to run MLPerf DLRM CPU Inference. The Python Script criteo.py is trying to import modules that no longer exist.
import dlrm_data_pytorch as dp
import data_loader_terabyte

None of the above modules are present. I could replace dlrm_data_pytorch with dataset.

What is new file for data_loader_terabyte?

Has anyone tested running inference post moving dir structures?

Regards
Nitin

[2020-10-06 10:43] psyhtest opened #753 "Server performance metric: completed vs. scheduled samples per second"
For the Server scenario, we have observed a slight difference between the current performance metric ("Scheduled samples per second") and the actual performance metric ("Completed samples per second" reported under "Additional Stats") e.g.:

[code]

The difference seems to become more pronounced on systems with higher target QPS.

This issue also affects compliance testing (which is how we discove

[2020-10-21 22:22] sindhujapr opened #759 "Benchmarking image classification on RPi failing with this error:"

[2020-10-21 22:27] sindhujapr opened #760 "Benchmarking image classification on RPi failing with this error: FileNotFoundError: [Errno 2] No such file or directory: 'tmp-ck-timer.json'"
Hi,

I am trying to get image classification numbers for TFLite on RPi 4, and I am following instructions from here:
https://github.com/ARM-software/armnn-mlperf#preprocess-on-an-x86-machine-and-detect-on-an-arm-dev-board

I am able to run successfully with the 500 imagenet dataset, but when I try the full dataset (50000 images), with this command:

ck benchmark program:image-classification-tflite

[2020-10-21 23:14] psyhtest commented on #760
Hi @sindhujapr, the error you are seeing is only a symptom of the `ck benchmark` command failing. We need to understand the cause. Mostly likely, it's because you haven't registered the full preprocessed dataset properly.

Is your copy of preprocessed ImageNet really at the root directory (as suggested by `/ILSVRC2012_val_00000001.JPEG`), or is it under some directory? For example, if it's under e

[2020-10-21 23:15] psyhtest commented on #759
Please close if a duplicate of #760.

[2020-10-22 01:16] sindhujapr commented on #760
Hi @psyhtest ,
Thanks for your quick response. You are correct, I did get errors when I tried to register the full imagenet dataset.

To try using files in JPEG format directly, I tried this:

ck detect soft --tags=dataset.imagenet,preprocessed,JPEG --extra_tags=using-opencv --full_path=/home/pi/preprocessedImagenet/local/imn_usb_disk_03/imagenet/raw_data/validation/ILSVRC20212_val_00000001.JPEG
C

[2020-10-22 01:49] #759 closed

[2020-10-22 14:52] sindhujapr commented on #760
Currently, the images I have are in JPEG format (images stored as uint8). Do you have a suggested way of converting it to .rgb8 (quantized and normalized?)

[2020-10-22 17:13] psyhtest commented on #760
Hi @sindhujapr , I thought you had successfully resolved this [before](https://github.com/mlperf/inference/issues/622#issuecomment-651999050)?

The steps are still the same:

1. [Detect](https://github.com/mlperf/inference/tree/master/vision/classification_and_detection/optional_harness_ck/classification#install-the-full-dataset-50000-images) e.g.:
[code]

2. [Preprocess](https://github.com/ARM-so

[2020-10-22 18:14] sindhujapr commented on #760
Hi @psyhtest,

I had it resolved when I worked with a subset of the imagenet dataset (500 images). It still works for that scenario. However, it is failing with the above mentioned errors when I work with the full imagenet dataset.

When I do the prerocessing step and transfer thef iles in batches from an x86 machine to RPi, the images are in JPEG format, not .rbg8. That is probably what is causin

[2020-10-23 20:16] JanderHungrige opened #761 "Dead link to Readme on the datasets"
The link to the readme  in Step 2 gives me a 404.
URL: https://github.com/mlperf/inference/tree/master/v0.5/classification_and_detection#datasets

Last line here:

[code]

[2020-10-26 14:17] psyhtest commented on #760
The preprocessing step should take in `*.JPEG` images and generate `.rgb8` files. Please double check you archive the right directory.

[2020-10-27 01:41] galv opened #762 "Speech Recognition Wishlist"
For those who don't know, I wrote the inference benchmark in ASR for v0.7.

It had two main issues: 

(1) LoadGen, the test harness for measuring performance did not support streaming models (so the only valid "scenario" was the Offline one, where only throughput counts).

(2) There is no external language model, which means that the benchmark is not really reflective of industry use.

Regarding (

[2020-10-27 03:40] christ1ne commented on #731
@tjablin can we add to the rules?

[2020-10-27 03:41] christ1ne commented on #729
can we close this one?

[2020-10-27 03:41] christ1ne commented on #725
OK to close @psyhtest ?

[2020-10-27 03:41] christ1ne commented on #705
ok to close @nvpohanh ?

[2020-10-27 03:45] christ1ne commented on #761
can you check the latest mater https://github.com/mlperf/inference/tree/master/vision/classification_and_detection

[2020-10-27 04:08] nvpohanh commented on #705
Yes, it worked.

[2020-10-27 04:08] #705 closed

[2020-10-27 09:35] TzurV commented on #762
I’m not sure there is industrial standard for benchmarking streaming ASR.
There are 4 measurements I have used in the past:
1.	Final WER- the same as currently used and treating the system as offline.
2.	Words Latency – The latency is measured from the time the last frame of a word was provided to the recognition engine until a word (correct or incorrect word) is reported in the output. Reference

[2020-10-27 11:00] psyhtest commented on #725
Sure, thanks!

[2020-10-27 11:00] #725 closed

[2020-10-27 14:33] mthmsn commented on #729
This problem will crop up for every MLPerf submission round unless this compliance test is changed to accommodate TF-Lite better. I think the suggested changes a few comments further up need to be implemented before the next submission round.

[2020-10-27 16:17] christ1ne opened #763 "total number of inference benchmarks allowed"
We target maximum 8 benchmarks for datacenter inference, 8 benchmarks for edge inference and 8 for mobile.

All benchmarks should match the training models unless there is a compelling reason not to do so.

[2020-10-27 16:46] christ1ne commented on #753
@georgelyuan  please take a look.

[2020-10-27 16:47] christ1ne commented on #738
can I close this @sefibk

[2020-10-27 17:24] #738 closed

[2020-10-27 20:49] nv-rborkar commented on #729
Agreed, we should try to resolve any remaining issues with this test.

@mthmsn can you explain your proposed fix some more? In Offline we typically just issue one query in my understanding. So I am not following the proposed issuing of multiple queries.
In case of Multi-stream, we do issue queries the way you have explained above for TEST04-B.

[2020-10-27 23:51] christ1ne commented on #760
Is this still an issue? @sindhujapr

[2020-10-27 23:54] christ1ne commented on #748
@guschmue  do we need to clean up this?

[2020-10-28 00:01] gsrujana89 commented on #749
These are both in https://github.com/facebookresearch/dlrm/tree/master available as a module in https://github.com/mlperf/training/tree/master/recommendation.

It gets imported when you git clone recursively and
export DLRM_DIR=$HOME/mlperf/training/recommendation/dlrm as per https://github.com/mlperf/inference/tree/master/recommendation/dlrm/pytorch#prepare-the-code-and-dataset.

[2020-10-28 01:30] DilipSequeira commented on #762
From discussion this morning... I think for 1.0 we could reasonably consider changes to loadgen to facilitate streaming inference.

If we're doing that, we need to consider how to benchmark streaming inference, and one option is "how many streams can you sustain?" which would lead us towards Multistream as the best match for streaming inference among the available scenarios (every 10ms you N 10ms

[2020-10-28 02:10] nvpohanh commented on #729
@mthmsn I have another question:

In a "normal" run (not TEST-04B), the Offline scenario is already doing what you mentioned: if QSL size is 16, then LoadGen will issue one single query containing indices of [0, 1, 2, ..., 15, 0, 1, 2, ..., 15, 0, 1, 2, ..., 15, 0, 1, 2, ...]. How would your proposal be different from a normal run and help us to capture potential caching? Thanks

[2020-10-28 08:00] TzurV commented on #762
The task can be simplified by assuming N streaming run in parallel on the same machine are all equal and WER (#1 from above) performance is the same.
For the below suggestion I assume that the tested audios are short up to several minutes each.
The test should be long enough, half-hour at least.
What is needed then is -
a. Randomize files list. each stream should have the files in different order.

[2020-10-28 13:47] sindhujapr commented on #760
I haven't checked on the pre-processing step yet, but I think I have sufficient information for the error. I will close this issue.

Thank you for all you help!

[2020-10-28 13:47] #760 closed

[2020-10-29 06:05] galv commented on #762
Here's a dumb of an old document that someone people in MLPerf collaborated on about a year ago when discussions around ASR first began, for future reference:

# Latency
The purpose of this section is to define “latency” for the MLPerf Inference suite which will naturally lead to the definition of sample and query. There are at least three different possible latency metrics. Once a decision has be

[2020-10-29 08:51] jounghoolee commented on #378
I strongly agree with @rrawther . Yet least we should include it in Dockerfile when running with docker option....

[2020-10-29 12:54] XiaobingSuper opened #764 "PyTorch ssd_resnet34 has lower accuracy on coco dataset"
I am using the source code [single_stage_detector/pytorch](https://github.com/mlperf/inference/tree/master/others/cloud/single_stage_detector/pytorch)  to test PyTorch ssd_resnet34 accuracy on CPU device, but get a lower accuracy, the mAP is **0.09001**, it is too bad compared the target.
[code]
How to produce this result(https://github.com/mlperf/inference/tree/master/others/cloud/single_stage_de

[2020-10-29 14:39] mthmsn commented on #729
@nvpohanh That is an interesting observation. I would have a couple guesses about the potential underlying cause:

1. The issue could arise when the QSL size is lower than the expected batch size in TF-Lite, thereby forcing multiple identical indices within the same batch. In fact, in our `user.conf` file, we manually set the `performance_sample_count_override` to 1024 to ensure this doesn't becom

[2020-10-29 14:42] mthmsn commented on #729
@nv-rborkar We don't have to implement my suggested fix, it might make more sense to discuss this further before zeroing in on a solution. The main point I was making in my suggested solution was to avoid repeating the same index through the entire query (e.g., see my other post above).

[2020-10-29 17:43] nv-rborkar commented on #729
@mthmsn

Regarding below:

In TEST04-B, QSL is NOT 1. QSL size is still determined by what you set the performance_sample_count_overrride to be as it can be seen here: https://github.com/mlperf/inference/blob/master/loadgen/test_settings_internal.cc#L133-L136

`performance_sample_count` on the other hand is passed here: https://github.com/mlperf/inference/blob/master/loadgen/test_settings_internal

[2020-10-29 18:39] psyhtest commented on #542
Still an issue.

[2020-10-29 20:15] captainjtx opened #765 "Why DLRM Offline scenario used variable query size and specify max-batchsize ?"
I thought offline has not latency constraint and only cares about throughput so you are free to use any access pattern with any batchsize ?

[2020-10-30 03:35] nvpohanh commented on #765
I think you are free to change the max batch size to anything you want.

[2020-10-30 08:35] #764 closed

[2020-10-30 16:10] guschmue commented on #748
hm, let me check.

[2020-11-02 18:50] christ1ne commented on #749
Can I close this @Nitinmlp

[2020-11-02 18:54] christ1ne commented on #765
please re-open if needed.

[2020-11-02 18:54] #765 closed

[2020-11-02 18:55] christ1ne commented on #763
updated the roadmap doc accordingly. https://docs.google.com/document/d/15SJJqVBuLLC6k8Tks1TiyPWFwEGCzFmBhgJPU8ph_7s/edit

[2020-11-02 18:55] #763 closed

[2020-11-02 19:44] christ1ne commented on #762
Shall we decide on what datacenter/edge use case(s) we want to target, then find a the suitable measurement methodology? E.g. https://www.ibm.com/cloud/learn/speech-recognition#toc-speech-rec-GaPrtSxU

[2020-11-02 19:44] christ1ne commented on #762
By reading the comments above, I think we need to target a typical

[2020-11-02 19:45] christ1ne commented on #761
please re-open if needed.

[2020-11-02 19:45] #761 closed

[2020-11-02 19:46] christ1ne commented on #739
@jaydevshelat  please re-open if needed

[2020-11-02 19:46] #739 closed

[2020-11-02 19:47] christ1ne commented on #721
sounds like no longer a problem!

[2020-11-02 19:47] #721 closed

[2020-11-02 19:48] christ1ne commented on #689
Any suggestion for next step @galv?

[2020-11-02 19:49] christ1ne commented on #688
@georgelyuan any work needed here?

[2020-11-02 19:50] #636 closed

[2020-11-02 19:50] #609 closed

[2020-11-02 19:52] #63 closed

[2020-11-02 19:52] #103 closed

[2020-11-02 19:52] #182 closed

[2020-11-02 19:52] #190 closed

[2020-11-02 19:52] #195 closed

[2020-11-02 19:52] #223 closed

[2020-11-02 19:52] #228 closed

[2020-11-02 19:52] #229 closed

[2020-11-02 19:52] #233 closed

[2020-11-02 19:52] #242 closed

[2020-11-02 19:52] #264 closed

[2020-11-02 19:52] #289 closed

[2020-11-02 19:52] #292 closed

[2020-11-02 19:52] #297 closed

[2020-11-02 19:52] #313 closed

[2020-11-02 19:52] #318 closed

[2020-11-02 19:52] #323 closed

[2020-11-02 19:53] georgelyuan commented on #688
Yes, this has been fixed.

[2020-11-02 19:53] #213 closed

[2020-11-02 19:53] #300 closed

[2020-11-02 19:53] #356 closed

[2020-11-02 19:53] #358 closed

[2020-11-02 19:53] #368 closed

[2020-11-02 19:53] #378 closed

[2020-11-02 19:53] #383 closed

[2020-11-02 19:53] #388 closed

[2020-11-02 19:53] #391 closed

[2020-11-02 19:53] #428 closed

[2020-11-02 19:53] #430 closed

[2020-11-02 19:53] #433 closed

[2020-11-02 19:53] #435 closed

[2020-11-02 19:53] #440 closed

[2020-11-02 19:53] #441 closed

[2020-11-02 19:53] #444 closed

[2020-11-02 19:53] #451 closed

[2020-11-02 19:53] #455 closed

[2020-11-02 19:53] #457 closed

[2020-11-02 19:53] #462 closed

[2020-11-02 19:53] #468 closed

[2020-11-02 19:53] #470 closed

[2020-11-02 19:53] #472 closed

[2020-11-02 19:53] #475 closed

[2020-11-02 19:53] #477 closed

[2020-11-02 19:54] #478 closed

[2020-11-02 19:54] #480 closed

[2020-11-02 19:54] #483 closed

[2020-11-02 19:54] #487 closed

[2020-11-02 19:54] #488 closed

[2020-11-02 19:54] #493 closed

[2020-11-02 19:54] #495 closed

[2020-11-02 19:54] #498 closed

[2020-11-02 19:54] #500 closed

[2020-11-02 19:54] #501 closed

[2020-11-02 19:54] #503 closed

[2020-11-02 19:54] #504 closed

[2020-11-02 19:54] #505 closed

[2020-11-02 19:54] #506 closed

[2020-11-02 19:54] #507 closed

[2020-11-02 19:54] #508 closed

[2020-11-02 19:54] #509 closed

[2020-11-02 19:54] #510 closed

[2020-11-02 19:54] #512 closed

[2020-11-02 19:54] #514 closed

[2020-11-02 19:54] #519 closed

[2020-11-02 19:54] #520 closed

[2020-11-02 19:54] #525 closed

[2020-11-02 19:54] #528 closed

[2020-11-02 19:56] #537 closed

[2020-11-02 19:56] #538 closed

[2020-11-02 19:56] #539 closed

[2020-11-02 19:56] #540 closed

[2020-11-02 19:56] #541 closed

[2020-11-02 19:56] #543 closed

[2020-11-02 19:56] #544 closed

[2020-11-02 19:56] #545 closed

[2020-11-02 19:56] #548 closed

[2020-11-02 19:56] #549 closed

[2020-11-02 19:56] #551 closed

[2020-11-02 19:56] #554 closed

[2020-11-02 19:56] #555 closed

[2020-11-02 19:57] galv commented on #689
We would probably need quantization-aware training for this to work, even though the [original RNN-T paper](https://arxiv.org/pdf/1811.06621.pdf) we based this on does not use it. Note that our work on MLCommons's The People's Speech Dataset has trained state-of-the-art-ish CTC models, but not RNN-T models, in tensorflow. So we are bringing up the infra to do that sort of thing, but it's not activ

[2020-11-03 02:26] nvpohanh commented on #689
No, we didn't submit a quantized submission in v0.7.

[2020-11-03 04:35] Nitinmlp commented on #749
Are these scripts fixed now? Has any one tested?
________________________________
From: christ1ne <notifications@github.com>
Sent: Tuesday, November 3, 2020 12:20 AM
To: mlperf/inference <inference@noreply.github.com>
Cc: Nitinmlp <nitinin@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [mlperf/inference] DLRM inference Pytorch python scripts are broken (#749)

Can I close this @Ni

[2020-11-03 17:48] christ1ne commented on #762
Dilip will be the PoC to see if people on this topic would like to have a more focused discussion

[2020-11-03 17:55] christ1ne commented on #753
WG: the proposal is to use "Completed samples per second" for reporting the server performance, rather than the "Scheduled samples per second". Anton will provide more data points.

[2020-11-03 17:57] christ1ne commented on #689
please re-open if needed.

[2020-11-03 17:57] #689 closed

[2020-11-03 17:57] christ1ne commented on #645
fixed and merged

[2020-11-03 17:57] #645 closed

[2020-11-04 23:29] christ1ne commented on #762
Overall I still don't understand why the server measurement is not adequate for speech recognition. I'm assuming we are targeting a use case like Alexa.  Currently Alexa speech samples are uploaded to the servers to process. Each sample is a sentence like 'Alexa turn on the living room light', which kind of matches the current sample definition of <15 sec speech sample used in RNNT. The server mea

[2020-11-05 03:45] nvpohanh opened #766 "Remove Python2 dependencies from LoadGen"
Remove Python2 dependencies from LoadGen

Currently, LoadGen still depends on Python2 AFAIK. We should remove these dependencies and use Python3 only.

[2020-11-05 23:00] cesar-avalos3 commented on #749
I have, they work fine, you need to recursively clone both training and inference repos, the data_loader_terabyte module is inside the training repo.

[2020-11-10 01:19] Nitinmlp commented on #749
Ok. Please close the ticket. I will try later few wels down the line

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Cesar Avalos <notifications@github.com>
Sent: Friday, November 6, 2020 4:31:09 AM
To: mlperf/inference <inference@noreply.github.com>
Cc: Nitinmlp <nitinin@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [mlperf/inference] DLRM

[2020-11-10 02:55] #749 closed

[2020-11-10 17:02] christ1ne commented on #766
WG: sounds good. please raise a PR. @nvpohanh

[2020-11-10 17:03] christ1ne commented on #762
still WIP

[2020-11-10 17:06] christ1ne commented on #753
WG: we will keep the  "Scheduled samples per second" as the official metric. It is by design that "Completed samples per second" will be slightly different.

[2020-11-10 17:06] #753 closed

[2020-11-10 17:07] christ1ne commented on #729
any action needed here? @mthmsn

[2020-11-10 17:20] mthmsn commented on #729
@christ1ne yes, further action is needed. I think what would be helpful here is if someone (perhaps in MLCommons?) could run all of the compliance tests for all of the models that MLPerf provided just to flesh out for sure what is really supported by the MLPerf reference implementations.

Looking at @nv-rborkar's last question, I think it's reasonable to assume that probably no one knows yet if th

[2020-11-11 02:48] nvpohanh commented on #766
Will do. ETA by late November.

[2020-11-11 05:13] yuanzhangzhu commented on #599
Do you know the reason? Why is memory_order_release not ok.

[2020-11-11 05:41] yuanzhangzhu opened #767 "as python's threading is one core multithreading, so only one core is working for inference."
class QueueRunner(RunnerBase):
    def __init__(self, model, ds, threads, post_proc=None, max_batchsize=128):
        ...
        for _ in range(self.threads):
            **worker = threading.Thread(target=self.handle_tasks, args=(self.tasks,))**
            worker.daemon = True
            self.workers.append(worker)
            worker.start()
From code in "inference/vision/classification_and_de

[2020-11-11 06:22] snnn commented on #599
According to C++ standard, it is not allowed.

[2020-11-11 07:17] nvpohanh commented on #599
@briandersn Could you help to reply the question?

I do see that `memory_order_release` is not allowed in atomic load(): https://en.cppreference.com/w/cpp/atomic/atomic/load

[2020-11-11 07:20] nvpohanh commented on #767
Please feel free to file a PR to improve it.

[2020-11-12 00:23] guschmue commented on #767
'so only 1 core is working' is not entirely correct.
What happens is that as soon you call the runtime predict() the runtime will release the gil (I'm 100% sure for tensorflow and onnxruntime). The runtime itself will utilize all threads (hopefully).
Because the gil is released a python thread can go and schedule additional requests.

If you look at cpu utilization when running inference on cpu yo

[2020-11-12 01:30] yuanzhangzhu commented on #599
As the model of x86 atomic is accquire-release, so the atomic release load is correct, and won't assert.
But for other architecture, atomic release order is for write. when atomic load is needed, the a order of accquire is needed fisrt to make sure the before release write is done and the result is synced from the write core to the load core.

so the below code should be a bug , really need change

[2020-11-12 02:13] yuanzhangzhu commented on #767
![image](https://user-images.githubusercontent.com/15189794/98885933-ec858100-24cd-11eb-8130-b0c81fb2679b.png)
there's 3 point that could apply multi core. The 1st is mlperf, as described in this loop, but python's threading can't apply mutl core because of GIL lock. The 2nd point is runtime(tensorflow/pytorch/onnxruntime), I can't make sure how the runtime apply multi core,  maybe divide a model

[2020-11-12 02:27] guschmue commented on #767
if the runtime doesn't do things in parallel ... perf is not going to be good so I don't think you'll find many runtimes that run matrix ops on a single thread. Unless of course you care more about resource than perf which I would expect for embedded stuff and maybe mobile.
But as long the runtime releases the gil before running the inference the mlperf app should run on other threads. The runtime

[2020-11-12 04:06] yuanzhangzhu commented on #767
onnxruntime really could use multi core correctly , so close

[2020-11-12 04:06] #767 closed

[2020-11-12 22:28] jemitche1 opened #768 "Accuracy Check for DLRM"
I am trying to check the accuracy for a convert pytorch to onnx model; however, I receive the following issue:

onnxruntime.capi.onnxruntime_pybind11_state.Fail: [ONNXRuntimeError] : 1 : FAIL : Load model from /home/ubuntu/dlrm/dlrm_terabyte.onnxruntime failed:Node (Concat_740) Op (Concat) [ShapeInferenceError] All inputs to Concat must have same rank

The command used:
/run_local.sh onnxruntime d

[2020-11-13 19:34] christ1ne commented on #716
@guschmue  @nvpohanh  shall we just remove compliance_checker_log.txt from the requirement since the file is expected to generate with the submission checker?

[2020-11-16 03:10] nvpohanh commented on #716
I don't think submission checker automatically saves its own output to a file. you need to do something like `python3 submission-checker.py > submission_checker_log.txt`.

[2020-11-17 17:08] christ1ne commented on #768
onnxruntime was working around the time of submission. @mnaumovfb do you know the latest status on the ONNX models?

[2020-11-17 17:16] christ1ne commented on #729
@mthmsn can we incorporate the WAR from you  in a PR since the compliance test does not check performance?

[2020-11-17 17:19] christ1ne commented on #716
@guschmue please either update the logger to log at "compliance_checker_log.txt" as shown in the submission rules, or remove that txt line item from the submission rules.

[2020-11-17 18:31] mthmsn commented on #729
@christ1ne that's fine with me. I don't currently have proper privileges in this repo to submit a PR. The code change is really minimal (so someone else can do it), but it touches `main.py`, so the change should probably exist only in a separate TEST04-B version of the `main.py` script (`main_compliance-test04b-issue-workaround.py`?). Note that this is exactly what we did for our submission, we ha

[2020-11-18 19:26] mnaumovfb commented on #768
There was a recent change in the way the model is saved in ONNX and loaded by the MLPerf DLRM runtime. This change  enabled the use of variable batch size during inference, which was an important requirement for MLPerf. In this change the input data was loaded as tensors, rather than list of tensors. It also required the latest versions of PyTorch and ONNX to work.

Please make sure that
1. You ha

[2020-11-19 08:51] yuanzhangzhu opened #772 "Why is there no resnet50 pytorch model?"
there is no resnet50 pytorch model. Only resnet50_v1.onnx is availble.
I tried to make a resnet50.pytorch model , but failed. Does anybody know how to build a resnet50.pytorch model, Thanks!

[2020-11-20 15:00] Xaenalt commented on #599
Just had occasion to test this today

**memory_order_acq_rel** causes the same assertion

**memory_order_release** did let it run to completion

[2020-11-20 18:41] christ1ne commented on #559
I'm closing this as the reference timing logging is not the source of truth. Please use the logs from loadgen as the source of truth. If needed, please suggest edits to the logging spec doc (please see the recent WG slides here https://docs.google.com/presentation/d/1VnjrbhHUJstkXC2RO1zqHXYyhE2YforpPbdyrxbMKo4/edit. You have to be part of the WG to access the slides)

[2020-11-20 18:41] #559 closed

[2020-11-20 18:42] christ1ne commented on #557
We will update the models per the vision advisory board output.

[2020-11-20 18:42] #557 closed

[2020-11-20 18:43] christ1ne commented on #564
closing this issue due to lack of activity. please re-open if needed.

[2020-11-20 18:43] #564 closed

[2020-11-20 18:44] christ1ne commented on #568
closing this issue due to lack of activity. please re-open if needed.

[2020-11-20 18:44] #568 closed

[2020-11-20 18:47] christ1ne commented on #577
min_query_count is independent of the SPQ. It is the total amount of queries needed for a test to generate valid results. please reopen if needed.

[2020-11-20 18:47] #577 closed

[2020-11-20 18:50] christ1ne commented on #578
you can check out past intel core products results e.g. https://github.com/mlperf/inference_results_v0.5/tree/master/closed/Intel/code/ssd-small/openvino-windows

[2020-11-20 18:50] #578 closed

[2020-11-20 18:52] christ1ne commented on #591
Since loadgen is used for reporting the final timing where the final result needs to be returned to loadgen, the timing should be device agnostic. please re-open if needed.

[2020-11-20 18:52] #591 closed

[2020-11-20 18:53] christ1ne commented on #580
is the problem still there?

[2020-11-20 18:53] #580 closed

[2020-11-20 18:53] #581 closed

[2020-11-20 18:54] christ1ne commented on #631
@nvpohanh  is this still a request for v1.0?

[2020-11-20 18:56] christ1ne commented on #687
https://github.com/mlperf/inference/tree/master/recommendation/dlrm/tf  please check if this work-in-process is working for you. Please @mnaumovfb if you have further questions.

[2020-11-20 18:56] #687 closed

[2020-11-20 18:57] christ1ne commented on #598
is the problem still there?

[2020-11-20 18:58] #585 closed

[2020-11-20 19:00] christ1ne commented on #606
closing this @psyhtest  for now and please reach out @mnaumovfb if needed.

[2020-11-20 19:00] #606 closed

[2020-11-20 19:01] christ1ne commented on #699
closing for now since all the work seems complete

[2020-11-20 19:01] #699 closed

[2020-11-20 19:02] #681 closed

[2020-11-20 19:02] #667 closed

[2020-11-20 19:03] christ1ne commented on #663
closing for now. We always welcome PRs to enable new functionality. @SIATHICAS

[2020-11-20 19:03] #663 closed

[2020-11-20 19:11] christ1ne commented on #583
unfortunately the current MLPerf documentation is not there. Please consult the source code under the loadgen folder

[2020-11-20 19:11] #583 closed

[2020-11-20 19:13] christ1ne commented on #611
the issue should be resolved in the latest reference. please check again and re-open the issue if needed

[2020-11-20 19:13] #611 closed

[2020-11-20 19:14] #608 closed

[2020-11-20 19:15] christ1ne commented on #617
Is there any update on this? Shall I close this issue for now?

[2020-11-20 19:15] #617 closed

[2020-11-20 19:16] #576 closed

[2020-11-20 19:16] #697 closed

[2020-11-20 19:17] christ1ne commented on #692
https://github.com/mlperf/inference/tree/master/loadgen/benchmark

[2020-11-20 19:17] #692 closed

[2020-11-20 19:19] christ1ne commented on #616
now you can look at the NV submission code on RNNT. closing this issue for now and please re-open if needed.

[2020-11-20 19:19] #616 closed

[2020-11-20 19:20] christ1ne commented on #604
Is this still an issue @psyhtest? you may want to tag Maxim. Otherwise please close this issue?

[2020-11-20 19:22] christ1ne commented on #691
@mnaumovfb

[2020-11-20 19:22] #661 closed

[2020-11-20 19:46] mnaumovfb commented on #691
This has been addressed here https://github.com/facebookresearch/dlrm/issues/121

[2020-11-20 20:12] christ1ne commented on #691
sounds good. please re-open if needed.

[2020-11-20 20:12] #691 closed

[2020-11-23 03:21] nvpohanh commented on #631
It's something that logging WG is working on. I think we can keep this open to track, but we don't need to go through these in main Inference WG.

[2020-11-23 07:31] yuanzhangzhu opened #773 "big gap between tensorflow/onnxruntime/pytorch in offline test result"
in offline test case, 364(tf) to 247(onnxruntime) to 53(pytorch),  Who know the reason, why is there so big gap between the 3 stacks?
./run_local.sh **tf** ssd-mobilenet cpu --max-batchsize 4 --scenario Offline --count 640 --threads 32
TestScenario.Offline qps=**364.32**, mean=1.6841, time=1.757, queries=640

./run_local.sh **onnxruntime** ssd-mobilenet cpu --max-batchsize 4 --scenario Offline --c

[2020-11-23 08:19] nvpohanh commented on #773
Reference implementation is meant to serve as a reference for the submitters to follow, but is not meant to be the most optimal implementation, so it is expected that their performance might be sub-optimal. Could you try the implementations in the actual submissions and see if the same issue exists? https://github.com/mlperf/inference_results_v0.7

[2020-11-24 17:02] Alok-Ranjan23 opened #775 "Is there any computation overhead of using LoadGen ?"
Is there any computation overhead of using LoadGen to generate queries according to the scenario (single-stream, multi-stream, server, offline) for **inference performance mode run**?(check figure-no. 3 in the page 8 of this [Paper](https://arxiv.org/pdf/1911.02549.pdf)).

If there is no overhead of using LoadGen for **inference performance mode run**, please explain the reason.

[2020-11-30 21:41] sabquat opened #778 "resizing ImageNet data"
What is the easiest way to resize the  ImageNet data to 224x224? Is there any dedicated script for the task?

[2020-11-30 23:28] tjablin commented on #775
For MLPerf Inference 0.5, Google measured the Loadgen overhead and found that it was insignificant for results less than about 1.5 MPQS. NVIDIA made some improvements to the Loadgen in 0.7, so it should be possible to accurately measure performance up to about 5 MQPS. I think the Loadgen overhead is sufficiently low for practical applications.

[2020-12-01 03:08] nvpohanh commented on #778
Yes, see the following functions:

- https://github.com/mlcommons/inference/blob/master/vision/classification_and_detection/python/dataset.py#L168
- https://github.com/mlcommons/inference/blob/master/vision/classification_and_detection/python/dataset.py#L187

[2020-12-01 17:28] sabquat commented on #778
This he final python script that I used to resize images
[code]

[2020-12-01 17:42] guschmue commented on #773
The pytorch implementation is here:
https://github.com/mlcommons/inference/blob/master/vision/classification_and_detection/python/models/ssd_mobilenet_v1.py
but it looks that it is less than optimal (guess it has python code in the active path).

Perfect would be to use pytorch with scripting mode and add support for pytorch/scripting to the reference app.

[2020-12-01 19:37] psyhtest commented on #778
Hi @sabquat

Since you appear to have used Collective Knowledge to download the images and labels (cool!), you could have simply followed the [resizing instructions](https://github.com/mlcommons/inference/tree/master/vision/classification_and_detection/optional_harness_ck/classification#install-the-full-dataset-50000-images). This would give you a choice of preprocessing methods and resulting accu

[2020-12-02 03:38] sabquat commented on #778
Hello @psyhtest and @nvpohanh,
Thanks for your suggestion. my problem is solved for now.

[2020-12-02 03:38] #778 closed

[2020-12-07 19:07] guschmue commented on #772
When we wrote the reference app long time ago pytorch was still on the onnx route so we used onnx -> pytorch/caffe2.
This might still work but its not really what pytorch wants.
So we'd need to find a resnet50v1.5 model in pytorch, make sure its equivalent, jit/script it so we don't need to include the code in the reference app and add a backend to the reference app to run the scripted pytorch mod

[2020-12-07 23:23] christ1ne commented on #775
https://github.com/mlcommons/inference/tree/master/loadgen/benchmark

closing this issue. please re-open if needed.

[2020-12-07 23:23] #775 closed

[2020-12-07 23:25] christ1ne commented on #773
There is no requirement on the reference code sleep so the performance differences are expected, but not desirable. I'm closing this issue. Please re-open if needed.

[2020-12-07 23:25] #773 closed

[2020-12-07 23:27] christ1ne commented on #772
I will put this item in the backlog for now.

[2020-12-07 23:28] christ1ne commented on #762
moving to backlog for v1.1

[2020-12-11 06:52] bongjeong opened #782 "Is it possible to benchmark custom quantized-aware-trained model on our FPGA accelerator"
Hi
is it possible to run benchmark our quantized trained model(obilenetv1, resnet18, etc.) on the our FPGA accelerator.
Thanks.

[2020-12-15 13:46] peter197321 opened #783 "tflite enablement"
Is it possible to run mleprf tool within tflite runtime (tflite interpreter) allowing various backend to execute and benchmark? do you have some yocto recipe for the tool itself?

[2020-12-15 14:54] guschmue commented on #783
For [vision modes](https://github.com/mlcommons/inference/tree/master/vision/classification_and_detection) tflite is somewhat supported. fp32 modes should work. But if you'd want to use a quantitized model some changes might be needed to prep the model inputs for it.

[2020-12-15 14:55] guschmue commented on #598
assume this is resolved.

[2020-12-15 14:55] #598 closed

[2020-12-15 14:55] peter197321 commented on #783
@guschmue please can you point me to how to use the mlerf?

[2020-12-15 16:39] guschmue commented on #783
Maybe start here: https://github.com/mlcommons/inference/blob/master/vision/classification_and_detection/GettingStarted.ipynb
This run_local.sh script should work with tflite if you call it with:
[code]

[2020-12-15 17:48] #698 closed

[2020-12-15 18:09] mneilly-et opened #784 "Clarifying DLRM aggregation and "samples per second""
I'm looking for some clarity regarding the sample aggregation used in the DLRM benchmark and regarding the reported "samples per second" in the offline results.

- Specifically, what is the intent of the aggregation?
- And, how does the reported "samples per second" correlate to inferences per second?

Per the "Verifying aggregation trace" section in the README:

Looking at the code of the submiss

[2020-12-16 02:52] nvpohanh commented on #784
The motivation is that in real-world scenario, you usually run hundreds of item for a single user, so a "sample" should be hundreds of user-item pairs.

This is correct. Please let us know how the docs can be improved to make it clearer. Also feel free to make the change and file a Pull Request if you would like to. Thanks.

[2020-12-17 13:29] mneilly-et commented on #784
Thank you @nvpohanh for the clarification. Is this implementation, sending multiple separate samples, intended to provide portability by not relying on the use of EmbeddingBag with multiple bags?

[2020-12-18 03:13] nvpohanh commented on #784
I don't think this decision had anything to do with EmbeddingBag. It's more about how in the real world the recommender users would run the network. Usually a user comes with hundreds of items, and you run inference on a per-user basis. That's why our "sample" has hundreds of user-item pairs.

@mnaumovfb can provide more insight on this topic.

[2020-12-18 05:58] mnaumovfb commented on #784
@nvpohanh summarized the motivation above.

[2020-12-19 02:52] SundarRamanP2000 commented on #472
How was this resolved? I am facing a similar issue

[2020-12-24 08:40] songtaoshi opened #787 "Question about RNN-T Decoding"
Hi, I am quite confusing why here label -= 1, since the blank index is the max label, why it is minus 1 here?
https://github.com/mlcommons/inference/blob/0377ccd7456cb3856f889e0d4895053f06014e8e/speech_recognition/rnnt/pytorch/decoders.py#L108
[code]

[2020-12-24 08:41] songtaoshi commented on #787
@ashwin @jdduke @codyaustun @badenh  Thanks a lot!

[2020-12-24 08:57] nvpohanh commented on #787
In our reference implementation, we set `_blank_id` to `len(rnnt_vocab) - 1` (see https://github.com/mlcommons/inference/blob/0377ccd7456cb3856f889e0d4895053f06014e8e/speech_recognition/rnnt/pytorch_SUT.py#L85 ) which is the last label, so `label > self._blank_id` will never be True (i.e. label will never minus 1).

That part was to handle the case if you set `_blank_id` to something else. For exa

[2020-12-24 09:06] songtaoshi commented on #787
Got it. I forget there should be no blank_id in the LM decoder. So here is to fit "some situation" (RNN-T Encoder & Decoder have same vocab but Encoder just Pretrain with blank ID in somewhere middle), just make the two vocab list compatible.

[2020-12-27 03:10] #787 closed

[2020-12-28 02:57] alphaRGB opened #788 "Accurancy(fp32) of SSD-ResNet can not reach to mAP=0.2"
# Question
I have test **SSD-ResNet34** with Offline mode,   while got the **mAP=19.618%** which can not reach to 99%*FP32(mAP=0.2).
When testing, print some ERROR logs, COCO-2017 dataset seams 48  missmatched images

[code]

## ssd-ResNet34 result (datacenter + Offline, 1 x nvidia GPU)
**ssd-ResNet34** with **PyTorch** backend, get the result:
[code]

## Test code
repo: https://github.com/mlcommo

[2020-12-28 11:59] NSVR57 opened #789 "is this possible to inference on intel Arria 10 GX with openvino?"
is this possible to inference on intel Arria 10 GX with openvino. openvino doesn't have direct support on these model extensions like .pb, .onnx ..etc. one should convert models into IR representation.

[2020-12-30 09:06] Iicolan opened #791 "DLRM inference python script doesn't work"
I am tryin to run MLPerf DLRM CPU Inference. when I inference dataset  Criteo Terabyte with 0.875 sub-sampling (debugging), it can't passed and criteo.py return an error:

AttributeError: module 'dlrm_data_pytorch' has no attribute 'collate_wrapper_criteo'

Does anyone know how to solve this problem?
Thanks !

[2020-12-31 05:37] Iicolan opened #792 "NameError: name 'args' is not defined"
I was trying to run the benchmark of dlrm without docker, but when I run the following:
    ./run_local.sh pytorch dlrm terabyte cpu --scenario Offline --max-ind-range=10000000 --data-sub-sample-rate=0.875 --samples-
    to-aggregate-quantile-file=./tools/dist_quantile.txt --max-batchsize=2048 --mlperf-bin-loader
I got the following error message:
    Traceback (most recent call last):
         Fi

[2021-01-01 00:38] WorksWellWithOthers opened #793 "GCC error with 'Getting Started' | 'run_and_time.sh'"
Which benchmark is the easiest to get up and running?
I tried the Jupyter Notebook and manually downloading models and datasets to try 'run_and_time.sh' but I keep running into this issue. I have tried this on three different environments/machines.

`[classification_and_detection]# ./run_and_time.sh onnxruntime mobilenet cpu --accuracy
`
`./run_and_time.sh tf mobilenet gpu`

[code]

[code]

[2021-01-01 14:04] Jeongmiu commented on #791
How did you solve this problem?? I've got a same message.

[2021-01-04 01:35] Iicolan commented on #791
I try the next code to run the inference:
./run_local.sh pytorch dlrm terabyte cpu --scenario Offline --max-ind-range=10000000 --data-sub-sample-rate=0.875 --samples-to-aggregate-quantile-file=./tools/dist_quantile.txt --max-batchsize=2048 --mlperf-bin-loader
and it can solve this problem. However, new error returned as:
Traceback (most recent call last):
File "python/main.py", line 619, in
main()

[2021-01-04 01:39] nvpohanh commented on #793
Could you try `git submodule update --init --recursive` to pull all the submodules?

[2021-01-04 05:59] WorksWellWithOthers commented on #793
I'm still getting the same error message after running: `git submodule update --init --recursive`

Also, I love your profile picture.

[2021-01-04 06:05] nvpohanh commented on #793
In terms of which benchmark is the easiest to run, I would recommend BERT: https://github.com/mlcommons/inference/tree/master/language/bert

Could you make sure `inference/third_party/pybind/include/pybind11/functional.h` exist? Or try these commands instead: https://github.com/mlcommons/inference/blob/master/language/bert/Dockerfile#L20

[2021-01-04 08:28] #791 closed

[2021-01-04 08:36] #792 closed

[2021-01-04 08:44] Iicolan commented on #791
hi, you can try git clone the dlrm from mlperf branch, not from the master, try the following :
git clone -b mlperf https://github.com/facebookresearch/dlrm.git

[2021-01-04 19:47] WorksWellWithOthers commented on #793
[code]

[2021-01-04 19:53] WorksWellWithOthers commented on #793
The MLCommons CLA link goes to a 404 page.

https://github.com/mlcommons/inference/pull/794

[2021-01-04 23:50] WorksWellWithOthers commented on #793
Adding the follwing helped to setup loadgen.
`pip3 install absl-py`
`export CFLAGS='-std=c++14'

`Finished processing dependencies for mlperf-loadgen==0.5a0`

'run_and_time.sh' is still running into the same issues for me.

[2021-01-05 00:28] WorksWellWithOthers commented on #793
Tried 'GettingStarted.ipynb' again after 'git submodule update --init --recursive ' on my Ubuntu system:
`docker: Error response from daemon: pull access denied for mlperf-infer-imgclassify-cpu, repository does not exist or may require 'docker login': denied: requested access to the resource is denied.`
I'm getting the same error message here as well.

`make setup: initialize submodule, download d

[2021-01-05 01:46] Iicolan commented on #791
I try to git clone the dlrm codes with "mlperf" branch as follows:
       git clone -b mlperf https://github.com/facebookresearch/dlrm.git
and it seems that the problem above has been solved.  However, new error came as follows:
       File "/home/anaconda3/envs/mlperf/lib/python3.7/site-packages/torch/serialization.py", line 764, in _legacy_load
        magic_number = pickle_module.oad(f, **pickl

[2021-01-05 02:59] WorksWellWithOthers commented on #793
`[+] Building 1211.5s (8/8) FINISHED `

Yay~

[2021-01-05 04:18] Iicolan commented on #791
I have solved this problem. You can have a try of gitting clone "mlperf" branch.

[2021-01-05 22:38] WorksWellWithOthers opened #795 "MLCommons CLA link 404"
How can I sign up so that I can contribute?

[code]

[2021-01-05 22:55] WorksWellWithOthers opened #796 "'inference/recommendation/dlrm/pytorch/docker_(g)(c)pu/kickstart.sh' tries to grab from 'github.com/mlperf' and '/v0.5/' which doesn't exist"
[code]

`-bash: cd: /mlperf/inference/v0.5/recommendation: No such file or directory`

[2021-01-06 03:15] WorksWellWithOthers opened #798 "First time users don't have a checkpoint to load 'speech_recognition/rnnt'"
Commented out the loading of checkpoints for now in `https://github.com/mlcommons/inference/blob/master/speech_recognition/rnnt/pytorch_SUT.py`

[2021-01-06 04:20] galv commented on #798
Have you read https://github.com/mlcommons/inference/tree/master/speech_recognition/rnnt#2-directions ?

This issue and your PR here https://github.com/mlcommons/inference/pull/797 suggest that you are not following the setup instructions.

[2021-01-06 04:22] WorksWellWithOthers commented on #798
Interesting, those are the exact instructions I just followed.
I still had to install a ton of python dependencies after following those instructions.

The tool is running now, I'll have to leave it on overnight to see if everything is ok.

[2021-01-06 05:03] galv commented on #798
I am the author of this reference benchmark. We had successful submissions for v0.7 using this reference as a guideline.

Your PR suggested you installed pandas and tqdm manually, but those are both listed in conda environment already: https://github.com/mlcommons/inference/blob/master/speech_recognition/rnnt/environment.yml So my guess is that you did not activate the conda environment appropriat

[2021-01-06 08:07] WorksWellWithOthers commented on #798
Thank you. I'll fix the conda enviroment on my system.

[2021-01-06 08:09] #798 closed

[2021-01-07 06:53] delock opened #801 "Unstable RNN-T audio_preprocessor with padding"
When tracking a mysterious accuracy issue in RNNT, I found the same wavelength won’t generate same feature value, the output feature might have slight difference when the waveform have different padding.
The unstable issue is caused by this line that process waveform and transfer to features in input
`feature, feature_length = self.audio_preprocessor.forward((waveform_batch, waveform_lengths))

[2021-01-08 18:13] WorksWellWithOthers commented on #793
speech_recognition was easy to use after setting up the conda environment.

[2021-01-08 18:13] #793 closed

[2021-01-11 18:37] christ1ne commented on #801
@galv @nvpohanh any ideas on this?

[2021-01-11 23:47] christ1ne commented on #795
https://mlcommons.org/en/get-involved/

[2021-01-11 23:51] christ1ne commented on #789
The current repo is for reference implementation and we only tested the SW on CPU/GPU, not on FPGA.

However, in theory you can run the models with OpenVINO with the model converted. There are some references from Intel submissions. Here is one example: https://github.com/mlcommons/inference_results_v0.7/tree/master/closed/Intel/code/resnet/resnet-ov

Hope it helps!

[2021-01-12 00:07] christ1ne opened #805 "improve reference"
hope to achieve one-click operation
portable with linux, max, windows, android
support c/c++, which can be more efficient than python.

[2021-01-12 00:14] christ1ne opened #806 "add TF RNN-T implementation"

[2021-01-12 00:15] christ1ne opened #807 "ensure INT8 models are available as reference"

[2021-01-12 00:17] christ1ne opened #808 "ensure all references run on CPU and GPU"

[2021-01-12 00:37] christ1ne opened #809 "out-of-box division"
shall we have an out-of-box division?

[2021-01-12 00:39] christ1ne opened #810 "adding more inference scenarios"
More scenarios: multi-tenancy, pipeline, burst throughput

[2021-01-12 00:42] christ1ne opened #811 "sharing all the source code for the retrained quantized model"

[2021-01-12 00:57] christ1ne opened #812 "get image data with re-distribution rights"
e.g. replace ImageNet and COCO with Google Open Images.

[2021-01-12 01:00] christ1ne opened #813 "revisit single stream latency threshold percentage"
currently at 90%, maybe move to 99%?

[2021-01-12 01:33] christ1ne opened #814 "server scenario update for RNN-T"
from @galv

For automatic speech recognition tasks, I would like LoadGen to have a concept of receiving each sample as a stream, rather than all at once. This is necessary for having an accurate benchmark for SingleStream and Server scenarios for speech recognition. (The current version of LoadGen captures the Offline scenario for speech recognition quite well, meanwhile.) This would probably also

[2021-01-12 03:24] nvpohanh commented on #801
@galv may have a better idea than I do about why those masking codes were commented-out.

@delock Could you point out which specific lines? Thanks

[2021-01-12 13:08] delock commented on #801
The second transcript is different on position 15.
The first element of feature in the first run is -0.7800, the first element of feature in the second run is -0.7798.

[2021-01-12 16:47] tjablin commented on #813
If we move to 99%, we would need to increase the minimum number of queries as well. I think some single stream submitters might not be comfortable running a quarter million queries on relatively slow hardware.

[2021-01-13 14:51] delock commented on #801
I see complaint in the code itself
https://github.com/mlcommons/inference/blob/master/speech_recognition/rnnt/pytorch/parts/features.py#L157
https://github.com/mlcommons/inference/blob/master/speech_recognition/rnnt/pytorch/parts/features.py#L213
And also these commented code that seems related to masked behavior
https://github.com/mlcommons/inference/blob/master/speech_recognition/rnnt/pytorch/pa

[2021-01-14 04:24] WorksWellWithOthers commented on #795
Thank you. Should the CLA Link go to [get-involved](https://mlcommons.org/en/get-involved/)?

[2021-01-14 16:07] guschmue commented on #795
Let me fix the link.

[2021-01-15 01:06] #795 closed

[2021-01-15 14:40] #796 closed

[2021-01-19 07:56] galv commented on #801
Wow, my notes to self come in handy, huh?

Anyway,

This problem is very, very minor, if I remember my past's self's reasoning correctly. Consider an input of size 2x20, with sequence lengths [10, 20].

Basically, for the first item in the batch, before preemphasis, all times < 10 are meaningful, and all values time >= 10 should have a value of 0.0. After preemphasis, the value at index 10 will ac

[2021-01-19 11:11] delock commented on #801
Yes the direct cause is very minor, we can see the difference in feature tensor in the example is about 0.02%.   However this could tip over greedy decoder's selection when two outputs have very close value.
In the example above, the first transcript is
oh no i am queture he didn't
the second transcript is
oh no i am queer he didn't
I didn't hear the original audio to see which one is more close.

[2021-01-19 13:48] nvpohanh commented on #801
@georgelyuan @nv-rborkar Could you comment on this? ^^^

[2021-01-20 01:59] delock commented on #801
There is another source of instability. RNNT encoder is also sensitive to padding.

Index 342, no padding:
Input feature without padding
tensor([[[-1.4145, -0.5309, -0.2315,  ..., -0.2998, -0.2471, -0.3127]],

        [[-0.5919, -0.3745, -0.4387,  ..., -1.0306, -0.7269, -0.6440]],

        [[-0.6148, -0.8319, -0.8317,  ..., -0.7402, -0.1455, -0.2249]],

        ...,

        [[-0.2204, -0.9337, -0

[2021-01-22 00:17] christ1ne commented on #801
@galv @delock @nvpohanh @georgelyuan @christ1ne had a one off meeting:
- this is a real issue
- @delock will generate the numpy arrays which can reproduce the issue
- @galv can look into debugging this
- we agreed to make this issue an exception in compliance test 01 if we cannot have a speedy resolution for v1.0 submission.

[2021-01-22 00:19] nvpohanh commented on #801
To be clear on the last point: we agree that this can fall under the "Non-Determinism" bucket in TEST01: https://github.com/mlcommons/inference/tree/master/compliance/nvidia/TEST01#non-determinism

That means, TEST01 should still be run, but the submitter can submit an explanation about the non-determinism and just make sure that the accuracy doesn't drop by more than 1%.

[2021-01-25 17:38] christ1ne commented on #789
please re-open if needed

[2021-01-25 17:38] #789 closed

[2021-01-25 17:38] christ1ne commented on #784
please re-open if needed

[2021-01-25 17:38] #784 closed

[2021-01-25 17:39] christ1ne commented on #783
please re-open if needed

[2021-01-25 17:45] christ1ne commented on #631
@nvpohanh @guschmue Is there anything here to be done still?

[2021-01-25 21:28] guschmue commented on #631
I think this was done.

[2021-01-25 21:55] #631 closed

[2021-01-26 15:20] psyhtest commented on #783
Hi @peter197321, [dividiti](http://dividiti.com) submitted [lots](https://github.com/mlcommons/inference_results_v0.7/tree/master/open/dividiti/results/xavier-tflite-v2.2.0-ruy) of TFLite results to MLPerf Inference v0.5 and v0.7 using automated [Collective Knowledge](http://cknowledge.org) workflows. Please feel free to checkout a tutorial-style [Jupyter notebook](https://raw.githubusercontent.co

[2021-01-27 04:37] delock commented on #801
The following files contains input dump and transcript of the batch.  The index that has problem is 342 and 1887.  The first one falls into instability of encoder, the second one falls into instability of audio preprocessor.  @galv
[bs2.txt](https://github.com/mlcommons/inference/files/5877750/bs2.txt)
[bs4.txt](https://github.com/mlcommons/inference/files/5877751/bs4.txt)

[2021-01-27 05:54] christ1ne opened #822 "engineering work needed for the reference SW"
RNN-T: CPU only, need GPU
DLRM: GPU only, need CPU
Update the reference to latest FW versions
Add scripted PyTorch vision models

@psyhtest @guschmue @TheKanter

[2021-02-02 07:37] galv commented on #801
I've begun look into this. I have some ideas as to what causes the stability based on looking at the code However, it's hard to consider it fixed until I've nailed down a reproducer test case. @delock can you clarify the meaning of "input for idx[414, 342]
" in bs2.txt? I'm supposing that 342 and 414 are the query sample indexes used to create the batches. Is that right?

I am going to try to set

[2021-02-02 09:36] delock commented on #801
Yes, 342 and 414 is the sample index in the query.  The value after equal sign the  waveform value used to reproduce the issue.

[2021-02-02 16:22] christ1ne commented on #768
please re-open if needed @jemitche1

[2021-02-02 16:22] #768 closed

[2021-02-02 18:14] christ1ne commented on #812
WG: we can host a subset of images for training and/ or inference.
one option to consider: any new BM have to use a permissive dataset which can be hosted by MLC.

[2021-02-08 21:21] peter197321 commented on #783
Thank you for your suggestion, @psyhtest is that "Jupyter Notebook" somewhere - it seems the does not exist ...

[2021-02-09 08:52] cfRod commented on #807
Hi Christine.

Will this be for both TensorFlow and PyTorch (assuming scripted mode support for PyTorch is enabled).

Thanks,
Crefeda

[2021-02-09 16:27] christ1ne commented on #783
@psyhtest ?

[2021-02-09 18:26] christ1ne commented on #813
WG: advisory board survey question? for now we will keep 90%.

[2021-02-09 18:26] #813 closed

[2021-02-09 18:30] christ1ne commented on #811
WG: we encourage sharing SW for quantizing the models used as reference. However, it is not a requirement.

[2021-02-09 18:30] #811 closed

[2021-02-09 22:28] psyhtest commented on #783
@peter197321 I'm so sorry, the file has got moved in the meantime. Please check the updated link above.

[2021-02-10 02:54] corehalt opened #828 "Resnet50-v1.5 pytorch model"
Hi,
we can see that there are ONNX (`.onnx`) and TensorFlow (`.pb`) versions of the Resnet50-v1.5 model but a version for PyTorch (`.pt`) seems to be missing in the supported models table even though the Pytorch framework is specified in that table.

There will be a PyTorch version for the Resnet50-v1.5 (int8 and fp32) model available soon?
Thank you.

@christ1ne

[2021-02-10 03:50] corehalt commented on #828
@christ1ne This also a related question, can we assume that any provided PyTorch fp32 model will be already quantizable?

[2021-02-10 06:35] Chujingjun opened #830 "why submission checker doesn't check compliance tests for open division?"
Compliance tests are required by https://github.com/mlcommons/policies/blob/master/submission_rules.adoc#compliance-testing
and is not included in the relaxed constraints in inference rules, see https://github.com/mlcommons/inference_policies/blob/master/inference_rules.adoc#412-relaxed-constraints-for-the-open-division
So do we need compliance tests for open division? If so, why not check complia

[2021-02-11 18:26] christ1ne commented on #807
let me bring this item to the WG meeting next week. Yes we always aspire to cover TF and PyTorch.

[2021-02-14 20:26] psyhtest commented on #830
@Chujingjun Thanks for raising this. For v0.7, the WG decided not to request compliance tests for the Open Division. This decision, however, doesn't seem to have made it into the rules though.

[2021-02-14 20:33] psyhtest opened #833 "LoadGen logging warning for the Offline scenario"
Since the new logging functionality has been introduced, I've noticed that some of our implementations started producing a warning in the Offline scenario e.g.:

[code]

To reproduce, you can save [image-classification-tflite-loadgen.ipynb](https://raw.githubusercontent.com/krai/ck-mlperf/master/jnotebook/image-classification-tflite-loadgen/image-classification-tflite-loadgen.ipynb) or [image-clas

[2021-02-15 01:52] nvpohanh commented on #833
I won't think we would worry too much about the warning. Also, that warning should have been existed. I only modified the format how it is printed in the detailed log. My understanding is that it indicates that the buffer that LoadGen reserves is not large enough so it does a re-allocation which may hurt performance a little bit, but it does not lead to no-compliant results.

@guschmue Please corr

[2021-02-15 07:37] Lokwill opened #835 "Pybind11 issues in loadgen"
Hi all,

Having an issue when trying to build the docker image=mlperf-infer-imgclassify-cpu using either the run_and_time.sh script or just with the docker build command. I have continuously been getting this error:
![image](https://user-images.githubusercontent.com/71238108/107916607-8d079900-6f34-11eb-9cb8-e624301bf782.png)

Not sure what seems to be the problem or what a potential fix would be

[2021-02-15 07:54] nvpohanh commented on #835
Try `git submodule update --init third_party/pybind`?

[2021-02-15 22:58] Lokwill commented on #835
Just tried that, and no output onto console after returning, and unfortunately building docker image provided the same errors.

[2021-02-16 02:37] nvpohanh commented on #835
Or try replacing `git clone https://github.com/mlcommons/inference.git` with `git clone --recursive https://github.com/mlcommons/inference.git`?

[2021-02-16 03:23] Lokwill commented on #835
Just tried, unfortunately the same problem still persists.

This may be a silly question, but if the run_and_time script is building a docker image (docker build -t mlperf-infer-imgclassify-cpu -f Dockerfile.cpu .) and installing pybind according to the Dockerfile, why does it matter what is cloned?

[2021-02-16 05:12] christ1ne commented on #766
Is this done @nvpohanh ?

[2021-02-16 05:15] christ1ne commented on #729
@georgelyuan @nv-rborkar nv-rborkar  do you want to take another look into this issue?

[2021-02-16 05:16] christ1ne commented on #783
closing this ticket. please re-open again if needed.

[2021-02-16 05:16] #783 closed

[2021-02-16 16:54] christ1ne commented on #835
@guschmue please help

[2021-02-16 16:55] davoodghatreh opened #836 "dlrm inference problem: NameError: name 'args' is not defined"
I'm trying to run dlrm with ~10GB model and following settings:
--max-ind-range=10000000 --data-sub-sample-rate=0.875

Here is the specification of the benchmarking task:

INFO:main:Namespace(accuracy=False, backend='pytorch-native', cache=0, count_queries=None, count_samples=None, data_sub_sample_rate=0.875, dataset='terabyte', dataset_path='/home/hpcclab/mlperf/inference/recommendation/dlrm/crit

[2021-02-16 16:57] christ1ne commented on #830
WG: suggested text:
Submitters must run the compliance tests **in the closed division of the Inference benchmarks** to verify that their submission achieves a basic level of compliance with a subset of the MLPerf rules.

[2021-02-16 17:01] christ1ne commented on #833
WG: @psyhtest will double check with the v0.7 implementation. Currently we don't anticipate any performance impact from this warning

[2021-02-16 17:08] christ1ne commented on #828
WG: PT is no longer using the ONNX for the internal graph format. We need to have an updated PT model in this case.

[2021-02-16 18:12] christ1ne commented on #810
WG: no major complaints on the current set. However, we should revisit after adding new workloads. This is a good question for the advisory boards.
Multi-tenancy definition: concurrent server scenario like for mutiple models hosted in one model so that we have QPS targets for each model. A model here can be a different architectures, or different weights of the same model.

[2021-02-16 18:16] nv-rborkar commented on #729
I will take a look at it, this week & get back.

[2021-02-16 23:42] keithachorn-intel commented on #616
I am experiencing the same issue originally identified by G4V.  When '--cuda' is not specified, the workload runs but only on CPU.  The launching [script](https://github.com/mlcommons/inference/blob/db0b7eb368f009adf703d073765aa212d1f3a026/v0.7/speech_recognition/rnnt/pytorch/inference.py) hits the following error at line 186: `AttributeError: 'list' object has no attribute 'cuda'`

Any help resol

[2021-02-17 01:55] nvpohanh commented on #835
IIRC, LoadGen requires the Pybind source files to be located here: https://github.com/mlcommons/inference/tree/master/third_party

Could you check if `third_party/pybind/include/pybind11/functional.h` exists?

[2021-02-17 01:58] nvpohanh commented on #766
No this is not. Let's push this to v1.1

[2021-02-17 01:59] nvpohanh commented on #766
@christ1ne Please change the labels back if WG thinks this is necessary in v1.0

[2021-02-17 01:59] Lokwill commented on #835
Yes, I already had checked - that path and file both exist.

[2021-02-17 03:28] christ1ne commented on #766
It is fine to be in v1.1

[2021-02-19 03:27] tjablin opened #841 "Loadgen 1.0 Fixes"
Can we please merge #831 and #839 into r1.0?

[2021-02-19 06:04] corehalt opened #842 "Difference on reported QPSs between performance and accuracy passes"
For a performance only pass the reported QPS is the expected one. No problems there:
[code]
but if we enable the accuracy pass the QPS has a value way higher than expected, y >> x and also seems `y` qps holds a completely unrealistic value:
[code]
On both passes, all the other values, like `mean` and `tiles` reflect the expected values though.

Has anyone experienced something like this?

[2021-02-20 01:29] guschmue commented on #841
yeap

[2021-02-21 18:43] guschmue commented on #841
done.

[2021-02-21 18:47] #841 closed

[2021-02-21 18:49] guschmue commented on #842
This qps report pre-dates loadgen. You only want to look at mlperf_log_summary.txt.
I can make a PR to remove this code and take the data from mlperf_log_summay.txt.

[2021-02-22 03:44] corehalt commented on #842
@guschmue Thank you.
Glad to know that in that case seems there is no real issue here. I will only take in account the summary file from now on.

[2021-02-22 23:51] christ1ne commented on #830
see https://github.com/mlcommons/policies/pull/70

[2021-02-22 23:52] christ1ne commented on #833
@psyhtest any feedback?

[2021-02-22 23:53] christ1ne commented on #729
@nv-rborkar any feedback? Thanks!

[2021-02-23 01:50] nv-rborkar commented on #729
@christ1ne I have added the WAR that @mthmsn had used to test04-B folder & readme instructions in above PR

[2021-02-23 17:29] christ1ne commented on #828
WG: we may add a PT model next week. Please see the mailing list for updates next week.

[2021-02-23 20:11] christ1ne opened #849 "loadgen uncommitted code error"
change the loadgen git version checking to its own directory rather than the entire repo.

[2021-02-23 23:47] #835 closed

[2021-02-26 08:43] naokishibuya opened #856 "ssd-mobilenet 300x300 quantized finetuned from Habana"
I hope to get some clarification about the ssd-mobilenet 300x300 quantized finetuned (by Habana):

https://github.com/mlcommons/inference/tree/master/vision/classification_and_detection

In the table of the above README, it mentions that the model's mAP is 0.23594 which is better than the non-quantized model (ssd-mobilenet 300x300 whose mAP is 0.23) in the same table.

I have three questions:

[1]

[2021-02-26 15:26] guschmue commented on #856
@itayhubara

[2021-02-26 18:18] tjablin opened #857 "ssd-resnet34"
Does anyone remember where the mAP came from for ssd-resnet34? The table says the reference accuracy is mAP 0.20 which is lower than the than mAP 0.23 for ssd-mobilenet. I have a vague recollection that there is a known issue with NMS that artificially lowers the accuracy. I'm asking because we swapped out our NMS implementation recently, and without retraining, calibration, or quantization the ac

[2021-03-02 05:01] christ1ne commented on #833
@psyhtest another reminder. :)

[2021-03-02 05:02] christ1ne commented on #729
thanks @nv-rborkar. I will close this issue now and please reopen if needed @mthmsn

[2021-03-02 05:02] #729 closed

[2021-03-02 05:08] christ1ne commented on #836
@mnaumovfb

[2021-03-02 05:09] christ1ne commented on #856
@itayhubara another friendly reminder :)

[2021-03-02 05:09] #842 closed

[2021-03-02 05:10] christ1ne commented on #849
@guschmue a friendly reminder :)

[2021-03-02 05:55] mnaumovfb commented on #836
I think that for some reason you are using DLRM model from master rather than mlperf branch. I think this is a bug that was introduced in master code recently. I'll investigate and fix it, but please try using mlperf branch.

[2021-03-02 17:50] TheKanter commented on #833
Not considered to be a problem. Re-open if it shows up again.

[2021-03-02 17:50] #833 closed

[2021-03-02 18:22] TheKanter commented on #807
Dilip asks: Who owns this responsibility? Model owner? MLC?

[2021-03-02 20:00] mthmsn opened #860 "Effects of increasing minimum run time from 1 minutes to 10 minutes"
Increasing the minimum required run time to 10 minutes multiplies quickly when you consider the many benchmarks and scenarios that any given organization might want to run. A few things to consider:

- It generally increases the burden on people, equipment, and schedule.
- It becomes friction against an organization submitting more benchmarks & scenarios and against newcomers to MLPerf.
- It's not

[2021-03-02 20:03] mthmsn commented on #860
@psyhtest I assume this affects you more than anyone else. I'd be interested to know your thoughts and suggestions.

[2021-03-02 20:41] tjablin commented on #860
The ten minute runtime requirement only applies to performance tests. The minimum requirements in terms of number of queries and duration have never applied to accuracy or compliance tests. Google has observed that for certain architectures the performance difference between a one minute run and a ten minute run is up to 15%. We also observed that not all systems were affected equally. Some system

[2021-03-02 20:59] tjablin commented on #860
There are more details [192](https://github.com/mlcommons/inference_policies/pull/192).

[2021-03-02 23:10] mthmsn commented on #860
Thanks for the link w/ more details. It does clear up the reasoning behind the change. Also to be clear, I'm not advocating for changing the v1.0 rules this close to the submission deadline, unless it ends up generally being needed by others.

I would point out a few more questions & considerations:

- It's not clear if you're saying that the Google data indicates that datacenters' average gets be

[2021-03-02 23:57] tjablin commented on #860
MLPerf rules allow an untimed warmup period, so there is no reason for performance to ramp up during the timed period. For certain systems, Google measured performance for ten minute runs that was up to 15% worse than for one minute runs. We believe this corresponds to the system hitting thermal equilibrium after an initial burst of activity.

Organizations are still free to make their run time as

[2021-03-03 00:29] TheKanter commented on #860
A few comments:

1. The small # of queries and low minimum run time in v0.5 was mostly there because of smartphones. Those are now a separate benchmark, so we shouldn't be constrained by those prior limits.
2. 10 minutes per scenario doesn't really seem that long. That's 20 minutes per benchmark.
3. For tuning, you can do shorter runs
4. Additionally, power measurement requires a run time that is

[2021-03-03 17:22] psyhtest commented on #857
@tjablin I've recently run the corresponding ONNX model, and [found](https://github.com/krai/ck-mlperf/blob/master/program/object-detection-onnx-py/README.md#5000-images) the accuracy to be just under 20%:
<pre>
DONE (t=14.66s).
 Average Precision  (AP) @[ IoU=0.50:0.95 | area=   all | maxDets=100 ] = 0.200
 Average Precision  (AP) @[ IoU=0.50      | area=   all | maxDets=100 ] = 0.381
 Average Pr

[2021-03-03 17:25] psyhtest commented on #857
If I read the results correctly, the TF model performs better on larger objects, while the ONNX model on smaller objects.

[2021-03-03 21:19] guschmue commented on #857
So the official onnx model for ssd-resnet34 came from pytorch and had a bunch of pain to make that work in onnx (long time ago and I forgot the details).

I have another way to convert it directly from the tensorflow model via tf2onnx.
The nms in onnx should be identical to tensorflow, we have bunch of unit test that say so and never had complains on real models.

[2021-03-04 11:11] corehalt opened #862 "Compliance tests"
I'm having issues running the compliance tests.
For example, to run the compliance test TEST_01, the instructions say:
https://github.com/mlcommons/inference/tree/r1.0/compliance/nvidia/TEST01#part-i
[code]
Then I copy `audit.config` to the directory from I run the tests, in my case:
[code]
that is where I usually run `run_local.sh` script.

But later on, there is no confirmation about finding the

[2021-03-04 13:39] mthmsn commented on #862
If you're running using `main.py`, it actually changes directory before it starts the official run. The lines here...
https://github.com/mlcommons/inference/blob/r1.0/vision/classification_and_detection/python/main.py#L451-L454

... change to the output directory that is specified by the `output` arg. So if you're using `main.py`, try putting the `audit.config` file in the same location that the `

[2021-03-04 13:44] mthmsn commented on #862
I personally would like to see this requirement for copying `audit.config` to the "run directory" changed, as is inevitably seems to throw a wrench in our organization's automation flow whenever we make changes. I would prefer if specifying the location of `audit.config` was argument-based, rather than having `Loadgen` detect it and pick it up. I think the current approach was intentional, though,

[2021-03-04 14:29] nvpohanh commented on #862
Everyone can propose compliance tests to the WG. And it just indicates that those compliance tests were proposed by NVIDIA.

@georgelyuan Could you answer these questions? Also @guschmue for visibility

[2021-03-04 15:32] guschmue commented on #862
I think we cd'd to the output directory because long time ago there was no way to tell loadgen where to write its output.
Now that is possible and I added it to main.py so we should be able to remove the cd.
Adding an argument might be even better but there might be a complication for the docker image.
Need to check but didn't the run script copy mlperf.conf because of the the docker image. Maybe

[2021-03-05 01:43] corehalt commented on #862
@mthmsn Thanks Mike, I can now run it in audit mode if I copy the configuration file to the output directory.
I didn't think of copying to the output directory because it doesn't exist before running the scripts.
If I create the directory in advance and then copy the audit file there it works.

[2021-03-05 08:20] chiungliang opened #863 "Can't git clone submodules of training"
Hi,

To run inference, some of codes are from mlcommons/training.
I bump into the same issue reported in mlcommons/training.
Here is the link of the question.
https://github.com/mlcommons/training/issues/446

Is there anybody know how to solve the problem?
Lot of thanks.

[2021-03-05 18:39] elfringham opened #864 "Assertion '__b != memory_order_release' failed"
Resnet50 test on AARCH64 machine with A64FX CPU.

$ ./run_local.sh tf resnet50 cpu
INFO:main:Namespace(accuracy=False, backend='tensorflow', cache=0, count=None, data_format=None, dataset='imagenet', dataset_list=None, dataset_path='/home/builder/CK-TOOLS/dataset-imagenet-ilsvrc2012-val-min', find_peak_performance=False, inputs=['input_tensor:0'], max_batchsize=32, max_latency=None, mlperf_conf='.

[2021-03-09 03:14] corehalt commented on #828
@christ1ne @guschmue
Please find here attached the links for the Resnet-50 v1.5 PyTorch models:

Resnet-50 v1.5 FP32 model: https://zenodo.org/record/4588417/
Resnet-50 v1.5  quantized INT8 and calibrated model: https://zenodo.org/record/4589637/

More details in the descriptions of each record uploaded to Zenodo.

[2021-03-09 10:28] daisyden opened #866 "target_latency_percentile is uninitialized for offline mode"
In loadgen/test_settings_internal.cc, funciton TestSettingsInternal::TestSettingsInternal(
    const TestSettings &requested_settings, size_t qsl_performance_sample_count) () , on the path of offline mode, target_latency_percentile is not initialized, as a result we may got "nan" in mlperf_log_detail.txt for "effective_target_latency_percentile" and the submission checker will report error.

We ma

[2021-03-09 10:47] nvpohanh commented on #866
This is fixed in: https://github.com/mlcommons/inference/pull/837
Please use the latest r1.0 branch.

[2021-03-09 17:34] christ1ne commented on #860
WG: we will keep 10min rule for v1.0 and revisit for v1.1 if needed.

[2021-03-09 17:34] #860 closed

[2021-03-09 23:10] christ1ne commented on #863
@chiungliang can you share the exact steps you ran and the corresponding error messages? Thanks!

[2021-03-10 02:16] guschmue commented on #863
try
git clone --recursive https://github.com/mlcommons/training

[2021-03-10 02:50] chiungliang commented on #863
Got the same messages.

Can't access training/community @ eebf719
https://github.com/mlperf/community/tree/eebf719c1b2174243c5d275dc57acc045bb3722d

Got 404 NOT FOUND

[2021-03-10 17:57] psyhtest opened #869 "[submission checker] invalid division in input dir .github"
The submission checker prints the above error message, complaining about the `.github` directory in the root :).

/cc @guschmue

[2021-03-10 18:12] mthmsn opened #870 "submission checklist needs updates and definition in rules"
Submission checklist needs to be updated for v1.0:
https://github.com/mlcommons/inference_policies/blob/master/submission_checklist.md

The rules regarding the submission checklist are still not defined:
https://github.com/mlcommons/policies/blob/master/submission_rules.adoc#submission-checklist

This is a carry-over issue that existed for v0.7 as well.
https://github.com/mlcommons/inference_polic

[2021-03-10 18:21] tjablin commented on #870
It seemed like the checklist wasn't very useful last time. Do we want to update it or cut it?

[2021-03-10 19:30] mthmsn commented on #870
Short answer: I like the idea of cutting it.

Long answer:
I think the point you made in the v0.7 issue thread is a good one to consider: that "many of the questions are no longer necessary with the new submission checker scripts". To add to that, I think the current checklist is only valuable as a double-check for the submitter themselves to make sure they are following important rules that they

[2021-03-10 21:57] guschmue commented on #870
+1 for cutting

[2021-03-11 01:16] psyhtest commented on #870
+1 for bidding it goodbye!

[2021-03-11 04:59] guschmue commented on #869
getting to it tomorrow

[2021-03-11 19:18] psyhtest opened #871 "[submission checker] Single Stream result is still the 90th percentile"
One of my experimental results is 78 ms:

[code]

However, the submission checker thinks it is 101 ms:
[code]

That is, it takes the 99th percentile latency not the 90th percentile latency as the Single Stream result. This disagrees with LoadGen.

[2021-03-12 02:05] nvpohanh commented on #871
Looks like a bug in submission checker. I can fix it...

[2021-03-12 02:07] nvpohanh commented on #871
Typo here: https://github.com/mlcommons/inference/blob/r1.0/tools/submission/submission-checker.py#L335 :)

[2021-03-12 02:14] nvpohanh commented on #871
Fix: #872

[2021-03-12 17:14] #871 closed

[2021-03-14 03:00] kahmed10 opened #875 "404 error on loadgen documentation"
The loadgen [READMe.md](https://github.com/mlcommons/inference/blob/master/loadgen/README.md) has a broken link to the pre-compiled documentation:
https://mlperf.github.io/inference/loadgen/index.html

[2021-03-15 15:46] aletru01 opened #877 "Migrate DLRM to TF v2"
Hello,

I've been trying to run dlrm with the 'out of the box setup'. But it looks like it's not working with tensorflow v2. Are there any plans to move to v2 or are there any workarounds ?

Thanks.

[2021-03-15 22:37] christ1ne commented on #866
closing if no further comment.

[2021-03-15 22:37] #866 closed

[2021-03-15 22:42] christ1ne commented on #875
@briandersn  do you know if we have a new URL somewhere after we migrated to mlcommons organization?

[2021-03-15 22:45] christ1ne commented on #863
tracked at: https://github.com/mlcommons/training/issues/446

[2021-03-15 22:45] #863 closed

[2021-03-15 22:46] christ1ne commented on #864
is this issue present on Ubuntu for you?

[2021-03-15 22:47] christ1ne commented on #869
@guschmue any update?

[2021-03-15 22:47] christ1ne commented on #870
let's officialize it tomorrow in the WG.

[2021-03-15 23:01] tjablin commented on #864
loadgen/logging.cc:463 says:

[code]

max_latency_ is defined as:
`std::atomic<QuerySampleLatency> max_latency_{0};`

The C++17 specification 32.6.1 says:

`The order argument shall not be memory_order_release nor memory_order_acq_rel.`

This code has always been wrong. I think we got away with it in the past because most people are either using the clang headers or are compiling out the assertion

[2021-03-15 23:05] tjablin commented on #864
The bug was introduced by #238.

[2021-03-16 00:23] guschmue commented on #864
I think I ran into for windows debug builds and have a local fix. I could send a PR for it.

[2021-03-16 00:41] tjablin commented on #864
The code for computing atomic max also seems busted.

[2021-03-16 00:59] tjablin commented on #864
I wrote #878 to address this issue.

[2021-03-16 03:13] BeyondCloud opened #879 "got errors while running submission-checker in SubmissionExample.ipynb"
Hi,
I attempted to run master branch's SubmissionExample.ipynb
According to issue #738, I switched to branch r0.7 (but I still used master branch's SubmissionExample.ipynb since I wanted to test resnet50)
[code]
Since I only wanted to test the edge system type, so I commented the Server and MultiStream case in the shell script provided by SubmissionExample.ipynb
[code]
Everything went well until

[2021-03-16 03:15] nvpohanh commented on #879
Did you follow the compliance test steps here? https://github.com/mlcommons/inference/tree/r1.0/compliance/nvidia

Thanks

[2021-03-16 03:25] BeyondCloud commented on #879
No I haven't. I'll check that out. Thanks

[2021-03-16 04:36] BeyondCloud commented on #879
1. Setup
If I use the master branch's  SubmissionExample.ipynb to run the benchmark,  which address should I place audit.config?
2. Since there are four tests in NVIDIA's compliance test directory, should I copy audit.config and re-run the shell scripts in SubmissionExample.ipynb  four time to complete all the compliance test?

[2021-03-16 04:40] nvpohanh commented on #879
@psyhtest Do you know where `audit.config` should be put when running compliance test if SubmissionExample.ipynb is used?

[2021-03-16 08:07] BeyondCloud commented on #862
@corehalt Hi , could you tell me how to run  run_local.sh in audit mode?
In vision/classification I make a directory "output" and put the config file in TEST_01 into the output directory,
but I didn't see any relative information in output/tf-gpu/resnet50/mlperf_log_detail.txt.
[code]
Below is the content of the output file mlperf_log_detail.txt:
[code]

[2021-03-16 14:55] guschmue commented on #869
https://github.com/mlcommons/inference/issues/869

[2021-03-16 16:49] christ1ne commented on #870
WG: agree to remove the requirement on submitting https://github.com/mlcommons/inference_policies/blob/master/submission_checklist.md
We have the submission checker now to perform a similar function
@guschmue

[2021-03-16 22:08] christ1ne commented on #862
@georgelyuan please take a look

[2021-03-16 22:14] georgelyuan commented on #862
Looks like there's no confirmation because that message got removed when we transitioned to MLLOG. We don't see it in our logs either.

Do you see a line that looks like this? That means a log sampling target has been set.
`:::MLLOG {"key": "effective_accuracy_log_sampling_target", "value": 4096, "time_ms": <redacted>, "namespace": "mlperf::logging", "event_type": "POINT_IN_TIME", "metadata": {"is

[2021-03-16 22:45] mthmsn commented on #862
I get an MLLOG line that references the `audit.config` file. Our organization is not using the python harness this time around, but that shouldn't matter, since loadgen should produce an equivalent output log either way, right? Here's the message I see in our `mlperf_log_detail.txt`:
[code]

[2021-03-16 22:57] georgelyuan commented on #862
Ah thanks, I missed it. I see it now too. I got the issues a bit mixed up.

BeyondCloud, can you doublecheck your commands? With the way you've written them, I don't think those commands will work because of the directory structures. I.e. I don't think your third line will work if you already cd'd into classification_and_detection (from the first line)

I'm also curious why you don't see the MLLOG

[2021-03-17 02:30] BeyondCloud commented on #862
My mlperf_log_detail.txt is empty
To reproduce my issue:
[code]

[2021-03-17 05:13] daisyden opened #882 "git submodule issue caused by power-dev"
On branch r1.0, when we run "git submodule sync && git submodule update --init --recursive" we will meet error as  https://github.com/mlperf/power-dev does not exist.

git diff 06f07e3f6c488037eefbaba15ee72aa9676ff01c .gitmodules
diff --git a/.gitmodules b/.gitmodules
index 246722f..12a50d5 100644
--- a/.gitmodules
+++ b/.gitmodules
@@ -17,3 +17,6 @@
 [submodule "vision/medical_imaging/3d-unet/nnU

[2021-03-17 05:14] nvpohanh commented on #882
Please git clone the inference repo using `https://github.com/mlcommons/inference` instead of `https://github.com/mlperf/inference`. The repo has been permanently moved.

[2021-03-17 05:23] daisyden commented on #882
Thanks for the quick response. Let me have a try.

[2021-03-17 06:56] corehalt commented on #862
@BeyondCloud I think you should define the output directory explicitly instead of using the default one.
Please try to use `--output` parameter of `run_local.sh` as in this example:
[code]

[2021-03-18 02:48] BeyondCloud commented on #862
Exactly what I am looking for. I appreciate it.

[2021-03-19 00:10] briandersn commented on #599
Looks like @tjablin fixed this in #878. Can this be closed now?

[2021-03-19 16:51] guschmue commented on #599
Yeap, should be good.

[2021-03-19 16:51] #599 closed

[2021-03-22 15:12] aletru01 opened #888 "unnecessary import torch in inference/language/bert/accuracy_squad.py for BERT benchmark."
Hi,

I am testing on a TensorFlow only enviroment with no pytorch and I see run time failures because of this import torch statement.
https://github.com/mlcommons/inference/blob/58025f8fde679ea864d34f96ecc9f14bf70ece53/language/bert/accuracy-squad.py#L34

I used python3 run.py --backend=tf --scenario=SingleStream --accuracy

Thanks

[2021-03-23 00:42] nvpohanh commented on #888
Does the PyT path work if that line is removed? If so, please feel free to file a PR to remove it. Thanks!

[2021-03-23 05:54] Heyuanhong opened #889 "ModuleNotFoundError: No module named 'mlperf_loadgen'"
i use git commond `git clone --recurse-submodules https://github.com/mlcommons/inference.git`
then in the inference/vision/classificaiton
when I use `./run_local.sh tf resnet50 gpu`

terminal raise
`
Traceback (most recent call last):
  File "python/main.py", line 20, in <module>
    import mlperf_loadgen as lg
ModuleNotFoundError: No module named 'mlperf_loadgen'
`

[2021-03-23 05:55] #889 closed

[2021-03-23 11:48] aletru01 commented on #888
Pytorch path has another issue, it seems like it's using the TensorfLow directory. Should I raise a new issue ?

python3 run.py --backend=pytorch --scenario=SingleStream --accuracy
 File "/home/ubuntu/inference/language/bert/DeepLearningExamples/TensorFlow/LanguageModeling/BERT/tokenization.py", line 26, in <module>
    import tensorflow as tf

[2021-03-24 01:40] nvpohanh commented on #888
Yeah, I have been slightly lazy and assumed that both TF and PyT exist....

Could you try these files instead and see they work? If they do, we may want to make them the reference:
- https://github.com/mlcommons/inference_results_v0.7/tree/master/closed/NVIDIA/code/bert/tensorrt/helpers
- https://github.com/mlcommons/inference_results_v0.7/blob/master/closed/NVIDIA/code/bert/tensorrt/accuracy-bert

[2021-03-24 17:47] lizraymond opened #891 "[submission checker] add a function to check for results directory if measurements or compliance are present"
Can we add a section of code to the submission_checker that returns an error if measurements or compliance directories for a given system_name are present, but the results folder is missing?

Currently submission_checker only returns an error if the reverse is true, aka if a results directory is present but there is no compliance/measurements folder.

[2021-03-24 19:22] aletru01 commented on #888
Could you let me know which files I should replace ? It's confusing.
Should I replace accuracy-squad.py by accuracy-bert.py ?
Should I replace bert/DeepLearningExamples/PyTorch/Detection/SSD/src/evaluate.py or bert/evaluate-v1.1.py ?
There are several tokenization.py file

aarch64_pytorch bert> find -name tokenization.py
./DeepLearningExamples/PyTorch/LanguageModeling/BERT/tokenization.py
./DeepLe

[2021-03-24 21:54] tjablin commented on #864
Since #878 was merged, I think it is safe to close this.

[2021-03-24 21:54] #864 closed

[2021-03-24 21:55] tjablin opened #892 "Merge r1.0 Branch"
There are several improvements in the r1.0 branch that ought to be backported to the mainline.

[2021-03-25 00:23] nvpohanh commented on #888
Replace accuracy-squad.py with https://github.com/mlcommons/inference_results_v0.7/blob/master/closed/NVIDIA/code/bert/tensorrt/accuracy-bert.py

And it includes:
[code]
Replace the above with:
[code]
where

- `evaluate` is https://github.com/mlcommons/inference_results_v0.7/blob/master/closed/NVIDIA/code/bert/tensorrt/evaluate.py
- `data_processing` is https://github.com/mlcommons/inference_resul

[2021-03-26 04:39] ykurlaev opened #893 "Handle timezones for power logs in submission-checker"
Right now the submission-checker checks timestamps of power client and server logs here https://github.com/mlcommons/inference/blob/r1.0/tools/submission/submission-checker.py#L732
But those logs has time in localtime that can depend on timezone. The offset for timezones are located in client.json and server.json files and should be used to calculate real timestamps.

[2021-03-26 04:42] nvpohanh commented on #893
I will take the action to take timezone into account in submission checker. ETA next Monday or Tuesday

[2021-03-26 04:42] nvpohanh commented on #893
Will also try DST if the check fails in the first pass

[2021-03-26 12:36] aletru01 opened #894 "Using 3D-Unet with Tensorflow"
I tried to run 3D-Unet with a tensorflow build but it seems that it depends on nnUNET which is PyTorch only.
"make preprocess_data" or "python3 run.py --backend=tf --scenario=SingleStream" leads to import torch errors.

[2021-03-26 18:15] aletru01 commented on #888
in squad_QSL.py this line that will look for the tensorflow directory even with python3 run.py --backend=pytorch
I think it should be changed.
sys.path.insert(0, os.path.join(os.getcwd(), "DeepLearningExamples", "TensorFlow", "LanguageModeling", "BERT"))

But even if I remove this line and use your tokenization.py file, create_squad_data.py is later called and this file seems to use tensorflow.

[2021-03-26 19:35] cwolfe-pt opened #895 "mismatched version in top-level loadgen CMakeLists.txt for tags v0.7, v0.7.1 and branch r0.7"
Not sure if this is intended or not, but the top-level CMakeLists.txt file causes artifacts to be generated with version 0.5 instead of 0.7 as I would expect.

~/project/sources/mlperf_inference/loadgen/build$ git branch
  | * r0.7
~/project/sources/mlperf_inference/loadgen/build$ cat ../CMakeLists.txt | head
  | # The mlperf_loadgen version.
  | set(mlperf_loadgen_VERSION_MAJOR 0)
  | set(mlperf_

[2021-03-29 02:52] nvpohanh commented on #895
I think that was a bug back then, but no one fixed it. :)

[2021-03-30 07:21] nvpohanh commented on #893
@ykurlaev Done in #896 .

I realized that DST handling is not needed here since both server and client would be in DST when that happens.

[2021-03-30 15:09] guschmue commented on #891
tricky because the checker walks the result directory and than checks everything needed for that result is there.
Always starts with a result.
We'd need to add another walk starting with the other directories and than compare that to the results directory.

[2021-04-05 17:59] lizraymond commented on #891
could we get away with not doing a full walk, but perhaps comparing if a top directory within compliance/measurements does not have a corresponding results directory? You'd miss individual results submissions that way, but it would prevent wholescale absence of an entire system's results

[2021-04-05 20:15] fenz opened #904 "Wrong links in README"
It seems the links in this section (v1.0): https://github.com/mlcommons/inference#mlperf-inference-v10-submission-03122020 for the "reference app" are pointing to the r0.7 branch instead of r1.0

[2021-04-05 20:33] fenz opened #905 "PR missing in moving from r0.7 to r1.0"
I don't know if that's really important but it seems the change in this PR: https://github.com/mlcommons/inference/pull/774 was merged to the r0.7 branch (at the time) but it disappeared in the r1.0.
It was labelled as "in-progress v1.0" and closed: https://github.com/mlcommons/inference/issues?q=label%3A%22in-progress+v1.0%22+is%3Aclosed but it was not added to the branch r1.0: https://github.com

[2021-04-05 21:06] fenz commented on #904
I saw there's a PR for it. I close this issue.

[2021-04-05 21:06] #904 closed

[2021-04-06 09:12] Ankita-020696 opened #906 "How to build inference?"

[2021-04-06 09:13] #906 closed

[2021-04-06 09:16] Ankita-020696 opened #907 "Steps to build inference"
Hi,
I am newbie to ML & inference. Could anyone please help me with building steps for inference?

Thanks

[2021-04-06 09:33] gjm441 commented on #687
@christ1ne greate work for tf1 implementation. For some reason, I can't access google cloud to download checkpoint and data using gsutil. Can you share them using baidudisk or something else?Thanks for help.

[2021-04-06 14:12] guschmue commented on #905
The r0.7 branch is frozen in time after the submission. If we make fixes during the submission we'll merge them 1 time back to master after the submission.
Once the submission is done, the release branches should no longer be touched since they are suppose to make the submission reproducible (hence we can't modify them),

[2021-04-06 14:12] #905 closed

[2021-04-06 16:07] fenz commented on #905
I guess maybe I put the question in the wrong way. I'm not asking for modification.
I was wondering why a change that was part of branch r0.7 is not part of branch r1.0, is that on purpose?
By the way if you're aware that's fine, not a big issue.

[2021-04-06 16:12] tjablin commented on #907
Each benchmark has its own README with build instructions:
- [BERT](https://github.com/mlcommons/inference/tree/master/language/bert)
- [DLRM TF](https://github.com/mlcommons/inference/tree/master/recommendation/dlrm/tf)
- [DLRM PyTorch](https://github.com/mlcommons/inference/blob/master/recommendation/dlrm/pytorch)
- [RNNT](https://github.com/mlcommons/inference/tree/master/speech_recognition/rnn

[2021-04-06 18:00] gsrujana89 opened #909 "Pytorch Reference Resnet50 Int8 run"
Hi,
Is there a path enabled for int8 model for pytorch resnet50 int8?

I replaced the model in run_common https://github.com/mlcommons/inference/blob/48ed1c9f31456f024be7599876873b7c5429b7df/vision/classification_and_detection/run_common.sh#L85 with int8 model with the int8 model and get the below -

`ubuntu@ip-172-31-21-80:~/sgattupa/mlperf_inference/vision/classification_and_detection$ ./run_loc

[2021-04-06 21:24] guschmue commented on #905
Because the change went into the r0.7 branch way after the submission round and we stop merging the release branch right after the submission.
Guess this change should have gone to master, than it would carry forward.

[2021-04-06 21:25] guschmue commented on #907
+ there is some tutorial here
https://github.com/mlcommons/inference/blob/master/SubmissionExample.ipynb
and here:
https://github.com/mlcommons/inference/blob/master/vision/classification_and_detection/GettingStarted.ipynb

[2021-04-07 01:20] gjm441 commented on #687
have you tried the implementation of tf in GPU?@dengwxn

[2021-04-07 15:03] DZFromArm commented on #905
I will create a new PR and turn in the patch to the master branch shortly.

[2021-04-08 17:36] guschmue commented on #892
merged.

[2021-04-08 17:36] #892 closed

[2021-04-15 09:56] dineshmareedu opened #914 "Process not getting Completed for Multi-instance code(Intel MLPERF0.7-SUB)"
Hi,

         I Have checked out MLPERF Reference code and ran it for Server and offline. Since numbers, I am going through Intel's Submission code. I can able to setup following their guidelines and able to run with my model. But, when I am running it for Performance mode , since accuracy verification is not needed in that mode I am keeping **--include_accuracy** as _false_ .The process is not at

[2021-04-16 11:18] cfRod commented on #888
@nvpohanh Is there any update to decouple TF and PyTorch builds?

[2021-04-16 14:03] aletru01 commented on #894
@nvpohanh are there any tf support for 3d-unet ?

[2021-04-19 05:14] nvpohanh commented on #894
If you install pytorch in the tf container, does it solve the issue?

[2021-04-19 05:15] nvpohanh commented on #888
I don't currently have plan to do that. To work around the issue, you can install pytorch in tf container and vice versa.

[2021-04-20 00:19] christ1ne opened #915 "BERT Pytorch INT8 reference model"
Currently the only INT8 model is in ONNX, can NVIDIA share the Pytorch version where the ONNX INT8 is converted from? Thanks! @DilipSequeira

[2021-04-20 15:49] christ1ne commented on #915
WG: @DilipSequeira  will look into the schedule to release a PyTorch version

[2021-04-21 15:47] G4V opened #917 "DLRM inference README out of date"
The instructions reference v0.5 and don't seem to be compatible with the v1.0 branch.

It looks like there was previously a link to the following repo which is no longer included, but required -

https://github.com/facebookresearch/dlrm

I've cloned this and experimented with both the mlperf and master branches but each has its own problems.

Possibly there's a reliance on files in the MLCommons t

[2021-04-23 02:39] gjm441 opened #918 "DLRM tf model download problem"
hi，@christ1ne  @mnaumovfb @guschmue ,sorry to disturb, for some reason,I can't access google cloud and  download checkpoint and data through "gs://dmchen-data/dlrm_tf1_data/model_dir_0".
Would you do me a fovor, transfer the model and data to google drive, thanks for help.

[2021-04-23 05:20] mnaumovfb commented on #918
First, I wanted to mention that DLRM TF backend is experimental, so we did not fully test it. @petermattson and @tayo would probably be the right people to talk about the weights for it.

[2021-04-23 06:23] gjm441 commented on #918
Ok,thanks for reply. I am eager to test the TF implementation for DLRM.

[2021-04-26 09:35] psyhtest commented on #917
Some issues here:
https://github.com/mlcommons/inference/issues/604

@mnaumovfb

[2021-04-27 10:11] Ankita-020696 opened #920 "Prerequisite to build inference"
Hi,
What are the packages/modules required to build inference benchmarks on Linux(RISCV64)?

Thanks

[2021-05-02 18:56] mnaumovfb commented on #917
Can you be more specific? What exactly is not working and what is the error log? CC @dkorchevgithub

[2021-05-04 20:51] guschmue commented on #920
I think there is nothing special you'd need to do for RISCV64 assuming you have the compiler toolchain.
You could just try building loadgen via cmake and than run one of the python vision benchmarks.
We know that is fine rpi but I don't know if anybody tried riskv yet.
If you run into issues - send a PR or file an issue so we can fix it.

[2021-05-04 20:51] #920 closed

[2021-05-04 20:53] guschmue opened #922 "loadgen: remove chromium build system and change to use cmake only"

[2021-05-04 20:54] guschmue opened #923 "vision reference up cleanup"
- add dynamic batching
- update framework versions
- general cleanup

[2021-05-04 20:57] guschmue commented on #915
WG: @DilipSequeira said they can do, expected ~ 19/05

[2021-05-05 08:55] cfRod commented on #877
Adding error logs for reference:

[code]

(btw I assigned @guschmue by mistake!).

[2021-05-05 13:49] Ankita-020696 opened #924 "ModuleNotFoundError: No module named 'onnx.optimizer'"
Hi,
I am executing below command on riscv64-linux.
**$ ./run_local.sh pytorch mobilenet cpu**

get following error,

Traceback (most recent call last):
  File "python/main.py", line 558, in <module>
    main()
  File "python/main.py", line 414, in main
    backend = get_backend(args.backend)
  File "python/main.py", line 243, in get_backend
    from backend_pytorch import BackendPytorch
  File "/h

[2021-05-06 03:27] gjm441 commented on #918
Hi，@petermattson and @tayo，I have signed in google cloud，but raises that not have access to the storage bucket while downloading. Can you tell me how to fix it?Thanks for help.

[2021-05-06 08:15] tayo commented on #918
I did not work on the inference weights for DLRM.  @davidmochen , any ideas?

[2021-05-10 10:31] Ankita-020696 opened #926 "FileNotFoundError: [Errno 2] No such file or directory: '/home/root/models/mobilenet_v1_1.0_224/val_map.txt'"
Hi,
How to fix following error,
**FileNotFoundError: [Errno 2] No such file or directory: '/home/root/models/mobilenet_v1_1.0_224/val_map.txt'**

Thanks

[2021-05-11 16:46] aletru01 opened #927 "Issue downloading DLRM dataset"
Hi,

For dlrm, the datasets from the README is out of date for both tf and pytorch.

TF:
[code]
Pytorch:

The download links given in the README are out of date: https://github.com/mlcommons/inference/tree/master/recommendation/dlrm/pytorch

https://labs.criteo.com/2014/02/kaggle-display-advertising-challenge-dataset/
https://labs.criteo.com/2013/12/download-terabyte-click-logs/

[code]

Are there

[2021-05-11 20:39] guschmue commented on #924
mobilenet is no longer part of mlperf since v0.7. Still should work. But for pytorch there is a catch: it uses the onnx model via the caffe2 path in pytorch which at that time was still fine in pytorch (it no longer is).
I think you might get it to work by installing an older onnx package, something like pip install onnx==1.6.

You could switch to resnet50 which should be supported by the native p

[2021-05-12 07:41] gfursin commented on #926
Hi @Ankita-020696.

You can also use our [CK automation](https://github.com/ctuning/ck) to install ImageNet aux package that has this file:
[code]

You can then find the file val.txt that is the same as above val_map.txt as follows:
[code]

Hope it's of any help.

[2021-05-12 16:29] aletru01 commented on #888
I run into this issue when trying to use both pytorch and tf
[code]

[2021-05-12 16:30] aletru01 commented on #894
I run into this issue when trying to use both pytorch and tf
[code]

[2021-05-18 10:48] Ankita-020696 opened #928 "ModuleNotFoundError: No module named 'tensorflow'"
HI,
I am working on riscv aarch for which tensorflow is not ported. But I have tflite installed on it.
when I execute below command:
**$ ./run_local.sh tflite mobilenet cpu**

get the following error,

Is tensorflow module must to execute above module, if not how do I fix this error?

Thanks

[2021-05-18 16:49] cfRod commented on #894
@nvpohanhm, ideally we are interested in testing TensorFlow and PyTorch stacks separately for Aarch64 .

[2021-05-18 16:50] psyhtest commented on #917
@dkorchevgithub Would you care to create a PR with your changes please?

[2021-05-18 17:01] cfRod commented on #927
Linking issue https://github.com/mlcommons/inference/issues/917

[2021-05-18 17:08] dkorchevgithub commented on #917
@psyhtest I created PR https://github.com/mnaumovfb/inference/pull/10 with this and other changes. Meanwhile, I am looking into more updates to readme. Thank you for your suggestions on docker, I incorporated them in such a way that the code and data can be shared among different containers. Please let us know how it works for you.

[2021-05-18 17:52] guschmue commented on #928
we use the tflite that comes prebuilt with tensorflow.
[code]
will fix it.

[2021-05-19 08:09] #928 closed

[2021-05-19 08:10] #926 closed

[2021-05-19 08:11] Ankita-020696 opened #930 "ERROR:imagenet:no images in image list found"
Hi,
How to fix this error, from where can i get the image?

Thanks

[2021-05-19 20:55] yhchang3 opened #931 "Accuracy issue on ResNet50"
Hi,
     I'm reproducing the accuracy result for the resnet50 onnx model (opset-8) using onnxruntime as the backend and running with docker. When running on CPU, it matches the one specified in the document, 76.456%. However, I got 76.460% when running with GPU. Is this expected?

Some specs when running with GPU if this helps, and please let me know if you need more information:
GPU: GeForce RTX

[2021-05-20 01:13] nvpohanh commented on #931
Isn't 76.460% slightly better that CPU? Why would that be an issue?

[2021-05-20 01:33] yhchang3 commented on #931
So as long as it is at least 99% of the target top-1 accuracy as specified in the paper, then it is acceptable?
Also, where can I find the quality target for tasks that are not in v0.5? Since the paper only consists of tasks in v0.5 and their quality target.

[2021-05-20 02:12] nvpohanh commented on #931
Accuracy threshold can be found here: https://github.com/mlcommons/inference_policies/blob/master/inference_rules.adoc#411-constraints-for-the-closed-division

And yes, anything above the accuracy threshold is fine.

[2021-05-20 02:14] yhchang3 commented on #931
Thanks for the reply. This is really helpful!

[2021-05-20 02:14] #931 closed

[2021-05-20 08:50] RobotTim commented on #637
Hi, Is there RNN-T onnx export script useful? This problem bother me a bit long time!!!!

[2021-05-24 09:48] RobotTim commented on #637
Hi, would you have any update on this issue??? @christ1ne

[2021-05-24 10:19] G4V commented on #637
Hi. Not that I know of. The conversion of the model to ONNX is non trivial
as I understand.

On Mon, 24 May 2021 at 10:48, RobotTim ***@***.***> wrote:

[2021-05-24 15:32] galv commented on #637
@RobotTim please take alook at this comment for my most recent update on the issues with ONNX export: https://github.com/mlcommons/inference/issues/637#issuecomment-655818489

[2021-05-24 17:36] guschmue commented on #637
Yes, my understanding too that there are parts missing. If I remember correctly @psyhtest had some of it work but not all.

[2021-05-24 17:40] guschmue commented on #930
you'd need to get a copy of imagenet. For testing you could use
the 320px subset from here https://github.com/fastai/imagenette
(would not work for submission).

[2021-05-25 11:04] Ankita-020696 opened #932 "_pickle.UnpicklingError: invalid load key, '\x0a'."
Hi,
How to fix following error?

Thanks

[2021-05-25 18:53] NathanTP opened #933 "Bad tf dtypes import for vision/classification_and_detection"
The tensorflow backend for vision/classification_and_detection (python/backend_tf.py) imports "tensorflow.core.framework.dtypes" which does not exist. Instead it should import "tensorflow.dtypes".

I'm not sure if this is some issue with my local system (I'm using the dockerfile so it shouldn't be). Was this written for an old version of tensorflow that the dockerfile no longer uses?

Reproduce:

[2021-05-26 04:56] Ankita-020696 opened #934 "torch & pickle version required for MLperf"
Hi,
what torch & pickle version is required for mlperf/inference?

Thanks

[2021-05-28 18:32] TheKanter opened #936 "Update documentation for BERT"
We should indicate that we are using BERT-large in the documentation.

[2021-05-29 23:43] zhongpanwu commented on #933
Hi, my solution for this type of issue is
change the line  "from tensorflow.core.framework import dtypes" in backend_tf.py to
"from tensorflow.python.framework import dtypes", and it worked  for me

[2021-05-31 20:23] rnaidu02 commented on #936
Made the changes and the PR is available at https://github.com/mlcommons/inference/pull/938

[2021-06-01 04:40] guoyejun opened #939 "why resnet50-19c8e357.pth is not used for pytorch backend"
I see the mode file from https://github.com/mlcommons/inference/tree/master/vision/classification_and_detection

resnet50-v1.5 | pytorch | 76.014% | imagenet2012 validation | from zenodo | from TorchVision | fp32 | NCHW
-- | -- | -- | -- | -- | -- | -- | --

but, ' ./run_local.sh pytorch resnet50 cpu' requires resnet50_v1.onnx, not the resnet50-19c8e357.pth file, see more in run_common.sh, thanks.

[2021-06-01 14:37] EtoDemerzel0427 commented on #863
@guschmue Hi, so how should we set up the inference environment with this problem unsolved?

[2021-06-01 21:05] guschmue commented on #863
I think the problem is that:
[code]
does not exists anymore.

The following should be a work for the dlrm instructions:
[code]

[2021-06-02 05:37] EtoDemerzel0427 commented on #863
@guschmue Thanks, it worked.

[2021-06-02 07:37] pengaoao opened #941 "the 3d Unet onnx"
the exported onnx seems has the input format NCHWD ?   How can I get the onnx with format NCDHW?

[2021-06-02 13:30] pengaoao commented on #941
the dummy_input may be wrong with dummy_input = torch.rand([1, channels,  height, width, depth]).float().to(device)?   Maybe it should be dummy_input = torch.rand([1, channels, depth, height, width]).float().to(device) in unet_pytorch_to_onnx.py ?

[2021-06-02 13:44] nvpohanh commented on #941
The input is already in NCDHW, with D=H=224, W=160.

[2021-06-02 13:46] nvpohanh commented on #941
The model is trained with NCHWD (H=W=224, D=160), but it doesn't really matter. You can view it as NCDHW with D=H=224 and W=160.

If you really want to make the input become [BS, C, 160, 224, 224], then you will have to transpose all the weights in the ONNX nodes

[2021-06-03 01:45] pengaoao commented on #941
you mean allthough the input  of torch.nn.con3d is NCDHW, you just let D=224, H=224, W=160 in the input?

[2021-06-03 02:09] nvpohanh commented on #941
Exactly!

[2021-06-03 02:23] pengaoao commented on #941
Thank you!

[2021-06-03 02:23] #941 closed

[2021-06-03 06:19] EtoDemerzel0427 opened #942 "DLRM: How long does a sample run take?"
I ran this command (with subsampling):
[code]
on a 192 core machine, and till now it is about 15 hrs, and there is still no sign to reach an end. I wonder how long it usually takes to run this command?

[2021-06-03 07:49] LukeIreland1 opened #943 "BERT doesn't work for PyTorch without a GPU"
Related to #808.

If I remove `.cuda()` from the PyTorch SUT, the tests never start, and get stuck after issuing queries. I believe this is due to the model used by the PyTorch SUT contains CUDA specific parts, so the most likely solution is providing a model for BERT that doesn't require a GPU/contain CUDA specifics.

[2021-06-03 14:01] EtoDemerzel0427 commented on #942
Well, I don't know why you let the default value of `duration` None, and give sample commands in README.md with it unset...... It is NOT user-friendly at all......

[2021-06-03 14:01] #942 closed

[2021-06-03 17:32] EtoDemerzel0427 opened #944 "DLRM: why good_item = 0 && QPS is only 19?"
I ran DLRM on Terabyte with a subsampling rate of 0.875. I downloaded the right weight, and dataset, and checked the md5sum.
However, I found we `results.json` weird:
[code]
As you can see the `good_item` is 0, which means the accuracy of my model is 0. Also, while I set the `target_qps` to 10000.0, the qps achieved on my 192 core machine is only 19. I wonder do you have any idea why these things

[2021-06-04 09:55] EtoDemerzel0427 commented on #882
Things are tricky when you update your github username... I encountered the same problem and spent a hard time finding this issue. MLCommons is a good project, but currently I find it bad in the documentation: invalid links, outdated versions, wrong commands, etc. Do you have any plan to update those READMEs? Or would you welcome a PR to fix this? @naghshineh

[2021-06-04 14:46] EtoDemerzel0427 commented on #944
I carefully read the code and found that you actually never updated the variable `good_item`. Also, the `total_item` is set as `len(result_list)`, which is the number of queries instead of user-item pairs. In your code, both `count` and `total_item` are set `len(result_list)`, so I assume at least one of them is not supposed to hold that value. From the context, I guess the `good_item` and `total_

[2021-06-07 05:50] #939 closed

[2021-06-08 09:28] Ankita-020696 opened #946 "NameError: name 'interpreter_wrapper' is not defined"
# ./run_local.sh tflite --profile ssd-mobilenet-tf
INFO:main:Namespace(accuracy=False, backend='tflite', cache=0, count=None, data_format=None, dataset='coco-300', dataset_list=None, dataset_path='/home/root/Ankita/data/coco', debug=False, find_peak_performance=False, inputs=['image_tensor:0'], max_batchsize=32, max_latency=None, mlperf_conf='../../mlperf.conf', model='/home/root/Ankita/model/resn

[2021-06-08 09:31] Ankita-020696 opened #947 "NameError: name 'interpreter_wrapper' is not defined"
Hi,
What could be the reason for this error?

Thanks

[2021-06-08 10:48] LukeIreland1 commented on #943
There isn't much information between starting and finishing, nor on how long it takes, so I did manage to get a finished build with my setup eventually.

[2021-06-08 10:48] #943 closed

[2021-06-08 16:35] psyhtest commented on #917
Thanks @dkorchevgithub! Perhaps @mnaumovfb will need to accept your PR and then create a PR from his fork to mlcommons/inference?

[2021-06-08 20:58] guschmue commented on #947
what tensorflow version was this?
Seems to work for me with tf-2.5.

[2021-06-09 12:51] TruscaPetre opened #948 "You don't need the strides in this function, why is it here ?"
https://github.com/mlcommons/inference/blob/1f53d40aecd15b412d9eb16e4382520746c1549f/vision/classification_and_detection/python/models/ssd_r34.py#L207

[2021-06-09 16:06] Ankita-020696 commented on #947
I am working on riscv aarchitecture, tensorflow is not ported for it. We have tflite ported for riscv. Won't it work without tf?

Thanks

[2021-06-09 19:24] onyx22574 opened #949 "Yocto/inference benchmarks"
Dears,

I'd like to use the mlperf for inference in yocto environment for benchmarking ARM-based devices. Is it available?

[2021-06-09 23:08] guschmue commented on #947
oh, you use the standanlone tflite package and not the one that comes with tf ?
I think I can fix that.

[2021-06-10 02:21] nvpohanh commented on #948
It was legacy dead code. We can remove it :)

[2021-06-10 03:39] Ankita-020696 commented on #947
Yes, I am using standalone tflite.  Can you help me to fix it?

Thanks

[2021-06-11 04:15] Ankita-020696 commented on #947
@guschmue
When can I expect the fix?  I am blocked because of this error.

Thanks

[2021-06-11 14:30] psyhtest commented on #947
@Ankita-020696 How do you build TFLite for RISC-V? On Arm platforms, we use [portable and customizable CK workflows](https://github.com/krai/ck-mlperf/tree/master/jnotebook/image-classification-tflite-loadgen). In theory, you could simply plug in your TFLite build into the workflow, but I've never worked with TFLite on RISC-V.

[2021-06-11 17:31] guschmue commented on #947
I think I know how to fix it - should get to it today or over the weekend

[2021-06-13 04:53] rnaidu02 commented on #944
@EtoDemerzel0427 This issue you raised will be looked at in few weeks by @mnaumovfb and his team.

[2021-06-14 03:13] EtoDemerzel0427 commented on #944
Thanks. But maybe I can close this issue now. I found that the reference implementation directly uses python's multi-threading which provides no concurrency because of the GIL. It is a naive implementation to show how a successful run looks like instead of measuring the performance.

[2021-06-14 03:13] #944 closed

[2021-06-15 07:43] cfRod commented on #888
Issue resolved with PR https://github.com/mlcommons/inference/pull/951

[2021-06-15 07:43] #888 closed

[2021-06-15 16:33] #933 closed

[2021-06-15 16:42] psyhtest commented on #949
Hi @onyx22574, We (Krai/dividiti) have successfully used automated Collective Knowledge workflows to benchmark many Arm platforms (see MLPerf Inference v0.5-v1.0). I haven't used Yocto for a while though. (Most of our submissions were Ubuntu-based.) Would you like to try e.g. the [TFLite workflow](https://github.com/krai/ck-mlperf/tree/master/program/image-classification-tflite-loadgen) described

[2021-06-15 17:12] tjablin commented on #927
Dave Chen says:

[2021-06-15 22:16] guschmue commented on #927
oh good.

[2021-06-16 04:09] Ankita-020696 commented on #947
@guschmue any update?

Thanks

[2021-06-16 10:20] saar-eliad opened #954 "RNN-T inference Benchmark"
Hi,
Few questions/issues regarding the RNN-T inference benchmark:

1. How come the dataset is loaded in memory? The comment says it speeds up execution, but it does not model actual inference systems in which data movement to the accelerator (e.g., via PCIe) is an actual property and can't just be ignored.
 https://github.com/mlcommons/inference/blob/master/speech_recognition/rnnt/QSL.py#L57

2. C

[2021-06-16 13:45] nvpohanh commented on #954
The WG will reply with more accurate answers, but here is my understanding:

1. In MLPerf-Inference benchmarks, the dataset starts at host memory instead of accelerator memory. The reason is as you mentioned. The `load_query_samples()` function you pointed out only loads the data to host memory, not to accelerator memory.
2. The reference implementation is just for your reference. You can submit y

[2021-06-16 16:57] nvitramble commented on #915
I added a BERT int8 PyTorch reference model in https://github.com/mlcommons/inference/pull/937. Although the PyTorch model isn't the exact one the ONNX was converted from (PyTorch F1 score is slightly higher than ONNX F1 score).

[2021-06-17 10:39] vaibhavexleapsemi commented on #947
Hi @psyhtest @guschmue,
I am working with @Ankita-020696

Following are the steps to build Tensorflow Lite using make.

1. Building RISC-V linux toolchain.

   1.Prerequisites:
        Ubuntu 18.04
        Install packages: $ sudo apt-get install autoconf automake autotools-dev curl python3 libmpc-dev libmpfr-dev libgmp-dev gawk build-essential bison flex texinfo gperf libtool patchutils bc zlib1g

[2021-06-17 16:47] cfRod commented on #927
Is this freely accessible?
[code]

[2021-06-17 16:54] cfRod commented on #877
@guschmue @rnaidu02, There is also this related issue for TF v1 DLRM.  Why does the code in TFV1 DLRM include training scripts?

[2021-06-17 16:56] cfRod commented on #927
Related issue https://github.com/mlcommons/inference/issues/877

The scripts in TF v1 DLRM are for training. Should they really be here?

[2021-06-18 00:00] NathanTP opened #956 "classification_and_detection readme 404s"
The readme for [vision/classification_and_detection](https://github.com/mlcommons/inference/blob/master/vision/classification_and_detection/README.md) has quite a few broken links:

- model=resnet50-v1.5, framework=tensorflow
    - model source: "tensorflow"
    - notes: "here"
- model=resnet50-v1.5, framework=onnx,pytorch
    - model source: "this script"
- model=mobilenet-v1, framework=onnx,pyto

[2021-06-19 01:12] IvanKobzarev opened #957 "PyTorch Mobile"
Hi,
I am working in PyTorch Mobile team.
We would like to add pytorch mobile benchmarking to MLCommond Mobile.
What will be the process of that integration?
Who can be a good POC for that to ask questions?

[2021-06-21 15:05] guschmue commented on #947
sorry for the delay, hope this https://github.com/mlcommons/inference/pull/958 works

[2021-06-21 15:46] guschmue commented on #956
model=resnet50-v1.5, framework=tensorflow, model source: "tensorflow", notes: "here"
fixed.

model=resnet50-v1.5, framework=onnx,pytorch, model source: "this script"
seems ok.

model=mobilenet-v1, framework=onnx,pytorch, model source: "this script"
seems ok.

model=ssd-mobilenet 300x300, framework=onnx, model source: "this script"
seems ok.

model=ssd-resnet34 1200x1200, framework=tensorflow, mode

[2021-06-21 16:32] guschmue commented on #957
I think you want to join the mobile-wg to get this started.
@rnaidu02 can help.

[2021-06-22 01:10] rnaidu02 commented on #957
@IvanKobzarev If you haven't joined Mobile WG, please join using the instructions provided at https://mlcommons.org/en/get-involved/#getting-started

Mobile WG meets every Wednesday at 3 pm for 1 hr. Once you join the "Mobile WG", using the above mentioned link, you will receive the instructions to join the WG meetings, where we can discuss pytorch mobile benchmarking.

[2021-06-22 05:27] rnaidu02 commented on #927
Criteo dataset for MLPerf users should be downloaded from https://ailab.criteo.com/ressources/criteo-1tb-click-logs-dataset-for-mlperf/

@guschmue  created this PR https://github.com/mlcommons/inference/pull/961 with updated link.

[2021-06-22 14:25] #956 closed

[2021-06-22 14:26] guschmue commented on #946
dupe of https://github.com/mlcommons/inference/issues/947

[2021-06-22 14:26] #946 closed

[2021-06-22 14:28] guschmue commented on #922
that was done

[2021-06-22 14:28] #922 closed

[2021-06-22 14:32] guschmue commented on #947
merged.

[2021-06-22 14:32] #947 closed

[2021-06-22 14:38] guschmue commented on #895
I fixed it recently in CMakeLists and https://github.com/mlcommons/inference/pull/960 fixes it in setup.py as well.

[2021-06-22 14:38] #895 closed

[2021-06-22 14:46] guschmue commented on #915
https://github.com/mlcommons/inference/pull/937

[2021-06-22 14:46] #915 closed

[2021-06-22 14:49] guschmue commented on #930
I assume this is resolved.

[2021-06-22 14:49] #930 closed

[2021-06-22 16:05] rnaidu02 commented on #948
@guschmue  to look at this change

[2021-06-22 16:07] rnaidu02 commented on #934
@Ankita-020696 Can we get specific details on the model that requires these details?

[2021-06-22 16:21] rnaidu02 commented on #924
Mobilenet is not supported and switch to ResNet50 to use pytorch backend

[2021-06-22 16:21] #924 closed

[2021-06-23 17:24] calvinmccarter-at-lightmatter commented on #918
I'm having the same issue. It appears that the model still exists at this GCS location but is no longer publicly accessible. @davidmochen

[2021-06-23 17:55] calvinmccarter-at-lightmatter opened #962 "Is the wrong TensorFlow model converted to ONNX for SSD-ResNet34?"
This [line](https://github.com/mlcommons/inference/blob/819a825de093421eb1969a163e25f7abe72cd32e/vision/classification_and_detection/tools/convert-to-onnx.sh#L48) in the conversion script shows that the TF model `tf_ssd_resnet34_22.1.pb` is getting converted to  `ssd_resnet34_mAP_20.2.onnx`. I find it strange that `ssd_resnet34_mAP_20.2.pb` is not getting used. Is this intentional?

Note that the

[2021-06-23 18:57] calvinmccarter-at-lightmatter commented on #962
Also, note that the README claims that the TF->ONNX is using the "mAP 0.20" model.

[2021-06-24 00:05] tayo commented on #918
Unfortunately I don't have much context on the model checkpoint for inference.  I will attempt to contact David via a different method.

[2021-06-25 14:09] sanjib-giri-oc commented on #619
I am facing the same issue.
I ran mlperf with ```./run_local.sh onnxruntime resnet50 gpu --scenario SingleStream``` following this doc https://github.com/mlcommons/inference/blob/r0.5/v0.5/classification_and_detection/GettingStarted.ipynb.
But, still it running in CPU i found out from htop.
Does some extra configuration required for the running in GPU?

[2021-06-28 04:28] leslie-fang-intel opened #963 "What's model source for the pre-trained SSD-RN34?"
The [mlperf training repo](https://github.com/mlcommons/training/tree/master/single_stage_detector/ssd) only provides the SSD-RN34-300 training benchmark. However, in this inference repo, we are using pre-trained [SSD-RN34-1200 model](https://zenodo.org/record/3236545/files/resnet34-ssd1200.pytorch) for the inference. How is this SSD-RN34-1200 model get trained and where can we find the source of

[2021-06-29 15:22] kahmed10 opened #964 "Adding common optimizations to reference scripts"
If we assume that there are common optimizations that are being performed across the vast majority of submitters, then perhaps we should just implement them in the reference scripts. For example in BERT offline: sorting the inputs according to their sequence length.

If for some reason an optimization does not benefit a hardware platform, then it could easily be disabled with a flag.

As of now, t

[2021-06-30 00:09] dkorchevgithub commented on #944
@EtoDemerzel0427, thank you for your suggestion, we added these lines to new PR

[2021-06-30 01:20] leslie-fang-intel commented on #963
Hi @guschmue, thanks for the comment. From [this link](https://github.com/mlcommons/inference/tree/v0.7/others/cloud/single_stage_detector ), I only find the training script with tensorflow but not pytorch. Does this mean, for pytorch SSD-RN34-1200 pre-trained model(`wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=13kWgEItsoxbVKUlkQz4ntjl1IZGk6_5Z'  -O 'resnet34-ssd1200.

[2021-06-30 03:28] AniFace opened #966 "Error installing Loadgen: command 'gcc' failed with exit status 1"
Hi!

I'm trying to install MLPerf Inference Benchmarks locally without docker and I get some issue while trying to install Loadgen:

I'm currently running this on:

MacOS BigSur 11.4
Python 3.7.5
And I get the following output when running the command CFLAGS="-std=c++14" python setup.py develop --user :

`/Users/admin/Library/Python/3.9/bin

running develop
running egg_info
writing mlperf_loadgen.

[2021-07-01 14:18] Water2style opened #968 "Can not download dlrm-tf model"
INFO 0701 22:14:30.257003 retry_util.py] Retrying request, attempt #1...
INFO 0701 22:14:54.007968 retry_util.py] Retrying request, attempt #2...
INFO 0701 22:15:19.591622 retry_util.py] Retrying request, attempt #3...
INFO 0701 22:15:49.910099 retry_util.py] Retrying request, attempt #4...
INFO 0701 22:16:26.977019 retry_util.py] Retrying request, attempt #5...

Hi,cloud you update the new source

[2021-07-01 15:37] calvinmccarter-at-lightmatter commented on #962
@guschmue -- do you have insight on this? Either the code should be updated to reflect the README, or the README should be updated to reflect the code.

[2021-07-02 08:53] Ankita-020696 opened #969 "raise JSONDecodeError("Expecting value", s, err.value)"
Hi,
What could be the reason for below error?

Thanks

[2021-07-03 20:20] rmsander commented on #909
Running into the same issue with the `ResNet50-int8` quantized PyTorch model as well - any updates or insights as to how to fix this would be much appreciated. Thank you!

[2021-07-04 04:29] delock opened #970 "[RNN-T] question about _max_symbols_per_step"
In RNN-T decoder, there is a check against _max_symbols_per_step.  My understanding is this check ensures decoder will stop in definite steps during decoding.  Thus its a stop condition.
https://github.com/mlcommons/inference/blob/master/speech_recognition/rnnt/pytorch/decoders.py#L84
However, in a batched decoder, determine whether symbols added is exactly _max_symbols_per_step seems not very eff

[2021-07-05 17:16] arjunsuresh opened #971 "SSD Mobilenet error using Torch 1.9"
padding="same" is causing error with pytorch 1.9

Traceback (most recent call last):
  File "models/ssd_mobilenet_v1.py", line 274, in <module>
    get_tf_pretrained_mobilenet_ssd(args.input_model)
  File "models/ssd_mobilenet_v1.py", line 254, in get_tf_pretrained_mobilenet_ssd
    model = create_mobilenetv1_ssd(91)
  File "models/ssd_mobilenet_v1.py", line 228, in create_mobilenetv1_ssd
    back

[2021-07-05 21:27] #949 closed

[2021-07-05 21:27] psyhtest commented on #949
@onyx22574 Feel free to reopen if you have any further questions or comments.

[2021-07-06 15:46] rnaidu02 commented on #966
We don't have any submitter tried on Mac OS. If you have a fix to this issue on Mac OS, please provide a PR with the fix

[2021-07-06 15:55] psyhtest commented on #970
+ @galv

[2021-07-06 17:49] galv commented on #970
@delock I'm sorry, can you state more straightforwardly what you are asking? I've reread your message a few times, but I don't get the question. What would you like to change? I think the most helpful thing is if you could show code with your proposed change. If it is in fact equivalent to the reference code in outcome, it seems like it would be permitted by MLPerf inference rules.

[2021-07-06 23:25] rnaidu02 commented on #963
@itayhubara @ephrem-git Do you have any comments to the question from @leslie-fang-intel

[2021-07-07 01:47] delock commented on #970
Hi Galv, the pseudo code of our proposed check would be like the following.  In our batch greedy decoder implementation, symbols_added in step 1 is a vector, time_idxs in step 2 is also a vector.  We propose to use these two to prevent deadloop in greedy decoder.
1. run the decoder loop for _max_symbols_per_step without check whether symbols_added > _max_symbols_per_step
2. Check if there is no up

[2021-07-07 03:56] AniFace opened #972 "How do you ensure that the test can run on different hardware"
Hi guys！

I am reading the code right now, I am a rookie and I have a quick question here. I think if you want to test different hardware, Then we have to support that hardware  at the bottom. So here is the question. If there is a totally new hardware coming in, is there any interfere that we could make our test support it. Or I am thinking in a wrong way? Thank you so much!

[2021-07-07 19:53] calvinmccarter-at-lightmatter commented on #968
Others have experienced this same problem: https://github.com/mlcommons/inference/issues/918

It's pretty shocking that the model for a key benchmark has apparently disappeared. Surely some others have their own copies of this model, even if it missing at that gs bucket. Anyone, anyone?

[2021-07-07 20:50] photoszzt commented on #748
Any update on this issue? It still points to tensorflow model.

[2021-07-08 03:29] Water2style opened #973 "about multiple GPUs on DLRM with pytorch"
Dear sir or madam,

    When i run the inference of DLRM, I meet some problems.
    I use the tb0875_10M.pt (12GB) model on fake dataset(made by tools)
    When I launch the test on ONE NVIDIA T4 (16GB) , it will cause "CUDA run out of memory" fault.
    Then I change my machine to 4*T4 (64GB),  it still say that run out of memory.
    So I turn to your code, in mlcommons-inference/recommendation/

[2021-07-08 03:36] nvpohanh commented on #973
Hi @Water2style , do you plan to run DLRM on T4 server for MLPerf-Inference result submission? Or are you just running the tests for local experiments?

[2021-07-08 03:37] nvpohanh commented on #966
@AniFace which gcc version are you using?

[2021-07-08 03:55] Water2style commented on #973
Hi, at present I am running for local experiments, but in the future , our company may consider join the MLcomons for submission

[2021-07-08 04:53] nvpohanh commented on #973
I see. I think the second error may be caused by different PyTorch version. Could you try rolling back to older version of PyTorch?

[2021-07-08 05:20] Water2style commented on #973
Thanks, I will try to make the self.ndevices = 4 and try older pytorch.    The pytorch I used above is 1.7.

[2021-07-08 07:43] Water2style commented on #973
Thanks for your suggestions.  But it did not work when i turn pytorch from 1.7 to 1.4.
And it's very strange that :
I set self.ndevices bigger than 1, it occurs error, i set it equal to 1, it works. Eventhough they use same code "ld_model = torch.load(model_path)" without any map_location

[2021-07-12 01:03] rnaidu02 commented on #971
@guschmue Can you please check this issue?

[2021-07-12 04:18] chunhuagod commented on #939
hello, I have the same question too. How do you fix the problem finally?

[2021-07-12 05:09] guoyejun commented on #939
hi, my understanding is that it is demo for interface, not for the real implementation.

[2021-07-12 06:11] chunhuagod opened #974 "Benchmark in classification (i.e. resnet-50) didn't support pytorch backend?"
Hello, I am running the test for resnet50 in classification and detection. Unfortunately, I found that the benchmark didn't support the PyTorch backend.

1. In run_common.sh, the model for resnet50-PyTorch is resnet50_v1.onnx instead of resnet50-19c8e357.pth?
<img width="588" alt="截屏2021-07-12 13 59 49" src="https://user-images.githubusercontent.com/46394627/125238657-1cfe1300-e31a-11eb-93ce-0feef

[2021-07-12 17:15] guschmue commented on #963
The pytorch training script seems to be here:
https://github.com/mlcommons/inference/tree/v0.7/others/cloud/single_stage_detector/pytorch

The official download link in the [readme](https://github.com/mlcommons/inference/tree/master/vision/classification_and_detection) points to

https://zenodo.org/record/3236545/files/resnet34-ssd1200.pytorch

[2021-07-12 18:47] ephremw commented on #963
The TF version is here: https://github.com/mlcommons/inference/tree/master/vision/classification_and_detection. Look for "ssd-resnet34."

[2021-07-12 20:07] tayo commented on #918
All -- We are actively working to find a new home for the data.  The previous location is stale.  I will update here once the data has been uploaded.

[2021-07-12 20:08] tayo commented on #968
Updated the other issue.  We are actively working on re-uploading the data to a different location.

[2021-07-12 23:31] leslie-fang-intel commented on #963
Thanks @guschmue
Do you know the methods to run pytorch training script inside your link:
https://github.com/mlcommons/inference/tree/v0.7/others/cloud/single_stage_detector/pytorch ?

[2021-07-13 09:53] Water2style opened #975 "what does the parameter "--threads" do?"
When I set the --threads to 1 rather than os.cpu_count() , i can get the best performance

when i increase the --threads, the qps will low down.

It seems that this parameter will effect on the query in LoadGen, but  not to speed up the inference ?

[2021-07-13 12:06] Ankita-020696 opened #976 "ValueError: Could not open '/home/root/model/resnet50_v1.tflite'."
HI,
How do I fix following error?

Where can I get **resnet50_v1.tflite**?

Thanks

[2021-07-13 15:14] rnaidu02 commented on #957
Pointers given to contact Mobile WG.

[2021-07-13 15:14] #957 closed

[2021-07-13 15:22] rnaidu02 commented on #972
@AniFace  Please point to the code you are looking. Are you reading reference implementation code?
Reference code will provide a flow of benchmark implementation and it is up to the submitter to make changes to the code to work on new h/w.

[2021-07-13 16:08] tjablin opened #977 "Number of Queries and Number of Overlatency Queries"
It would be helpful if the Loadgen logged the number of queries and number of overlatency queries.

[2021-07-13 16:22] rnaidu02 commented on #976
@guschmue

[2021-07-13 16:25] rnaidu02 commented on #975
@guschmue to comment

[2021-07-13 16:30] rnaidu02 commented on #974
@guschmue to look

[2021-07-14 09:43] Ankita-020696 opened #978 "Platform for testing inference"
Hi,
Which is the testing platform for inference like X86 or ARM?

Thanks

[2021-07-15 10:54] gfursin commented on #975
Hi @guschmue.

If I understood you correctly at the last Inference WG meeting, you mentioned that the current implementation of QueueRunner is quite naïve and can be rewritten to improve parallelization and support dynamic batching.
I assume you refer to this code https://github.com/mlcommons/inference/blob/master/vision/classification_and_detection/python/main.py .

We are hitting the same proble

[2021-07-15 17:45] samhithaaaa opened #979 "ERROR:main:thread: failed on contentid=['/data/dataset-imagenet-ilsvrc2012-val/ILSVRC2012_val_00000001.JPEG'], index 1 is out of bounds for axis 0 with size 1"
Facing this error while running the SingleStream scenario. Any idea on how to fix this?

[2021-07-15 18:57] tayo commented on #918
Checkpoint and data are available here:  [DLRM inference data](https://drive.google.com/drive/folders/1B8n8YzkKSn5Khs2gqiu_Ql16_v-DxF3B?usp=sharing).

[2021-07-15 18:59] tayo commented on #927
This location was stale.  The DLRM inference data has been uploaded at the following location:

[DLRM inference data](https://drive.google.com/drive/folders/1B8n8YzkKSn5Khs2gqiu_Ql16_v-DxF3B?usp=sharing).

[2021-07-16 19:35] hanyunfan opened #980 "Start_from_device isn't recorded in the results files"
When a system is able to meet the requirements, "Start_From_Device" can be enabled to allow inference workload starts from accelerators memory instead of host memory. But it is not documented in the final results file, which makes the validation very hard.

Can we have it documented in the results files or logged somewhere?

[2021-07-16 20:45] nv-ananjappa commented on #980
@nvpohanh What is the best way to add this to the logs/results? We should probably also do this for end_on_device.

[2021-07-19 02:18] nvpohanh commented on #980
Maybe we can print it in detailed log? Let me file a PR to print that in LoadGen.

[2021-07-19 04:56] nvpohanh commented on #980
Actually, I just realized that I misunderstood the problem. **LoadGen does not know if QSL starts the input data from device because QSL is implemented by submitters.** The solution would be requesting NVIDIA-partners to submit the harness logs, but that won't be required by WG submission rules. Let us discuss this offline since this is not something that can be printed by LoadGen.

[2021-07-19 05:38] Ankita-020696 commented on #976
@rnaidu02 @guschmue
any solution for this?

Thanks

[2021-07-19 20:41] hanyunfan commented on #980
Thanks Po-han. @nvpohanh

The RMDA feature was only implemented by NVIDIA in the last round - v1.0. I don't know if others will do the same for the new v1.1 submission. So just thinking it could be better if this can be covered in a more general way that covers everyone.

Thanks,
Frank

[2021-07-20 00:43] rnaidu02 commented on #976
TF Lite is not part of [reference models](https://github.com/mlcommons/inference/tree/master/vision/classification_and_detection) format for ResNet50 and also not main stream format for data center/edge submissions. @psyhtest mentioned during last week inference meeting that he might have links to TF lite models. @psyhtest Any suggestions to @Ankita-020696 ?

[2021-07-20 00:48] rnaidu02 commented on #970
@galv @delock  is proposing an alternative approach to test the "**symbols_added > self._max_symbols_per_step**" condition in batch greedy implementation and would like to check with you to see if this is acceptable. Can you please look?

[2021-07-20 01:03] rnaidu02 commented on #979
@samhithaaaa  which benchmark you ran?

[2021-07-20 01:23] rnaidu02 commented on #978
Any x86 platform should work most of the reference benchmarks.

[2021-07-20 02:16] samhithaaaa commented on #979
MLPerf benchmark.

[2021-07-20 02:17] samhithaaaa commented on #979
@rnaidu02 MLPerf benchmark.

[2021-07-20 04:20] delock commented on #970
for galv's comments.  the output is exactly the same because the condition
that max symbols per step is hit never be true for test dataset.

rameshchukka ***@***.***> 于 2021年7月20日周二 上午8:48写道：

[2021-07-20 05:41] Ankita-020696 commented on #978
Thanks

[2021-07-20 05:41] #978 closed

[2021-07-20 05:42] Ankita-020696 commented on #932
@rnaidu02 @guschmue
Any suggestion?

Thanks

[2021-07-20 16:00] rnaidu02 commented on #975
Yes, you can provide improvements

[2021-07-20 16:01] psyhtest commented on #976
@Ankita-020696 According to the [metadata](https://github.com/krai/ck-mlperf/blob/master/package/model-tflite-mlperf-resnet/.cm/meta.json) of our TFLite ResNet50 model (which we converted from TF and used since v0.5) you can download it from this [URL](https://www.dropbox.com/s/cvv2zlfo80h54uz/resnet50_v1.tflite.gz).

[2021-07-20 16:01] rnaidu02 commented on #974
changes are in place for ResNet50 + pytorch

[2021-07-20 16:01] #974 closed

[2021-07-20 16:08] rnaidu02 commented on #968
TF checkpoint for DLRM is available at https://drive.google.com/drive/folders/1B8n8YzkKSn5Khs2gqiu_Ql16_v-DxF3B?usp=sharing

[2021-07-20 16:08] #968 closed

[2021-07-20 16:09] gfursin commented on #975
Thank you!

[2021-07-20 16:11] #927 closed

[2021-07-20 16:11] #918 closed

[2021-07-21 06:04] rnaidu02 commented on #979
Out of MLPerf benchmarks, which model did you use? i.e ResNet50, MobileNet, ...
Based on the error, it looks like you may not have the dataset at the location as shown in the error or the image data got corrupted.

[2021-07-22 15:41] TheKanter opened #983 "[DLRM] add dataset licenses somewhere"
https://ailab.criteo.com/ressources/criteo-1tb-click-logs-dataset-for-mlperf/ is the license for DLRM. can we put this link in both training and inference so it's easily findable?

[2021-07-22 18:21] guschmue commented on #978
loadgen will also be fine on arm devices (ie. jetson nano, or rpi).

[2021-07-23 13:58] Ankita-020696 commented on #934
I am facing pickle error with inference for pytorch.
https://github.com/mlcommons/inference/issues/932

[2021-07-26 06:45] Ankita-020696 commented on #976
@psyhtest after using given model get following error. Can you suggest solution for this?

Thanks

[2021-07-26 08:01] psyhtest commented on #976
Hi @Ankita-020696, have you tried using the corresponding profile for it, not `-- profile ssd-mobilenet-tf`?

What are you trying to achieve? Might be easier to use CK for benchmarking TFLite.

[2021-07-27 05:46] Jalbin1307 commented on #619
I got the same issue. However, it was solved in the following way.
I installed the CPU version.So,  I tried uninstalling onnxruntime and install GPU version.
[code]

Test
[code]

[2021-07-27 15:08] guschmue commented on #976
```--profile ssd-mobilenet-tf``` and ```resnet50``` don't go along well (ssd-mobilenet wants uint8 as input, resnet50 wants fp32).
Maybe there is something tflite is a 2nd class citizen
The following command line should work (at least it does for me):
[code]

[2021-07-27 15:18] rnaidu02 commented on #983
Now the DLRM model links to point to this license so as to download the model here:https://github.com/mlcommons/inference/tree/master/recommendation/dlrm/pytorch#supported-models

Is this sufficient?

[2021-07-27 15:20] guschmue commented on #969
We are trying to read annotations/instances_val2017.json from the coco directory. Something seems wrong with that file (like it is not json). Try to vi annotations/instances_val2017.json.

Do you want to run resnet50 or ssd-mobilenet ?

[2021-07-28 16:16] mthmsn opened #987 "Random seeds added to wrong place in checker script"
The seeds were updated in the wrong place in the checker script. [Commit 90243cb](https://github.com/mlcommons/inference/commit/90243c8bd745b808e5f0c2bd4593491a623cd595) has mistakenly changed the seeds for MLPerf v0.5. We need a new `v1.1` dictionary added to `MODEL_CONFIG` with the new seeds.

[2021-07-28 22:58] tjablin commented on #987
Sorry. The issue should be resolved by #988.

[2021-07-29 18:12] #987 closed

[2021-08-03 20:55] TheKanter commented on #983
LGTM

[2021-08-03 20:55] TheKanter commented on #983
Let's close it in the WG.

[2021-08-04 00:15] delock commented on #970
Is there conclusion?   Could we use the alternative stop condition as mentioned below?

[2021-08-05 17:33] tjablin commented on #970
Does the proposed implementation always yield the same result as the reference implementation?

[2021-08-06 02:17] delock commented on #970
The result is the same if max symbols per step is not exceeded.  that is,
for each input feature, no more than 30 characters are generated.  in the
test suite, this limit is never exceeded.

per our understanding, max symbols per step is a stopping criteria that
prevent deadloop, otherwise a random initialized model may never stop
during evaluation.  our proposed method is an alternative stopping

[2021-08-12 05:51] xianwujie opened #994 "[RNN-T] RuntimeError: Module 'LstmDrop' has no attribute 'inplace_dropout' :"
Hi, i have a qustion about modify rnnt dropout.
when i modify
-  rnnt.toml : dropout=0.0.
- pytorch_SUT.py:  model.load_state_dict(load_and_migrate_checkpoint(checkpoint_path),  strict=False)

 Run RNNT MLPepf_inference. it show below error:
RuntimeError:
Module 'LstmDrop' has no attribute 'inplace_dropout' :
  File "/home/user/pim-workspace/MLPerf_inference/speech_recognition/rnnt/pytorch/rnn.py"

[2021-08-16 09:58] 12eadp001 opened #998 "Could you please provide a processed binary loader of the Terabyte dataset?"
The Terabyte dataset is very large and very hard to preprocess, but for the inference task, we only need the last day's data, which is relatively small and affordable. Now many people including me are prohibited from playing with the full dataset because of the hardware limitation, so I am wondering if you could provide a saved binary loader for us? Thanks.

[2021-08-16 13:07] EtoDemerzel0427 commented on #998
This is exactly what I have been wondering......Processing the whole 1.1 TB data only to get the last day as the test set is too expensive, and I had failed a few times and finally had to switch to the subsampled version. I hope the MLCommons community could help make this experiment more accessable.

[2021-08-25 18:42] chenyuxin1999 opened #1003 "main.py: error: argument --profile: expected one argument"
root@0824378d443e:/inference/vision/classification_and_detection# ./run_local.sh pytorch ssd-mobilenet cpu
usage: main.py [-h]
               [--dataset {imagenet,imagenet_mobilenet,imagenet_pytorch,coco-300,coco-300-pt,coco-1200,coco-1200-onnx,coco-1200-pt,coco-1200-tf}]
               --dataset-path DATASET_PATH [--dataset-list DATASET_LIST]
               [--data-format {NCHW,NHWC}]

[2021-09-03 16:46] TheKanter opened #1009 "update model credits"
Can we fill in https://docs.google.com/spreadsheets/d/17q_OtvVI_C5ET0shUTObHwiplUVRj5gFkU1dTkU7AcQ/edit#gid=0 for

RNN-T inference?

to update the website.

[2021-09-06 02:23] #966 closed

[2021-09-07 04:12] rnaidu02 commented on #1009
I have added RNN-T Inference owner to the above sheet. I have already created this branch with benchmark owners for inference [https://github.com/mlcommons/inference/tree/rnaidu02-patch-author-table#mlperf-inference-master](https://github.com/mlcommons/inference/tree/rnaidu02-patch-author-table#mlperf-inference-master) . Is this something you are looking for?

[2021-09-07 18:19] guschmue commented on #1009
note that many of our models come from sources like model zoo's .... make sure the credit goes there too, I think I don't see this in the spreadsheet.

[2021-09-08 00:56] mexiQQ opened #1010 "can't find model "tokenization""
# language models/ bert /accuracy-squad.py

import numpy as np
import six
import tokenization
from transformers import BertTokenizer
from create_squad_data import read_squad_examples, convert_examples_to_features

[2021-09-08 02:50] nvpohanh commented on #1010
`tokenization.py` is here: https://github.com/NVIDIA/DeepLearningExamples/blob/b03375bd6c2c5233130e61a3be49e26d1a20ac7c/TensorFlow/LanguageModeling/BERT/tokenization.py

Could you add
[code]
and see if it helps?

[2021-09-08 08:43] LukeIreland1 commented on #1010
Hi,

This bug was introduced as part of the decoupling work I did for BERT. I have two fixes, one with and one without the use of env variables. I'm currently on leave until Friday 17th, but my team may upstream either fix in the meantime.

[2021-09-10 01:43] YingLiGithub opened #1014 "error: Could not find suitable distribution for Requirement.parse('mlperf_loadgen')"
### Discussed in https://github.com/mlcommons/inference/discussions/1013

<div type='discussions-op-text'>

<sup>Originally posted by **YingLiGithub** September  9, 2021</sup>
Hi, all.

This is the third time I try to install Mlperf. But there occurs a new problem when I run "python setup.py develop"

"running develop
running create_version
running build
running build_py
copying python/version.py

[2021-09-10 02:02] nvpohanh commented on #1014
Did `python setup.py install` work for you?

[2021-09-10 02:06] YingLiGithub commented on #1014
I tried, but still the same problem.

[2021-09-10 02:09] nvpohanh commented on #1014
mlperf_loadgen has never been on PyPI, so that message is weird. @psyhtest Has your team been using LoadGen Python binding in the submission? Did they run into this issue?

[2021-09-18 20:04] psyhtest commented on #1014
@nvpohanh Yes, we have used Python bindings lately. [Our CK package](https://github.com/krai/ck-mlperf/blob/master/package/lib-python-mlperf-loadgen/) uses [an equivalent](https://github.com/krai/ck-mlperf/blob/master/package/lib-python-mlperf-loadgen/install.sh#L35) of `python setup.py bdist_wheel` following the [official build instructions](https://github.com/mlcommons/inference/blob/master/load

[2021-09-21 11:28] elimkwan opened #1018 "[VISION] Input 0 of node ToFloat was passed float from image_tensor:0 incompatible with expected uint8"
Encountered the following error when trying to build and run the docker container in the `mlcommons
/inference/vision/classification_and_detection/run_and_time.sh` `r1.1` branch. The error log:

[code]

The error occurs from TensorFlow 1.14 to TensorFlow 2.6.0. It happens when running
[code]
More specifically, entering the docker built with `./run_and_time.sh` and run the following command will al

[2021-09-21 11:45] cfRod commented on #1018
Adding @DZFromArm
Related to https://github.com/mlcommons/inference/commit/cd105ff3a5c7f918ee0a153ef325a3610f59751f

[2021-09-21 12:15] psyhtest commented on #1018
Thank you @cfRod.

@DZFromArm It looks like your commit (cd105ff)[https://github.com/mlcommons/inference/commit/cd105ff3a5c7f918ee0a153ef325a3610f59751f] that went into r0.7 was "optimized" as (b62030a)[https://github.com/mlcommons/inference/commit/b62030adda3293904e3d0e756a2218faf166fc45] to get into r1.1?

[2021-09-21 13:52] elimkwan commented on #1018
Thanks @cfRod, @psyhtest

Just checked that commit #774 works with the latest TF 2.6 and it went into the `r0.7` branch, but was broken by commit #913 when it gets to `master` and `r1.1` branch.

[2021-09-21 14:25] psyhtest commented on #1018
Thanks for confirming @elimkwan ! Would you mind making a PR against master to fix this issue a la [`cd105ff`](https://github.com/mlcommons/inference/commit/cd105ff3a5c7f918ee0a153ef325a3610f59751f)?

[2021-09-23 12:49] #1018 closed

[2021-10-05 16:03] rnaidu02 commented on #998
@mnaumovfb Can you please take a look at the issue and comment?

[2021-10-05 16:07] #983 closed

[2021-10-06 22:25] DilipSequeira opened #1024 "FR: equal distribution option to loadgen"
Experimentally we've observed that the range of work required by the smallest and largest entries in the KiTS dataset is 8x. With random sampling, it takes about 5K images to be within 2.5% of the converged offline rate.

We propose to add an option to loadgen to ensure equal sampling, by choosing a sequence of permutations of the dataset determined by the RNG seed, and that this be part of the co

[2021-10-12 02:36] DilipSequeira commented on #1024
The randomness comes from the variability in sampling, not the order.

[2021-10-14 16:56] elimkwan opened #1026 "[Vision] No option to set performance sample count"
In [main.py](https://github.com/mlcommons/inference/blob/master/vision/classification_and_detection/python/main.py#L536), performance sample count is bundled with the `count` parameter, which has also been used for setting [`max_query_count`](https://github.com/mlcommons/inference/blob/master/vision/classification_and_detection/python/main.py#L527)

Propose to add an extra parameters `buffer-size`

[2021-10-15 07:22] psyhtest commented on #1026
I'd suggest calling this parameter `--performance-sample-count` for better maintainability.

Interestingly, in [line 536](https://github.com/mlcommons/inference/blob/master/vision/classification_and_detection/python/main.py#L536) the default is 500 (which can be used to set the default value of the new parameter):
[code]
where as the comment in [line 427](https://github.com/mlcommons/inference/blo

[2021-10-18 10:11] arjunsuresh opened #1028 "Adding minimum system requirement for reproducing the reference implementations"
It would be nice to have a "Minimum Hardware Requirement" to reproduce the reference implementations especially for DLRM where the requirements are non-trivial.

[2021-10-20 09:38] MohanaRC opened #1029 "Facing issues with Pybind11 while setting MLperf inference on Jetson Xavier"
While setting up MLperf inference on Jetson board using
**cd ../../loadgen; CFLAGS="-std=c++14" python3 setup.py develop**, keeping stumbling onto the following issue,
![image](https://user-images.githubusercontent.com/13655465/138068699-425b753b-c31f-4b5b-b8f8-fbd057cfaf44.png)

I've installed and uninstalled pybind11-dev several times so for without any solution so far

[2021-10-20 16:08] MohanaRC commented on #1029
Yes, I have used the same version of pybind along with recursive clone. I do encounter another challenge while using recursive clone,
![image](https://user-images.githubusercontent.com/13655465/138130226-c579ca50-6ea2-4559-babf-736d89b7c438.png)

[2021-10-21 06:05] nvpohanh commented on #1029
Please update the URL `https://github.com/mlperf/power-dev` to `https://github.com/mlcommons/power-dev`

[2021-10-22 02:37] nvpohanh commented on #1029
Thanks. Will be you an update if I have a repro or if I cannot repro. Also ++ @psyhtest  since he may have been using this code path.

[2021-10-25 04:59] rnaidu02 opened #1031 "3D-UNet (KiTS19) Pytorch model not processed by jit.trace"
Current [3D-UNet model](https://zenodo.org/record/4771141/files/3dunet_kits19_pytorch.ptc?download=1) (KiTS19) is already processed by jit.trace. Since it is already jitted, it is not possible for performing jit.trace for platform specific optimizations. Intel team is requesting reference implementation owner to share the model not processed by jit.trace (original model weights).
@delock

[2021-10-26 14:29] #1031 closed, assigned to nobody

[2021-11-01 20:36] karkadad opened #1034 "[Vision - 3DUnet with Kits19] Accuracy reported in Readme"
We observed that there is a switch in the order of accuracy values reported in the Readme here: https://github.com/mlcommons/inference/tree/master/vision/medical_imaging/3d-unet-kits19

This is what is reported (Ref: https://github.com/mlcommons/inference/tree/master/vision/medical_imaging/3d-unet-kits19#supported-frameworks) :
ONNX	mean = 0.86330 kidney = 0.9342 tumor = 0.7924

What we observe wi

[2021-11-02 16:26] rnaidu02 commented on #1034
@nv-jinhosuh

[2021-11-02 16:31] rnaidu02 commented on #1028
@rnaidu02 find out from intel team on the RAM requirements to run the DLRM benchmark

[2021-11-02 16:32] #1026 closed

[2021-11-02 16:36] rnaidu02 commented on #1014
Closing this issue as there are no updates/comments.

[2021-11-02 16:36] #1014 closed

[2021-11-02 16:38] rnaidu02 commented on #1010
@LukeIreland1 Are there any updates to this issue. If there are none, this issue will be closed next week.

[2021-11-02 16:42] LukeIreland1 commented on #1010
@nsircombe, do we still plan to upstream (one of) our fix(es) to BERT accuracy mode?

[2021-11-02 16:46] rnaidu02 commented on #1009
What we need: Reference implementation owner, integration with loadgen, folks who validated the model for training
@guschmue Can you help with this?

[2021-11-03 04:13] nvpohanh commented on #1010
@LukeIreland1 It would be great if you can provide a fix and file a PR so that we can merge it into upstream? Thanks

[2021-11-05 22:09] #862 closed

[2021-11-09 11:40] MohanaRC commented on #1029
I am slightly confused. In one of the earlier responses I was suggested to use git clone recursive first and then use a specific version of pybind. Clone recursive failed because the power dev module was moved to a different location and pybind I had used as per the URL. @nvpohanh could you share what steps you used to set up on your jetson? I'll remove all previous installations and replicate the

[2021-11-09 13:05] nvpohanh commented on #1029
@MohanaRC Alternatively, could you try `cd third_party/pybind && git checkout 25abf7efba0b2990f5a6dfb0a31bc65c0f2f4d17`? Basically, our code does not work with master-branch pybind11, but pybind at `25abf7efba0b2990f5a6dfb0a31bc65c0f2f4d17` this commit hash.

[2021-11-09 13:06] nvpohanh commented on #1029
This should have been fixed on latest master branch.

[2021-11-09 17:11] rnaidu02 opened #1039 "Integrate new Object detector with reference code"
@pgmpablo157321

https://drive.google.com/drive/u/2/folders/10gfOCx7vfeAkWz1q7Y4ykC4lrds46vkJ

[2021-11-09 17:24] rnaidu02 commented on #998
We need Criteo to allow last day of logs to be preprocessed by mlcommons and shared with inference wg.

[2021-11-15 23:07] shabanim opened #1040 "Build issue with the last commit (5e09cba298a3a35d21cf1c45e3a31d9c0f068206)"
Start test has been modified to accept 5 parameters, whereas not all callers are modified.

[2021-11-16 16:13] rnaidu02 commented on #1040
@shabanim  Can you add the link to the file where you encountered this and any other details?

[2021-11-16 16:14] rnaidu02 commented on #1029
@MohanaRC Is this issue resolved?