[2021-11-16 16:29] nv-jinhosuh commented on #1034
Hi @karkadad
Would you please let me know how you obtained the accuracy of your ONNX_SUT?
Is that what's printed out from `make run_onnxruntime_accuracy`? The command will also make the CSV file:  `build/postprocessed_data/summary.csv` that shows each case's accuracy on Kidney/Tumor segmentation and the mean(composite) of the two. I would like to double check, if you see the match between what's p

[2021-11-16 16:45] psyhtest commented on #1040
[This commit](https://github.com/mlcommons/inference/commit/5e09cba298a3a35d21cf1c45e3a31d9c0f068206).

[2021-11-16 16:47] #1024 closed

[2021-11-16 16:50] rnaidu02 commented on #1040
@pgmpablo157321

[2021-11-16 16:53] psyhtest commented on #1040
I confirm that building LoadGen fails as follows:

<pre><b>/home/anton/CK-TOOLS/mlperf-inference-upstream.master/inference/loadgen/benchmark/repro.cpp:</b> In function ‘<b>int main(int, char**)</b>’:
<b>/home/anton/CK-TOOLS/mlperf-inference-upstream.master/inference/loadgen/benchmark/repro.cpp:297:63:</b> <font color="#DC322F"><b>error: </b></font>too few arguments to function ‘<b>void mlperf::Sta

[2021-11-16 17:07] psyhtest commented on #1040
One quick way to fix it:
<pre><font color="#859900"><b>anton@krai</b></font>:<font color="#268BD2"><b>~/CK-TOOLS/mlperf-inference-upstream.master/inference</b></font>$ git diff
<b>diff --git a/loadgen/benchmark/repro.cpp b/loadgen/benchmark/repro.cpp</b>
<b>index 8b4bc8a..a098829 100644</b>
<b>--- a/loadgen/benchmark/repro.cpp</b>
<b>+++ b/loadgen/benchmark/repro.cpp</b>
<font color="#2AA198">@@ -

[2021-11-16 17:10] psyhtest commented on #1040
Another:
<pre><font color="#859900"><b>anton@krai</b></font>:<font color="#268BD2"><b>~/CK-TOOLS/mlperf-inference-upstream.master/inference</b></font>$ git diff
<b>diff --git a/loadgen/loadgen.cc b/loadgen/loadgen.cc</b>
<b>index f709ab3..56ec478 100644</b>
<b>--- a/loadgen/loadgen.cc</b>
<b>+++ b/loadgen/loadgen.cc</b>
<font color="#2AA198">@@ -1535,7 +1535,7 @@</font> struct RunFunctions {
 void

[2021-11-16 20:07] shabanim commented on #1040
With a simple StartTest search, you will find all instances of  StartTest.
Defined at loadgen.h/loadgen.cc (Binding files: c_api.h, x_api.cc, python_api.cc)
 No need to change above files though.

Need to change some callers in the followings:
perftests_null_sut.cc
basic.cc
repro.cpp

Hope this is of help.

[2021-11-16 20:46] pgmpablo157321 commented on #1040
Yes, I noticed that I only modified some callers. I only modified the python and c apis

I think something like what Anton proposes will fix all the calls:

However, the default should be "audit.config" so that it works like it did before it had the parameter. I will make the necessary changes

[2021-11-16 23:37] marcusnchow opened #1042 "Error parsing message with resnet-50 using pytorch backend"
I get the following error message when trying to load the resnet-50 model for pytorch backend. The model I use is from this [link](https://zenodo.org/record/4588417/files/resnet50-19c8e357.pth)

I am on r1.1 branch using pytorch 1.10

[code]

[2021-11-17 02:42] nvpohanh commented on #1040
merged now

[2021-11-17 05:21] MohanaRC commented on #1029
@rnaidu02 yes, I have been able to install it. The issues were fixed on the latest branch. Earlier the clone recursive was failing because of the issue with power dev module. I installed it separately along with pybind which was of a different commit as @nvpohanh had mentioned earlier. Latest branch didn't have that issue so it worked.

[2021-11-17 05:21] #1029 closed

[2021-11-17 07:15] karkadad commented on #1034
I used the run script: ` python run.py --backend=onnxruntime --scenario=Offline --accuracy --model=build/model/3dunet_kits19_128x128x128.onnx `
This is the result:
`
Constructing SUT...
Finished constructing SUT.
Constructing QSL...
Found 42 preprocessed files
Using performance count = 16
Finished constructing QSL.
Loading ONNX model...
Running Loadgen test...
Loading file case_00066
Loading file

[2021-11-17 14:06] nv-jinhosuh commented on #1034
@karkadad  Could you please take a look on the CSV file and see if it says the same?

[2021-11-17 14:55] nv-jinhosuh commented on #1034
@karkadad Would you please check the above PR to see if you now have consistent printouts?

[2021-11-17 21:00] karkadad commented on #1034
Thank you @nv-jinhosuh ! I verified that the patch fixes the issue, closing this ticket.

[2021-11-17 21:00] #1034 closed

[2021-11-18 06:05] rnchukka commented on #1028
It uses ~180GB while running DLRM Pytorch reference code for Offline test using pre-processed data.

[2021-11-18 06:30] pgmpablo157321 commented on #1039
I have some changes to integrate the new object detector. However I have some questions:

- Currently I am loading the model from a checkpoint (in pytorch). So this [source code](https://github.com/ahmadki/training/tree/akiswani/ssd_v2/single_stage_detector/ssd/model) is needed for loading the model. Locally, I just have the files in the folder. But how should I include them for the repo? Another

[2021-11-18 09:48] kjyeon1676 opened #1044 "Got Error message when running the bert_large model"
Hello, I trying to run the bert-large model using pytorch backend. do not use Nvidia-docker.
I want to run the CPU target. But, I met the error message as below.

Traceback (most recent call last):
  File "/opt/app-root/src/inference/language/bert/accuracy-squad.py", line 405, in <module>
    main()
  File "/opt/app-root/src/inference/language/bert/accuracy-squad.py", line 397, in main
    write_p

[2021-11-18 10:05] nvpohanh commented on #1044
did you install `tokenization` package correctly?

[2021-11-18 10:49] kjyeon1676 commented on #1044
@nvpohanh Yes, I installed it using a pip package ( pip install tokenization)
I reinstalled the tokenization package and tried again. But, the same error message is still displayed.

[2021-11-18 11:00] nvpohanh commented on #1044
Okay, I found the issue. the `tokenization` here is NOT the pip `tokenization` package. Rather it should be this `tokenization.py` file located in the DeepLearningExamples submodule: https://github.com/NVIDIA/DeepLearningExamples/blob/b03375bd6c2c5233130e61a3be49e26d1a20ac7c/TensorFlow/LanguageModeling/BERT/tokenization.py

Could you uninstall the tokenization package and place this file in the sa

[2021-11-19 03:09] kjyeon1676 commented on #1044
@nvpohanh wow, The problem is solved :) Thank you for your answer.

[2021-11-19 03:09] #1044 closed

[2021-11-19 22:32] guschmue commented on #1039
I think it is not good to include the model source in the benchmark app - it creates a mess over time and we have pretty bad experience with the old ssd.
Better would be to create a torchscript model with the source in some other directory and use that torchscript model in the benchmark app.
I think we do this for the pytorch resnet50 model.

[2021-11-22 15:09] pgmpablo157321 commented on #1039
@guschmue Currently the source code of the model is in it's own [directory](https://github.com/pgmpablo157321/inference/tree/master/vision/classification_and_detection/python/models/resnext50), and it includes a [torchscript model](https://github.com/mlcommons/inference/blob/18092a75c9d145033e5e1174bf31679476016f9d/vision/classification_and_detection/python/models/resnext50/retinanet.py#L632) that

[2021-11-22 17:58] guschmue commented on #1039
torchscript  models store the torchscript IR representation of the model so it does not need the source code.
We badly want to keep model source out of the benchmark app - it becomes hard to maintain over time.
Unless there is a good reason why torchscript doesn't work here I'd go that route.

[2021-11-30 17:16] rnaidu02 commented on #1042
@kahmed10

[2021-11-30 17:16] kahmed10 commented on #1042
@marcusnchow from the error message, it looks like you are using an AMD GPU. Can you specify which hardware you are using?

[2021-12-02 17:56] niklasAust opened #1048 "[RNN-T] Only Encoder gets called in class 'RNNT'"
Hi,

I wanted to try the reference implementation for the RNN-T and I wonder if I encountered a bug in model_separable_rnnt.py.
I think only the encoder gets called?

In line 51 and 52 in class 'RNNT'
[code]

[2021-12-02 18:09] #1048 closed

[2021-12-14 00:38] psyhtest commented on #976
Closing down due to inactivity.

[2021-12-14 00:38] #976 closed

[2022-01-07 11:04] Deschain commented on #924
Hi,

I am getting the same error using resnet50 and pytorch

[code]

Optimizers were removed from ONNX in version 1.9.0 (https://github.com/onnx/onnx/pull/3288)

I tried using the last ONNX version with optimizers (1.8.1) but got this error
[code]

[2022-01-10 06:18] rnaidu02 opened #1051 "Submission checker changes to reflect latest early stopping criteria changes"
This is related to changes from this PR https://github.com/mlcommons/inference/pull/1037

@ckstanton @tjablin can help with the technical guidance

[2022-01-10 11:35] Deschain commented on #828
Hi,

I am getting this error using the linked Resnet-50 Pytorch model

[code]

Optimizers were removed from ONNX in version 1.9.0 (https://github.com/onnx/onnx/pull/3288)

I tried using the last ONNX version with optimizers (1.8.1) but got this error
[code]

[2022-01-15 05:21] nvzhihanj opened #1053 "MLCommon CLA link no longer works"
The CLA link: https://github.com/mlcommons/systems/blob/main/mlcommons_cla.txt no longer exists and I couldn't sign it for the pull request.

MLCommons CLA bot:
Thank you for your submission, we really appreciate it. We ask that you sign our MLCommons CLA and be a member before we can accept your contribution. If you are interested in membership, please contact membership@mlcommons.org .
0 out of

[2022-01-18 05:22] rnaidu02 commented on #1053
@nvzhihanj  Can you check the CLA form from here (https://mlcommons.org/en/policies/)

https://drive.google.com/file/d/1SkpAdb3ka8tXepCawgGxAyo6cUH5ZAZg/view ?

[2022-01-18 18:53] nvzhihanj commented on #1053
To be specific we found and filed this form: https://docs.google.com/forms/d/e/1FAIpQLSd4gItNaxbm9okFroxJEUmkmPjAJ6YegNxmHRAq8f6Uv_SDyw/viewform. Is this enough to get the access?

[2022-01-19 09:12] xy223 opened #1054 "while profiling, Is there a way to take inference success rate into consideration"
currently we generate profiling results basing on all inference results. Is there a way to differentiate successful inference results from failed inference results?

an inference request being successful or not is different from the result being accurate or not. For example, in our case, for every inference request, we need to send a http request to an inference service to get result, so the infer

[2022-01-19 19:00] nvzhihanj commented on #1053
The form works and I have been added. Thanks!

[2022-01-19 19:00] #1053 closed

[2022-01-22 14:48] chiungliang opened #1057 "DLRM server mode, core dumped"
Hi,

I ran official DLRM code by official command without any modification but got core dumped when running serve mode

**Here is the command:**
./run_local.sh pytorch dlrm terabyte cpu --scenario Server --max-ind-range=40000000 --samples-to-aggregate-quantile-file=./tools/dist_quantile.txt --max-batchsize=2048 --accuracy --mlperf-bin-loader

**Here is the log:**
python/main.py --profile dlrm-tera

[2022-01-24 06:53] #1054 closed

[2022-01-25 06:09] #1057 closed

[2022-01-25 15:42] #977 closed

[2022-01-28 15:45] VladislavShipovskiy opened #1062 "build issues with loadgen.cc"
[code]

[2022-01-31 14:52] arjunsuresh commented on #1062
This issue is due to this change. https://github.com/mlcommons/inference/commit/15ae1268b05634caabf54c1fbd5a34449c1410bc#r65695484

[2022-01-31 18:50] pgmpablo157321 commented on #1062
@VladislavShipovskiy @arjunsuresh Can't reproduce the error. What branch are you using to build loadgen? Can you share some commands to reproduce

It is very weird since this struct is defined in the commit and in the main branch as:
https://github.com/mlcommons/inference/blob/15ae1268b05634caabf54c1fbd5a34449c1410bc/loadgen/loadgen.cc#L355-L363

[2022-01-31 19:00] pgmpablo157321 commented on #1062
@VladislavShipovskiy @arjunsuresh @rnaidu02 Oh nvm, i found the error. It should be `pr.query_latencies` instead of `pr.query_intervals`. Locally, I have it correctly. Not sure what happened, but i'll make a pr fixing it

[2022-02-01 03:41] #1062 closed

[2022-02-01 12:15] shairoz-deci commented on #1010
Can you please share (or merge) the fix for this issue?

[2022-02-01 12:18] LukeIreland1 commented on #1010
It's been merged into master #1047

[2022-02-01 12:24] shairoz-deci commented on #1010
As far as I understand new submission for v2.0 are to use the r2.0 branch. Would the fix be merged there as well

[2022-02-01 12:40] nvpohanh commented on #1010
@shairoz-deci According to branch history of `r2.0` branch, it looks like @LukeIreland1 's fix is included. Could you try the latest `r2.0` branch?

[2022-02-01 12:51] shairoz-deci commented on #1010
@nvpohanh thank you for the quick response.
I am using the the latest r2.0 branch, running inside the docker of course.

The exact execution and error:

[code]
[code]

[2022-02-01 13:21] LukeIreland1 commented on #1010
My fix was only for tensorflow and pytorch, but I will take a look at onnx and see if I can make a suitable fix using the same approach.

[2022-02-01 14:42] LukeIreland1 commented on #1010
Okay, after taking a look, there is no "tokenization.py" for onnx, just tf and pytorch, which I guess is ultimately why I only added those options, but it should really throw an error if neither is installed, as accuracy mode requires tokenization, which requires at least one of tensorflow, or pytorch, which really shouldn't be the case given my original patch was supposed to decouple the modes fr

[2022-02-01 14:56] shairoz-deci commented on #1010
@LukeIreland1
We intend to submit all our models in onnx, quantized to INT8. As such they will lose accuracy from the corresponding "pytorch" used to export them. Can you explain what it means to "create my own tokenization.py" going from text to prediction with onnx models is fairly simple as can be seen in the following example:
https://github.com/microsoft/onnxruntime-inference-examples/blob/ma

[2022-02-01 15:08] LukeIreland1 commented on #1010
@shairoz-deci,
The tf/pytorch point was regarding the fact the import that causes you an error needs an existing "tokenization.py" to be found in the path, and the only existing ones were in folders labelled "TensorFlow" and "PyTorch", but the files in question don't play any part in inference, and fortunately they're both already framework agnostic anyway.

I'm going to get a patch reviewed (that

[2022-02-01 16:04] LukeIreland1 commented on #1010
@shairoz-deci,
It'll be quicker and easier (as DeepLearningExamples is a different project, and I'm working for Arm who don't have project contribution guidelines for that project), if you copy the "tokenization.py" from TensorFlow to "language/bert", remove the "import tensorflow as tf" line, and remove the lines that check if tensorflow or pytorch are installed from "accuracy-squad.py".

Eventua

[2022-02-01 23:54] georgelyuan opened #1066 "Update loadgen version number to 2.0"
https://github.com/mlcommons/inference/blob/966e5592976a8687081335fd914fe062ab47e855/loadgen/version_generator.py#L96

@guschmue FYI

[2022-02-02 05:28] yschoi-dev opened #1068 "Unable to reproduce the SQuAD v1.1 result with the BERT-Large PyTorch model."
I tried to reproduce the SQuAD v1.1 f1 score of 90.874% for the BERT-Large PyTorch model following [this instruction](https://github.com/mlcommons/inference/tree/master/language/bert#commands).
(+ upgrading 'transformers' to 4.0.0 to avoid the following error.
[code]
)

But, I am getting the F1 score of less than 90 only as follows.
[code]
I'd appreciate if you could let me know any clue or soluti

[2022-02-02 09:13] shairoz-deci commented on #1010
thanks @LukeIreland1
I copied the tokenization.py as you mentioned and the package loading part seems to be working.
However, the test now seems to be stuck on "Running LoadGen test..."

[code]
[code]

Tried running the pytorch and got:

[code]
I assume because the GPU I'm working on isn't supported by the docker container package versions
When I try running the pytorch on CPU, a different crash
[

[2022-02-02 10:09] LukeIreland1 commented on #1010
@shairoz-deci,

This to me looks like the right way to run it, even if it's not working/gets stuck, and is definitely outside the scope of this issue. Could you try with `--count 1` or some other small number and see if it completes?

[2022-02-02 10:40] shairoz-deci commented on #1010
run.py has no ```--count``` flag so perhaps I misunderstood your suggestion.

[code]

@LukeIreland1 I will open a different issue for this

[2022-02-02 10:46] shairoz-deci commented on #1010
with a small --max_examples the onnxruntime does work.
Thanks @LukeIreland1 should anything else regarding this comes up I will open a new issue.

[2022-02-03 05:07] rnaidu02 commented on #1066
Addressed in PR 1072
https://github.com/mlcommons/inference/pull/1072

[2022-02-03 05:07] #1066 closed

[2022-02-03 20:53] diyessi opened #1074 "Trained DLRM models are not useful for measuring accuracy"
The trained DLRM models require the corresponding feature dictionaries if they are used to measure accuracy. These dictionaries are small, but take a long time and much memory to prepare with the data preparation scripts in their current form.
To clarify, the dictionaries should be made available along with the trained models since they are needed to translate from the categorical data values to t

[2022-02-05 15:32] arjunsuresh opened #1076 "Wrong data type for query_count in logs causing submission checker failure for singlestream/multistream power results"
This line is causing the below error in r2.0 branch for submission checker
https://github.com/mlcommons/inference/blob/r2.0/tools/submission/submission-checker.py#L1085
Error
[code]
Log entry is in str type -- probably needs to be in int type or needs a type change in the operation

[code]

[2022-02-07 02:02] nvpohanh commented on #1076
I see. @pgmpablo157321  We should remove `std::to_string()` around the size_t numbers: https://github.com/mlcommons/inference/blob/r2.0/loadgen/loadgen.cc#L1021

[2022-02-07 04:10] pgmpablo157321 commented on #1076
Hi @nvpohanh, are you working on this? I have quick fix for this problem

[2022-02-07 05:09] nvpohanh commented on #1068
Which GPU are you using? Are you using NVIDIA GPUs? If so, could you try running on CPU and see if the accuracy is recovered?

[2022-02-07 05:12] nvpohanh commented on #1076
@pgmpablo157321 Well, you beat me on the speed! :D thanks for fixing this!

[2022-02-07 08:15] yschoi-dev commented on #1068
That result {"exact_match": 82.26111636707664, "f1": 89.91125746620186} was from NVIDIA Titan XP.
I'm getting similar values of {"exact_match": 82.21381267738883, "f1": 89.85617167730943} with NVIDIA A100 and
{"exact_match": 82.081362346263, "f1": 89.94336020017377} with CPU (by installing a CPU version of PyTorch).
Slightly different scores from different hardwares, but all of them are still lowe

[2022-02-07 08:56] nvpohanh commented on #1068
Hmm that's weird. Could you try with `transformers==2.4.0` which is what we tested before?

also cc @pgmpablo157321

[2022-02-07 09:26] #1076 closed

[2022-02-07 10:04] yschoi-dev commented on #1068
As I said before, I couldn't run the [PyTorch inference code](https://github.com/mlcommons/inference/blob/9e89b395ddf6d823c8804d9a00afff26c67a06b9/language/bert/pytorch_SUT.py) without the following error in the provided docker environment with transformers==2.4.0.
[code]
So, I modified [two lines](https://github.com/mlcommons/inference/blob/9e89b395ddf6d823c8804d9a00afff26c67a06b9/language/bert/p

[2022-02-07 11:47] arjunsuresh commented on #1076
Since the fix changes the log output is it required to rerun the experiments or can we use the old log entries with an "int" typecast?

[2022-02-08 02:39] nvpohanh commented on #1076
I think we should patch the submission checker so that either the size_t output or the string output works.

[2022-02-08 03:26] nvpohanh commented on #1068
I see. Maybe @pgmpablo157321 can take a look what happened.

[2022-02-08 03:57] yschoi-dev commented on #1068
Thanks. I'm looking forward to it.

[2022-02-08 05:14] #1051 closed

[2022-02-08 08:55] nvpohanh commented on #1076
@arjunsuresh This patch will fix the issue: https://github.com/mlcommons/inference/pull/1078/files

[2022-02-08 09:20] arjunsuresh commented on #1076
Thanks a lot @nvpohanh @pgmpablo157321

[2022-02-08 16:40] psyhtest opened #1079 "Required minimum Query Count not met by user config"
For Krai's customary submissions on Arm dev boards, the submission checker reports issues that appear to be related to early stopping e.g.:

[code]

The corresponding `mlperf_log_summary.txt` appears to be perfectly fine:
[code]

[2022-02-08 16:45] psyhtest commented on #1079
Same for inferred Offline and MultiStream results:
[code]

[2022-02-08 16:52] psyhtest commented on #1079
@ckstanton Would you agree that this ERROR is spurious?

[2022-02-08 16:54] psyhtest opened #1080 "Submission checker infers MultiStream from SingleStream incorrectly"
In the below, the SingleStream results are measured, while the Offline and MultiStream are inferred:
[code]

From a log, it is clear where the results are taken:
[code]
The Offline result is OK. The MultiStream result should be multiplied by 8.

[2022-02-08 16:59] ckstanton commented on #1079
@psyhtest I agree, this error shouldn't be happening.  I'll take a look at the submission checker.

[2022-02-08 17:12] pgmpablo157321 commented on #1079
@psyhtest @ckstanton it is because this comparison i'm making here https://github.com/mlcommons/inference/blob/ca3e3823834f0e7f7b900a8391b50cef32ad4180/tools/submission/submission-checker.py#L975-L982
Here, I am taking the `required_min_query_count` for the early stopping scenario from the logs (as the number of queries that where actually made). I though this will always pass when the logs were c

[2022-02-08 17:37] ckstanton commented on #1079
Since for early stopping we just care that minimum time duration is met and that early stopping says the run was successful, I think it doesn't make sense to check min_query_count in this case.  So yes @pgmpablo157321 , it makes sense to remove this comparison.  Thanks

[2022-02-08 18:59] nv-jinhosuh opened #1082 "Equal Issue mode only implemented for Offline"
We have an equal issue mode implementation for Offline scenario, through PR1032 (https://github.com/mlcommons/inference/pull/1032), and this works flawlessly for 3D-UNet Offline runs.

Now for 3D-UNet SingleStream scenario, we are missing the equal issue mode support from LoadGen, and it is problematic as below:

* 3D-UNet KiTS19 input sets has 42 samples, with 15 different shapes; total voxel cou

[2022-02-08 19:35] nv-jinhosuh opened #1083 "Early Stopping implementation might have a bug"
Early Stopping implemented in LoadGen seems to have a bug: overlatency count collapses  to 1 as the total query count increases. It is likely that a very fast accelerator can go way more than `min_query_count` for meeting the `min_duration` and for any reason EarlyStopping may come in handy.

Also it's worth double checking why the above behavior happens, and see if currently used counts (meaningf

[2022-02-08 20:01] psyhtest opened #1084 "Submission infra"
I've tried to test the new submission infra by uploading an encrypted tarball. I've received a confirmation by email with a submission id, but the next steps are not clear.

I suggest the confirmation email to include the following:
- Submitter id (submitter name as well?)
- Submission timestamp
- File name and its secure hash (e.g. `md5sum`)
- Link to check (http://submissions-ui.mlcommons.org/in

[2022-02-08 20:03] psyhtest commented on #1084
The recommended `openssl` command outputs:
[code]

[2022-02-08 20:06] psyhtest commented on #1084
Another feature request. We use private GitHub repositories to prepare our submissions (similar to as I described [here](https://github.com/mlcommons/inference_results_v1.1/blob/main/README.md)). GitHub lets us easily download a snapshot of a branch as a `zip` file. Un`zip`ping and re`tar`ring is rather tedious. Can the infra support `zip` files as well please?

[2022-02-08 20:33] pgmpablo157321 commented on #1084
No problem in general, I'll add it. The submission link is http://submissions-ui.mlcommons.org/submission in case you don't have it. You can also get there by clicking in the 'submissions' link in the upper left corner

<br><br>

Just adding -pbkdf2 silences the warning. However let me test the flow of the Interface to see if this works fine

<br><br>

I think this can be integrate as well

[2022-02-08 20:50] ckstanton commented on #1083
Hi @nv-jinhosuh .  Thanks for catching this.  It turns out that the fix is simple... there's no complicated overflowing issue going on.  There's currently an [overlatency query bound](https://github.com/mlcommons/inference/blob/r2.0/loadgen/loadgen.cc#L635) that's set to (1 << 10).  So when the overlatency count gets beyond 1024, the early stopping loop terminates early and we have the bug.

There

[2022-02-08 20:52] nv-jinhosuh commented on #1083
@ckstanton ah, I see that. :) Thank you!

[2022-02-08 21:26] psyhtest commented on #1084
Thank you @pgmpablo157321!

Hmm, I didn't realise that the logo was a link to http://submissions-ui.mlcommons.org/index and "Submissions" was a link to http://submissions-ui.mlcommons.org/submission. It just appeared as "MLC Submissions"...

[2022-02-08 21:27] psyhtest commented on #1084
When I tried to verify my test submission, I received an email with only:

How can I view the actual log?

[2022-02-08 21:30] psyhtest commented on #1084
Entering a wrong password still displays on a green field:

The email correctly says:

But I'd suggest to tell the user straightaway that the password is invalid.

[2022-02-08 23:52] #1079 closed

[2022-02-09 02:36] nvpohanh commented on #1082
@ashwin @pgmpablo157321 @psyhtest for visibility

[2022-02-09 02:42] psyhtest commented on #1083
@ckstanton Does this look like a manifestation of the same bug to you?
[code]

[2022-02-09 02:43] psyhtest commented on #1083
A question to the WG. We have already collected **lots** of results like above, which would be rather onerous to rerun before the submission deadline. I'm wondering if we can submit them as they are, and rerun during the review period.

[2022-02-09 02:48] tjablin commented on #1083
That looks like the same bug to me.

On Tue, Feb 8, 2022, 6:43 PM Anton Lokhmotov ***@***.***>
wrote:

[2022-02-09 02:49] ckstanton commented on #1083
Agreed.  There should be on the order of ~4500 acceptable overlatency queries for this run, which is bigger than the threshold of 1024 where we're seeing the issue.

[2022-02-09 05:53] pgmpablo157321 commented on #1084
Updates:

- Updated successful upload email with suggested information
- New way of using encryption to avoid deprecated method `openssl enc -e -aes256 -pass pass:<password> -pbkdf2 -in <tarfile_name>.gz -out <encrypted_tarfile_name>.gz`
- Accept encrypted .zip and .gz
- Return the logs containing the submission checker output in case an error occurs
- Send the email to To: field instead of Bcc: f

[2022-02-09 14:05] nv-jinhosuh commented on #1083
@psyhtest BTW, since the logs show the test met the min_query/min_duration criteria, I don't think there's any need for you to use early stopping estimate. So I believe, regardless of the bug being manifested, you can submit the results using the normal measurement (just avoid using early stopping estimate). Maybe need a word in WG for confirming this.

[2022-02-09 14:40] pgmpablo157321 commented on #1084
I think this can't be avoided, since the UI only schedules the submission_checker to run

[2022-02-09 16:12] pgmpablo157321 commented on #1080
How was this done before? I see here basically the same computation and the variable `samples_per_query ` seems to be taken from the logs the same way as now. https://github.com/mlcommons/inference/blob/9e89b395ddf6d823c8804d9a00afff26c67a06b9/tools/submission/submission-checker.py#L934-L936

[2022-02-09 18:41] psyhtest commented on #1083
@nv-jinhosuh That's my feeling too. But IIRC we decided that the early estimate would be used as the metric regardless. And it is what the submission checker appears to do. Right, @ckstanton @pgmpablo157321?

[2022-02-09 19:10] psyhtest commented on #1080
@pgmpablo157321 It's a new rule for v2.0 - never been done before. The formula looks correct to me. Can you please check that `samples_per_query=8`?

[2022-02-09 19:30] pgmpablo157321 commented on #1080
`samples_per_query` is actually 1. It is taken from the logs, and since it is running `SingleStream` it becomes 1.

[2022-02-09 19:50] psyhtest commented on #1080
Ah, OK. I'd simply update this variable before the multiplication e.g.:
[code]

[2022-02-09 20:43] psyhtest commented on #1084
Thank you @pgmpablo157321!

I've tried again with a GitHub snapshot encrypted using the new command. This time (`6970748a-71ed-484f-b18f-ad8387a6f456`), even though the contents was exactly the same, I got no errors.

Unfortunately, `summary.csv` was empty (although it did contain two rows, like the number of entries I submitted). I think it would be good to return the log whether the checker run

[2022-02-09 21:03] pgmpablo157321 commented on #1084
Ok, I'll add the log to the email

[2022-02-09 21:43] psyhtest commented on #1084
Hmm, doesn't look successful to me:
[code]

[2022-02-09 22:05] pgmpablo157321 commented on #1084
Added some extra checks for this:

[code]

[2022-02-10 15:12] psyhtest commented on #1080
Hi @pgmpablo157321,

The Performance metric is now inferred correctly, thanks!

However, we still have a similar issue for Power. After a discussion in the Power WG, we [concluded](https://github.com/mlcommons/inference/pull/1061#discussion_r798116301) that the MS power metric should be energy consumed per query. Therefore, the actual SS power metric should be multiplied by 8 to get the inferred M

[2022-02-10 17:18] pgmpablo157321 commented on #1080
If I understood correctly this change for the power metric (multiplying by 8) should only be done when inferring MS from SS?

[2022-02-10 23:25] psyhtest commented on #1084
Thanks for the many useful improvements @pgmpablo157321.

A couple of other ideas:
- Can a submitter view all submitted archives in one place?
- The support email address at the page footer is still `mlperf.infra@gmail`.
- In the submission confirmation email, could you please put `Organization` at the top, instead of sandwiching it between `Submitter id` and `Submission id`? Maybe call it `Submit

[2022-02-11 00:08] psyhtest commented on #1084
I also have a suggestion on the order of columns to make it easier to check the submitted results at a glance:
- `Accuracy`
- `Performance` (currently called `Result`)
- `Power`
- `Inferred` (Boolean)
- `Compliance` (Boolean or the number of tests?)
- `Errors` (Boolean or the number of errors?)

The `Version` column is not very informative (`v2.0`), but perhaps it can be moved to the front?

[2022-02-11 10:17] jenhaoyang opened #1093 "compile on windows have error " loadgen.cc(191): error C2039: 'iota': is not a member of 'std'"
https://github.com/mlcommons/inference/blob/0a4a8c0f942f44de2465aa5c8e8272782208d067/loadgen/loadgen.cc#L191

according to this [thread](https://stackoverflow.com/a/51135593/3079247), add
[code]
will fix this error

[2022-02-11 14:14] nv-jinhosuh commented on #1093
Thanks pushing it now.

[2022-02-11 15:46] nv-jinhosuh opened #1095 "Early Stopping and test pass/fail"
From Early Stopping proposal:
[code]

[2022-02-11 17:13] ckstanton commented on #1095
Correct.  In setting d = 0, we no longer have this 3rd case.  In the 2nd case, early stopping should only want to run forever if the overlatency percentile of the system is identical to the target percentile.  As soon as the overlatency percentile is even just slightly higher than the target, it will eventually terminate with success if the number of processed queries is large enough.

We could se

[2022-02-11 18:27] ckstanton commented on #1095
The effective required min_query_count depends on the underlying overlatency percentile of the system.  Based on the observed overlatency percentile of a run, it would be possible to have loadgen estimate the number of samples needed for early stopping to terminate successfully on a future run.  It sounds like it would be useful to implement this, but I think it’s very close to the submission dead

[2022-02-11 19:19] rnaidu02 commented on #1093
Thank  you @nv-jinhosuh for the fix.

[2022-02-11 19:19] #1093 closed

[2022-02-11 19:47] #1080 closed

[2022-02-11 20:06] s-idgunji commented on #1080
Hi Pablo-  Acknowledging Anton's point .  The power/energy metric should match performance,  so if the latency is per query, the energy should be per query

[2022-02-11 23:43] psyhtest commented on #1084
@pgmpablo157321 I've done another test submission (`1f805e2a-3fa0-4b39-89f6-d28eb45c680f`), which has returned some errors. From the log I can see it is because the checker is run twice: "for version 2.0" and "for version 1.1". The test submission fails "for version 1.1" because of MultiStream and rng seeds. Any reason to run "for version 1.1"?

[2022-02-11 23:48] pgmpablo157321 commented on #1084
This is only until today, that the test submission period ends. This was made this way so that submitters that haven’t got their 2.0 results could test the interface with the results of the previous round. But obviously those results won't be included

[2022-02-14 05:47] meer-suri opened #1097 "ssd-mobilenet 300x300 accuracy target"
The tensorflow entry for ssd-mobilenet 300x300 is listed as 0.23 mAP for fp32 in the supported models table here - https://github.com/mlcommons/inference/tree/master/vision/classification_and_detection
But I see that the submission checker uses a reference value of 22 which is then multiplied by 0.99 to get the accuracy_target -
https://github.com/mlcommons/inference/blob/master/tools/submission/s

[2022-02-14 08:08] jenhaoyang opened #1098 "MLCommons CLA link is broken"
I want to make a pull request, However the [MLCommons CLA](https://github.com/mlcommons/systems/blob/main/mlcommons_cla.txt) link response by bot is broken. Where could I sign MLCommons CLA

[2022-02-15 02:05] rnaidu02 commented on #1098
@jenhaoyang If your organization is already a member of mlcommons and signed CLA already, please ask you company rep to add your git id to the CLA as described in step#7 of https://mlcommons.org/en/get-involved/.

[2022-02-15 14:46] nv-jinhosuh commented on #1095
Thank you @ckstanton - I think we cannot do anything about this for 2.0, but for 2.1, I think we need to bring the policy requirements of query count and duration into LoadGen. Then we can 'disable' the Early Stopping once we meet those requirements.

[2022-02-15 17:12] #1082 closed

[2022-02-15 22:50] ckstanton commented on #1095
There are some cons for having a min_query threshold where below we report early stopping estimate, and above we report seen overlatency percentile:

1. The description of the metric becomes messy; you’re no longer comparing apples to apples.  When the run uses early stopping, the metric is “we are 99% confident that the underlying latency percentile is at least this good”.  For a longer run past

[2022-02-15 23:05] nv-jinhosuh commented on #1095
Thanks @ckstanton. I (think I) understand what you meant by this. But at the same time, we don't give a rigorous meaning to our current 90%-tile latency and/or 99%-tile latency. When we compare the current metrics vs ES metrics, I think we will end up saying the similar thing though -- they both are statistically meaningful metrics and given our model, they are still an approximate. I don't intend

[2022-02-16 17:23] nv-jinhosuh commented on #1095
I think it's worth summarizing what we have been discussing, together with my claims and my proposals. :)

Claims:
a. Scenarios have required (minimum) duration and query counts; they are set in that the samples collected during the run can represent the true set, in a certain confidence (such as, number of collected samples are these many to represent the distribution of the unlimited number of s

[2022-02-17 20:37] ckstanton commented on #1095
Thanks, @nv-jinhosuh, for putting this together!

The proposal to use early stopping estimates for shorter runs, and to not use them (i.e. report seen percentiles instead) beyond the minimum duration and query count sounds reasonable to me.  We’d have to think about how to communicate the meaning of this metric… but submitters who are already running the minimum duration wouldn’t see a change, so

[2022-02-18 03:09] #1098 closed

[2022-02-19 21:35] arjunsuresh opened #1102 "TEST04 should have reasonable runtime"
Though the reasoning for TEST04 is very good the methodology of testing looks quite bad. As I understand the maximum input sample one can use is the dataset size which for ResNet50 is 50000. So on a high performing system where QPS is say 300,000 or above the test will be running for 1/6 of a second or lower which is really too low to measure any reasonable performance. Below are two results from

[2022-02-20 15:20] nvpohanh commented on #1102
@georgelyuan FYI

[2022-02-22 05:35] rnaidu02 commented on #1097
The accuracy target is reduced to .22 mAP to allow quantized models to meet the minimum required target accuracy - 99% of .22 mAP

[2022-03-01 18:55] rnaidu02 opened #1110 "WG decision on Edge scenario Object detector"
Retinanet-ResNeXt50 with 800x800 will be the candidate for Object Detector in v2.1 for Data Center.
What would be the equivalent for Edge?  (up to v2.0, SSD-Mobilenet 300x300 for Edge and SSD-ResNet34 1200x1200 for Data Center)

Decide on next steps:
1. Poll with option for Edge?

[2022-03-01 19:10] rnaidu02 opened #1111 "Large language model inference"
Discussion on large language model inference.
Training WG had a [roadmap](https://docs.google.com/document/d/12gKY2UJJKgxmE3kIQEmSoFlxYzaoSZcqITrZNj4ttgA/edit?resourcekey=0-5hJkegEr6XtOGPXUmKUjtQ#heading=h.gm13caqq38tg) and there is a discussion on the Large language model.

[2022-03-02 05:25] JackHsuan opened #1112 "Have issue using run_and_time.sh"
OS: Ubuntu 18.04
Kernal: 5.13.0-30
CUDA:11.1.1
python:3.8.10
numpy:1.22.2

I had run vision/classification_and_detection/run_local.sh success,
however when I try to use the run_and_time.sh tf resnet50 gpu
it will fail with RuntimeError: module compiled against API version 0xe but this version of numpy is 0xd.
Is there any solution about this?

[2022-03-02 11:28] mkasioulis commented on #1003
Hello,
I have a similar issue with pytorch and ssd-mobilenet. Did you manage to address this?
Thanks!

[2022-03-04 09:29] #1084 closed

[2022-03-04 09:33] psyhtest opened #1115 "Spurious submission checker error and info"
When a directory called `assets` was introduced into the v2.0 submission tree, the submission checker started giving this `ERROR`:
[code]

Another slightly vexing issue are `INFO` messages like:
[code]

[2022-03-04 14:03] psyhtest commented on #1115
Maybe we need a whitelist of top-level dir names. Alternatively, the checker seems to ignore the `.github` dir, so can rename `assets` to `.assets`?

[2022-03-04 15:31] pgmpablo157321 commented on #1115
What is vexing about this message? That there should be a value for the Target latency? That there should not compare this values for the Offline scenario? Or is it something else?

[2022-03-04 16:09] psyhtest commented on #1115
It's sort of irrelevant. I don't see messages of similar kind for other scenarios (where they might be more appropriate).

[2022-03-04 20:12] pgmpablo157321 commented on #1115
This is because this info is not being log when using early stopping (that means for the other scenarios). We can log this info for early stopping as well

[2022-03-04 20:14] pgmpablo157321 commented on #1115
This is because this info is not being log when using early stopping (that means for the other scenarios). We can log this info for early stopping as well

[2022-03-08 00:26] rnaidu02 commented on #1112
@georgelyuan Can you help with this issue?

[2022-03-17 07:53] JackHsuan opened #1121 "about multiple GPUs on run_local.sh"
Hi,
I would like to run the vision/classification_and_detection/run_local.sh to try inference benchmark with multiple NVIDIA GPUs,
However, I had install two GPUs but I only see the first GPU is running in the run_local.sh.
Is there any method or setting can help me to try benchmark on Multiple GPUs?

![image](https://user-images.githubusercontent.com/38207944/158762465-49fa386c-3995-464d-8aa7-ddd

[2022-03-18 03:04] pgmpablo157321 commented on #1068
@yschoi-dev Hi sorry for taking so long, I was busy with other stuff. First, it seems that this way of accessing the model's inputs and outputs is wrong for version 2.4.0.
https://github.com/mlcommons/inference/blob/078ac2de2548f664b40cc4513b61441e132d16fb/language/bert/pytorch_SUT.py#L70-L71
The `model_output` variable for this version is a tuple, and they should be accessed like:
[code]
However,

[2022-03-18 03:48] yschoi-dev commented on #1068
@pgmpablo157321 Thank you for the response.
Interestingly, I can get the F1 score much closer to one in the README (i.e. 90.784) when evaluating using the Hugging Face transformers' [QA inference script](https://github.com/huggingface/transformers/blob/master/examples/pytorch/question-answering/run_qa.py) with the same checkpoint file from the MLPerf.
<img width="836" alt="image" src="https://user

[2022-03-20 06:13] nvpohanh commented on #1112
@JackHsuan Could you try installing a newer numpy version with `python3 -m pip install numpy==<VERSION>`?

[2022-03-20 09:03] nvpohanh commented on #1068
I was the one who implemented it. I believe I was using TitanRTX, but that should not change the accuracy.

That's a good finding. This makes me think that there must be an issue in our accuracy checking script. I am wondering if it was broken by #1047 and/or #951 .

I will spend some timing dubugging this when I have a chance. Before then, would be great if someone can try reverting #951 and #104

[2022-03-21 17:38] pgmpablo157321 commented on #1068
I ran some experiments reverting those commits. I get the expected metric when running `run.py` from this [commit](https://github.com/mlcommons/inference/commit/1f53d40aecd15b412d9eb16e4382520746c1549f) (the parent from #951):

![screenshot-commit-1f53d40aecd15b412d9eb16e4382520746c1549f ](https://user-images.githubusercontent.com/30699846/159326200-5dd85dcb-bacf-4a71-a5b9-f0b8b4f55fee.png)

I get

[2022-03-21 19:03] psyhtest commented on #1068
@pgmpablo157321 I recently got the same error (`No module named 'tokenization'`). It turned out that for whatever reason the `DeepLearningExamples` submodule [here](https://github.com/mlcommons/inference/tree/master/language/bert) was missing from my checkout...

[2022-03-21 23:20] pgmpablo157321 commented on #1068
Some update:
I also ran the script from this commit that belongs to #951 and got initially the same error:
[code]
Then I added this line:
[code]
And got this:
[code]
It seems that something was introduced in #951 that changed the accuracy or how it was measured.

[2022-03-22 02:48] nvpohanh commented on #1068
cc @LukeIreland1 for visibility since his changes were the cause

[2022-03-22 21:12] pgmpablo157321 commented on #1068
Adding these two lines seems to solve the metric divergence problem:
[code]
Currently, it is like this:
https://github.com/mlcommons/inference/blob/078ac2de2548f664b40cc4513b61441e132d16fb/language/bert/pytorch_SUT.py#L55
I'll make a PR for this fix

[2022-03-23 11:49] #1068 closed

[2022-03-24 23:01] rnaidu02 commented on #1121
@nvpohanh Can you help answer the question?

[2022-03-25 02:40] nvpohanh commented on #1121
The reference implementation doesn't support multi-GPU.

[2022-03-31 08:57] gyenesvi opened #1125 "Disconnected Loop operators in ONNX version of SSD models?"
I have been investigating the ONNX version of SSD models (SSD Resnet, SSD Mobilenet) by opening them in Netron viewer. The ONNX models contain a few Loop operators; more specifically, the Non-Maximum Suppression algorithm on the bounding boxes at the end of these models is implemented with a Loop. However, each instance of those Loop operators seem to have no real inputs, only constants (initial v

[2022-03-31 08:59] gyenesvi commented on #1125
@nvpohanh this is the issue I mentioned to you.

[2022-03-31 11:02] nvpohanh commented on #1125
@psyhtest @pgmpablo157321 Are you aware of any reports on the SSDs ONNX files being broken as @gyenesvi mentioned?

@rnaidu02 for vis.

[2022-03-31 11:22] peterlee909 commented on #889
Hi @Heyuanhong ,
I am facing the same problem.
How did you solve this problem?

[2022-03-31 16:54] guschmue commented on #1125
This loop is for the batch dim. NMS gets called in the subgraph which netron does not show in the main view. To see the the subgraph, click on a model input and look for 'subgraph' in model properties.
This model was converted with tf2onnx and tf2onnx already does constant folding so in theory onnx-simplyfier should not help.

[2022-03-31 17:55] gyenesvi commented on #1125
@guschmue yes I know it's for the batch dim, and I did check out the subgraph, that's okay. However, the model has dynamic input shapes, and if you fix those to the actual image size and some batch size (given as arguments to onnx-simplifier), then more constant folding becomes possible because there are many calculations on shapes (the batch size), which become constant. If you notice the only ed

[2022-04-04 22:41] #1121 closed

[2022-04-04 22:41] #1115 closed

[2022-04-04 22:42] #1112 closed

[2022-04-04 22:43] #1040 closed

[2022-04-04 22:43] #1097 closed

[2022-04-04 22:45] #619 closed

[2022-04-04 22:45] #932 closed

[2022-04-04 22:45] #934 closed

[2022-04-04 22:45] #963 closed

[2022-04-04 22:45] #969 closed

[2022-04-04 22:45] #970 closed

[2022-04-04 22:45] #972 closed

[2022-04-04 22:45] #979 closed

[2022-04-04 22:45] #980 closed

[2022-04-04 22:45] #994 closed

[2022-04-04 22:45] #1009 closed

[2022-04-04 22:45] #1028 closed

[2022-04-04 22:45] #1039 closed

[2022-04-04 22:45] #1042 closed

[2022-04-04 22:46] #637 closed

[2022-04-04 22:46] #748 closed

[2022-04-04 22:46] #877 closed

[2022-04-04 22:46] #882 closed

[2022-04-04 22:46] #894 closed

[2022-04-04 22:46] #909 closed

[2022-04-04 22:46] #914 closed

[2022-04-04 22:46] #917 closed

[2022-04-04 22:46] #936 closed

[2022-04-04 22:46] #948 closed

[2022-04-04 22:46] #954 closed

[2022-04-04 22:46] #962 closed

[2022-04-04 22:46] #964 closed

[2022-04-04 22:46] #971 closed

[2022-04-04 22:46] #973 closed

[2022-04-04 22:46] #766 closed

[2022-04-04 22:46] #807 closed

[2022-04-04 22:46] #830 closed

[2022-04-04 22:46] #836 closed

[2022-04-04 22:46] #849 closed

[2022-04-04 22:46] #856 closed

[2022-04-04 22:46] #857 closed

[2022-04-04 22:46] #869 closed

[2022-04-04 22:46] #870 closed

[2022-04-04 22:46] #875 closed

[2022-04-04 22:46] #879 closed

[2022-04-04 22:46] #891 closed

[2022-04-04 22:46] #893 closed

[2022-04-04 22:46] #907 closed

[2022-04-04 22:46] #923 closed

[2022-04-04 22:47] #536 closed

[2022-04-04 22:47] #604 closed

[2022-04-04 22:47] #762 closed

[2022-04-04 22:47] #772 closed

[2022-04-04 22:47] #782 closed

[2022-04-04 22:47] #788 closed

[2022-04-04 22:47] #801 closed

[2022-04-04 22:47] #805 closed

[2022-04-04 22:47] #806 closed

[2022-04-04 22:47] #808 closed

[2022-04-04 22:47] #809 closed

[2022-04-04 22:47] #810 closed

[2022-04-04 22:47] #812 closed

[2022-04-04 22:47] #814 closed

[2022-04-04 22:47] #822 closed

[2022-04-04 22:47] #584 closed

[2022-04-04 22:47] #628 closed

[2022-04-04 22:47] #629 closed

[2022-04-04 22:47] #630 closed

[2022-04-04 22:47] #657 closed

[2022-04-04 22:47] #688 closed

[2022-04-04 22:47] #716 closed

[2022-04-05 01:09] TheKanter commented on #1009
Did we get this finished?

[2022-04-05 16:45] rnaidu02 commented on #1111
Wait until the training WG make a proposal and then discuss

[2022-04-06 08:49] gyenesvi commented on #1125
Indeed, it would be nice if that loop would disappear when batch size is 1, but I agree that it's probably hard to optimize it away completely. I could give reconversion a try, however, first I'd like to clearly understand if the current ONNX model is incorrect. Is that your conclusion as well?

I also checked the opset 8 version of ssd-mobilenet (the above examples came from the opset 11 version)

[2022-04-06 16:53] guschmue commented on #1125
accuracy numbers are ok, so I assume the model is correct.
opset-8 is very old and evil because pre opset-9 initializers are inputs (aka not const) which prevents bunch of optimizations.
Might want to re-convert the model with something like:
[code]
You can try to get rid of the loop with :
[code]
tf2onnx would try to convince tensorflow to re-compute the graph but just tried and I think that isn'

[2022-04-07 08:17] gyenesvi commented on #1125
The problem is not the time it takes to run the loop, but that our inference engine does not handle loops. The idea was to edit the graph and replace the whole loop with a single custom operator that our inference engine could execute. That's when we realized that the graph seems to be disconnected, so even rewriting is not possible.

Thanks for the reference for the converter tool, I have tried r

[2022-04-10 13:42] ShiyangZhang opened #1132 "[FEATURE]Benchmark for AI system"
Is it possible to have  some benchmark for end to end AI system(decoding and multiple models included)? For examples, the [face recognition system](https://github.com/deepinsight/insightface), smart tracfic system with tens of models, and [ocr-system](https://github.com/PaddlePaddle/PaddleOCR). A complete comparison  for the throughout and Latency across different  hardware platforms and  also lib

[2022-04-10 16:09] LingYu-Chu opened #1133 "CK ERROR:[package] This package has a known problem"
Hi,

I run this command : ck install package --tags=image-classification,dataset,imagenet,val,original,full
But I got this error:
![1649410495637](https://user-images.githubusercontent.com/33252913/162628274-3083df18-edd8-463e-94a5-4636ff649e8e.png)
Could you give me some solutions for the error?
Thanks

Sincerely,
Ling

[2022-04-10 21:18] psyhtest commented on #1133
Sorry @LingYu-Chu, this problem is [2.5 years old](https://github.com/mlcommons/inference/issues/542), and there is no solution.

[2022-04-11 01:27] #1133 closed

[2022-04-12 06:39] YungbumJung commented on #1110
FuriosaAI suggests model EfficientDet for Object Detector for Edge.

Many models are optimized for NVIDIA GPUs because the current training market is dominated by NVIDIA. This is no exception for the models used in MLPerf. MLPerf therefore still struggles to attract wider participation from accelerator suppliers. A founder of a major AI research firm felt "most companies don't see enough ROI from

[2022-04-18 18:18] jfuerst92 opened #1136 "Criteo Dataset Host Offline"
Unable to download the Criteo 1TB Click Logs dataset for the DLRM benchmark because the links to get the data are down.

Specifically:
http://azuremlsampleexperiments.blob.core.windows.net/criteo/day_9.gz (or any other day) does not work. Looking for a resolution or an alternate solution in the meantime.

[2022-04-19 17:19] DilipSequeira opened #1137 "Update audit policy"
Opening this for discussion of audit policy before we start crafting a PR.

My impression is that the proposal is to add to the rules the following:

* if an accelerator has been selected for audit in the previous round, it will not be chosen for random audit in this round
* a "No Audit" option will be added to the committee-selected audit, for cases where the committee does not see significant be

[2022-04-19 21:30] DilipSequeira commented on #1137
[moving this to inference_policies, where it should've been in the first place.]

[2022-04-19 21:30] #1137 closed

[2022-04-22 04:23] gopikrishnajha commented on #1136
I am also facing this issue. Please provide a resolution.

[2022-04-28 13:06] gyenesvi commented on #1125
@guschmue any feedback on this?

[2022-05-06 05:22] aimfreshwater opened #1143 "ssd-resnet34(1200x1200 pytorch) 'code result' <-> 'document' mAP difference"
I just downloaded param ssd-resnet34 1200x1200 pytorch at [table](https://github.com/mlcommons/inference/tree/master/vision/classification_and_detection) and ran it.

And result is like this. mAP:19.618%

![ssd-resnet34_1200_pytorch_result](https://user-images.githubusercontent.com/24352190/167070829-953adf05-b833-46c6-9b20-0cd432b7c3ac.png)

The code mAP result is different from mAP accuracy valu

[2022-05-06 07:53] psyhtest commented on #1143
It's been validated by many submitters, so seems right. At any rate, this benchmark has been deprecated (v2.0 was the last round where it appeared), so I would not spend time on making it run.

[2022-05-06 19:25] yuhaohaoyu commented on #1136
I am facing the same problem. azuremlsampleexperiments.blob.core.windows.net is resolvable. CC: @nv-jinhosuh (saw you had a recent commit). Any pointer is very welcome. Thanks.

[2022-05-09 00:46] aimfreshwater commented on #1143
Thank you for your reply! I couldn't find any of the next round model information. Could I ask where can I find the next round model information?

[2022-05-09 00:49] aimfreshwater commented on #1143
Thank you for your reply! I couldn't find any of the next round model information. Could I ask where can I find the next round model information?

[2022-05-10 14:35] kcwu opened #1145 "assertion failed in loadgen/logging.cc"
Today I encountered this assertion failure several times. Unfortunately I don't have reliable way to reproduce it. Sometimes it keeps failing and sometimes it keeps working.

How I encountered this issue:
 1. I build mlperf myself. android-v2 branch.
 2. Run the benchmark as usual.
 3. If the assertion failed, it usually failed around the starting time of OD test.

[code]

[2022-05-11 04:36] HistoryGift opened #1146 "mlperf_loadgen incompatible function arguments"
I use docker to run mlperf:
#run_and_time.sh tf resnet50 gpu

DATA_DIR=mlperf/inference/vision/classification_and_detection/dataset/ILSVRC2012_img_val
MODEL_DIR=mlperf/inference/vision/classification_and_detection/model

#pip list | grep -i mlperf
mlperf -loadgen 1.1

#nvidia-smi
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 510.47.03    Driver Versio

[2022-05-12 14:17] nv-jinhosuh commented on #1146
Ah, I was about to open the issue for this.
After recent [PR 1138](https://github.com/mlcommons/inference/pull/1138), the API is broken and likely *ALL* the reference models we have in this repo got affected.
Fix is to find the line like this and remove the third argument:
[code]

[2022-05-15 22:07] #1143 closed

[2022-05-23 22:35] #1146 closed

[2022-05-27 10:57] psyhtest opened #1154 "3D-UNet dataset in the v2.0 results table is listed as BraTS"
The text below the table correctly mentions KITS.

https://mlcommons.org/en/inference-datacenter-20/
https://mlcommons.org/en/inference-edge-20/

[2022-05-31 16:33] pgmpablo157321 opened #1155 "Open images + new object detection model reference implementation"
- [x] Integration of new object detection model + new weights provided by Ahmad + Open images dataset
- [x] Implement accuracy Script for open images + new object detection model
- [x] "Audit" model trained by Ahmad

[2022-06-06 06:59] LuTaoChen commented on #1136
Seems like link is not valid since the last one/two month

[2022-06-06 22:48] rnaidu02 commented on #1154
@petermattson @TheKanter Can you update the 3D Unet dataset mention with "KiTS19"?

[2022-06-07 00:51] TheKanter commented on #1154
I think it's fixed. Can you check, confirm, and then close?

[2022-06-07 07:49] psyhtest commented on #1154
Thanks David. Datacenter - Closed - Power still mentions BraTS. The rest is fine.

[2022-06-07 10:09] Harika-Pothina opened #1158 "Version check"
How to verify which version of MLPerf is installed?.

[2022-06-13 22:45] tjablin commented on #1158
How did you install the MLPerf Inference Benchmark Suite?

[2022-06-13 22:45] rnaidu02 commented on #1154
It is fixed.

[2022-06-13 22:45] #1154 closed

[2022-06-13 22:47] #1155 closed

[2022-06-15 23:45] rnaidu02 commented on #1136
Criteo updated the link for the dataset (hosted on Google storage). Please go thru https://ailab.criteo.com/ressources/criteo-1tb-click-logs-dataset-for-mlperf/ to access the dataset.

[2022-06-16 08:19] G4V opened #1163 "Two different pytorch models/weights for Retinanet"
In the table of models, there seems to be one pytorch model derived from the weights of another. Ref here -

https://github.com/mlcommons/inference/tree/master/vision/classification_and_detection

The two variants->

1) https://zenodo.org/record/6605272
2) https://zenodo.org/record/6617981

Is this as designed?

Can either of the Pytorch variants be used as the base for 2.1 submission?

Thanks.

[2022-06-21 05:14] #1136 closed

[2022-06-21 16:38] rnaidu02 commented on #1163
Both can be used for v2.1 submission.

[2022-06-21 16:38] #1163 closed

[2022-06-28 14:50] psyhtest opened #1169 "Open Images download scripts should use python3"
It appears that [`fiftyone`](https://pypi.org/project/fiftyone/) only works under Python 3. Therefore, one installs as e.g. `python3 -m pip install fiftyone`. Unfortunately, on some machines the default version of Python is still Python 2, so the [following code](https://github.com/mlcommons/inference/blob/master/vision/classification_and_detection/tools/openimages_calibration_mlperf.sh#L53) in Op

[2022-06-28 15:51] psyhtest commented on #1169
Thank you for fixing this quickly @pgmpablo157321 !

[2022-06-28 15:51] #1169 closed

[2022-07-04 01:55] #1132 closed

[2022-07-11 23:25] rnaidu02 opened #1174 "Loadgen version number in v2.1 branch is listed as 2.0"
https://github.com/mlcommons/inference/blob/042f210a50f3f7bda97f6a2746d3c38497ef480b/loadgen/version_generator.py#L96

Same as https://github.com/mlcommons/inference/pull/1173. Cannot merge it due to CLA issue.

[2022-07-12 04:35] weimingzha0 opened #1176 "Broken CLA sign up link"
The CLA bot says:

MLCommons CLA bot:
Thank you for your submission, we really appreciate it. We ask that you sign our [MLCommons CLA](https://github.com/mlcommons/systems/blob/main/mlcommons_cla.txt) and be a member before we can accept your contribution. If you are interested in membership, please contact [membership@mlcommons.org](mailto:membership@mlcommons.org) .
0 out of 1 committers have si

[2022-07-12 09:07] psyhtest commented on #1174
How about these occurences ("1.1"):
- https://github.com/mlcommons/inference/blob/8823573324b253e784edf29330c248c9373472e4/loadgen/setup.py#L71
- https://github.com/mlcommons/inference/blob/8823573324b253e784edf29330c248c9373472e4/loadgen/setup.py#L77

[2022-07-12 17:13] FancyGentlemen opened #1177 "Inference Benchmark Docker Platform Issue"
Context:
I am running this on the Jetson Nano developer kit with Ubuntu 18.04 on an ARM processor.

I am trying to run an object detection benchmark through Docker and was successful when I used the CPU with TensorFlow.  When I try using the GPU, I get this error:

Jake@Jake-desktop:~/mlpyhton38/vision/classification_and_detection$ sudo ./run_and_time.sh tf ssd-mobilenet gpu
Sending build context

[2022-07-12 19:48] #1174 closed

[2022-07-12 22:58] rnaidu02 commented on #1176
@weimingzha0  Please use this link to get github id authorized https://docs.google.com/forms/d/e/1FAIpQLSd4gItNaxbm9okFroxJEUmkmPjAJ6YegNxmHRAq8f6Uv_SDyw/viewform

[2022-07-19 23:22] scorpi023 commented on #522
@aditvas - Did it work for you? If so, can you post the steps here?

[2022-07-20 11:16] hwangdeyu opened #1182 "ssd-mobilenet 300x300 onnx model converted from tensorflow can be optimized."
[`ssd-mobilenet 300x300`](https://zenodo.org/record/4735652/files/ssd_mobilenet_v1_coco_2018_01_28.onnx) from https://github.com/mlcommons/inference/tree/r1.1/vision/classification_and_detection.

The `ZerosLike inserts Casts before Mul` issue can be optimized refer: https://github.com/onnx/tensorflow-onnx/issues/1997
which can improve the inference performance.

[Optimized model `opset 11` and `o

[2022-07-20 17:43] FancyGentlemen commented on #1177
I figured out my issue.  The first line on Docker.gpu was using an image that only works for amd64.  I found an aarch64 substitute and got the benchmark to work.  Could I do a pull request for the two docker files?  They both assume that you are running x86, so editing or adding something for aarch64 users would be nice.  It would feel like a waste to make all my fixes and not share it with others

[2022-07-20 17:44] mgoin opened #1183 "Exception in check_performance_dir: float() argument must be a string or a number, not 'NoneType'"
Hello, I am trying to make a submission that passes the `tools/submission/submission-checker.py`.
I am getting an exception in `check_performance_dir()` seemingly from parsing the mlperf_log_detail.txt in my sample result.

[code]

Here is the file that is failing the checker:
[mlperf_log_detail.txt](https://github.com/mlcommons/inference/files/9152499/mlperf_log_detail.txt)

Has anyone run into t

[2022-07-22 00:38] mgoin commented on #1183
Thank you @pgmpablo157321 , I think you are right about the version being incorrect. I was using the dockerfile approach in language/bert folder and it doesn't specifically checkout any branch so I believe it got mixed up. Putting in an explicit checkout seemed to fix the problem.

[2022-07-22 12:51] #1183 closed

[2022-07-22 15:10] FancyGentlemen commented on #1177
I solved the issue. Nvidia has not release any CUDA 10.x docker images, so the Jetson nano has to build the benchmark locally to use the GPU

[2022-07-22 15:10] #1177 closed

[2022-07-25 17:42] elimkwan opened #1186 "Submission checker requires the name of the scenario to be capitalised in compliance_dir"
When running the submission checker for `r2.1`, we noticed that the submission checker requires the name of the scenario to be capitalised in compliance_dir. In `tools/submission/submission-checker.py` [line 1667](https://github.com/mlcommons/inference/blob/r2.1/tools/submission/submission-checker.py#L1667):
[code]
where `scenario_fixed` are one of the followings:
[code]

In previous rounds, the `

[2022-07-25 21:15] d-uzlov opened #1189 "A way to get performance loadgen statistics in a program"
What is the intended way to get statistics from loadgen?

Currently in the [mlperf mobile app](https://github.com/mlcommons/mobile_app_open) we use the `ReportLatencyResults` function to calculate performance from latency.
However, recently this function was [removed](https://github.com/mlcommons/inference/commit/a8a43dcf2ce9f795be637f3126250c1cfa0d736e), so our app is not compatible with the `r2.

[2022-07-25 23:09] psyhtest opened #1190 "Comparing against the latency constraint should be done in nanoseconds"
I have logs from running BERT-99 Server power experiments and compliance tests on the same machine.

[code]
As can be seen, the 99th percentile latency is under the BERT latency constraint of 130 ms (130,000,000 ns) in all the cases.

Astonishingly, the tests are marked `INVALID`:
[code]
I guess this is due to rounding and then comparing against the latency constraint.

[2022-07-26 16:57] psyhtest opened #1193 "URGENT: LoadGen API broken"
https://github.com/mlcommons/inference/pull/1184 committed both to master and r2.1 has broken the LoadGen API just 10 days before to the deadline. This must now be accommodated for in submitters workflows.

Moreover, the change is incomplete: `const` must be removed from this line as well
https://github.com/mlcommons/inference/blob/r2.1/loadgen/query_sample_library.h#L37

[2022-07-26 19:17] pgmpablo157321 commented on #1193
@psyhtest
- Could you show any logs of the error?
- Would removing the `const` from the mentioned line solve the issue?
- Would rolling back this changes solve the issue?
@nv-jinhosuh
- Are these changes necessary for you?
- Are the currently working ok for you?

[2022-07-26 19:22] nv-jinhosuh commented on #1193
This is due to LoadGen Over the Network requirement where QDL which inherits the SUT to dynamically query the name to other node (SUT node) for SUT's name. So QDL->Name() call cannot be const; it cannot simply return const name string like before. Please note that QDL only inherits SUT in LoadGen node as LoadGen node won't have SUT at all.

I think this change should have been included in the earl

[2022-07-26 19:27] nv-jinhosuh commented on #1193
@pgmpablo157321 reverting the MR will make everyone's code working as API stays the same before the MR.
Anyone who wants to submit to network division may have hard times if the MR is reverted. There is a brutal way of making things mutable and stick with const and make some unusual approaches, but that's I think it is something we shouldn't do.

[2022-07-26 19:38] #1186 closed

[2022-07-26 19:46] psyhtest commented on #1193
Here are the errors I got from our [QAIC](https://github.com/krai/ck-qaic) implementation:
[code]
We can live with this change if `system_under_test.h` is also properly updated. Otherwise, we will freeze our code at the previous commit.

[2022-07-26 20:05] nv-jinhosuh commented on #1193
I believe https://github.com/mlcommons/inference/pull/1184  has all the SUT related calls and API handled. Again, I think QSL is not required for any change (maybe I am wrong, please correct me if that's the case).

[@liorkhe](https://github.com/liorkhe) FYI

[2022-07-26 20:48] pgmpablo157321 commented on #1193
@psyhtest @nv-jinhosuh Would making these changes solve the issue?

1. Remove the const in this line (in `system_under_test.h`):
https://github.com/mlcommons/inference/blob/1844c6879a60e69889cc67c7f91ff7fd4b6ed09a/loadgen/system_under_test.h#L41
2. Remove the const in this line (in `python_api.cc`) https://github.com/mlcommons/inference/blob/1844c6879a60e69889cc67c7f91ff7fd4b6ed09a/loadgen/binding

[2022-07-26 21:01] nv-jinhosuh commented on #1193
@pgmpablo157321 No pablo, basically what's required is already in MR #1184.
Before #1184, it used to be like
[code]
`const` for return value is fine. The issue is, what the function touches if it is being called. QDL in LON requires to inherit this SUT via system_under_test.h, and has to make a dynamic call to SUT node (different machine, different process), to get the name back and then it can re

[2022-07-26 21:03] nv-jinhosuh commented on #1193
And unfortunately this is an API change, as we cannot inherit `virtual const std::string& Name()` (changed API), with previously used `const std::string& Name() const`, likely in everyone's codebase.
I am very sorry about this inconvenience. But since network division is open this round, this LoadGen change seemed necessary, to my opinion.

[2022-07-26 21:13] psyhtest commented on #1193
I'm not sure why removing `const` from the QSL has fixed things for me. But it's getting late here, so I'll take another look tomorrow.

[2022-07-26 21:16] pgmpablo157321 commented on #1193
@nv-jinhosuh Sure, but I don't mean rolling back the changes you made. For your case my question would be: Will making these changes (keeping #1184) screw something for LON?

And for @psyhtest, I see you are requesting changes in `system_under_test.h`. Is the line `virtual const string& mlperf::SystemUnderTest::Name()` the main issue? Will getting rid of the `const` here fix things? Is it in the Q

[2022-07-26 21:17] nv-jinhosuh commented on #1193
@psyhtest If that's the case, it's likely that QSL in your implementation is inheriting the SUT or vice versa, I guess. Theoretically, QSL and SUT is a separate identity where Name() call can co-exist. If that is easier path to everybody, I am all in for making QSL->Name() to be non-const as well, i.e. `virtual const QSL::Name() = 0`

I am sorry for the inconvenience.

[2022-07-26 21:20] nv-jinhosuh commented on #1193
@pgmpablo157321 Keeping changes from #1184 will help anyone with LON and submitting to network division. But it may agitate many others from what Anton @psyhtest suffered. I don't know what's the correct way.

In other words, due to #1184, someone who doesn't submit to network division still needs a hotfix to their code, for the portion of any structure inheriting SUT for Name() call.

FWIW, this

[2022-07-27 10:42] psyhtest opened #1196 "URGENT: need to update the power-dev submodule"
At the moment, it points to r2.0, whereas we have changes on r2.1 that changed the checksums.

[2022-07-27 11:50] psyhtest commented on #1196
We need something like [this](https://github.com/mlcommons/inference/pull/989/files).

@nvpohanh once sent me these instructions for the uninitiated:

[code]

[2022-07-27 11:57] nvpohanh commented on #1196
Filed https://github.com/mlcommons/inference/pull/1197

[2022-07-27 12:49] psyhtest commented on #1196
Thanks a lot @nvpohanh!

In the future, we should create a checklist of things to do before every submission round e.g.:
- generate random seeds
- create a new `inference` branch
- create and new `power-dev` branch
- update the `power-dev` submodule on the `inference branch
- etc.

/cc @rnaidu02 @tjablin

[2022-07-27 12:49] #1196 closed

[2022-07-29 05:26] JunxiChhen opened #1198 "IndexError: index -1 is out of bounds for axis 0 with size 0"
Hi,

**When I ran resnet50 with cmd "python3.6 python/main.py --profile resnet50-tf --mlperf_conf ../../mlperf.conf --model ../../../resnet50.pb --dataset-path fake_imagenet/ --output /home/jason/resnet50/inference/vision/classification_and_detection/output/test1   --scenario=Offline"

There are error logs blow:**

ERROR:main:thread: failed on contentid=['fake_imagenet/val/800px-Porsche_991_silver

[2022-07-29 16:54] pgmpablo157321 commented on #1193
@psyhtest @nv-jinhosuh
Were you able to solve this issue in your code? I was talking with Ramesh and Tom about this. Would it be of any help to make a commit reverting the changes and allow to use the current version LoadGen or the one with these changes? 

Reverting the changes should look something like [this](https://github.com/mlcommons/inference/compare/r2.1...pgmpablo157321:inference:r2.1_al

[2022-07-29 17:12] nv-jinhosuh commented on #1193
If no other people sees issues and if Anton is okay, please do not revert it.

[2022-07-29 18:49] psyhtest commented on #1193
Changing [this](https://github.com/mlcommons/inference/blob/r2.1/loadgen/query_sample_library.h#L37):
[code]
to:
[code]
should fix it.

[2022-07-29 18:51] nv-jinhosuh commented on #1193
To my curiosity, @psyhtest Anton, is there any reason QSL would/should inherit SUT?

[2022-07-29 18:51] psyhtest commented on #1193
@nv-jinhosuh I'll let you know after the deadline :)

[2022-07-29 18:55] nv-jinhosuh commented on #1193
Thank you @psyhtest ! If that's the case, I think we can relax const to QSL as well. I am all for it. This is unfortunately due to QDL specification that requires inheriting SUT and we use Name() call for compliance to network division rule. I didn't see any reason QSL to inherit SUT, so I didn't make that change.
@pgmpablo157321 if you apply the above change Anton suggested, there shall be a hand

[2022-07-31 22:03] #1193 closed

[2022-08-01 16:04] psyhtest opened #1200 "Please bump power-dev hash to the latest"
Similar to https://github.com/mlcommons/inference/pull/1197, we must get the latest `power-dev` fix to r2.1 for the submission checker not to reject valid submissions for a [trivial reason](https://github.com/mlcommons/power-dev/pull/268#issuecomment-1198635012).

@nvpohanh @pgmpablo157321

[2022-08-01 18:26] psyhtest commented on #1200
Many thanks Pablo!

[2022-08-01 18:26] #1200 closed

[2022-08-03 00:56] weimingzha0 opened #1204 "Missing "network" division in truncate_accuracy_log.py"
the script has no "network" division

[2022-08-03 22:16] #1204 closed

[2022-08-04 11:48] psyhtest opened #1208 "[URGENT] RetinaNet mAP is 37.50% on main, 37.55% on r2.1 branch"
According to the [README in the main branch](https://github.com/mlcommons/inference/tree/master/vision/classification_and_detection), the reference fp32 accuracy of RetinaNet is `37.5%` or `37.50%`. With this refence value, the 99% threshold for valid submissions is `37.50% * 0.99 = 37.125%`.

According to the [README in the r2.1 branch](https://github.com/mlcommons/inference/tree/r2.1/vision/clas

[2022-08-04 12:05] psyhtest commented on #1208
Taken from [the latest meeting slides](https://docs.google.com/presentation/d/1x7goS8XnuwlS2PVlsoE93KvbQQA-GhDjEEYGORQ5pfk/edit#slide=id.g12733238521_0_1)

[code]

[Copy of 2022.08.02 MLCommons Inference WG Meeting - RetinaNet.pdf](https://github.com/mlcommons/inference/files/9259454/Copy.of.2022.08.02.MLCommons.Inference.WG.Meeting.-.RetinaNet.pdf)

[2022-08-04 14:17] rnaidu02 commented on #1208
@psyhtest Accuracy and Latency targets should be referred to Inference rules https://github.com/mlcommons/inference_policies/blob/master/inference_rules.adoc#411-constraints-for-the-closed-division. I am not sure it is appropriate to change the rules at this late without discussion. @tjablin Can you comment?

[2022-08-04 16:00] tjablin commented on #1208
The Readme was updated in [PR1168](https://github.com/mlcommons/inference/pull/1168) on 6/29. The PR says, "A decimal place for the new object detection model was missing in the README and in the submission checker. I missed it also in zenodo, so I added it there as well." It sounds like the accuracy was truncated instead of rounded. The [MLPerf Inference Rules](https://github.com/mlcommons/infere

[2022-08-04 16:35] psyhtest commented on #1208
Sorry, I missed [PR1168](https://github.com/mlcommons/inference/pull/1168) (submission checker change) 5 weeks ago. [But [PR](https://github.com/mlcommons/inference_policies/pull/251) was only two weeks ago.

According to the attached slide from [the WG meeting 4 weeks ago](https://docs.google.com/presentation/d/1NYiCaWGFUc45gKZvAbH-Jooqw37lR_d71W9RDbKqc-E/edit#slide=id.gbb938d29b3_3_0), the rules

[2022-08-04 16:38] nitinqti commented on #1208
We went by what we saw in Slides. We did miss the change made as late as 7/21 https://github.com/mlcommons/inference_policies/pull/251. And ran into submission checker issue just before making submission.

What are options to make submission with Target FP32 mAP = 0.375?

Can't work 24 hrs before submissions to get the updated accuracy now as we have several submission tasks ongoing at this stage.

[2022-08-04 16:50] psyhtest commented on #1208
Where do we draw a line between cases like this and (non-WG approved) late changes like https://github.com/mlcommons/inference/pull/1206?

[2022-08-05 06:51] guoyangchen opened #1212 "Missing support of network division and multi-nodes in generate_final_report.py"
1. missing support of network division
2. no column of # of nodes in the final summary.xlsx

[2022-08-05 08:16] arjunsuresh commented on #1208
This is the accuracy we got with the reference implementation (fp32) using onnxruntime backend. Not sure why but mAP is lower than 37.575% ( 37.572% )

[code]

[2022-08-05 18:48] #1212 closed

[2022-08-06 17:17] psyhtest commented on #1208
Thank you Arjun. Your accuracy is still higher than 37.55%.

[2022-08-06 18:41] arjunsuresh commented on #1208
My bad. Sorry I was careless and misread the decimal points. Below are the official figures as in r2.1 branch

1. Pytorch model: 0.3755
2. Onnx model: 0.3757 (0.37572 reproduced by us)

[Inference Policies](https://github.com/mlcommons/inference_policies/blob/master/inference_rules.adoc#minimum-requirements-of-a-datacenter-system) say the accuracy requirement as 99% of FP32 model, but does not cle

[2022-08-07 13:26] zeroorhero opened #1217 "can't run dlrm"
**Since the dataset is too large, I used the make fake tool script. However, during runtime, an error occurred, and it seems that there is a problem with the data set. The specific information is as follows. Looking for a specific error, thank you!**

[code]

[2022-08-10 00:33] JunxiChhen opened #1220 "How to set batch size with Bert"
Hi, I am trying to do inference with Bert. However, I don't find any API to set batch size in **run.py**. Could you pls. help me with that? Appreciate a lot.

[2022-08-12 09:35] #1217 closed

[2022-08-16 08:11] pomonam commented on #918
It seems like the link above only contain checkpoint, not the actual data.

[2022-08-16 18:13] tayo commented on #918
Screenshot?  From my view, the directory includes a 90GB data file.

[2022-08-17 22:37] mkankana commented on #1189
@TheKanter @rnaidu02
Can one of you help prioritize this issue please.

[2022-08-17 23:38] pgmpablo157321 commented on #1189
@d-uzlov @mkankana
Sorry for the late reply.

1. `mlperf_log_detail.txt` should be stable for obtaining the following data:
    - latency percentile values
    - benchmark duration (maybe? see answer 3)
    - total number of finished queries
    - result validity
The data LoadGen reports changes from version to version, but the format has been stable since [v1.0](https://github.com/mlcommons/infer

[2022-08-22 21:02] pgmpablo157321 commented on #1189
@d-uzlov @mkankana

How did you get this value before the `ReportLatencyResults` was removed?

[2022-08-22 21:08] d-uzlov commented on #1189
We calculated a sum of all values reported by `ReportLatencyResults`.

https://github.com/mlcommons/mobile_app_open/blob/469c2449a59d3195edcbbd42ebc13abda6dcfff8/flutter/cpp/mlperf_driver.h#L101-L112

[2022-08-22 21:34] pgmpablo157321 commented on #1189
Taking a look at the code I see you are computing the sum of the latencies. This is not being directly reported in the logs. I see two possible solutions for solving this:
1) You could take the following entries in the logs and compute the desired value:
[code]
Multiplying both values should give the sum of all latencies.

2) We could open an issue and request a LoadGen patch to report the sum of

[2022-08-25 11:37] arjunsuresh opened #1230 "Compliance TEST01 failure reasoning"
Compliance TEST01 can fail for some systems due to non-determinism and an additional [non-determinism test](https://github.com/mlcommons/inference/tree/master/compliance/nvidia/TEST01#non-determinism) can let this pass. In case of such a scenario, it would be good to add "accuracy_failure.txt" as a mandatory file along with the current mandatory ones- `baseline_accuracy.txt` and `compliance_accura

[2022-08-25 19:53] d-uzlov commented on #1189
This is sufficient for us.

I have tested parsing suggested values from logs, and everything seems to work fine for our use cases.
Thank you so much for your help.

[2022-08-25 19:53] #1189 closed

[2022-08-29 08:01] arjunsuresh commented on #1102
Fixed from r2.1

[2022-08-29 08:01] #1102 closed

[2022-09-09 19:26] nv-ananjappa commented on #1125
@gyenesvi A new model named RetinaNet was added for 2.1.

[2022-09-13 20:10] rakshithvasudev opened #1235 "Submission checker calls warning as error"
Hello There!

I noticed that the power checker classifies the power warnings as an error.

Here is the output of using the power checker, it passes and has no errors:

[code]

[code]

Here are my branches source files:

Inference repo: branch `r2.1`
power-dev repo: on commit `4993e22bda0bca15ba32d5ef12d98db6a72a618a `(This is the latest commit as of now)

It appears like this is a file hash issue,

[2022-09-16 10:26] lixiaolx opened #1236 "How to use ssd-mobilenet 300x300 (torch version) provided by mlcommons for inference process"
I would like to ask, how to use the ssd-mobilenet model provided by MLcommons on pytorch and convert it into the corresponding jit model, can you provide a demo or link?
![image](https://user-images.githubusercontent.com/17673134/190618838-dfb8f1a4-f4a6-41ce-a754-931d3773d02b.png)

[2022-09-20 20:36] vineetgarc commented on #863
Looks like the workaround is till needed. Can this be fixed please !

[2022-09-20 21:33] vineetgarc commented on #542
Yep this is still an issue !

[2022-09-20 23:06] psyhtest commented on #542
And it will forever be...

[2022-09-21 21:15] pgmpablo157321 commented on #1235
@rakshithvasudev The error you get is not the submission checker classifying a warning as an error. Notice that when the submission checker calls the power check, the following check doesn't pass:

[code]

Can you check the file `compliance/sources_checksums.json` has the following value `"lib/server.py": "cda0cdfaee9bfa1249c64a7dd4f89b7bf1b279f0"`? (the last change made to this file) It should be

[2022-09-22 08:49] gfursin commented on #542
@vineetgarc - you can download ImageNet validation set via Academic Torrents. Please check this [Readme](https://github.com/mlcommons/ck/tree/master/cm-mlops/script/get-imagenet-val).

Feel free to join [this workgroup](https://github.com/mlcommons/ck/blob/master/docs/mlperf-education-workgroup.md) where we discuss these issues...

[2022-09-23 11:04] gangmul12 opened #1239 "question about speech to text benchmark"
Hi, I'm looking for a speech to text benchmark for datacenter.
I found that MLPerf still use RNN-T for the speech to text benchmark.
However, there are many other better network(in terms of WER) using on transformer-like block.
I'm curious why MLPerf keep using RNNT even for a v2.1.

Thank you in advance.

[2022-09-27 22:27] psyhtest opened #1240 "pycocotools for retinanet"
We've been using the standard [`pycocotools`](https://pypi.org/project/pycocotools/) Python package for calculating the Object Detection accuracy since MLPerf Inference v0.5. It used to be OK for SSD-ResNet34 and SSD-MobileNet-v1, but it is rather painful for RetinaNet. First, this calculation is slow: it takes ~7-8 minutes on a decent workstation per scenario per system; in other words, it's ~15-

[2022-09-28 04:33] rnaidu02 opened #1241 "Update UI submission checker and inference repo submission checker in sync by code freeze"
There is a slight difference between repo submission checker compared to UI submission checker. For example, 50GB limit is imposed only in UI submission checker. We need to sync both submission checker components by code freeze for v3.0.

[2022-09-30 22:34] pgmpablo157321 commented on #1236
Checking the reference implementation, I can see that unfortunately this model is not implemented. Since it was removed in version 2.1, there is no incentive to fix it. There a few steps you can follow to run this benchmark, but you'll have to modify some code.

1. Clone the repository with its submodules:
[code]
2. Install LoadGen
[code]
3. Go to the `vision/classification_and_detection` folder a

[2022-10-03 16:49] xihajun commented on #1193
Has this issue been solved?  Because I am currently have this error

[code]

[2022-10-03 21:46] psyhtest commented on #1193
@xihajun Please provide the output from:
[code]
and:
[code]

[2022-10-03 22:09] tjablin opened #1242 "TEST01 Evaluation"
Is TEST01 worthwhile?

[2022-10-03 22:10] tjablin opened #1243 "TEST04 Evaluation"
TEST04 is only applicable to ResNet50. Is it still worthwhile?

[2022-10-03 22:10] tjablin opened #1244 "TEST05 Evaluation"
Is TEST05 still worthwhile?

[2022-10-03 23:28] xihajun commented on #1193
Thank @psyhtest
[code]
I tried v0.7 here and it worked :)

[2022-10-08 15:14] arjunsuresh commented on #1243
TEST04 is a good compliance test as it indeed ensures that no significant benefit from caching happened for a submission. But it does not make sense to have it just for `resnet50`. The current problem is that due to variable length inputs we cannot apply this to other models. Is it possible to increase the input size (currently just 1) to say 8 or 16 (which still should ensure caching) in Test-04

[2022-10-08 15:19] arjunsuresh commented on #1240
Hi @psyhtest , are you referring to [this script](https://github.com/mlcommons/inference/blob/master/vision/classification_and_detection/tools/accuracy-openimages.py)?

[2022-10-08 15:21] psyhtest commented on #1240
Yes, Arjun.

[2022-10-10 07:18] arjunsuresh commented on #1240
Thank you Anton for your reply. On my laptop while doing the accuracy run for 5000 images, the speed of accuracy script is 60 images per second (faster than the workstation?) which is almost 60 times faster than the CPU inference speed and so hardly noticeable. I tried to call the cocoEval library using multiple threads as the description given [here](https://github.com/NVIDIA/cocoapi/blob/nvidia/

[2022-10-11 10:49] arjunsuresh opened #1249 "Bert-onnxruntime reference implementation fails to run with onnxruntime_gpu"
If onnxruntime is supporting more than one execution provider, bert-onnxruntime reference implementation is failing with below error.
[code]

[2022-10-11 15:50] rnaidu02 commented on #1242
From 10/11/2022 meeting, there is no opposition to include TEST01.

[2022-10-11 15:55] rnaidu02 commented on #1240
@pgmpablo157321 To look at Arjun's proposal and give feedback on the feasibility.

[2022-10-11 15:57] rnaidu02 commented on #1220
@pgmpablo157321

[2022-10-11 16:08] rnaidu02 opened #1251 "More robust mechanism to allow any models to be verified for Open submission."
@psyhtest  Can you start the conversation with the comments you made in 10/11 meeting?

[2022-10-11 23:57] rnaidu02 commented on #1208
This issue is resolved during v2.1 result review meetings.

[2022-10-11 23:57] #1208 closed

[2022-10-12 04:31] avinashcpandey opened #1252 "Query: Is running two instances of MLPerf valid for Offline and Server Submission"
Hi,

To get the best performance from system(X86arch), I am running two instances of MLPerf simultaneously through shell script (Each with their own Loadgen and SUT), each instance is bind to particular socket.
This way we will be getting **_two mlperf_log_summary.txt_**  and the final QPS will be added from both the output files.

Is this a valid submission request?

Thanks in Advance!

[2022-10-12 06:38] saar-eliad commented on #1252
Currently - this is not valid.
However, we have been working on a multiple-clients-over-the-network PR and will soon open it to review. This shall be able to allow a similar submission over the network while taking care of statistics, files, tests and submission checking correctly.

[2022-10-12 07:12] sudarshan-shinde opened #1253 "Pytorch DLRM reference scripts failing in accuracy mode"
Dear All,
We are trying to run inference reference scripts for pytorch DLRM (recommendation) in accuracy mode using mlperf official model (tb00_40M.pt). In order to check accuracy, we are using day_23 dataset of Criteo Terabyte datasets (https://ailab.criteo.com/ressources/criteo-1tb-click-logs-dataset-for-mlperf/), as given on https://github.com/mlcommons/inference/tree/master/recommendation/dlrm

[2022-10-12 08:04] arjunsuresh commented on #1240
@pgmpablo157321 To use the Nvidia fork of pycocotools we need to add instructions for using this fork and also update the accuracy numbers - there can be a slight difference here. We can give you an update on these by next week as we'll be checking them.

[2022-10-12 08:06] arjunsuresh commented on #1253
Hi @sudarshan-shinde are you using only day_23 dataset (no download of other days)?

[2022-10-12 08:18] arjunsuresh commented on #1252
@avinashcpandey As @saar-eliad mentioned, as of now only a single instance of loadgen is allowed even for 3.0 round. But for your case you should get the exact same performance running on a dual socket with loadgen running on one of the socket by ensuring that the loadgen buffer is local to each socket. That is, we have to replicate the loadgen buffer at least one per socket. [This paper](https://

[2022-10-12 09:09] sudarshan-shinde commented on #1253
Yes, since we are running only inference.

[2022-10-12 09:17] arjunsuresh commented on #1253
Unfortunately that is not possible using the current scripts. We need to download all 24 days dataset even though we use only half a day's dataset for inference. This issue is expected to be solved with DLRM 2 from 3.1 round but as of now I do not think there is an easier way out. Downloading and preprocessing of the 24 day's dataset will need about 3 TB of disk space and running the model needs a

[2022-10-12 09:32] sudarshan-shinde commented on #1253
How can pre-processing all 24 day's data will help is not clear to me. If certain samples in day_23 data are such that their categorical features go beyond embedding table limits, then how pre-processing all 24 days data can help? Kindly elaborate.

[2022-10-12 09:38] arjunsuresh commented on #1253
Unfortunately I haven't checked that and hence can't answer your query. But downloading the whole dataset was the way out for us when we faced this issue. May be someone familiar with DLRM model can answer that - or you can bring up this issue in Tuesdays inference WG meeting.

[2022-10-13 11:27] avinashcpandey commented on #1252
Thanks @arjunsuresh and @saar-eliad for the prompt response. I will explore as you suggested.

[2022-10-13 11:40] avinashcpandey opened #1256 "Query: How to run BERT INT8 TF model"
Hi,

I am trying to run BERT INT8 with TF backend. However, I don't see TF INT8 model info in below link.
https://github.com/mlcommons/inference/tree/master/language/bert

Any help on how to run will be highly appreciated.

[2022-10-15 18:56] arjunsuresh commented on #1256
Not all quantized models are added in the inference repo. You're free to take any fp32 model and do your own quantization method IIRC.

[2022-10-15 20:52] arjunsuresh opened #1257 "Simpler download script for openimages"
The current [script](https://github.com/mlcommons/inference/blob/master/vision/classification_and_detection/tools/openimages.py) to download openimages is really resource heavy and it needs mongodb database which unfortunately is not easy to set up on many platforms including Apple M1, RHEL 9, Ubuntu 22.04 etc. Just for downloading a dataset do we really need this?

Though this is not a big issue

[2022-10-18 14:18] psyhtest opened #1260 "Flexible model mapping for the Open division"
By definition, the Open division is open to submissions involving models different from the standard ones used for the Closed division.

Unfortunately, any non-standard model currently has to be vetted by making changes to the submission checker script, namely, its `model_mapping` part, which looks something like this:
[code]

Currently, each such mapping has to be added prior to submission, and u

[2022-10-18 14:21] psyhtest commented on #1260
There is also a [somewhat related part](https://github.com/mlcommons/inference/blob/b57978be8c27a03b4d2c915ccd9c6e459abe3a54/tools/submission/submission_checker.py#L1178) of the checker predating proper model mapping:

[code]

which can be simplified.

[2022-10-18 14:33] psyhtest commented on #1244
[This test](https://github.com/mlcommons/inference/tree/master/compliance/nvidia/TEST05) should ensure that the SUT does not favour any particular set of random seeds. However, its random seeds never change. Therefore, a rogue submitter could make their SUT favour both this round's (updated) random seeds and the TEST05's (perennial) random seeds. In fact, the latter would be even easier. A better

[2022-10-19 20:44] pgmpablo157321 commented on #1260
@psyhtest Do you mean we should have a configuration for each task? Or continue having a configuration for each model and group the common models in open division by task?

[2022-10-20 06:34] lixiaolx opened #1263 "BERT model int8 comparison"
Can onnx（from tf） and torch（from hugging） match the corresponding model under the int8 model? The operators of the last few layers of the onnx model in the current int8 mode and the torch model are completely inconsistent with the final model output? Inconvenient to use and performance analysis comparison

[2022-10-21 05:45] arjunsuresh opened #1264 "Wrong accuracy for onnxruntime reference implementation of resnet50 on aarch64"
Running the onnxruntime reference implementation gives zero accuracy on aarch64 architecture. This is shown in [one of the 2.1 round submissions](https://github.com/mlcommons/inference_results_v2.1/blob/master/open/OctoML/results/apple-m1-onnxruntime-cpu/resnet50/offline/accuracy/accuracy.txt) too.

[2022-10-21 17:26] arjunsuresh commented on #1240
Unfortunately the Nvidia fork is not working well with retinanet. [This](https://github.com/NVIDIA/cocoapi/pull/15/commits/d434218d9ff378e73e399eaf6dc4e5689156dab2) commit fixes the issue with PythonAPI but the C++ extension is giving poor accuracy.

[2022-10-25 15:05] georgelyuan commented on #1243
We agree that it would be desirable if this test was more widely applicable. It applying only to Resnet50 currently does not invalidate it, in our opinion. Especially since almost all submitters submit this benchmark. For some, it represents 50%-100% of the benchmarks they submit.
We welcome more input from the WG on how this test can be improved.

[2022-10-25 15:24] diegomarvid opened #1266 "Vision example doesn't work"
The vision example does not work and the documentation is not up to date with the repository.

The example is the following: https://github.com/mlcommons/inference/blob/master/vision/classification_and_detection/GettingStarted.ipynb

Does it start by referencing a non-existing folder `v0.5`?

<img width="434" alt="image" src="https://user-images.githubusercontent.com/33181424/197813536-65ad5715-f9

[2022-10-25 17:36] diegomarvid commented on #1266
The docker part of the example is not the only one with wrong instructions. The local part doesn't work as well.

For example, after running this command:

[code]
The following error appears:

<img width="1042" alt="image" src="https://user-images.githubusercontent.com/33181424/197843107-d4c2f25e-161c-43a1-bf50-5305af46e861.png">

Probably, the are additional installation packages that are not con

[2022-10-26 23:10] pgmpablo157321 commented on #1266
Looking at this issue, it seems there are two problems.

1. The notebook is outdated. This seems easy to fix with a couple of small changes I just included in #1267
2. Running the benchmark using docker seems to give another error. I am not sure exactly what is happening here, but I'll take a look

[2022-10-27 09:01] xllau commented on #230
Hi guys, this problem costs my half hours. And I found this need pybind11 with version 2.2.
First, I remove pybind11 by pip uninstall pybind11
Then, I install pybind11 by pip install pybind11=2.2
Problem solved!
Good luck!

[2022-10-28 01:29] arjunsuresh commented on #1264
Fixed now.

[2022-10-28 01:29] #1264 closed

[2022-10-31 20:05] #1249 closed

[2022-10-31 20:12] #1235 closed

[2022-10-31 22:53] #1266 closed

[2022-11-01 16:15] rnaidu02 commented on #1240
@nv-ananjappa

[2022-11-01 16:35] arjunsuresh commented on #1257
Thank you @pgmpablo157321 for looking into this. We have the instructions to manually download the openimages dataset [here](https://storage.googleapis.com/openimages/web/download_v7.html). What's missing is a way to convert that to coco format. If this is not easy to do (without fiftyone package) what we can do is to provide a way to directly download this dataset in coco format.

[2022-11-01 17:12] arjunsuresh commented on #1240
[This](https://github.com/mlcommons/ck/blob/master/cm-mlops/script/get-mlperf-inference-src/patch/coco.patch) is the patch we used on the inference repo when running using nvidia-pycocotools.

[2022-11-02 17:34] coppock opened #1274 "Classification via Docker on CPU fails"
On r2.1, the Docker container run fails as shown:

[code]

[2022-11-02 17:43] coppock opened #1275 "Classification via Docker on GPU fails"
On r2.1, the Docker container run fails as shown:

[code]

Changing the base image from "nvidia/cuda:11.1-cudnn8-devel-ubuntu16.04" to "nvidia/cuda:11.1.1-cudnn8-devel-ubuntu16.04" causes a later error:

[code]

Changing the "--runtime=nvidia" Docker run flag to "--gpus all" causes a yet later error:

[code]

[2022-11-02 19:03] coppock opened #1276 "BERT on TensorFlow fails"
On r2.1, the Docker container run fails as shown:

[code]

Looking into this, I suspected an out of memory condition on my GPU, but I'm using an NVIDIA A30 with 24GB of memory. I would think that's plenty enough. In case it's helpful, I'm running on Ubuntu 20.04 with NVIDIA driver version 520.61.05 and CUDA version 11.8.

[2022-11-02 21:57] nv-ananjappa commented on #1275
mobilenet is not a supported benchmark in r2.1.

[2022-11-02 21:57] nv-ananjappa commented on #1274
mobilenet is not a supported benchmark in r2.1.

[2022-11-02 21:58] nv-ananjappa commented on #1276
@arjunsuresh  Any idea?

[2022-11-02 22:07] nv-ananjappa commented on #1240
@arjunsuresh We are using the (slow) script for MLPerf Inference too. 😁 Since you seem to be familiar with it, would you like to contribute by adding support for the faster NVIDIA cocoapi?

[2022-11-02 23:40] arjunsuresh commented on #1276
I'm not using the docker container - running the reference implementation using bert TF model on Ubuntu 22.04, python 3.10 and tensorflow 2.10 I'm getting the below error.
[code]

[2022-11-03 13:51] coppock commented on #1274
I get the same error with resnet50.

[2022-11-03 13:53] coppock commented on #1275
I get the same error with resnet50.

[2022-11-04 08:43] arjunsuresh commented on #1240
Thank you @nv-ananjappa for checking. Unfortunately I'm not familiar with cocoapi to do that change :innocent:   I had tried to parallelize the python API -- but realized that the original implementation is inherently sequential and that is why Nvidia fork with cpp extension made sense. I'll add my accuracy result as an issue in the Nvidia fork - it might be an easy fix for the original developer.

[2022-11-08 17:09] nv-ananjappa commented on #1275
@nvetcheng Could you help?

[2022-11-08 17:26] rnaidu02 commented on #1253
@TheKanter Is it possible for mlcommons to share the pre-processed files with members?

[2022-11-08 17:42] rnaidu02 opened #1281 "Review the reference implementation docker files"
Current docker files are outdated wrt to Python, other runtime versions

[2022-11-08 17:45] #1257 closed

[2022-11-09 20:15] coppock commented on #1276
Ubuntu 20.04 with Python 3.8, version 2.10 **tensorflow**, and version 3.19 **google.protobuf** works fine for running BERT. As @arjunsuresh, I'm running without Docker. I'll draft a Dockerfile.

[2022-11-10 14:58] coppock commented on #1275
@nv-ananjappa, I couldn't find a contributor with this username. Was that a typo?

[2022-11-15 16:49] rnaidu02 commented on #1253
Due to licensing constraints from Criteo, this request cannot be met.

[2022-11-15 16:49] #1253 closed

[2022-11-15 23:04] #1274 closed

[2022-11-15 23:04] #1275 closed

[2022-11-16 14:01] arjunsuresh opened #1285 "Openimages accuracy script not working for retinanet pytorch model"
I'm running the pytorch retinanet model in accuracy mode. The result looks fine but when I call the accuracy script, reported accuracy is bad. Am I missing something?
[code]

Result from calling the accuracy script.
[code]

[2022-11-16 14:02] arjunsuresh commented on #1285
@pgmpablo157321 Can you please see if I'm missing something here?

[2022-11-16 16:15] pgmpablo157321 commented on #1285
@arjunsuresh I did another experiment where I was able to get a mismatch between the metrics. When I run the benchmark into offline mode (`!./run_local.sh pytorch retinanet gpu --scenario Offline --accuracy`), I get a memory allocation error:

[code]
And I get an mAP mismatch between the one computed by the benchmark and by the script:
[code]
Running the accuracy script:
[code]
@arjunsuresh Do you

[2022-11-16 16:28] arjunsuresh commented on #1285
Thank you @pgmpablo157321 for checking. I verified my `pycocotools` installation and it seems fine. Infact I'm getting the expected accuracy by using `onnxruntime` backend. But @gfursin got the expected accuracy using `pytorch` backend. So, it should be something to do with my environment - let me check that and I'll update you.

[2022-11-16 16:37] arjunsuresh commented on #1285
Our [run on github actions](https://github.com/mlcommons/ck/actions/runs/3481112301/jobs/5821777831) went fine. So, I'll check again my environment. Thanks @pgmpablo157321 for looking into this.

[2022-11-18 21:10] arjunsuresh commented on #1276
Thank you @coppock . protobuf is the culprit. Using protobuf version `3.19` I'm able to run on Ubuntu 22.04, python 3.10 and tensorflow 2.10. May be we should recreate [this](https://zenodo.org/record/3939747#.Y3f0INLP1kg) file using newer protobuf.

[2022-11-18 22:29] arjunsuresh opened #1288 "Bert Pytorch model fails on run"
I'm trying to run the reference implementation of [Bert pytorch model](https://zenodo.org/record/3733896). But it is failing with the below error. I have tried Torch versions from 1.4.0 to 1.12 and python 3.6 on Ubuntu 18.04 and python3.10 on Ubuntu 22.04.
Is [this config file](https://github.com/mlcommons/inference/blob/master/language/bert/bert_config.json) valid for pytorch model? The onnx and

[2022-11-19 10:41] arjunsuresh commented on #828
I suppose the reference implementation is not compatible with the resnet50 pytorch model (fp32). @pgmpablo157321 can you please confirm?

[2022-11-24 14:48] arjunsuresh commented on #1182
Hi @hwangdeyu , thank you for the new model files. Do you have the performance comparison of the models? ssd-mobilenet is removed from inference in closed division but we can [still use](https://github.com/mlcommons/inference_policies/blob/master/inference_rules.adoc#412-relaxed-constraints-for-the-open-division) it to submit results to open division.

[2022-11-25 12:27] G4V opened #1291 "Network Division - BERT QSL dataset pre-processing"
For non-network division BERT benchmarks the dataset is tokenised outside of running the benchmark but in the inference rules, the use of "Text in. No compression allowed." implies that for Network Division the tokenisation instead happens as part of the SUT. Is this the intention?

https://github.com/mlcommons/inference_policies/blob/master/inference_rules.adoc#624-benchmarks-and-qsl-preprocessin

[2022-11-29 16:59] rnaidu02 commented on #1276
@pgmpablo157321 to look at this issue

[2022-11-29 17:00] tjablin commented on #1291
I think as a general principle, the network and non-network implementation should do the same thing. In other words, all timed operations in the non-network division should run on the SUT, and untimed operations may run elsewhere. In a perfect world, we would time tokenization, but I think it is clear that tokenization is not a time-intensive part of inference, so I think keeping untimed tokenizat

[2022-11-29 17:01] rnaidu02 commented on #1263
@lixiaolx  Can you provide more details on the differences?

[2022-11-29 21:57] pgmpablo157321 commented on #1288
Adding the flag doesn't change the metric:
[code]
Same as the one in the [readme](https://github.com/mlcommons/inference/tree/master/language/bert)

[2022-11-30 18:18] DilipSequeira commented on #1291
I agree with Tom - this seems to me to be a bug, and it should say "Token sequences in" rather than "Text in". (@liorkhe)